<div class="content-container container">
        <div class="row">
            <div class="match-container col-md-3">
                <div class="match col-md-12">
                    <div class="match-teams col-md-6">
                        <div class="team1 dsp-in-blk fs16" title="{{matchPlayers.matchInfo.teams.a.name}}">
                            <span class="team-flag"><img ng-src="/fantasy_sports/app/assets/images/sports/cricket/flags/{{matchPlayers.matchInfo.teams.a.key.toUpperCase()}}-CR1.png"></span>
                            <span class="text-up">{{matchPlayers.matchInfo.teams['a'].aliasTName}}</span>
                        </div>
                        <div class="versus dsp-in-blk fs12">VS</div>
                        <div class="team2 dsp-in-blk fs16" title="{{matchPlayers.matchInfo.teams.b.name}}">
                            <span class="team-flag">
                                <img ng-src="/fantasy_sports/app/assets/images/sports/cricket/flags/{{matchPlayers.matchInfo.teams.b.key.toUpperCase()}}-CR1.png"></span>
                            <span class="text-up">{{matchPlayers.matchInfo.teams['b'].aliasTName}}</span>
                        </div>
                    </div>
                    <div class="match-details col-md-6">
                        <div class="match-status fs13 clr2 ng-scope">
                            <span>
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                <span class="fw-600 " countdown="" date="{{matchPlayers.matchInfo.startTime*1000}}">&nbsp;</span>
                                <!-- <span class="fw-600">{{matchPlayers.matchInfo.status}}</span> -->
                            </span>	
                            <div class="match-number fs12 ng-binding">{{matchPlayers.matchInfo.relatedName}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="matchPlayers.showSelErr">
            <div class="col-md-12 d-sel-err"><span class="bubble bb-type-3 dsp-in-blk">!</span><span class="pad-l10">{{matchPlayers.selectionErr}}</span>
            <span class="err-close-btn bubble dsp-in-blk" ng-click="matchPlayers.closeErrorBox()">X</span>
            </div>
        </div>

        <div class="row select-team-container">
            <div class=" col-md-5 sel-squad-wrapper">
                <div class=" selected-squad league-cric-ground">
                    <div class="teamCount">Team {{matchPlayers.teamId}}</div>
                    <div class="player wk1" id="wk1"></div>
                    <div class="player wk2" id="wk2"></div>

                    <div class="player bt1" id="bt1"></div>
                    <div class="player bt2" id="bt2"></div>
                    <div class="player bt3" id="bt3"></div>
                    <div class="player bt4" id="bt4"></div>
                    <div class="player bt5" id="bt5"></div>
                    <div class="player bt6" id="bt6"></div>

                    <div class="player alrdr1" id="alrdr1"></div>
                    <div class="player alrdr2" id="alrdr2"></div>
                    <div class="player alrdr3" id="alrdr3"></div>
                    <div class="player alrdr4" id="alrdr4"></div>

                    <div class="player bw1" id="bw1"></div>
                    <div class="player bw2" id="bw2"></div>
                    <div class="player bw3" id="bw3"></div>
                    <div class="player bw4" id="bw4"></div>
                    <div class="player bw5" id="bw5"></div>
                    <div class="player bw6" id="bw6"></div>
                    <div class ="clr-team-btn pull-left button btn-md btn-style-4 btn-wd-auto" ng-class ="matchPlayers.selectedSquadArray.length > 0 ? 'active' : 'unactive' " ng-click="matchPlayers.clearTeam($event)">Clear Team</div>

                </div>
            </div>
            <div class="col-md-7 player-options">
                <div class="row sel-rem-info">
                    <div class="col-md-12 fs14">
                        <div class="col-md-3 left-float sel-credits">
                            <span class="sel-credits-left">Credits Left</span><span class="sel-credits-rght">{{100- matchPlayers.selectedSquadCredits}}</span>
                        </div>
                        <div class="col-md-6"></div>
                        <div class="col-md-3 right-float plyr-rem-info">
                            <span class="plyr-info-left">Players Left</span><span class="plyr-info-rght">{{matchPlayers.selectedSquadArray.length}}/11</span>
                        </div>
                    </div>

                </div>
                <div class="player-options-container">
                    <uib-tabset active="active">

                        <uib-tab index="0" class="role-heading w18"><!--<span class="sel-count bubble bb-type-1 dsp-in-blk">{{matchPlayers.selectedSqaudArray.length}}</span>-->
                            <uib-tab-heading><span class="bubble bb-type-2 dsp-in-blk">{{matchPlayers.selectedSquadArray.length}}</span> All Players </uib-tab-heading>
                            <p class="sel-tab-message">Select 11 players from the list below.</p>
                            <div class="plyr-sel-table">
                                <div class ="sel-tab-heading">
                                    <div class="plyr-info">Type</div>
                                    <div class="plyr-name">Player</div>
                                    <div class="plyr-team-name">Team</div>
                                    <div class="plyr-pnts-scrd">Points</div>
                                    <div class="plyr-crdts">Credits</div>
                                    <div class="plyr-sel-action">Action</div>
                                </div>
                            </div>
                            <div class= "plyr-list-scrl">
                                <div class="plyr-sel-table">
                                    <div class="plyr-item fs14" ng-class ="(player.isSelected ? 'selected' : '')+' '+ (player.isBonus ? 'bonus' : '')" ng-repeat="player in matchPlayers.matchPlayersArray" ng-click="matchPlayers.addPlayer(player,false)">
                                        <div class="plyr-info" ng-class="matchPlayers.getRole(player)"></div>
                                        <div class="plyr-name">{{player.playerName}}</div>
                                        <div class="plyr-team-name">{{player.aliasTName}}</div>
                                        <div class="plyr-pnts-scrd">{{player.scoredPoints}}</div>
                                        <div class="plyr-crdts">{{player.playerCredit}}</div>
                                        <div class="plyr-sel-action add-icon" ng-if="!player.isSelected"></div>
                                        <div class="plyr-sel-action del-icon" ng-if="player.isSelected"></div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>

                        <uib-tab index="1" class="w15">
                            <uib-tab-heading><span class="bubble bb-type-2 dsp-in-blk">{{matchPlayers.selectedWkArray.length}}</span> WK </uib-tab-heading>
                            <p class="sel-tab-message">Select only 1 player from the list below.</p>
                            <div class="plyr-sel-table">
                                <div class ="sel-tab-heading">
                                    <div class="plyr-info">Type</div>
                                    <div class="plyr-name">Player</div>
                                    <div class="plyr-team-name">Team</div>
                                    <div class="plyr-pnts-scrd">Points</div>
                                    <div class="plyr-crdts">Credits</div>
                                    <div class="plyr-sel-action">Action</div>
                                </div>
                            </div>
                            <div class= "plyr-list-scrl">
                                <div class="plyr-sel-table">
                                    <div class="plyr-item fs14" ng-class ="(player.isSelected ? 'selected' : '')+' '+ (player.isBonus ? 'bonus' : '')"  ng-repeat="player in matchPlayers.wkArray" ng-click="matchPlayers.addPlayer(player)">
                                        <div class="plyr-info" ng-class="matchPlayers.getRole(player)"></div>
                                        <div class="plyr-name">{{player.playerName}}</div>
                                        <div class="plyr-team-name">{{player.aliasTName}}</div>
                                        <div class="plyr-pnts-scrd">{{player.scoredPoints}}</div>
                                        <div class="plyr-crdts">{{player.playerCredit}}</div>
                                        <div class="plyr-sel-action add-icon" ng-if="!player.isSelected"></div>
                                        <div class="plyr-sel-action del-icon" ng-if="player.isSelected"></div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>

                        <uib-tab index="2" class="w16">
                            <uib-tab-heading><span class="bubble bb-type-2 dsp-in-blk">{{matchPlayers.selectedBatterArray.length}}</span> Batsman </uib-tab-heading>
                            <p class="sel-tab-message">Select min 3 & max 5 players from the list below.</p>
                            <div class="plyr-sel-table">
                                <div class ="sel-tab-heading">
                                    <div class="plyr-info">Type</div>
                                    <div class="plyr-name">Player</div>
                                    <div class="plyr-team-name">Team</div>
                                    <div class="plyr-pnts-scrd">Points</div>
                                    <div class="plyr-crdts">Credits</div>
                                    <div class="plyr-sel-action">Action</div>
                                </div>
                            </div>
                            <div class= "plyr-list-scrl">
                                <div class="plyr-sel-table">
                                    <div class="plyr-item fs14" ng-class ="(player.isSelected ? 'selected' : '')+' '+ (player.isBonus ? 'bonus' : '')"  ng-repeat="player in matchPlayers.batterArray" ng-click="matchPlayers.addPlayer(player)" id="{{player.playerId}}">
                                        <div class="plyr-info" ng-class="matchPlayers.getRole(player)"></div>
                                        <div class="plyr-name">{{player.playerName}}</div>
                                        <div class="plyr-team-name">{{player.aliasTName}}</div>
                                        <div class="plyr-pnts-scrd">{{player.scoredPoints}}</div>
                                        <div class="plyr-crdts">{{player.playerCredit}}</div>
                                        <div class="plyr-sel-action add-icon" ng-if="!player.isSelected"></div>
                                        <div class="plyr-sel-action del-icon" ng-if="player.isSelected"></div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>

                        <uib-tab index="3" class="w18">
                            <uib-tab-heading><span class="bubble bb-type-2 dsp-in-blk">{{matchPlayers.selectedAllRounderArray.length}}</span> AllRounders </uib-tab-heading>
                            <p class="sel-tab-message">Select min 1 & max 3 players from the list below.</p>
                            <div class="plyr-sel-table">
                                <div class ="sel-tab-heading">
                                    <div class="plyr-info">Type</div>
                                    <div class="plyr-name">Player</div>
                                    <div class="plyr-team-name">Team</div>
                                    <div class="plyr-pnts-scrd">Points</div>
                                    <div class="plyr-crdts">Credits</div>
                                    <div class="plyr-sel-action">Action</div>
                                </div>
                            </div>
                            <div class= "plyr-list-scrl">
                                <div class="plyr-sel-table">
                                    <div class="plyr-item fs14" ng-repeat="player in matchPlayers.allRounderArray" ng-class ="(player.isSelected ? 'selected' : '')+' '+ (player.isBonus ? 'bonus' : '')"   ng-click="matchPlayers.addPlayer(player)">
                                        <div class="plyr-info" ng-class="matchPlayers.getRole(player)"></div>
                                        <div class="plyr-name">{{player.playerName}}</div>
                                        <div class="plyr-team-name">{{player.aliasTName}}</div>
                                        <div class="plyr-pnts-scrd">{{player.scoredPoints}}</div>
                                        <div class="plyr-crdts">{{player.playerCredit}}</div>
                                        <div class="plyr-sel-action add-icon" ng-if="!player.isSelected"></div>
                                        <div class="plyr-sel-action del-icon" ng-if="player.isSelected"></div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab index="4" class="w16">
                            <uib-tab-heading><span class="bubble bb-type-2 dsp-in-blk">{{matchPlayers.selectedBowlerArray.length}}</span> Bowlers </uib-tab-heading>
                            <p class="sel-tab-message">Select min 3 & max 5 players from the list below.</p>
                            <div class="plyr-sel-table">
                                <div class ="sel-tab-heading">
                                    <div class="plyr-info">Type</div>
                                    <div class="plyr-name">Player</div>
                                    <div class="plyr-team-name">Team</div>
                                    <div class="plyr-pnts-scrd">Points</div>
                                    <div class="plyr-crdts">Credits</div>
                                    <div class="plyr-sel-action">Action</div>
                                </div>
                            </div>
                            <div class= "plyr-list-scrl">
                                <div class="plyr-sel-table">
                                    <div class="plyr-item fs14"  ng-class ="(player.isSelected ? 'selected' : '')+' '+ (player.isBonus ? 'bonus' : '')"  ng-repeat="player in matchPlayers.bowlerArray" ng-click="matchPlayers.addPlayer(player)">
                                        <div class="plyr-info" ng-class="matchPlayers.getRole(player)"></div>
                                        <div class="plyr-name">{{player.playerName}}</div>
                                        <div class="plyr-team-name">{{player.aliasTName}}</div>
                                        <div class="plyr-pnts-scrd">{{player.scoredPoints}}</div>
                                        <div class="plyr-crdts">{{player.playerCredit}}</div>
                                        <div class="plyr-sel-action add-icon" ng-if="!player.isSelected"></div>
                                        <div class="plyr-sel-action del-icon" ng-if="player.isSelected"></div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>

                        <uib-tab index="5"  class="w16">
                            <uib-tab-heading><span class="bubble bb-type-2 dsp-in-blk">{{matchPlayers.selectedBonusPlayerArray.length}}</span> Bonus </uib-tab-heading>
                            <p class="sel-tab-message">Bonus player isnt bound by max no. of WK, BOWL, BAT, ALL allowed</p>
                            <div class="plyr-sel-table">
                                <div class ="sel-tab-heading">
                                    <div class="plyr-info">Type</div>
                                    <div class="plyr-name">Player</div>
                                    <div class="plyr-team-name">Team</div>
                                    <div class="plyr-pnts-scrd">Points</div>
                                    <div class="plyr-crdts">Credits</div>
                                    <div class="plyr-sel-action">Action</div>
                                </div>
                            </div>
                            <div class= "plyr-list-scrl">
                                <div class="plyr-sel-table">
                                    <div class="plyr-item fs14" ng-class ="(player.isSelected ? 'selected' : '')+' '+ (player.isBonus ? 'bonus' : '')"  ng-repeat="player in matchPlayers.selectedBonusPlayerArray" ng-click="matchPlayers.addPlayer(player)">
                                        <div class="plyr-info" ng-class="matchPlayers.getRole(player)"></div>
                                        <div class="plyr-name">{{player.playerName}}</div>
                                        <div class="plyr-team-name">{{player.aliasTName}}</div>
                                        <div class="plyr-pnts-scrd">{{player.scoredPoints}}</div>
                                        <div class="plyr-crdts">{{player.playerCredit}}</div>
                                        <div class="plyr-sel-action add-icon" ng-if="!player.isSelected"></div>
                                        <div class="plyr-sel-action del-icon" ng-if="player.isSelected"></div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="team-sel-info col-md-5">
                <div class="sel-info-table col-md-12">
                    <div class="row sel-tbl-info-heading">
                        <div class="col-md-2">TYPE</div>
                        <div class="col-md-2">WK</div>
                        <div class="col-md-2">BAT</div>
                        <div class="col-md-2">AR</div>
                        <div class="col-md-2">BOWL</div>
                        <div class="col-md-2">BONUS</div>
                    </div>

                    <div class="row sel-tbl-info">
                        <div class="col-md-2">Min</div>
                        <div class="col-md-2">1</div>
                        <div class="col-md-2">3</div>
                        <div class="col-md-2">1</div>
                        <div class="col-md-2">3</div>
                        <div class="col-md-2">0</div>
                    </div>

                    <div class="row sel-tbl-info">
                        <div class="col-md-2">Max</div>
                        <div class="col-md-2">1</div>
                        <div class="col-md-2">5</div>
                        <div class="col-md-2">3</div>
                        <div class="col-md-2">5</div>
                        <div class="col-md-2">1</div>
                    </div>
                </div>

            </div>
            <div class="save-team-buttons col-md-7">
                <div class ="pull-left button btn-md btn-style-4 btn-wd-auto show-c-vc" ng-class ="((matchPlayers.selectedSquadArray.length == 11) ? 'active' : 'unactive')" ng-click="matchPlayers.showCapVCapPopupUI($event)">
                    <!--ng-disabled = "!matchPlayers.teamComplete" -->
                    Select Captain & Vice Captain
                </div>

                <div class ="pull-right button btn-md btn-style-4 btn-wd-auto save-team-btn" ng-class="matchPlayers.getSaveTeamClass()" ng-click="matchPlayers.saveMyTeam($event)">
                    Save Team
                </div>

            </div>
        </div>
    </div>
    <div ng-if = "matchPlayers.teamComplete" class="cap-vice-cap-sel-container">
        <div id="ngdialog1" class="ngdialog ngdialog-theme-popup addcash-popup desk-sm ngdialog-disabled-animation" role="alertdialog" aria-describedby="ngdialog1-aria-describedby">
            <div class="ngdialog-overlay"></div>
            <div class="ngdialog-content" role="document"><div class="desk-popup-wrapper">
                <div class="ng-model-header">
                    <span class="title ng-binding">Select Your Captain and Vice Captain</span>
                </div>
                <div class="desk-popup-body">
                    <div class="player-select-wrapper fs12">
                        <div class="cstm-player-select cap clearfix" ng-click="matchPlayers.capSelClick()">
                            <div ng-if="!matchPlayers.captainSelected" class="w85 pad-a14 fs18 pull-left cap-name">Captain gets 2X points<div class="arrow-icon" aria-hidden="true"></div></div>
                            <div ng-if="matchPlayers.captainSelected" class="w15 pull-left cap-role" ng-class="matchPlayers.getRole(matchPlayers.selectedCaptain)">
                            </div>
                            <div ng-if="matchPlayers.captainSelected" class="w65 pull-left cap-name">
                                <div class="mar-b10" id="sel-captain">{{matchPlayers.selectedCaptain.playerName}}
                                    <span class=" dsp-in-blk bubble bb-type-1" ng-if="matchPlayers.selectedCaptain.isCaptain">C</span>
                                </div>
                                <div class="cap-details">
                                    <span class="cap-detail-item">{{matchPlayers.selectedCaptain.aliasTName}}</span>
                                    <span class="cap-detail-item">{{matchPlayers.selectedCaptain.playerRole}}ALL</span>
                                    <span class="cap-detail-item">{{matchPlayers.selectedCaptain.scoredPoints}} Points</span>
                                    <span class="cap-detail-item">{{matchPlayers.selectedCaptain.playerCredit}} Credits</span>
                                </div>
                            </div>
                            <div ng-if="matchPlayers.captainSelected" class="w15 pull-left">
                                <div class="arrow-icon" aria-hidden="true"></div>
                            </div>
                        </div>
                        <div class="selected-player-list">
                            <ul>
                                <li ng-repeat="player in matchPlayers.selectedSquadArray" ng-click="matchPlayers.onCaptainSelect(player)">

                                    <div class="w15 pull-left player-role" ng-class="matchPlayers.getRole(player)">
                                    </div>
                                    <div class="w65 pull-left player-name">
                                        <div class="mar-b10 fs18" id="sel-player">{{player.playerName}}
                                            <span class=" dsp-in-blk bubble bb-type-1" ng-if="player.isCaptain">C</span>
                                        </div>
                                        <div class="player-details">
                                            <span class="player-detail-item">{{player.aliasTName}}</span>
                                            <span class="player-detail-item">{{player.playerRole}}ALL</span>
                                            <span class="player-detail-item">{{player.scoredPoints}} Points</span>
                                            <span class="player-detail-item">{{player.playerCredit}} Credits</span>
                                        </div>
                                    </div>
                                    <div class="w15 pull-left">
                                    </div>

                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="player-select-wrapper fs12">
                        <div class="cstm-player-select vcap clearfix" ng-click="matchPlayers.viceCapSelClick()">
                            <div ng-if="!matchPlayers.viceCaptainSelected" class="w85 pad-a14 fs18 pull-left cap-name">Vice Captain gets 1.5X points<div class="arrow-icon" aria-hidden="true"></div></div>
                            <div ng-if="matchPlayers.viceCaptainSelected" class="w15 pull-left vcap-role" ng-class="matchPlayers.getRole(matchPlayers.selectedViceCaptain)">
                            </div>
                            <div ng-if="matchPlayers.viceCaptainSelected" class="w65 pull-left cap-name">
                                <div class="mar-b10" id="sel-vice-captain">{{matchPlayers.selectedViceCaptain.playerName}}
                                    <span class=" dsp-in-blk bubble bb-type-1" ng-if="matchPlayers.selectedViceCaptain.isViceCaptain">VC</span>
                                </div>
                                <div class="vcap-details">
                                    <span class="vcap-detail-item">{{matchPlayers.selectedViceCaptain.aliasTName}}</span>
                                    <span class="vcap-detail-item">{{matchPlayers.selectedViceCaptain.playerRole}}ALL</span>
                                    <span class="vcap-detail-item">{{matchPlayers.selectedViceCaptain.scoredPoints}} Points</span>
                                    <span class="vcap-detail-item">{{matchPlayers.selectedViceCaptain.playerCredit}} Credits</span>
                                </div>
                            </div>
                            <div ng-if="matchPlayers.viceCaptainSelected" class="w15 pull-left">
                                <div class="arrow-icon" aria-hidden="true"></div>
                            </div>
                        </div>
                        <div class="selected-player-list">
                            <ul>
                                <li ng-repeat="player in matchPlayers.selectedSquadArray" ng-click="matchPlayers.onViceCaptainSelect(player)">

                                    <div class="w15 pull-left player-role" ng-class="matchPlayers.getRole(player)">
                                    </div>
                                    <div class="w65 pull-left player-name">
                                        <div class="mar-b10 fs18" id="sel-player">{{player.playerName}}
                                            <span class="dsp-in-blk bubble bb-type-1" ng-if="player.isViceCaptain">VC</span>
                                        </div>
                                        <div class="player-details">
                                            <span class="player-detail-item">{{player.aliasTName}}</span>
                                            <span class="player-detail-item">{{player.playerRole}}ALL</span>
                                            <span class="player-detail-item">{{player.scoredPoints}} Points</span>
                                            <span class="player-detail-item">{{player.playerCredit}} Credits</span>
                                        </div>
                                    </div>
                                    <div class="w15 pull-left">
                                    </div>

                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="capVcapErr">{{matchPlayers.capVcapErr}}</div>
                    <div class="cap-vcap-save-btns mar-v10 clearfix">
                        <div class="pull-right button btn-md btn-style-2 btn-wd-auto save-team-btn" ng-class="matchPlayers.getSaveTeamClass()" ng-click="matchPlayers.saveMyTeam($event)">Save Team</div>
                    </div>
                </div>
                </div>
                <div class="ngdialog-close" ng-click="matchPlayers.closeCapVCapPopup()"></div>
            </div>
        </div>

    </div> 