<div ng-controller="leaguesCtrl as leagues" ng-init="leagues.init()">
	<div class="content-container container">
		<div class="tours-container clearfix flex-center row">
			<!-- Match Slick Carousel -->
			<div class="matches-carousel col-md-9">
				<slick class="matches-list" infinite=false slides-to-show=4 slides-to-scroll=1 init-onload=true data="leagues.matchesArray" ng-if="leagues.initSlick" current-index="leagues.carouselIndex">
					<div class="match" ng-class="item.isSelectedMatch ? 'active' : ''" ng-repeat="item in leagues.matchesArray" ng-click="leagues.onMatchClick(item, $index)">
						<div class="match-teams">
							<div class="team1 dsp-in-blk fs16" title="{{::item.teams['a'].name}}">
								<span class="team-flag"><img ng-src="{{cdnUrl}}/assets/images/sports/cricket/flags/{{item.teams['a'].key.toUpperCase()}}-CR1.png" /></span>
								<span class="text-up">{{::item.teams['a'].aliasTName}}</span>
							</div>
							<div class="versus dsp-in-blk fs12">VS</div>
							<div class="team2 dsp-in-blk fs16" title="{{::item.teams['b'].name}}">
								<span class="team-flag"><img ng-src="{{cdnUrl}}/assets/images/sports/cricket/flags/{{item.teams['b'].key.toUpperCase()}}-CR1.png" /></span>
								<span class="text-up">{{::item.teams['b'].aliasTName}}</span>
							</div>
							<div class="abandoned-icon" ng-if="::item.status === 'ABANDONED'"></div>
						</div>
						<div class="match-details">
							<div class="match-status fs14 clr2" ng-if="::item.status === 'ACTIVE'">
								<span>
									<i class="fa fa-clock-o" aria-hidden="true"></i>
									<span class="fw-600" countdown  date="{{item.startTime * 1000}}">&nbsp;</span>
								</span>
								<div class="join-league fs14 clr10 fw-600">Join Leagues</div>	
								<!-- <div class="match-number fs12">{{item.relatedName}}</div> -->
							</div>
							<div class="match-status fs14 clr2" ng-if="::item.status === 'RUNNING'">
								<div class="fw-600 clr9">CLOSED</div>
								<div class="view-points fs14 clr10 fw-600">View Points</div>	
								<!-- <div class="match-number fs12">{{item.relatedName}}</div> -->
							</div>
							<div class="match-status fs14 clr2" ng-if="::item.status === 'UNDER_REVIEW'">
								<div class="fw-600 clr9 nowrap">UNDER REVIEW</div>
								<div class="view-points fs14 clr10 fw-600">View Points</div>	
								<!-- <div class="match-number fs12">{{item.relatedName}}</div> -->
							</div>
							<div class="match-status fs14 clr2" ng-if="::item.status === 'CLOSED'">
								<div class="fw-600 clr9">CLOSED</div>
								<div class="view-points fs14 clr10 fw-600">View Points</div>	
								<!-- <div class="match-number fs12">{{item.relatedName}}</div> -->
							</div>
							<div class="match-status fs14 clr2" ng-if="::item.status === 'LOCKED'">
								<div>
									<i class="fa fa-clock-o" aria-hidden="true"></i>
									<span class="fw-600" countdown  date="{{item.startTime * 1000}}">&nbsp;</span>
								</div>
								<!-- <div class="match-number fs12">{{item.relatedName}}</div> -->
								<div class="fs14 clr10 fw-600">&nbsp;</div>
							</div>
							<div class="match-status fs14 clr2" ng-if="::item.status === 'ABANDONED'">
								<div class="fs16 lt-normal clr9 fw-600">Match Abandoned</div>
							</div>
						</div>
						<div class="match-number fs12 clearfix algn-cntr" ng-if="::item.status !== 'ABANDONED'">{{item.relatedName}}</div>
						<div class="match-number fs12 clearfix algn-cntr" ng-if="::item.status === 'ABANDONED'">Joining amount will be refunded</div>
					</div>
				</slick>
				<div class="no-matches-error" ng-if="leagues.matchesArray.length === 0">There are no Matches in this tour right now !!</div>
			</div>
			<!-- Match Slick Carousel -->
			<!-- Tour Select dropdown -->
			<div class="tour-select-wrapper col-lg-3 col-md-3 col-sm-3 col-xs-6">
				<div class="cstm-tour-select clearfix" ng-click="leagues.onTourClick()" click-anywhere-but-here="leagues.closeTourDropdown()">
					<span id="selectedTour">{{leagues.selectedTour.shortName}} <i class="fa fa-caret-down" aria-hidden="true"></i></span>
				</div>
				<div class="tour-list">
					<ul>
						<li ng-class="leagues.selectedTour.tourId === tour.tourId ? 'active' : ''" ng-repeat="tour in leagues.toursArray" ng-click="leagues.onTourSelect(tour)">
							<a href="javascript:;" class="clearfix">
								<span class="tour-name" title="{{tour.tourName}}">{{tour.shortName}}</span>
								<span class="tour-start-time" countdown date="{{tour.nextMatchTime * 1000}}">&nbsp;</span>
								<!-- <span class="tour-start-time" ng-if="!tour.activeDate">Closed</span> -->
							</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- Tour Select dropdown -->
		</div>
		<div class="leagues-wrapper row">
			<div class="leagues-container">
				<!-- League cricket ground template for all Status included -->
				<div ng-include="'/fantasy_sports/app/templates/_league-cric-ground.html'"></div>
				<!-- League cricket ground template for all Status included -->
				<div ng-if="leagues.leagueDisplayType === 'ACTIVE'">
					<!-- Leagues type Tabs -->
					<div class="tabs-wrapper">
						<ul class="league-tabs clearfix">
							<li ng-class="leagues.currentLeagueTab ==='PUBLIC_LEAGUE' ? 'active' : ''" ng-click="leagues.leagueTabHandler('PUBLIC_LEAGUE');" >Public Leagues</li>
							<li ng-class="leagues.currentLeagueTab==='MY_LEAGUE' ? 'active' : ''" ng-click="leagues.leagueTabHandler('MY_LEAGUE');" >Joined Leagues ({{leagues.selectedMatch.leagueCount}})
							<!-- <span ng-if="leagues.selectedMatch.leagueCount > 0">({{leagues.selectedMatch.leagueCount}})</span> -->
							</li>
						</ul>
					</div>
					<!-- Leagues type Tabs -->
				</div>

				<div ng-if="leagues.leagueDisplayType === 'CLOSED'">
					<!-- Leagues type Tabs -->
					<div class="tabs-wrapper">
						<ul class="league-tabs clearfix" id="leagueTabs">
							<li ng-class="leagues.currentLeagueTab==='MY_LEAGUE' ? 'active' : ''" ng-click="leagues.leagueTabHandler('MY_LEAGUE');" id="liJoinedLeagues">Joined Leagues ({{leagues.selectedMatch.leagueCount}})</li>
							<a href="javascript:;" class="refresh-btn clr5 pull-right" ng-click="leagues.onRefreshClick()" ng-if="leagues.selectedMatch.status === 'RUNNING' && leagues.joinedLeaguesArray.length > 0">Refresh</a>
						</ul>
					</div>
					<!-- Leagues type Tabs -->
				</div>

				<div ng-if="leagues.leagueDisplayType === 'LOCKED'">
					<div class="no-leagues-error">
						<p>Stay Tuned! This round's leagues will open shortly.</p>
					</div>
				</div>
				

				<!-- Public Leagues List -->
				<div class="public-leagues" ng-if="leagues.currentLeagueTab === 'PUBLIC_LEAGUE'" >

					<div class="no-leagues-error" ng-if="leagues.leaguesArray.length === 0 && leagues.noLeaguesError">
						<p>No leagues right now!!</p>
						<p>Stay Tuned!!</p>
					</div>

					<div class="league-wrapper col-md-15 col-sm-4 col-xs-6" ng-repeat="item in leagues.leaguesArray">
						<div class="card league">
							<div class="clearfix">
								<div class="league-title fs18 pull-left">{{item.title}}</div>
							</div>
							<div class="clearfix">
								<div class="entry-fee pull-left"> 
									Pay&nbsp;<span><i class="fa fa-rupee"></i>&nbsp;{{item.entryFee}}</span>
								</div>
								<div class="league-types pull-right">
									<span class="confirmed" ng-if="item.leagueType === 'CONFIRMED'" data-tooltip="CONFIRMED LEAGUE : These leagues won't cancel even if they don't fill up" tooltip-placement="bottom">C</span>
									<span class="multi-entry" ng-if="item.isMultiEntry" data-tooltip="MULTI ENTRY LEAGUE : You can rejoin these leagues with more than 1 team for a particular match" tooltip-placement="bottom">M</span>
								</div>
							</div>
							<div class="clearfix">
								<div class="teams-joined">{{item.currentTeams}}/{{item.maxTeams}} teams</div>
							</div>
							<div class="clearfix">
								<div class="cstm-progress w100">
									<div class="progress-bar progress-bar-success" ng-style="{ 'width': ((item.currentTeams/item.maxTeams)*100) + '%' }"></div>
								</div>
							</div>
							<div class="clearfix">
								<div class="league-winners pull-left" ng-click="leagues.fetchLeaguePrizeInfo(item)" ng-if="item.chipType === 'real'">
									<i class="fa fa-trophy"></i> <span class="winners fs14">{{item.winnersCount}} Winners</span>	
								</div>
								<div class="join-button pull-right">
									<button type="button" class="button btn-xs btn-style-1" ng-click="leagues.validateJoinLeague(item)" ng-disabled="league.isJoinBtnDisabled" ng-if="item.leagueStatus === 'NOT_JOIN'">Join</button>
									<button type="button" class="button btn-xs btn-style-1" ng-click="leagues.validateJoinLeague(item)" ng-disabled="league.isJoinBtnDisabled" ng-if="item.leagueStatus === 'REJOIN'">Rejoin</button>
									<button type="button" class="button btn-xs btn-style-1" ng-disabled="true" ng-if="item.leagueStatus === 'JOINED'">Joined</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Public Leagues List -->
				<!-- Joined Leagues list -->
				<div class="joined-leagues w60 pull-left" ng-if="leagues.currentLeagueTab === 'MY_LEAGUE'">
					<div ng-include="'/fantasy_sports/app/templates/_league-my-league.html'"></div>
					</div>

				</div>
				<!-- Joined Leagues list -->
			</div>
		</div>
	</div>
</div>