<div class="content-container container">
    <div class="promotion-container">
        <div class ="promtion-list h100">
            <div class="promotion-wrapper bx-size-bdr" ng-repeat="promotion in promotions.promotionsData">
                <div class="promotion">
                    <div class="promotion-image h100">
                        <img ng-src="{{promotion.fields.small_banner_desktop.url}}">
                    </div>
                    <div class="promotion-info h100">
                        <div class="promotion-text fs15">
                            {{promotion.fields.small_text.text}}
                        </div>
                        <button class="promo-details" ng-click="promotions.showPromtionDetails($event, $index)">Know More </button>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>

 <div class ="popup-bg" ng-if="promotions.promoDetails">
        <div class="promotion-details">
            <div class="ng-model-header prom-details-header">
                <div class="dsp-inb title-popup-desk">{{promotions.promoDetailsData.headerName}}</div>
                <div class="modal-close grd-btn-red-light" role="button" tabindex="0" aria-hidden="false" ng-click="promotions.hideOverlay($event);promotions.hidePromtionDetails();">x</div>
            </div>
            <iframe class="promo-details-popup">
            </iframe>
        </div>
    </div>

<div class="promotions-bg w100 h100" ng-if="promotions.promoDetails"></div>