
<!-- Vendor script files -->
<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="{{cdnUrl}}/vendor/jquery/dist/jquery.min.js"></script>
<script src="{{cdnUrl}}/vendor/angular/angular.min.js"></script>
<script src="{{cdnUrl}}/vendor/angular-animate/angular-animate.min.js"></script>
<script src="{{cdnUrl}}/vendor/angular-sanitize/angular-sanitize.js"></script>
<script src="{{cdnUrl}}/vendor/angular-touch/angular-touch.min.js"></script>
<script src="{{cdnUrl}}/vendor/ng-dialog/js/ngDialog.min.js"></script>
<script src="{{cdnUrl}}/vendor/slick-carousel/slick/slick.min.js"></script>
<script src="{{cdnUrl}}/vendor/angular-slick/dist/slick.min.js"></script>
<script src="{{cdnUrl}}/vendor/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="{{cdnUrl}}/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="{{cdnUrl}}/vendor/crypto/md5.js"></script>
<script src="{{cdnUrl}}/vendor/ng-file-upload/ng-file-upload-shim.min.js"></script>
<script src="{{cdnUrl}}/vendor/ng-file-upload/ng-file-upload.min.js"></script>

<script type="text/javascript" src="https://www.tecprocesssolution.com/proto/P2M/server/lib/checkout.js"></script>
<!-- endbower -->
<!-- endbuild -->
<!-- Vendor script files -->

{{#if isProduction}}
<!--Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-99133191-1', 'auto');
    ga('send', 'pageview');

</script>
<!-- <script src="{{cdnUrl}}/scripts/scripts.js"></script> -->
<script src="{{cdnUrl}}/scripts/scripts.min.js?ver={{fileVersion}}"></script>

{{else}}

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="{{cdnUrl}}/scripts/app.js"></script>
<script src="{{cdnUrl}}/scripts/constants/constants.js"></script>
<script src="{{cdnUrl}}/scripts/constants/config.js"></script>
<script src="{{cdnUrl}}/scripts/constants/msgconstants.js"></script>
<script src="{{cdnUrl}}/scripts/constants/servicename.js"></script>

<!-- App Services  -->
<script src="{{cdnUrl}}/scripts/services/session.js"></script>
<script src="{{cdnUrl}}/scripts/services/devicedetectionservice.js"></script>
<script src="{{cdnUrl}}/scripts/services/assignservicestorootscope.js"></script>
<script src="{{cdnUrl}}/scripts/services/user.js"></script>
<script src="{{cdnUrl}}/scripts/services/localStorage.js"></script>
<script src="{{cdnUrl}}/scripts/services/utilityservice.js"></script>
<script src="{{cdnUrl}}/scripts/services/leagueservice.js"></script>
<script src="{{cdnUrl}}/scripts/services/createteamservice.js"></script>
<script src="{{cdnUrl}}/scripts/services/leagueutilservice.js"></script>
<script src="{{cdnUrl}}/scripts/services/depositeservice.js"></script>
<script src="{{cdnUrl}}/scripts/services/dateDropdownHandler.js"></script>
<script src="{{cdnUrl}}/scripts/services/promotionsservice.js"></script>

<!-- App Controllers  -->
<script src="{{cdnUrl}}/scripts/controllers/main.js"></script>
<script src="{{cdnUrl}}/scripts/controllers/leagues.js"></script>
<script src="{{cdnUrl}}/scripts/controllers/createteam.js"></script>
<script src="{{cdnUrl}}/scripts/controllers/deskpopuphandler.js"></script>
<script src="{{cdnUrl}}/scripts/controllers/myprofile.js"></script>
<script src="{{cdnUrl}}/scripts/controllers/verifynow.js"></script>
<script src="{{cdnUrl}}/scripts/controllers/header.js"></script>
<script src="{{cdnUrl}}/scripts/controllers/popuphandler.js"></script>
<script src="{{cdnUrl}}/scripts/controllers/popup.js"></script>
<script src="{{cdnUrl}}/scripts/controllers/forgotpassword.js"></script>
<script src="{{cdnUrl}}/scripts/controllers/changepassword.js"></script>
<script src="{{cdnUrl}}/scripts/controllers/prizeinfo.js"></script>
<script src="{{cdnUrl}}/scripts/controllers/myaccount.js"></script>
<script src="{{cdnUrl}}/scripts/controllers/myteamname.js"></script>
<script src="{{cdnUrl}}/scripts/controllers/addcash.js"></script>
<script src="{{cdnUrl}}/scripts/controllers/withdrawcash.js"></script>
<script src="{{cdnUrl}}/scripts/controllers/leagues/browseleague.js"></script>
<script src="{{cdnUrl}}/scripts/controllers/leagues/joinedleagues.js"></script>
<script src="{{cdnUrl}}/scripts/controllers/leagues/matchleagues.js"></script>
<script src="{{cdnUrl}}/scripts/controllers/leagues/myteams.js"></script>
<script src="{{cdnUrl}}/scripts/controllers/leagues/tourmatches.js"></script>
<script src="{{cdnUrl}}/scripts/controllers/selectCapVcap.js"></script>
<script src="{{cdnUrl}}/scripts/controllers/leagues/leaguejoinconfirm.js"></script>
<script src="{{cdnUrl}}/scripts/controllers/promotions.js"></script>

<!-- App Directives -->
<script src="{{cdnUrl}}/scripts/directives/countdown.js"></script>
<script src="{{cdnUrl}}/scripts/directives/deskpopupclick.js"></script>
<script src="{{cdnUrl}}/scripts/directives/activemenu.js"></script>
<script src="{{cdnUrl}}/scripts/directives/clickanywherebuthere.js"></script>
<script src="{{cdnUrl}}/scripts/directives/accordionclick.js"></script>

<!-- endbuild -->
{{/if}}
