<div class="footer-wrapper">
    <div class="footer-container clearfix">
        <div class="footer-icon-wrapper">
            <div class="footer-icon"></div>
        </div>
    	<div class="col-md-6 col-sm-6 col-xs-12">
            {{#if is_desktop}}
    		<ul class="footer-links clearfix">
    			<li><a href="{{serverUrl}}/page/about-us" target="_self" title="Who are we ?">About Us</a></li>
                <li><a href="{{serverUrl}}/page/frequently-asked-question" target="_self" title="Frequently Asked Questions">FAQ</a></li>
                <li><a href="{{serverUrl}}/promotions" target="_self" title="Running Promotions">Promotions</a></li>
                <li><a href="{{serverUrl}}/page/terms-of-use" target="_self" title="Terms &amp; Conditions">T &amp; C</a></li>
                <li><a href="{{serverUrl}}/page/how-to-play" target="_self" title="Learn Fantasy Cricket">How to Play</a></li>
                <li><a href="{{serverUrl}}/page/contact-us" target="_self" title="Have a query ?">Contact Us</a></li>
                <li><a href="{{serverUrl}}/page/privacy" target="_self" title="Privacy Policies">Privacy</a></li>
                <li><a href="{{serverUrl}}/page/fantasy-point-system" target="_self" title="Fantasy Points System">FPS</a></li>
    		</ul>
            {{/if}}
            {{#unless is_desktop}}
            <ul class="footer-links clearfix">
                
                <li><a href="{{serverUrl}}/page/how-to-play" target="_self">How to Play</a></li>
                <li><a href="{{serverUrl}}/page/frequently-asked-question" target="_self">FAQ</a></li>
                <li><a href="{{serverUrl}}/page/fantasy-point-system" target="_self">FPS</a></li>
                <li><a href="{{serverUrl}}/page/about-us" target="_self">About Us</a></li>
                <li><a href="{{serverUrl}}/page/contact-us" target="_self">Contact Us</a></li>
                <li><a href="{{serverUrl}}/page/privacy" target="_self">Privacy</a></li>
                <li><a href="{{serverUrl}}/page/terms-of-use" target="_self">T &amp; C</a></li>   
            </ul>
            {{/unless}}
    	</div>
    	<div class="col-md-6 col-sm-6 col-xs-12">
            <div class="footer-logo">
                <img class="img-responsive w180px" src="/fantasy_sports/app/assets/images/footer-logo.png" />
            </div>
    		<!-- <div class="social-media-wrapper">
    			<h3>Follow us on:</h3>
    			<ul class="social-media clearfix">
    				<li><a href="javascript:;" class="social-icons fb"></a></li>
    				<li><a href="javascript:;" class="social-icons gplus"></a></li>
    				<li><a href="javascript:;" class="social-icons twitter"></a></li>
    			</ul>
    		</div> -->
    	</div>
    </div>
    <div class="footer-text">
        <p>League Adda   is not affiliated in any way to and claims no association, in any capacity whatsoever, with the (i) International Cricket Council ("ICC") or any national cricket board or team, (ii) Board of Control for Cricket in India ("BCCI"), the Indian Premier League ("IPL") or any IPL franchises, or (iii) any other domestic cricket tournament/league, or tournament franchise/team (other than where specifically stated). League Adda acknowledges that the ICC, BCCI/IPL and its franchises, respective national cricket boards, domestic tournament organisers and franchises/teams, respectively, own all proprietary names and marks relating to the relevant tournament or competition. Residents of the states of Assam and Odisha, and where otherwise prohibited by law are not eligible to enter Leage Adda’s pay-to-play leagues.</p>
    </div>
    <div class="footer-copyright clearfix">
    	<p class="copyright-text pull-left fs15px clr3">Copyright 2017 leagueadda.com. All rights reserved.</p>
    	<div class="payment-icons pull-right"><img class="img-responsive w180px" src="/fantasy_sports/app/assets/images/payment-icon.png" /></div>
    </div>   
</div>
<div ng-controller="deskPopupHandlerCtrl" style="display:none"></div>
<div ng-controller="PopuphandlerCtrl" style="display:none;"></div>
<div id="loaderDom" class="loader-overlay" style="display: none;">
	<div class="loader">
		<i class="fa fa-circle-o-notch fa-spin"></i>
		<span class="loading-label">Loading...</span>	
	</div>
</div>