<!-- Add your site or application content here -->
<!--
<div ng-include='"/fantasy_sports/app/views/header.html"'></div>
-->

<div class="header" ng-controller="headerCtrl as header" ng-init="header.init({{json loginData}})">
	{{#if is_desktop}}
	<div class="header-container clearfix">
		<div class="header-logo">
			<a class="navbar-brand" href="javascript:;" ng-click="header.onLogoClick()"><img class="img-responsive" src="{{cdnUrl}}/assets/images/logo-web.png" /></a>
		</div>

		{{#if isLogin}}
		<div class="header-menu">
			<ul class="">
                
                <li><a href="{{serverUrl}}/promotions" target="_self"><span class = "header-menu-icon promotions"></span> Promotions</a></li>
				<li class="active"><a href="{{serverUrl}}/page/how-to-play" target="_self">How to Play</a></li>
				<li><a ng-href="{{serverUrl}}/league" target="_self">Live Leagues</a></li>
				<!-- <li><a ng-href="/createteam">Create Team</a> </li> -->
				<li>
					<div class="btn-group" uib-dropdown is-open="status.isopen">
						<a id="single-button" type="button" class="user-dropdown" uib-dropdown-toggle ng-disabled="disabled">
							<span class="username">{{loginData.myName}}</span> <span class="caret"></span>
						</a>
						<ul class="user dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
							<li role="menuitem"><a href="javascript:;" deskpopupclick menu-id ="myprofile" menu-type="popup">My Profile</a></li>
							<!--<li role="menuitem"><a href="{{serverUrl}}/verify" target="_self">Verify Account</a></li>-->
							<li role="menuitem"><a href="{{serverUrl}}/myaccount" target="_self">My Account</a></li>
							<li role="menuitem"><a href="javascript:;" ng-click="header.onChangePassword()">Change Password</a></li>
							<li role="menuitem"><a href="javascript:;" ng-click="header.onLogoutClick()">Logout</a></li>
						</ul>
					</div>
				</li>
				<li><a href="{{serverUrl}}/myaccount" target="_self" class="dsp-block">
					<span class="wallet-icon"></span>
					<span class="amount clr3 fs16px">Rs <span class="userBalance">{{loginData.balance}}</span></span>
					</a>
					<span class="add-cash-icon desk-head" ng-click="header.addCash()" title="Add Funds"></span>
				</li>
			</ul>
		</div>
		
		{{else}}
		<div class="header-login">
			<form novalidate="novalidate clearfix" id="loginForm" name="loginForm">
				<div class="txt-field" ng-class="{'has-error':loginForm.loginEmail.$invalid && loginForm.loginEmail.$touched}">
					<input name="loginEmail" class="form-control" ng-model="header.loginEmail" placeholder="Email" value="" type="text" required="" ng-keyup="header.loginEmailError = ''" ng-blur="header.onFieldChange('loginEmail',header.loginEmail)">
					<div class="input-error" ng-bind="header.loginEmailError"></div>
				</div>
				<div class="txt-field pos-rel" ng-class="{'has-error':loginForm.loginPassword.$invalid && loginForm.loginPassword.$touched}">
					<input name="loginPassword" type="password" ng-model="header.loginPassword" class="form-control" placeholder="Password"  value="" required="" ng-keyup="header.loginPasswordError = ''" ng-blur="header.onFieldChange('loginPassword',header.loginPassword)">
					<div class="input-error-pass" ng-bind="header.loginPasswordError"></div>
					<div class="forgot-password" ng-click="header.onForgotPasswordClick()">Forgot Password?</div>
				</div>
				<div class="form-btn">
					<button class="button btn-style-3 btn-md" ng-click="header.onLoginClick()">Log In</button>
				</div>
			</form>
		</div>
		{{/if}}

	</div>
	{{/if}}

	{{#unless is_desktop}}
	{{#if isLogin}}
	<div class="header-container clearfix">
		<div class="menu-icon" id="menuIcon" ng-click="header.toggleMenu()"><span></span><i class="menu-label">MENU</i></div>
		<a href="{{serverUrl}}/" class="mob-header-title" ng-bind="mobHeaderTitle"></a>
		<a href="{{serverUrl}}/myaccount" class="header-wallet"></a>
		<div class="mob-menu-wrapper" id="mobMenuWrapper">
			<nav class="mob-menu" id="mobMenu">
				<div class="user-details clearfix flex-center pad-v10">
					<div class="w50 pull-left  mr-h4">
						<span class="clr3 fs14px">Welcome</span>
						<span class="clr3 fs18px">{{loginData.myName}}</span>
					</div>
					<div class="w50 pull-left mr-h4">
						<span class="clr4 fs18px">Rs <span class="userBalance">{{loginData.balance}}</span></span>
					</div>
				</div>
				<ul class="menu-list">
					<li viewid="match-leagues" activemenu>
						<a href="{{serverUrl}}/match-leagues" target="_self">
							<span class="mob-nav-icon icon-home"></span>
							<span>Home</span>
						</a>
					</li>
					<li viewid="myaccount" activemenu>
						<a href="{{serverUrl}}/myaccount" target="_self">
							<span class="mob-nav-icon icon-cashier"></span>
							<span>Cashier</span>
						</a>
					</li>
					<li viewid="myprofile" activemenu>
						<a ng-href="{{serverUrl}}/myprofile" target="_self">
							<span class="mob-nav-icon icon-myprofile"></span>
							<span>My Profile</span>
						</a>
					</li>
					<!-- <li viewid="referfriend" activemenu>
						<a href="javascript:;">
							<span class="mob-nav-icon icon-referfriend"></span>
							<span>Refer a Friend</span>
						</a>
					</li> -->
					<li viewid="how-to-play" activemenu>
						<a href="{{serverUrl}}/page/how-to-play" target="_self">
							<span class="mob-nav-icon icon-howtoplay"></span>
							<span>How to Play</span>
						</a>
					</li>
					<!-- <li viewid="livescore" activemenu>
						<a href="javascript:;">
							<span class="mob-nav-icon icon-livescore"></span>
							<span>Live Score</span>
						</a>
					</li> -->
					<li viewid="changepassword" activemenu>
						<a href="javascript:;" ng-click="header.onChangePassword()">
							<span class="mob-nav-icon icon-changepassword"></span>
							<span>Change Password</span>
						</a>
					</li>
					<li viewid="contact-us" activemenu>
						<a href="{{serverUrl}}/page/contact-us">
							<span class="mob-nav-icon icon-contactus"></span>
							<span>Contact Us</span>
						</a>
					</li>
					<li viewid="logout" activemenu>
						<a href="javascript:;" ng-click="header.onLogoutClick()">
							<span class="mob-nav-icon icon-logout"></span>
							<span>Log Out</span>
						</a>
					</li>
				</ul>
			</nav>
			<div class="menu-mask" ng-click="header.closeMenu()">
				<div class="close-menu">
					<div class="menu-close-icon"></div>
				</div>
			</div>
		</div>
	</div>
	{{else}}
	<div class="header-container">
		<div class="header-logo">
			<a class="navbar-brand" href="{{serverUrl}}/"><img class="img-responsive" src="{{cdnUrl}}/assets/images/logo-web.png" /></a>
		</div>
	</div>
	{{/if}}
	{{/unless}}
</div>

