<head>
    <meta charset="utf-8">
    <title>{{seoData.metaTitle}}</title>
    <meta name="description" content="{{seoData.metaDescription}}"/>
    <meta name="keywords" content="{{seoData.metaKeywords}}"/>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="icon" href="/fantasy_sports/app/assets/images/sports/cricket/favicon.ico" type="image/x-icon" />
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    {{#if isProduction}}

    <link rel="stylesheet" href="{{cdnUrl}}/styles/main.min.css?ver={{fileVersion}}">
    <link rel="stylesheet" href="{{cdnUrl}}/styles/mobile.min.css?ver={{fileVersion}}">
    <link rel="stylesheet" href="{{cdnUrl}}/styles/desktop.min.css?ver={{fileVersion}}">

    {{else}}

    <link rel="stylesheet" href="{{cdnUrl}}/styles/main.css">
    <link rel="stylesheet" href="{{cdnUrl}}/styles/mobile.css">
    <link rel="stylesheet" href="{{cdnUrl}}/styles/desktop.css">

    {{/if}}
    <!-- Vendor CSS files -->
    <link rel="stylesheet" href="{{cdnUrl}}/vendor/ng-dialog/css/ngDialog.min.css" />
    <link rel="stylesheet" href="{{cdnUrl}}/vendor/ng-dialog/css/ngDialog-theme-default.min.css" />
    <link rel="stylesheet" href="{{cdnUrl}}/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{cdnUrl}}/vendor/slick-carousel/slick/slick.css" />
    <link rel="stylesheet" href="{{cdnUrl}}/vendor/slick-carousel/slick/slick-theme.css" />
    <link rel="stylesheet" href="{{cdnUrl}}/vendor/angular-bootstrap/ui-bootstrap-csp.css" />
    <!-- Vendor CSS files -->
</head>