.selected-squad.league-cric-ground{
    height: 365px;
}

.selected-squad{
    //background: url(../assets/images/sports/cricket/cricket-ground.png) center no-repeat;
    background-size: contain;
    //margin: 25px 0 10px;
    position: relative;
}



.select-team-container{
    margin-top: 25px;
}

.sel-squad-wrapper {
    background: #ffffff;
    border-radius: 15px;
}


.selected-squad.league-cric-ground{
    background: url(#{$cdnUrl}/assets/images/sports/cricket/cricket-ground.png) top center no-repeat;
    background-size: contain;
    margin: 45px 0 10px;
    position: relative;
    .player {
        position: absolute;
        background: url('#{$cdnUrl}/assets/images/sports/cricket/placeholder.png') no-repeat;
        background-size: cover;
        width: 50px;
    }

    .player{
        .plyr-details.bonus{
            background: #d35400;
            color: #fff;
        }
    }

    .player.sel-cap::before{
        content: '';
        height: 20px;
        width: 20px;
        position: absolute;
        bottom: 2px;
        left: -8px;
        top: initial;
        right: initial;
        background: url(#{$cdnUrl}/assets/images/sports/cricket/c-vc-icon.png) no-repeat;
        background-position: 0px 0px;
        background-size: cover;
        z-index: 11;
    }

    .player.sel-v-cap::before{
        content: '';
        height: 20px;
        width: 20px;
        position: absolute;
        top: initial;
        right: initial;
        bottom: 0;
        left: -8px;
        background: url(#{$cdnUrl}/assets/images/sports/cricket/c-vc-icon.png) no-repeat;
        background-position: -22px 0px;
        background-size: cover;
        z-index: 11;
    }

    .wk1, .wk2 {
        background-position: 0 -83px !important;
        height: 43px;
        .plyr-details{
            top: 36px;
            left: -12px;
        }
    }

    .bt1, .bt2, .bt3, .bt4, .bt5, .bt6 {
        background-position: 0 -224px !important;
        height: 60px;
        &.sel-cap,
        &.sel-v-cap{
            &:before{
                left: 0;
            }
        }
        .plyr-details{
            top: 55px;
            left: -4px;
        }
    }

    .alrdr1, .alrdr2, .alrdr3, .alrdr4 {
        background-position: 0 -144px !important;
        height: 60px;
        .plyr-details{
            top: 60px;
            left: -14px;
        }
    } 

    .bw1, .bw2, .bw3, .bw4, .bw5, .bw6 {
        background-position: 0 top !important;
        height: 60px;
        .plyr-details{
            top: 60px;
            left: -14px;
        }
    }

    .wk1 {
        top: -11%;
        left: 50%;
    }

    .wk2 {
        top: -4%;
        left: 65%;
    }

    .bt1 {
        top: 8%;
        left: 51%;
    }

    .bt2 {
        top: 10%;
        left: 34%;
    }

    .bt3 {
        top: 16%;
        left: 66%;
    }

    .bt4 {
        top: -12%;
        left: 31%;
    }

    .bt5 {
        top: -1%;
        left: 77%;
    }


    .bt6 {
        top: -3%;
        left: 17%;
    }


    .alrdr1 {
        top: 18%;
        left: 21%;
    }

    .alrdr2 {
        top: 25%;
        left: 80%;
    }

    .alrdr3 {
        top: 15%;
        left: 6%;
    }

    .alrdr4 {
        top: 42%;
        left: 68%;
    }


    .bw1 {
        top: 34%;
        left: 44%;
    }

    .bw2 {
        top: 52%;
        left: 26%;
    }

    .bw3 {
        top: 62%;
        left: 42%;
    }

    .bw4 {
        top: 46%;
        left: 11%;
    }

    .bw5 {
        top: 54%;
        left: 58%;
    }

    .bw6 {
        top: 48%;
        left: 80%;
    }

    .plyr-details {
        position: absolute;
        background: #f1c40f;
        color: #000;
        padding: 2px;
        line-height: normal;
        white-space: nowrap;
        min-width: 75px;
        text-align: center;
        font-size: 11px;
        z-index: 10;
    }

}










/*
.cricket-ground .player {
position: absolute;
background: url('../assets/images/sports/cricket/placeholder.png') no-repeat;
background-size: 90%;
width: 60px;
}

.player.sel-cap::before{
content: '';
height: 25px;
width: 25px;
position: absolute;
top: -5px;
right: 0px;
background: url(../assets/images/sports/cricket/c-vc-icon.png) no-repeat;
background-position: 0px 0px;
background-size: cover;
}

.player.sel-v-cap::before{
content: '';
height: 25px;
width: 25px;
position: absolute;
top: -5px;
right: 0px;
background: url(../assets/images/sports/cricket/c-vc-icon.png) no-repeat;
background-position: -28px 0px;
background-size: cover;
}

.wk1, .wk2 {
height: 56px;
}

.bt1, .bt2, .bt3, .bt4, .bt5, .bt6 {
height: 76px;
}

.alrdr1, .alrdr2, .alrdr3, .alrdr4 {
height: 84px;
} 

.bw1, .bw2, .bw3, .bw4, .bw5, .bw6 {
height: 80px;
}

.wk1 {
background-position: 0 -85px !important;
top: -10px;
left: 225px;
}

.wk2 {
background-position: 0 -85px !important;
top: 10px;
left: 315px;
}

.bt1 {
background-position: 0 -240px !important;
top: -5px;
left: 115px;
}

.bt2 {
background-position: 0 -240px !important;
top: 40px;
left: 40px;
}

.bt3 {
background-position: 0 -240px !important;
top: 55px;
left: 215px;
}

.bt4 {
background-position: 0 -240px !important;
top: 80px;
left: 285px;
}

.bt5 {
background-position: 0 -240px !important;
top: 40px;
left: 350px;
}


.bt6 {
background-position: 0 -240px !important;
top: 90px;
left: 390px;
}


.alrdr1 {
background-position: 0 -150px !important;
top: 90px;
left: 120px;
}

.alrdr2 {
background-position: 0 -150px !important;
top: 150px;
left: 245px;
}

.alrdr3 {
background-position: 0 -150px !important;
top: 130px;
left: 335px;
}

.alrdr4 {
background-position: 0 -150px !important;
top: 180px;
left: 380px;
}


.bw1 {
background-position: 0 top !important;
top: 155px;
left: 20px;
}

.bw2 {
background-position: 0 top !important;
top: 205px;
left: 70px;
}

.bw3 {
background-position: 0 top !important;
top: 125px;
left: 175px;
}

.bw4 {
background-position: 0 top !important;
top: 240px;
left: 145px;
}

.bw5 {
background-position: 0 top !important;
top: 255px;
left: 230px;
}

.bw6 {
background-position: 0 top !important;
top: 225px;
left: 320px;
}


.wk1 .plyr-details, .wk2 .plyr-details{
position: absolute;
top: 48px;
}

.bt1 .plyr-details, .bt2 .plyr-details, .bt3 .plyr-details, .bt4 .plyr-details, .bt5 .plyr-details, .bt6 .plyr-details{
position: absolute;
top: 65px;
}

.alrdr1 .plyr-details, .alrdr2 .plyr-details, .alrdr3 .plyr-details, .alrdr4 .plyr-details {
position: absolute;
top: 75px;
}

.bw1 .plyr-details, .bw2 .plyr-details, .bw3 .plyr-details, .bw4 .plyr-details, .bw5 .plyr-details, .bw6 .plyr-details{
position: absolute;
top: 70px;
}

.cricket-ground .plyr-details {
background: yellow;
color: #000;
}

.cricket-ground .bonus {
background: orange;
color: #fff;
}
*/


.selected-squad .plyr-details .plyr-name, .selected-squad .plyr-details .plyr-credits  {
    min-width: 65px;
    width: 65px;
    font-size: 11px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 2px;
}

.plyr-sel-table {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.sel-tab-heading{
    font-weight: 600;
    display: table-row;
    background: #b1afaf;
    text-align: center;
}

.plyr-list-scrl{
    max-height: 275px;
    overflow-y: auto;
    height: 275px;
    background: #ffffff;
}

.sel-tab-heading .plyr-info, .sel-tab-heading .plyr-name, .sel-tab-heading .plyr-team-name, .sel-tab-heading .plyr-pnts-scrd, .sel-tab-heading .plyr-crdts, .sel-tab-heading .plyr-sel-action,
{
    text-align: center;
    vertical-align: center;
    display: table-cell;
    padding: 5px; 
}   

.plyr-list-scrl .plyr-sel-table .plyr-info, .plyr-list-scrl .plyr-sel-table .plyr-name, .plyr-list-scrl .plyr-sel-table .plyr-team-name, .plyr-list-scrl .plyr-sel-table .plyr-pnts-scrd, .plyr-list-scrl .plyr-sel-table .plyr-crdts, .plyr-list-scrl .plyr-sel-table .plyr-sel-action {
    text-align: center;
    vertical-align: center;
    display: table-cell;
    padding: 10px 0px; 
}

.plyr-sel-table .plyr-item{
    display: table-row;
    border-bottom: 1px solid grey;
}

.plyr-sel-table .plyr-item.selected {
    background: #d5d5d5;
}

.plyr-sel-table .plyr-item.selected.bonus {
    background: #ffa500;
}

.sel-tab-heading .plyr-info{
    width: 10%;
}

.plyr-sel-table .plyr-item .plyr-info {
    width: 28px; 
}

.plyr-list-scrl .plyr-info{
    background-image: url('#{$cdnUrl}/assets/images/kit-icon.png');
    background-repeat: no-repeat;
}

.bt-icon{
    background-position: -55px 0px;
    background-size: cover;
}

.bw-icon {
    background-position: -108px 0px;
    background-size: cover;
}

.alrdr-icon{
    background-position: 0px 0px;
    background-size: cover;
}

.wk-icon{
    background-position: -158px 0px;
    background-size: cover;
}

.plyr-sel-table .plyr-item .plyr-name{
    width: 100px;
    font-size: 14px;
}

.sel-tab-heading .plyr-name{
    width: 22%;
    font-size: 14px;
}


.sel-tab-heading .plyr-team-name{
    width: 23%;
}

.plyr-sel-table .plyr-item .plyr-team-name{
    width: 70px;
}

.sel-tab-heading .plyr-pnts-scrd{
    width: 70px;
}

.plyr-sel-table .plyr-item .plyr-pnts-scrd{
    width: 18%;
}

.sel-tab-heading .plyr-crdts{
    width: 20%;
}

.plyr-sel-table .plyr-item .plyr-crdts{
    width: 80px;
}

.sel-tab-heading .plyr-sel-action{
    width: 7%;
}

.plyr-sel-table .plyr-item .plyr-sel-action {
    width: 60px;
}

.sel-tab-message{
    padding: 5px 20px;
    font-size: 14px;
    font-weight: 600;
}

.plyr-sel-table .plyr-item .plyr-sel-action {
    background-image: url('#{$cdnUrl}/assets/images/bt-icon.png');
    background-repeat: no-repeat;
    width: 17px;
}

.add-icon {
    background-position: -25px 5px;
}

.del-icon {
    background-position: -53px 5px;

}


.count-bubble{
    position: absolute;
    top: 15px;
    margin-left: 5px;
    font-size: 16px;
    /* vertical-align: middle; */
    border-radius: 20px;
    height: 20px;
    width: 20px;
    text-align: center;
    background: green;
}

.teamCount{
    text-align: left;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
}

.team-sel-info {
    padding: 15px 10px;
}

.sel-info-table {
    background: #fff;
    border-radius: 7px;
}

.sel-tbl-info-heading {
    background: #09283d;
    font-weight: 800;
    color: #ffffff;
    font-size: 14px;
    padding: 7px;
    border-radius: 7px 7px 0px 0px;
}

.sel-tbl-info {
    color: #000000;
    font-size: 12px;
    padding: 7px 0px;
}

.sel-tbl-info .col-md-2,
sel-tbl-info-heading .col-md-2
{
    text-align: center;
}

.player-options-container {
    border: 2px solid grey;
}

.match-container{
    border: 2px solid #b5b2b9;
    background: #fff;
    border-radius: 5px;
    padding: 15px 0;
    margin-top: 10px;
    height: 70px;
    width: 250px;
    .match-teams{
        padding: 0;
        text-align: center;
    }
    .match-details{
        padding: 0px;
    }
}

.match-container .match .team-flag img {
    height: 18px;
    width: 28px;
    display: block;
    margin: auto;
}



.sel-rem-info {
    padding: 5px 0px;
}

.sel-credits, .plyr-rem-info{

}


.sel-credits span, .plyr-rem-info span {
    padding: 0px 4px;
    color: #000000;
    background: #e4e2df;
}

.sel-credits .sel-credits-left, .plyr-rem-info .plyr-info-left {
    border-radius : 3px 0px 0px 3px;
    border: 1px solid grey;
}


.sel-credits .sel-credits-rght, .plyr-rem-info .plyr-info-rght {
    border-radius : 0px 3px 3px 0px;
    border: 1px solid grey;
}

.clr-team-btn {
    position: absolute;
    bottom: -5px;
    right: -5px;
    background: #a33434;
    color: #fff;
}

.clr-team-btn.active {
opacity: 1;
}

.clr-team-btn.unactive{
    opacity: 0.5
}


.save-team-buttons{
    padding: 15px 10px;
}



/*.cap-vice-cap-sel-container{
width: 100%;
background: #b5b2b9;
z-index: 999;
position: absolute;
top: 0;
height: 100%;
left: 0;
}*/

/*.player-container{
border: 2px solid #b5b2b9;
background: #fff;
border-radius: 5px;
padding: 10px 0;
margin-top: 5px;
height: 83px;
}*/

.player-select-wrapper{
    margin: 20px 0px;
    position: relative;
    .cstm-player-select{
        padding: 4px 15px;
        border: 1px solid #b7b2b9;
        position: relative;
        background: #ededed;
        border-radius: 4px;
        width: 90%;
        margin: auto;
        cursor: pointer;
        #sel-captain{
            float: left;
            font-size: 18px;
            width: 100%;
        }
        #sel-player{
            float: left;
            font-size: 18px;
            width: 100%;
        }
        #sel-vice-captain{
            float: left;
            font-size: 18px;
            width: 100%;
        }
        .fa.fa-caret-down{
            float: right;
        }
        &.open{
            .arrow-icon{
                transform: rotate(270deg);
            }
            + .selected-player-list{
                //display: block;
                transition: height 0.2s ease;
                max-height: 156px;
                height: 156px;
                transform: translate3d(0,0,0);
            }
        }
    }
    .selected-player-list{
        transition: height 0.4s ease;
        border: 1px solid #b7b2b9;
        border-top: 0;
        border-bottom: 0;
        position: absolute;
        width: 90%;
        z-index: 10;
        left: 5%;
        //max-height: 156px;
        overflow-y: auto;
        overflow-x: hidden;
        //display: none;
        height: 0;
        ul{
            background: #fff;
            li{
                //height: 0;
                overflow: hidden;
                transition: height 0.5s ease;
                height: 52px;
                padding: 4px 15px;
                border-bottom: 1px solid #b7b2b9;
                a{
                    display: block;
                    line-height: 36px;
                    padding: 0 15px;
                    font-size: 16px;
                    color: #333;
                    &.selected{
                        background: #b7b2b9;
                        color: #fff;
                    }
                }

            }
        }
    }
}

.cstm-player-select .cap-role, .selected-player-list .player-role, .cstm-player-select .vcap-role {
    height: 35px;
    border-right: 1px grey solid;
}

.cap-role, .player-role, .vcap-role {
    width: 45px;
}

.cap-role.alrdr-icon, .player-role.alrdr-icon, .vcap-role.alrdr-icon{
    background-image: url('#{$cdnUrl}/assets/images/kit-icon.png');
    background-repeat: no-repeat;
    background-position: -2px 0px;
    background-size: cover;
}

.cap-role.bt-icon, .player-role.bt-icon, .vcap-role.bt-icon{
    background-image: url('#{$cdnUrl}/assets/images/kit-icon.png');
    background-repeat: no-repeat;
    background-position: -50px 0px;
    background-size: cover;
}

.cap-role.bw-icon, .player-role.bw-icon, .vcap-role.bw-icon{
    background-image: url('#{$cdnUrl}/assets/images/kit-icon.png');
    background-repeat: no-repeat;
    background-position: -95px 0px;
    background-size: cover;
}

.cap-role.wk-icon, .player-role.wk-icon, .vcap-role.wk-icon{
    background-image: url('#{$cdnUrl}/assets/images/kit-icon.png');
    background-repeat: no-repeat;
    background-position: -140px 0px;
    background-size: cover;
}

.cap-details .cap-detail-item,.player-details .player-detail-item, .vcap-details .vcap-detail-item  {
    padding: 2px 3px;
    border-right: 1px solid grey;
}

.cap-details .cap-detail-item:last-child, .player-details .player-detail-item:last-child, .vcap-details .vcap-detail-item:last-child {
    border:none;
}

.cap .arrow-icon, .vcap .arrow-icon{
    position: absolute;
    top:12px;
    right:10px;
}


.sel-count{
    position: absolute;
    top:0;
    left:0;
    padding:5px;
}


.player-options-container .nav > li > a {
    padding: 5px;
    text-align: center;
    border-radius: 0px;
    cursor: pointer;
    color:#000000;
    background: #ffffff;
    border: 1px solid grey;
}


.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background: #ff4c2b;
    color: #ffffff;
}

.d-sel-err {
    padding: 20px;
    background: #f48e89;
    border-radius: 5px;
    height: 60px;
    margin: 5px;
}

.err-close-btn {
    position: absolute;
    top: 20px;
    right: 5px;
}

.show-c-vc {
    background-color: #09283d;
    color: #fff;
}

.show-c-vc.active {
    opacity: 1;
}

.show-c-vs:hover{
    opacity: 1;
}


.show-c-vc.unactive {
    opacity: 0.5;
    cursor: default;
}

.save-team-btn{
    background: #ffa500;
    color: #ffffff;
}

.save-team-btn.active {
    opacity: 1;
}

.save-team-btn.unactive {
    opacity: 0.5;
    cursor: default;
}

.capVcapErr{
    height: 20px;
    color: red;
    text-align: left;
    padding-left: 25px;
    font-size: 16px;
}


