.header{
	background: #09283d;
	height: 65px;
	position: fixed;
	width: 100%;
	z-index: 100;
	top: 0;
}

.header-container{
	width: 96%;
	height: 100%;
	margin: auto;
}

.header-logo{
	float: left;
	color: #fff;
	width: 160px;
	margin-left: 4%;
	.navbar-brand{
		padding: 0;
	}
}

.header-login{
	width: 75%;
	float: right;
	text-align: right;
}

.header-login form{
	display: inline-block;
	padding-top: 18px;
	padding-right: 6%;
	position: relative;
	.txt-field{
		input{
			height: 30px;
		}
		.input-error{
			position: absolute;
			color: #ed583a;
			font-size: 12px;
			top: 2px;
		}
		.input-error-pass{
			position: absolute;
			color: #ed583a;
			font-size: 12px;
			top: -14px;
		}
	}
	.txt-field,
	.form-btn{
		float: left;
		margin: 0 5px;
	}
	.has-error .form-control {
	    border-color: #ed583a;
	    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	}
}

.forgot-password{
	font-size: 12px;
	color: #fff;
	position: absolute;
	bottom: -18px;
	left: 1px;
	cursor: pointer;
	&:hover{
		text-decoration: underline;
	}
}

.header-menu{
	float: right;
	height: 100%;
	display: flex;
	align-items: center;
	> ul{
		> li{
			float: left;
			position: relative;
			> a{
				color: #fff;
				text-transform: uppercase;
				border-right: 1px solid #fff;
				padding: 0 15px;
				font-size: 17px;
			}
			&:last-child{
				a{
					border: 0;	
				}
			}
		}
	}
}

.user-dropdown{
	cursor: pointer;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	border-right: 1px solid #fff;
	padding: 0 15px;
	font-size: 17px;
	font-weight: 700;
	&:hover{
		text-decoration: none;
		color: #fff;
	}
}

ul.user.dropdown-menu{
	background: #09283d;
	border-radius: 0 0 4px 4px;
	border: 1px solid #fff;
	padding: 0;
	li{
		border-bottom: 1px solid #fff;
		a{
			color: #fff;
			font-size: 17px;
			padding: 6px 12px;
			outline: none;
			&:hover,
			&:focus{
				background: #ed583a;
			}
		}
		&:last-child{
			border: 0;
		}
	}
}

.footer-wrapper{
	background: #09283d;
	position: absolute;
	bottom: 0;
	width: 100%;
	// height: 225px;
	.footer-icon-wrapper{
		background: #fff;
		height: 1px;
		margin: 45px auto 25px auto;
		width: 85%;
		position: relative;
		.footer-icon{
			background: #09283d url(#{$cdnUrl}/assets/images/footer-cric-icon.png) top center no-repeat;
			height: 50px;
			width: 200px;
			margin-left: -100px;
			background-size: contain;
			position: absolute;
			left: 50%;
			top: -30px;
		}
	}
}

.footer-text{
	p{
		color: #fff;
		font-size: 13px;
		text-align: center;
		padding: 8px 5%;
	}
}

.footer-logo{
	width: 40%;
	margin: auto;
	padding: 10px;
	background: #203b4e;
	img{
		margin: auto;
	}
}

.footer-copyright{
	color: #fff;
	padding: 10px 15px;
}

ul.footer-links{
	width: 75%;
	margin: auto;
	li{
		float: left;
		width: 33%;
		padding: 5px 10px;
		a{
			color: #fff;
			font-size: 15px;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}

.social-media-wrapper{
	width: 75%; 
	margin: auto;
	text-align: center;
	h3{
		color: #fff;
		font-size: 16px;
		text-decoration: underline;
		padding: 5px;
	}
}

ul.social-media{
	display: inline-block;
	li{
		float: left;
		padding: 0;
		a{
			display: inline-block;
			margin: 2px 10px;
			transition: 0.25s ease all;
			&:hover{
				transform: scale(1.05);
				transition: 0.25s ease all;
			}
		}
	}
}

.social-icons{
	background: url(#{$cdnUrl}/assets/images/social-media-icon.png) no-repeat;
	height: 50px;
	width: 50px;
	background-size: cover;
	&.fb{
		background-position: 0 0;
	}
	&.gplus{
		background-position: 50% 0;
	}
	&.twitter{
		background-position: 102% 0;
	}
}

.menu-close-icon{
	height: 30px;
	width: 30px;
	background: url(#{$cdnUrl}/assets/images/menu-close-icon.png) no-repeat;
	background-size: cover;
}

.wallet-icon{
	background: url(#{$cdnUrl}/assets/images/wallet-icon.png) center no-repeat;
	height: 18px;
	width: 22px;
	display: inline-block;
	background-size: cover;
}

.add-cash-icon{
	background: url(#{$cdnUrl}/assets/images/add-cash-icon.png) center no-repeat;
	height: 18px;
	width: 18px;
	display: inline-block;
	background-size: cover;
}

.add-cash-icon.desk-head{
	position: absolute;
    top: 3px;
    right: -12px;
    cursor: pointer;
}

.header-menu-icon{
	&.promotions{
		background: url(#{$cdnUrl}/assets/images/promotions-icon.png) no-repeat;
		height: 18px;
		width: 18px;
		background-size: cover;
		position: absolute;
		left: -6px;
		top: 0
	}
} 



// CSS for MOBILE MENU

