.tours-container{
	border: 2px solid #b5b2b9;
	background: #fff;
	border-radius: 5px;
	padding: 10px 0;
	margin-top: 5px;
	height: 83px;
}

.tour-select-wrapper{
	.cstm-tour-select{
		padding: 8px 20px 8px 10px;
		border: 1px solid #b7b2b9;
		position: relative;
		background: #ededed;
		border-radius: 4px;
		width: 80%;
		margin: auto;
		cursor: pointer;
		#selectedTour{
			float: left;
			font-size: 16px;
			width: 100%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.fa.fa-caret-down{
			float: right;
			position: absolute;
			right: 8px;
			top: 8px;
		}
		&.open{
			+ .tour-list ul li{
				height: 36px;
				transition: height 0.4s ease;
				border-bottom: 1px solid #b7b2b9;
			}
		}
	}
	.tour-list{
		transition: height 0.4s ease;
		border: 1px solid #b7b2b9;
		border-top: 0;
		border-bottom: 0;
		position: absolute;
		width: 100%;
		z-index: 10;
		ul{
			background: #fff;
			li{
				height: 0;
				overflow: hidden;
				transition: height 0.5s ease;
				a{
					display: block;
					padding: 0 10px;
					color: #333;
					clear: both;
					.tour-name{
						width: 72%;
						float: left;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						line-height: 36px;
						font-size: 16px;
					}
					.tour-start-time{
						float: right;
						line-height: 40px;
						font-size: 12px;
						width: 25%;
						float: right;
						text-align: right;
					}
				}
				&.active{
					background: #e5e5e5;
					color: #fff;
				}
			}
		}
	}
}

.card-wrapper{

}

.card{
	background-color: #fff;
	border: 1px double #ccc;
	border-radius: 3px;
	padding: 10px;
	margin: 4.15% 0;
	height: 135px;
	color: #666;
	font-family: $mainFont;
}

.card.league .league-title{
	color: #09283d;
	font-weight: bold;
}

.card.league .entry-fee{
	// float: right;
	color: #09283d;
	font-size: 14px;
	font-weight: bold;
}

.card.league .teams-joined{
	font-size: 14px;
	color: #09283d;
}

.card.league .entry-fee span{
	// background: #A7ABB1;
	// padding: 3px 6px;
	// color: #fff;
	// border-radius: 3px;
	// font-weight: bold;
}

.card.league .entry-fee span .fa.fa-rupee{
	font-size: 12px;
}

.league-types .confirmed,
.league-types .multi-entry{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid #09283d;
	display: inline-block;
	text-align: center;
	font-weight: bold;
	color: #09283d;
	font-size: 16px;
	background: #9dbdde;
	margin: 0 2px;
	cursor: pointer;
	position: relative;
}

.league-types .multi-entry{
	background: #c6d791;
}

// CSS override for tooltip for League types(confirmed, multi entry)
.league-types{
	[data-tooltip]:hover:before{
		width: 220px;
	    left: -100px;
    	z-index: 1;
    	top: 5px;
	}
}

.tour-select{
	font-family: $mainFont;
}

.tour-select select{
	font-size: 18px;
	padding: 4px;
}

.cstm-progress{
	background-color: #D6D6D6;
	background-image: none;
	box-shadow: none;
	display: inline-block;
	height: 3px;
	// width: 100%;
	border-radius: 15px;
	margin: 5px 0;
}

.cstm-progress .progress-bar{
	width: 0;
	height: 100%;
	transition: 0.5s ease all;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.progress-bar-success {
	background-color: #09283d;
	background-image: none;
	font-size: 14px;
}
.league-winners{
	cursor: pointer;
	&:hover{
		text-decoration: underline;
	}
}

.league-winners .fa.fa-trophy{
	font-size: 16px;
	color: #ed583a;
	text-align: center;
}

.matches-list .match{
	border: 1px solid transparent;
	border-radius: 0;
	padding: 0 5px;
	border-right: 1px solid #b5b2b9;
	.match-teams{
		width: 50%;
		float: left;
		text-align: center;
		padding-top: 10px;
		position: relative;
	}
	.match-details{
		width: 50%;
		float: left;
		text-align: center;
		padding: 10px 0 0 0;
		.join-league,
		.view-points{
			cursor: pointer;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	.team-flag{
		img{
			height: 18px;
			width: 28px;
			margin: auto;
		}
	}
	&:last-child{
		border-right: 1px solid transparent;
	}
}

.matches-list .match:hover,
.matches-list .match.active{
	background: #dedede;
}

.matches-carousel{
	padding-right: 30px;
	padding-left: 30px;
	overflow: hidden;
	height: 70px;
	ul[rn-carousel]{
		height: 74px;
	}

	.slick-prev::before,
	.slick-next::before{
		content: '' !important;
	}


	.slick-prev{
		background: url(#{$cdnUrl}/assets/images/arrow-icon-left.png) center no-repeat !important;
	}

	.slick-next{
		background: url(#{$cdnUrl}/assets/images/arrow-icon-right.png) center no-repeat !important;
	}

	.slick-prev, .slick-next{
		background-size: cover !important;
		transition: 0.25s ease all;
	}

	.slick-prev.slick-disabled,
	.slick-next.slick-disabled{
		opacity: 0.25;
	}
}

.no-matches-error {
	text-align: center;
	font-size: 20px;
	color: #fe9805;
}

.no-leagues-error {
	text-align: center;
	font-size: 20px;
	color: #fe9805;
	width: 58%;
	margin: 10px 1%;
	background: #fff;
	padding: 1%;
	border-radius: 4px;
	float: left;
}

.no-joinleague-error {
	text-align: center;
	font-size: 20px;
	color: #fe9805;
	width: 100%;
	background: #fff;
	padding: 1%;
	border-radius: 4px;
	float: left;
}

.cricket-ground-wrapper{
	float: left;
	width: 40%;
	height: 492px;
	margin: 10px 0 0 0;
	border: 2px solid #b5b2b9;
	border-radius: 4px;
	background: #fff;
}

.arrow-icon{
	background: url(#{$cdnUrl}/assets/images/arrow-icon.png) center no-repeat;
	width: 20px;
	height: 20px;
	background-size: cover;
	transform: rotate(90deg);
}

.tabs-wrapper{
	width: 60%;
	float: left;
	padding: 0 10px;
	ul{

	}
	li{
		width: 49%;
		margin: 10px 0;
		float: left;
		padding: 4px;
		text-align: center;
		font-size: 18px;
		background: #fff;
		border-radius: 4px;
		cursor: pointer;
		font-size: 18px;
		color: #000;
		&:hover,
		&.active{
			background: #ed583a;
			color: #fff;
		}
		&:first-child{
			margin-right: 1%;
		}
		&:last-child{
			margin-left: 1%;
		}
	}
}

.content-container.mobile{
	padding-top: 55px;
}

.mob-match-tabs{
	background: #fff;
	height: 42px;
	border-top: 1px solid #b5b2b9;
	border-bottom: 1px solid #b5b2b9;
	ul{

	}
	li{
		width: 33.334%;
		float: left;
		padding: 9px 0;
		text-align: center;
		text-transform: uppercase;
		font-size: 16px;
		border-right: 1px solid #b5b2b9;	
		&:last-child{
			border: 0;
		}
		&.active{
			background: #ed583a;
			color: #fff;
		}
	}
}

.mob-league{
	width: 90%;
	margin: 10px auto;
	border: 1px solid #b5b2b9;
	border-radius: 4px;
	background: #fff;
}

.accordion-wrapper{
	width: 97%;
	margin: auto;
	.panel-body{
		padding: 0 !important;
	}
	.joined-leagues-list{
		max-height: 420px;
		overflow: auto;
		li{
			padding: 6px 5px;
			border-bottom: 1px solid #dedede;
			&:nth-child(odd){
				background: #fff;
			}
			&:nth-child(even){
				background: #f4f4f4;
			}
			&.active{
				// background: #d2e9ed;
				background: #b5bec5;
			}
		}
	}
	.panel .arrow-icon{
		transform: rotate(90deg);
	}
	.panel.panel-open{
		.arrow-icon{
			transform: rotate(-90deg);
		}
	}
	.panel-heading{
		padding: 0 !important;
	}
	.accordion-head{
		padding: 5px 0;
		> div{
			padding: 10px;
			border-right: 1px solid #b5b2b9;
			height: 46px;
			&:last-child{
				border-right: 0;
				border-left: 1px solid #b5b2b9;
			}
		}
	}
}

.joined-leagues-list .winning-amount{
	position: absolute;
	right: -25px;
	font-weight: bold;
	color: #996515; 
}

.panel-heading a,
.panel-heading a:hover{
	text-decoration: none;
	color: initial;
}

// Custom bootstrap grid for 5 columns

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}

.col-xs-15 {
	width: 20% !important;
	float: left !important;
}
@media (min-width: 768px) {
	.col-sm-15 {
		width: 20% !important;
		float: left !important;
	}
	// .container {
	// 	width: 850px !important;
	// }
}
@media (min-width: 992px) {
	.col-md-15 {
		width: 20% !important;
		float: left !important;
	}
	// .container {
	// 	width: 1070px !important;
	// }
}
@media (min-width: 1200px) {
	.col-lg-15 {
		width: 20% !important;
		float: left !important;
	}
	// .container {
	// 	width: 1270px !important;
	// }
}

// Overriding Slick CSS
.slick-slider {
	margin-bottom: 0 !important;
}

.my-team-tabs{
	padding: 8px 15px;
	border-bottom: 1px solid #bbb;
	ul{
		li{
			float: left;
			border-right: 1px solid #bbb;
			padding: 4px 10px;
			line-height: normal;
			cursor: pointer;
			border-bottom: 4px solid transparent;
			&.active{
				border-bottom: 4px solid #ed583a;
			}
			&:last-child{
				border-right: 0;
			}
		}
	}
}

.my-team-status{
    line-height: normal;
    border: 2px solid #b5b2b9;
    width: 95%;
    margin: 10px auto;
    border-radius: 6px;
    padding: 5px;
    background: #ededed;
}

// Team preview Css needs to be reviewed
// .plyr-name, .plyr-credits {
//     min-width: 65px;
//     width: 65px;
//     font-size: 10px;
//     text-align: center;
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     padding: 0px 2px;
// }


// Leagues page ground and players CSS
.league-cric-ground{
	background: url(#{$cdnUrl}/assets/images/sports/cricket/cricket-ground.png) top center no-repeat;
	height: 280px;
	background-size: contain;
	margin: 45px 0 10px;
	position: relative;
	.player {
		position: absolute;
		background: url('#{$cdnUrl}/assets/images/sports/cricket/placeholder.png') no-repeat;
		background-size: cover;
		width: 50px;
	}

	.player.bonus{
		.plyr-details{
			background: #d35400;
			color: #fff;
		}
	}

	.player.sel-cap::before{
		content: '';
		height: 20px;
		width: 20px;
		position: absolute;
		bottom: 2px;
		left: -8px;
		top: initial;
		right: initial;
		background: url(#{$cdnUrl}/assets/images/sports/cricket/c-vc-icon.png) no-repeat;
		background-position: 0px 0px;
		background-size: cover;
		z-index: 11;
	}

	.player.sel-v-cap::before{
		content: '';
		height: 20px;
		width: 20px;
		position: absolute;
		top: initial;
		right: initial;
		bottom: 0;
		left: -8px;
		background: url(#{$cdnUrl}/assets/images/sports/cricket/c-vc-icon.png) no-repeat;
		background-position: -22px 0px;
		background-size: cover;
		z-index: 11;
	}

	.wk1, .wk2 {
		background-position: 0 -85px !important;
		height: 36px;
		.plyr-details{
			top: 36px;
			left: -12px;
		}
	}

	.bt1, .bt2, .bt3, .bt4, .bt5, .bt6 {
		background-position: 0 -225px !important;
		height: 55px;
		&.sel-cap,
		&.sel-v-cap{
			&:before{
				left: 0;
			}
		}
		.plyr-details{
			top: 55px;
			left: -4px;
		}
	}

	.alrdr1, .alrdr2, .alrdr3, .alrdr4 {
		background-position: 0 -144px !important;
		height: 60px;
		.plyr-details{
			top: 60px;
			left: -14px;
		}
	} 

	.bw1, .bw2, .bw3, .bw4, .bw5, .bw6 {
		background-position: 0 top !important;
		height: 60px;
		.plyr-details{
			top: 60px;
			left: -14px;
		}
	}

	.wk1 {
		top: -11%;
		left: 50%;
	}

	.wk2 {
		top: -4%;
		left: 65%;
	}

	.bt1 {
		top: 8%;
		left: 51%;
	}

	.bt2 {
		top: 10%;
		left: 34%;
	}

	.bt3 {
		top: 16%;
		left: 66%;
	}

	.bt4 {
		top: -15%;
		left: 31%;
	}

	.bt5 {
		top: -1%;
		left: 77%;
	}


	.bt6 {
		top: -7%;
		left: 20%;
	}


	.alrdr1 {
		
		top: 18%;
		left: 21%;
	}

	.alrdr2 {
		top: 25%;
		left: 80%;
	}

	.alrdr3 {
		top: 11%;
		left: 9%;
	}

	.alrdr4 {
		top: 42%;
		left: 70%;
	}


	.bw1 {
		top: 34%;
		left: 44%;
	}

	.bw2 {
		top: 52%;
		left: 32%;
	}

	.bw3 {
		top: 62%;
		left: 46%;
	}

	.bw4 {
		top: 46%;
		left: 16%;
	}

	.bw5 {
		top: 54%;
		left: 60%;
	}

	.bw6 {
		top: 44%;
		left: 69%;
	}


	// .wk1 .plyr-details, .wk2 .plyr-details{
	// 	top: 36px;
	// 	left: -8px;
	// }

	// .bt1 .plyr-details, .bt2 .plyr-details, .bt3 .plyr-details, .bt4 .plyr-details, .bt5 .plyr-details, .bt6 .plyr-details{
	// 	top: 55px;
	// 	left: -4px;
	// }

	// .alrdr1 .plyr-details, .alrdr2 .plyr-details, .alrdr3 .plyr-details, .alrdr4 .plyr-details{
	// 	top: 60px;
	// 	left: -8px;
	// }

	// .bw1 .plyr-details, .bw2 .plyr-details, .bw3 .plyr-details, .bw4 .plyr-details, .bw5 .plyr-details, .bw6 .plyr-details{
	// 	top: 60px;
	// 	left: -8px;
	// }

	.plyr-details {
		position: absolute;
		background: #f1c40f;
		color: #000;
		padding: 2px;
		line-height: normal;
		white-space: nowrap;
		min-width: 75px;
		text-align: center;
		font-size: 11px;
		z-index: 10;
	}

	// .plyr-details .plyr-name,
	// .plyr-details .plyr-credits {
	// 	min-width: 65px;
	// 	width: 65px;
	// 	font-size: 10px;
	// 	text-align: center;
	// 	white-space: nowrap;
	// 	overflow: hidden;
	// 	text-overflow: ellipsis;
	// }
}

.abandoned-icon{
    background: url(../assets/images/abandoned-icon.png) center no-repeat;
    height: 32px;
    width: 32px;
    position: absolute;
    top: 2px;
    left: 32px;
    background-size: contain;
}

.scorecard-link{
	cursor: pointer;
	&:hover{
		text-decoration: underline;
	}
}

.refresh-btn{
	color: #ed583a;
	font-weight: bold;
	text-decoration: underline;
	font-size: 16px;
	float: right;
	margin: 20px 25px 0 0;
	outline: none;
	&:hover, &:active, &:visited, &:focus{
		color: #ed583a;
		text-decoration: underline;
	}
}

.edit-link{
	position: relative;
	&::before{
		content: '';
		background: url(../assets/images/icon-edit.png) center no-repeat;
		height: 16px;
		width: 16px;
		position: absolute;
		top: 0;
		right: -18px;
		background-size: contain;
	}
}

.l-title{
	&:hover{
		text-decoration: underline;
	}
}

.pagination{
	color: #337ab7;
	font-size: 16px;
	padding: 5px;
	span{
		font-weight: bold;
		cursor: pointer;
		&:hover{
			text-decoration: underline;
		}
	}
}

