/****************************************

// MODULE COMPONENT
// PLATFORM : DESKTOP Only

****************************************/

.content-wrapper{
	position: relative;
	min-height: 100vh;
    padding-top: 65px;		// height of the header in desktop
    padding-bottom: 310px;		// height of the footer in desktop + 5px
}

.content-container{
	
}

.ngdialog.ngdialog-theme-popup.desk-popup-size .ngdialog-content {
    width: 36% !important;
    max-width: 480px !important;
}

/* Desktop Custom Popup CSS */
.ngdialog.ngdialog-theme-popup.desk-lg .ngdialog-content{
	width: 70% !important;
	max-width: 800px !important;
}
.ngdialog.ngdialog-theme-popup.desk-md .ngdialog-content{
	width: 50% !important;
	max-width: 680px !important;
}
.ngdialog.ngdialog-theme-popup.desk-sm .ngdialog-content{
	width: 36% !important;
	max-width: 480px !important;
}

.ng-model-header {
	background: #09283d;
	height: 34px;
	text-align: center;
}

.ng-model-header .title{
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.cstm-table{
	overflow: hidden;
	.tb-data{
	    padding-left: 55px !important;
	}
}

.help.active > a, .help.active > a:hover, .help.active > a:focus {
	background-color: #eee !important;
    background: #bfbfbf !important;
    color: #09283d !important;
	border: none !important;
    text-decoration: underline;
}

/*.help a{
    background-color: #4b951c;
    color: #fff;
}
.help a:focus{
    color: #000;
}*/