.promotion-page {
    //height: calc(100% - 35px);
}

.promotion-container{
    height: 100%;
}

.promtion-list{
    width: 100%;
    overflow-y: auto;
}

.promotion-wrapper {
    width: 49%;
    height: 45%;
    display: inline-block;
    padding: 2.5% 1.5% 0% 1.5%;
    float: left;
}

.promotion {
    display: inline-block;
    height: 100%;
    background: #ffffff;
    border-radius: 10px;
}

.promotion-image {
}

.promotion-image img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.promotion-info{
}

.promotion-text {
    padding :2px;
    overflow: hidden;
    height: 60px;
    overflow-y: auto;
    text-overflow: ellipsis;
}

.promo-details{
    background: #eb5736;
    background: linear-gradient(to bottom, #eb7762 0%, #eb5736 100%);
    color: #fff;
    border: 1px solid #bdbdbd;
    padding: 1.5% 8%;
    border-radius: 5px;
    display: block;
    font-size: 0.9rem;
    cursor: pointer;
    text-transform: uppercase;
    margin: 10px auto;
    /*&:hover {
        background: linear-gradient(to bottom, #151414 0%, #4c4b4b 100%);
    }*/
}

.promotion-slider{
    width: 26px;
    float: right;
    padding: 15px 0;
    height: calc(100% - 30px);
    background: #656565 url("../assets/images/desktop/arrow-icon.png") center no-repeat;
    background-size: 80%;
    border-radius: 0px 5px 5px 0px;
    pointer-events: none;
    &:hover {
        background: #404040 url("../assets/images/desktop/arrow-icon.png") center no-repeat;
        background-size: 80%;
    }
}

.prom-open .promotion-slider {
    pointer-events: auto;
}

.prom-open {
    transform: translateX(0%);
    transition: .7s;
}


.promotion-details{
    position: absolute;
    top: 9%;
    left: 15%;
    height: 420px;
    width: 63%;
    z-index: 102;
    border-radius: 5px;
    background: #ffffff;
}

.promotions-bg{
   position: absolute;
    top: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index:100;
}

.promo-details-popup{
    background: #dedede;
    word-break: break-all;
    border: none;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.promo-details-header {
    border-radius: 5px;
}

.popup-bg{
    background: rgba(0, 0, 0, 0.5);
    z-index: 99999;
}

.title-popup-desk{
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 34px;
}

.modal-close{
    cursor: pointer;
    color: #ffffff;
    font-size: 24px;
    outline: none;
    position: absolute;
    right: 12px;
    top: -1px;
}