/****************************************

  // DESKTOP CSS FILE
  // RULE SHOULD BE IMPORTED FROM DESKTOP SASS FILES
  // PLATFORM : DESKTOP Only

****************************************/
@media screen and (min-device-width: 1025px) {
  /****************************************

  // ALL VARIABLES SHOULD BE DEFINED HERE
  // PLATFORM : Mobile, Tab, Desktop

****************************************/
  /****************************************

// MODULE COMPONENT
// PLATFORM : DESKTOP Only

****************************************/
  .content-wrapper {
    position: relative;
    min-height: 100vh;
    padding-top: 65px;
    padding-bottom: 310px; }
  .ngdialog.ngdialog-theme-popup.desk-popup-size .ngdialog-content {
    width: 36% !important;
    max-width: 480px !important; }
  /* Desktop Custom Popup CSS */
  .ngdialog.ngdialog-theme-popup.desk-lg .ngdialog-content {
    width: 70% !important;
    max-width: 800px !important; }
  .ngdialog.ngdialog-theme-popup.desk-md .ngdialog-content {
    width: 50% !important;
    max-width: 680px !important; }
  .ngdialog.ngdialog-theme-popup.desk-sm .ngdialog-content {
    width: 36% !important;
    max-width: 480px !important; }
  .ng-model-header {
    background: #09283d;
    height: 34px;
    text-align: center; }
  .ng-model-header .title {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase; }
  .cstm-table {
    overflow: hidden; }
    .cstm-table .tb-data {
      padding-left: 55px !important; }
  .help.active > a, .help.active > a:hover, .help.active > a:focus {
    background-color: #eee !important;
    background: #bfbfbf !important;
    color: #09283d !important;
    border: none !important;
    text-decoration: underline; }
  /*.help a{
    background-color: #4b951c;
    color: #fff;
}
.help a:focus{
    color: #000;
}*/
  .header {
    background: #09283d;
    height: 65px;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0; }
  .header-container {
    width: 96%;
    height: 100%;
    margin: auto; }
  .header-logo {
    float: left;
    color: #fff;
    width: 160px;
    margin-left: 4%; }
    .header-logo .navbar-brand {
      padding: 0; }
  .header-login {
    width: 75%;
    float: right;
    text-align: right; }
  .header-login form {
    display: inline-block;
    padding-top: 18px;
    padding-right: 6%;
    position: relative; }
    .header-login form .txt-field input {
      height: 30px; }
    .header-login form .txt-field .input-error {
      position: absolute;
      color: #ed583a;
      font-size: 12px;
      top: 2px; }
    .header-login form .txt-field .input-error-pass {
      position: absolute;
      color: #ed583a;
      font-size: 12px;
      top: -14px; }
    .header-login form .txt-field,
    .header-login form .form-btn {
      float: left;
      margin: 0 5px; }
    .header-login form .has-error .form-control {
      border-color: #ed583a;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .forgot-password {
    font-size: 12px;
    color: #fff;
    position: absolute;
    bottom: -18px;
    left: 1px;
    cursor: pointer; }
    .forgot-password:hover {
      text-decoration: underline; }
  .header-menu {
    float: right;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header-menu > ul > li {
      float: left;
      position: relative; }
      .header-menu > ul > li > a {
        color: #fff;
        text-transform: uppercase;
        border-right: 1px solid #fff;
        padding: 0 15px;
        font-size: 17px; }
      .header-menu > ul > li:last-child a {
        border: 0; }
  .user-dropdown {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-right: 1px solid #fff;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 700; }
    .user-dropdown:hover {
      text-decoration: none;
      color: #fff; }
  ul.user.dropdown-menu {
    background: #09283d;
    border-radius: 0 0 4px 4px;
    border: 1px solid #fff;
    padding: 0; }
    ul.user.dropdown-menu li {
      border-bottom: 1px solid #fff; }
      ul.user.dropdown-menu li a {
        color: #fff;
        font-size: 17px;
        padding: 6px 12px;
        outline: none; }
        ul.user.dropdown-menu li a:hover, ul.user.dropdown-menu li a:focus {
          background: #ed583a; }
      ul.user.dropdown-menu li:last-child {
        border: 0; }
  .footer-wrapper {
    background: #09283d;
    position: absolute;
    bottom: 0;
    width: 100%; }
    .footer-wrapper .footer-icon-wrapper {
      background: #fff;
      height: 1px;
      margin: 45px auto 25px auto;
      width: 85%;
      position: relative; }
      .footer-wrapper .footer-icon-wrapper .footer-icon {
        background: #09283d url(/fantasy_sports/app/assets/images/footer-cric-icon.png) top center no-repeat;
        height: 50px;
        width: 200px;
        margin-left: -100px;
        background-size: contain;
        position: absolute;
        left: 50%;
        top: -30px; }
  .footer-text p {
    color: #fff;
    font-size: 13px;
    text-align: center;
    padding: 8px 5%; }
  .footer-logo {
    width: 40%;
    margin: auto;
    padding: 10px;
    background: #203b4e; }
    .footer-logo img {
      margin: auto; }
  .footer-copyright {
    color: #fff;
    padding: 10px 15px; }
  ul.footer-links {
    width: 75%;
    margin: auto; }
    ul.footer-links li {
      float: left;
      width: 33%;
      padding: 5px 10px; }
      ul.footer-links li a {
        color: #fff;
        font-size: 15px; }
        ul.footer-links li a:hover {
          text-decoration: underline; }
  .social-media-wrapper {
    width: 75%;
    margin: auto;
    text-align: center; }
    .social-media-wrapper h3 {
      color: #fff;
      font-size: 16px;
      text-decoration: underline;
      padding: 5px; }
  ul.social-media {
    display: inline-block; }
    ul.social-media li {
      float: left;
      padding: 0; }
      ul.social-media li a {
        display: inline-block;
        margin: 2px 10px;
        -webkit-transition: 0.25s ease all;
        transition: 0.25s ease all; }
        ul.social-media li a:hover {
          -webkit-transform: scale(1.05);
                  transform: scale(1.05);
          -webkit-transition: 0.25s ease all;
          transition: 0.25s ease all; }
  .social-icons {
    background: url(/fantasy_sports/app/assets/images/social-media-icon.png) no-repeat;
    height: 50px;
    width: 50px;
    background-size: cover; }
    .social-icons.fb {
      background-position: 0 0; }
    .social-icons.gplus {
      background-position: 50% 0; }
    .social-icons.twitter {
      background-position: 102% 0; }
  .menu-close-icon {
    height: 30px;
    width: 30px;
    background: url(/fantasy_sports/app/assets/images/menu-close-icon.png) no-repeat;
    background-size: cover; }
  .wallet-icon {
    background: url(/fantasy_sports/app/assets/images/wallet-icon.png) center no-repeat;
    height: 18px;
    width: 22px;
    display: inline-block;
    background-size: cover; }
  .add-cash-icon {
    background: url(/fantasy_sports/app/assets/images/add-cash-icon.png) center no-repeat;
    height: 18px;
    width: 18px;
    display: inline-block;
    background-size: cover; }
  .add-cash-icon.desk-head {
    position: absolute;
    top: 3px;
    right: -12px;
    cursor: pointer; }
  .header-menu-icon.promotions {
    background: url(/fantasy_sports/app/assets/images/promotions-icon.png) no-repeat;
    height: 18px;
    width: 18px;
    background-size: cover;
    position: absolute;
    left: -6px;
    top: 0; }
  .tours-container {
    border: 2px solid #b5b2b9;
    background: #fff;
    border-radius: 5px;
    padding: 10px 0;
    margin-top: 5px;
    height: 83px; }
  .tour-select-wrapper .cstm-tour-select {
    padding: 8px 20px 8px 10px;
    border: 1px solid #b7b2b9;
    position: relative;
    background: #ededed;
    border-radius: 4px;
    width: 80%;
    margin: auto;
    cursor: pointer; }
    .tour-select-wrapper .cstm-tour-select #selectedTour {
      float: left;
      font-size: 16px;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .tour-select-wrapper .cstm-tour-select .fa.fa-caret-down {
      float: right;
      position: absolute;
      right: 8px;
      top: 8px; }
    .tour-select-wrapper .cstm-tour-select.open + .tour-list ul li {
      height: 36px;
      -webkit-transition: height 0.4s ease;
      transition: height 0.4s ease;
      border-bottom: 1px solid #b7b2b9; }
  .tour-select-wrapper .tour-list {
    -webkit-transition: height 0.4s ease;
    transition: height 0.4s ease;
    border: 1px solid #b7b2b9;
    border-top: 0;
    border-bottom: 0;
    position: absolute;
    width: 100%;
    z-index: 10; }
    .tour-select-wrapper .tour-list ul {
      background: #fff; }
      .tour-select-wrapper .tour-list ul li {
        height: 0;
        overflow: hidden;
        -webkit-transition: height 0.5s ease;
        transition: height 0.5s ease; }
        .tour-select-wrapper .tour-list ul li a {
          display: block;
          padding: 0 10px;
          color: #333;
          clear: both; }
          .tour-select-wrapper .tour-list ul li a .tour-name {
            width: 72%;
            float: left;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            line-height: 36px;
            font-size: 16px; }
          .tour-select-wrapper .tour-list ul li a .tour-start-time {
            float: right;
            line-height: 40px;
            font-size: 12px;
            width: 25%;
            float: right;
            text-align: right; }
        .tour-select-wrapper .tour-list ul li.active {
          background: #e5e5e5;
          color: #fff; }
  .card {
    background-color: #fff;
    border: 1px double #ccc;
    border-radius: 3px;
    padding: 10px;
    margin: 4.15% 0;
    height: 135px;
    color: #666;
    font-family: "CalibriRegular"; }
  .card.league .league-title {
    color: #09283d;
    font-weight: bold; }
  .card.league .entry-fee {
    color: #09283d;
    font-size: 14px;
    font-weight: bold; }
  .card.league .teams-joined {
    font-size: 14px;
    color: #09283d; }
  .card.league .entry-fee span .fa.fa-rupee {
    font-size: 12px; }
  .league-types .confirmed,
  .league-types .multi-entry {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #09283d;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    color: #09283d;
    font-size: 16px;
    background: #9dbdde;
    margin: 0 2px;
    cursor: pointer;
    position: relative; }
  .league-types .multi-entry {
    background: #c6d791; }
  .league-types [data-tooltip]:hover:before {
    width: 220px;
    left: -100px;
    z-index: 1;
    top: 5px; }
  .tour-select {
    font-family: "CalibriRegular"; }
  .tour-select select {
    font-size: 18px;
    padding: 4px; }
  .cstm-progress {
    background-color: #D6D6D6;
    background-image: none;
    box-shadow: none;
    display: inline-block;
    height: 3px;
    border-radius: 15px;
    margin: 5px 0; }
  .cstm-progress .progress-bar {
    width: 0;
    height: 100%;
    -webkit-transition: 0.5s ease all;
    transition: 0.5s ease all;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px; }
  .progress-bar-success {
    background-color: #09283d;
    background-image: none;
    font-size: 14px; }
  .league-winners {
    cursor: pointer; }
    .league-winners:hover {
      text-decoration: underline; }
  .league-winners .fa.fa-trophy {
    font-size: 16px;
    color: #ed583a;
    text-align: center; }
  .matches-list .match {
    border: 1px solid transparent;
    border-radius: 0;
    padding: 0 5px;
    border-right: 1px solid #b5b2b9; }
    .matches-list .match .match-teams {
      width: 50%;
      float: left;
      text-align: center;
      padding-top: 10px;
      position: relative; }
    .matches-list .match .match-details {
      width: 50%;
      float: left;
      text-align: center;
      padding: 10px 0 0 0; }
      .matches-list .match .match-details .join-league,
      .matches-list .match .match-details .view-points {
        cursor: pointer; }
        .matches-list .match .match-details .join-league:hover,
        .matches-list .match .match-details .view-points:hover {
          text-decoration: underline; }
    .matches-list .match .team-flag img {
      height: 18px;
      width: 28px;
      margin: auto; }
    .matches-list .match:last-child {
      border-right: 1px solid transparent; }
  .matches-list .match:hover,
  .matches-list .match.active {
    background: #dedede; }
  .matches-carousel {
    padding-right: 30px;
    padding-left: 30px;
    overflow: hidden;
    height: 70px; }
    .matches-carousel ul[rn-carousel] {
      height: 74px; }
    .matches-carousel .slick-prev::before,
    .matches-carousel .slick-next::before {
      content: '' !important; }
    .matches-carousel .slick-prev {
      background: url(/fantasy_sports/app/assets/images/arrow-icon-left.png) center no-repeat !important; }
    .matches-carousel .slick-next {
      background: url(/fantasy_sports/app/assets/images/arrow-icon-right.png) center no-repeat !important; }
    .matches-carousel .slick-prev, .matches-carousel .slick-next {
      background-size: cover !important;
      -webkit-transition: 0.25s ease all;
      transition: 0.25s ease all; }
    .matches-carousel .slick-prev.slick-disabled,
    .matches-carousel .slick-next.slick-disabled {
      opacity: 0.25; }
  .no-matches-error {
    text-align: center;
    font-size: 20px;
    color: #fe9805; }
  .no-leagues-error {
    text-align: center;
    font-size: 20px;
    color: #fe9805;
    width: 58%;
    margin: 10px 1%;
    background: #fff;
    padding: 1%;
    border-radius: 4px;
    float: left; }
  .no-joinleague-error {
    text-align: center;
    font-size: 20px;
    color: #fe9805;
    width: 100%;
    background: #fff;
    padding: 1%;
    border-radius: 4px;
    float: left; }
  .cricket-ground-wrapper {
    float: left;
    width: 40%;
    height: 492px;
    margin: 10px 0 0 0;
    border: 2px solid #b5b2b9;
    border-radius: 4px;
    background: #fff; }
  .arrow-icon {
    background: url(/fantasy_sports/app/assets/images/arrow-icon.png) center no-repeat;
    width: 20px;
    height: 20px;
    background-size: cover;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
  .tabs-wrapper {
    width: 60%;
    float: left;
    padding: 0 10px; }
    .tabs-wrapper li {
      width: 49%;
      margin: 10px 0;
      float: left;
      padding: 4px;
      text-align: center;
      font-size: 18px;
      background: #fff;
      border-radius: 4px;
      cursor: pointer;
      font-size: 18px;
      color: #000; }
      .tabs-wrapper li:hover, .tabs-wrapper li.active {
        background: #ed583a;
        color: #fff; }
      .tabs-wrapper li:first-child {
        margin-right: 1%; }
      .tabs-wrapper li:last-child {
        margin-left: 1%; }
  .content-container.mobile {
    padding-top: 55px; }
  .mob-match-tabs {
    background: #fff;
    height: 42px;
    border-top: 1px solid #b5b2b9;
    border-bottom: 1px solid #b5b2b9; }
    .mob-match-tabs li {
      width: 33.334%;
      float: left;
      padding: 9px 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 16px;
      border-right: 1px solid #b5b2b9; }
      .mob-match-tabs li:last-child {
        border: 0; }
      .mob-match-tabs li.active {
        background: #ed583a;
        color: #fff; }
  .mob-league {
    width: 90%;
    margin: 10px auto;
    border: 1px solid #b5b2b9;
    border-radius: 4px;
    background: #fff; }
  .accordion-wrapper {
    width: 97%;
    margin: auto; }
    .accordion-wrapper .panel-body {
      padding: 0 !important; }
    .accordion-wrapper .joined-leagues-list {
      max-height: 420px;
      overflow: auto; }
      .accordion-wrapper .joined-leagues-list li {
        padding: 6px 5px;
        border-bottom: 1px solid #dedede; }
        .accordion-wrapper .joined-leagues-list li:nth-child(odd) {
          background: #fff; }
        .accordion-wrapper .joined-leagues-list li:nth-child(even) {
          background: #f4f4f4; }
        .accordion-wrapper .joined-leagues-list li.active {
          background: #b5bec5; }
    .accordion-wrapper .panel .arrow-icon {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); }
    .accordion-wrapper .panel.panel-open .arrow-icon {
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg); }
    .accordion-wrapper .panel-heading {
      padding: 0 !important; }
    .accordion-wrapper .accordion-head {
      padding: 5px 0; }
      .accordion-wrapper .accordion-head > div {
        padding: 10px;
        border-right: 1px solid #b5b2b9;
        height: 46px; }
        .accordion-wrapper .accordion-head > div:last-child {
          border-right: 0;
          border-left: 1px solid #b5b2b9; }
  .joined-leagues-list .winning-amount {
    position: absolute;
    right: -25px;
    font-weight: bold;
    color: #996515; }
  .panel-heading a,
  .panel-heading a:hover {
    text-decoration: none;
    color: initial; }
  .col-xs-15,
  .col-sm-15,
  .col-md-15,
  .col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px; }
  .col-xs-15 {
    width: 20% !important;
    float: left !important; } }

@media screen and (min-device-width: 1025px) and (min-width: 768px) {
  .col-sm-15 {
    width: 20% !important;
    float: left !important; } }

@media screen and (min-device-width: 1025px) and (min-width: 992px) {
  .col-md-15 {
    width: 20% !important;
    float: left !important; } }

@media screen and (min-device-width: 1025px) and (min-width: 1200px) {
  .col-lg-15 {
    width: 20% !important;
    float: left !important; } }

@media screen and (min-device-width: 1025px) {
  .slick-slider {
    margin-bottom: 0 !important; }
  .my-team-tabs {
    padding: 8px 15px;
    border-bottom: 1px solid #bbb; }
    .my-team-tabs ul li {
      float: left;
      border-right: 1px solid #bbb;
      padding: 4px 10px;
      line-height: normal;
      cursor: pointer;
      border-bottom: 4px solid transparent; }
      .my-team-tabs ul li.active {
        border-bottom: 4px solid #ed583a; }
      .my-team-tabs ul li:last-child {
        border-right: 0; }
  .my-team-status {
    line-height: normal;
    border: 2px solid #b5b2b9;
    width: 95%;
    margin: 10px auto;
    border-radius: 6px;
    padding: 5px;
    background: #ededed; }
  .league-cric-ground {
    background: url(/fantasy_sports/app/assets/images/sports/cricket/cricket-ground.png) top center no-repeat;
    height: 280px;
    background-size: contain;
    margin: 45px 0 10px;
    position: relative; }
    .league-cric-ground .player {
      position: absolute;
      background: url("/fantasy_sports/app/assets/images/sports/cricket/placeholder.png") no-repeat;
      background-size: cover;
      width: 50px; }
    .league-cric-ground .player.bonus .plyr-details {
      background: #d35400;
      color: #fff; }
    .league-cric-ground .player.sel-cap::before {
      content: '';
      height: 20px;
      width: 20px;
      position: absolute;
      bottom: 2px;
      left: -8px;
      top: initial;
      right: initial;
      background: url(/fantasy_sports/app/assets/images/sports/cricket/c-vc-icon.png) no-repeat;
      background-position: 0px 0px;
      background-size: cover;
      z-index: 11; }
    .league-cric-ground .player.sel-v-cap::before {
      content: '';
      height: 20px;
      width: 20px;
      position: absolute;
      top: initial;
      right: initial;
      bottom: 0;
      left: -8px;
      background: url(/fantasy_sports/app/assets/images/sports/cricket/c-vc-icon.png) no-repeat;
      background-position: -22px 0px;
      background-size: cover;
      z-index: 11; }
    .league-cric-ground .wk1, .league-cric-ground .wk2 {
      background-position: 0 -85px !important;
      height: 36px; }
      .league-cric-ground .wk1 .plyr-details, .league-cric-ground .wk2 .plyr-details {
        top: 36px;
        left: -12px; }
    .league-cric-ground .bt1, .league-cric-ground .bt2, .league-cric-ground .bt3, .league-cric-ground .bt4, .league-cric-ground .bt5, .league-cric-ground .bt6 {
      background-position: 0 -225px !important;
      height: 55px; }
      .league-cric-ground .bt1.sel-cap:before, .league-cric-ground .bt1.sel-v-cap:before, .league-cric-ground .bt2.sel-cap:before, .league-cric-ground .bt2.sel-v-cap:before, .league-cric-ground .bt3.sel-cap:before, .league-cric-ground .bt3.sel-v-cap:before, .league-cric-ground .bt4.sel-cap:before, .league-cric-ground .bt4.sel-v-cap:before, .league-cric-ground .bt5.sel-cap:before, .league-cric-ground .bt5.sel-v-cap:before, .league-cric-ground .bt6.sel-cap:before, .league-cric-ground .bt6.sel-v-cap:before {
        left: 0; }
      .league-cric-ground .bt1 .plyr-details, .league-cric-ground .bt2 .plyr-details, .league-cric-ground .bt3 .plyr-details, .league-cric-ground .bt4 .plyr-details, .league-cric-ground .bt5 .plyr-details, .league-cric-ground .bt6 .plyr-details {
        top: 55px;
        left: -4px; }
    .league-cric-ground .alrdr1, .league-cric-ground .alrdr2, .league-cric-ground .alrdr3, .league-cric-ground .alrdr4 {
      background-position: 0 -144px !important;
      height: 60px; }
      .league-cric-ground .alrdr1 .plyr-details, .league-cric-ground .alrdr2 .plyr-details, .league-cric-ground .alrdr3 .plyr-details, .league-cric-ground .alrdr4 .plyr-details {
        top: 60px;
        left: -14px; }
    .league-cric-ground .bw1, .league-cric-ground .bw2, .league-cric-ground .bw3, .league-cric-ground .bw4, .league-cric-ground .bw5, .league-cric-ground .bw6 {
      background-position: 0 top !important;
      height: 60px; }
      .league-cric-ground .bw1 .plyr-details, .league-cric-ground .bw2 .plyr-details, .league-cric-ground .bw3 .plyr-details, .league-cric-ground .bw4 .plyr-details, .league-cric-ground .bw5 .plyr-details, .league-cric-ground .bw6 .plyr-details {
        top: 60px;
        left: -14px; }
    .league-cric-ground .wk1 {
      top: -11%;
      left: 50%; }
    .league-cric-ground .wk2 {
      top: -4%;
      left: 65%; }
    .league-cric-ground .bt1 {
      top: 8%;
      left: 51%; }
    .league-cric-ground .bt2 {
      top: 10%;
      left: 34%; }
    .league-cric-ground .bt3 {
      top: 16%;
      left: 66%; }
    .league-cric-ground .bt4 {
      top: -15%;
      left: 31%; }
    .league-cric-ground .bt5 {
      top: -1%;
      left: 77%; }
    .league-cric-ground .bt6 {
      top: -7%;
      left: 20%; }
    .league-cric-ground .alrdr1 {
      top: 18%;
      left: 21%; }
    .league-cric-ground .alrdr2 {
      top: 25%;
      left: 80%; }
    .league-cric-ground .alrdr3 {
      top: 11%;
      left: 9%; }
    .league-cric-ground .alrdr4 {
      top: 42%;
      left: 70%; }
    .league-cric-ground .bw1 {
      top: 34%;
      left: 44%; }
    .league-cric-ground .bw2 {
      top: 52%;
      left: 32%; }
    .league-cric-ground .bw3 {
      top: 62%;
      left: 46%; }
    .league-cric-ground .bw4 {
      top: 46%;
      left: 16%; }
    .league-cric-ground .bw5 {
      top: 54%;
      left: 60%; }
    .league-cric-ground .bw6 {
      top: 44%;
      left: 69%; }
    .league-cric-ground .plyr-details {
      position: absolute;
      background: #f1c40f;
      color: #000;
      padding: 2px;
      line-height: normal;
      white-space: nowrap;
      min-width: 75px;
      text-align: center;
      font-size: 11px;
      z-index: 10; }
  .abandoned-icon {
    background: url(../assets/images/abandoned-icon.png) center no-repeat;
    height: 32px;
    width: 32px;
    position: absolute;
    top: 2px;
    left: 32px;
    background-size: contain; }
  .scorecard-link {
    cursor: pointer; }
    .scorecard-link:hover {
      text-decoration: underline; }
  .refresh-btn {
    color: #ed583a;
    font-weight: bold;
    text-decoration: underline;
    font-size: 16px;
    float: right;
    margin: 20px 25px 0 0;
    outline: none; }
    .refresh-btn:hover, .refresh-btn:active, .refresh-btn:visited, .refresh-btn:focus {
      color: #ed583a;
      text-decoration: underline; }
  .edit-link {
    position: relative; }
    .edit-link::before {
      content: '';
      background: url(../assets/images/icon-edit.png) center no-repeat;
      height: 16px;
      width: 16px;
      position: absolute;
      top: 0;
      right: -18px;
      background-size: contain; }
  .l-title:hover {
    text-decoration: underline; }
  .pagination {
    color: #337ab7;
    font-size: 16px;
    padding: 5px; }
    .pagination span {
      font-weight: bold;
      cursor: pointer; }
      .pagination span:hover {
        text-decoration: underline; }
  /****************************************
STATE RULE i.e. Media Queries, element state like disabled, active 
PLATFORM: DESKTOP Only

****************************************/
  .selected-squad.league-cric-ground {
    height: 365px; }
  .selected-squad {
    background-size: contain;
    position: relative; }
  .select-team-container {
    margin-top: 25px; }
  .sel-squad-wrapper {
    background: #ffffff;
    border-radius: 15px; }
  .selected-squad.league-cric-ground {
    background: url(/fantasy_sports/app/assets/images/sports/cricket/cricket-ground.png) top center no-repeat;
    background-size: contain;
    margin: 45px 0 10px;
    position: relative; }
    .selected-squad.league-cric-ground .player {
      position: absolute;
      background: url("/fantasy_sports/app/assets/images/sports/cricket/placeholder.png") no-repeat;
      background-size: cover;
      width: 50px; }
    .selected-squad.league-cric-ground .player .plyr-details.bonus {
      background: #d35400;
      color: #fff; }
    .selected-squad.league-cric-ground .player.sel-cap::before {
      content: '';
      height: 20px;
      width: 20px;
      position: absolute;
      bottom: 2px;
      left: -8px;
      top: initial;
      right: initial;
      background: url(/fantasy_sports/app/assets/images/sports/cricket/c-vc-icon.png) no-repeat;
      background-position: 0px 0px;
      background-size: cover;
      z-index: 11; }
    .selected-squad.league-cric-ground .player.sel-v-cap::before {
      content: '';
      height: 20px;
      width: 20px;
      position: absolute;
      top: initial;
      right: initial;
      bottom: 0;
      left: -8px;
      background: url(/fantasy_sports/app/assets/images/sports/cricket/c-vc-icon.png) no-repeat;
      background-position: -22px 0px;
      background-size: cover;
      z-index: 11; }
    .selected-squad.league-cric-ground .wk1, .selected-squad.league-cric-ground .wk2 {
      background-position: 0 -83px !important;
      height: 43px; }
      .selected-squad.league-cric-ground .wk1 .plyr-details, .selected-squad.league-cric-ground .wk2 .plyr-details {
        top: 36px;
        left: -12px; }
    .selected-squad.league-cric-ground .bt1, .selected-squad.league-cric-ground .bt2, .selected-squad.league-cric-ground .bt3, .selected-squad.league-cric-ground .bt4, .selected-squad.league-cric-ground .bt5, .selected-squad.league-cric-ground .bt6 {
      background-position: 0 -224px !important;
      height: 60px; }
      .selected-squad.league-cric-ground .bt1.sel-cap:before, .selected-squad.league-cric-ground .bt1.sel-v-cap:before, .selected-squad.league-cric-ground .bt2.sel-cap:before, .selected-squad.league-cric-ground .bt2.sel-v-cap:before, .selected-squad.league-cric-ground .bt3.sel-cap:before, .selected-squad.league-cric-ground .bt3.sel-v-cap:before, .selected-squad.league-cric-ground .bt4.sel-cap:before, .selected-squad.league-cric-ground .bt4.sel-v-cap:before, .selected-squad.league-cric-ground .bt5.sel-cap:before, .selected-squad.league-cric-ground .bt5.sel-v-cap:before, .selected-squad.league-cric-ground .bt6.sel-cap:before, .selected-squad.league-cric-ground .bt6.sel-v-cap:before {
        left: 0; }
      .selected-squad.league-cric-ground .bt1 .plyr-details, .selected-squad.league-cric-ground .bt2 .plyr-details, .selected-squad.league-cric-ground .bt3 .plyr-details, .selected-squad.league-cric-ground .bt4 .plyr-details, .selected-squad.league-cric-ground .bt5 .plyr-details, .selected-squad.league-cric-ground .bt6 .plyr-details {
        top: 55px;
        left: -4px; }
    .selected-squad.league-cric-ground .alrdr1, .selected-squad.league-cric-ground .alrdr2, .selected-squad.league-cric-ground .alrdr3, .selected-squad.league-cric-ground .alrdr4 {
      background-position: 0 -144px !important;
      height: 60px; }
      .selected-squad.league-cric-ground .alrdr1 .plyr-details, .selected-squad.league-cric-ground .alrdr2 .plyr-details, .selected-squad.league-cric-ground .alrdr3 .plyr-details, .selected-squad.league-cric-ground .alrdr4 .plyr-details {
        top: 60px;
        left: -14px; }
    .selected-squad.league-cric-ground .bw1, .selected-squad.league-cric-ground .bw2, .selected-squad.league-cric-ground .bw3, .selected-squad.league-cric-ground .bw4, .selected-squad.league-cric-ground .bw5, .selected-squad.league-cric-ground .bw6 {
      background-position: 0 top !important;
      height: 60px; }
      .selected-squad.league-cric-ground .bw1 .plyr-details, .selected-squad.league-cric-ground .bw2 .plyr-details, .selected-squad.league-cric-ground .bw3 .plyr-details, .selected-squad.league-cric-ground .bw4 .plyr-details, .selected-squad.league-cric-ground .bw5 .plyr-details, .selected-squad.league-cric-ground .bw6 .plyr-details {
        top: 60px;
        left: -14px; }
    .selected-squad.league-cric-ground .wk1 {
      top: -11%;
      left: 50%; }
    .selected-squad.league-cric-ground .wk2 {
      top: -4%;
      left: 65%; }
    .selected-squad.league-cric-ground .bt1 {
      top: 8%;
      left: 51%; }
    .selected-squad.league-cric-ground .bt2 {
      top: 10%;
      left: 34%; }
    .selected-squad.league-cric-ground .bt3 {
      top: 16%;
      left: 66%; }
    .selected-squad.league-cric-ground .bt4 {
      top: -12%;
      left: 31%; }
    .selected-squad.league-cric-ground .bt5 {
      top: -1%;
      left: 77%; }
    .selected-squad.league-cric-ground .bt6 {
      top: -3%;
      left: 17%; }
    .selected-squad.league-cric-ground .alrdr1 {
      top: 18%;
      left: 21%; }
    .selected-squad.league-cric-ground .alrdr2 {
      top: 25%;
      left: 80%; }
    .selected-squad.league-cric-ground .alrdr3 {
      top: 15%;
      left: 6%; }
    .selected-squad.league-cric-ground .alrdr4 {
      top: 42%;
      left: 68%; }
    .selected-squad.league-cric-ground .bw1 {
      top: 34%;
      left: 44%; }
    .selected-squad.league-cric-ground .bw2 {
      top: 52%;
      left: 26%; }
    .selected-squad.league-cric-ground .bw3 {
      top: 62%;
      left: 42%; }
    .selected-squad.league-cric-ground .bw4 {
      top: 46%;
      left: 11%; }
    .selected-squad.league-cric-ground .bw5 {
      top: 54%;
      left: 58%; }
    .selected-squad.league-cric-ground .bw6 {
      top: 48%;
      left: 80%; }
    .selected-squad.league-cric-ground .plyr-details {
      position: absolute;
      background: #f1c40f;
      color: #000;
      padding: 2px;
      line-height: normal;
      white-space: nowrap;
      min-width: 75px;
      text-align: center;
      font-size: 11px;
      z-index: 10; }
  /*
.cricket-ground .player {
position: absolute;
background: url('../assets/images/sports/cricket/placeholder.png') no-repeat;
background-size: 90%;
width: 60px;
}

.player.sel-cap::before{
content: '';
height: 25px;
width: 25px;
position: absolute;
top: -5px;
right: 0px;
background: url(../assets/images/sports/cricket/c-vc-icon.png) no-repeat;
background-position: 0px 0px;
background-size: cover;
}

.player.sel-v-cap::before{
content: '';
height: 25px;
width: 25px;
position: absolute;
top: -5px;
right: 0px;
background: url(../assets/images/sports/cricket/c-vc-icon.png) no-repeat;
background-position: -28px 0px;
background-size: cover;
}

.wk1, .wk2 {
height: 56px;
}

.bt1, .bt2, .bt3, .bt4, .bt5, .bt6 {
height: 76px;
}

.alrdr1, .alrdr2, .alrdr3, .alrdr4 {
height: 84px;
} 

.bw1, .bw2, .bw3, .bw4, .bw5, .bw6 {
height: 80px;
}

.wk1 {
background-position: 0 -85px !important;
top: -10px;
left: 225px;
}

.wk2 {
background-position: 0 -85px !important;
top: 10px;
left: 315px;
}

.bt1 {
background-position: 0 -240px !important;
top: -5px;
left: 115px;
}

.bt2 {
background-position: 0 -240px !important;
top: 40px;
left: 40px;
}

.bt3 {
background-position: 0 -240px !important;
top: 55px;
left: 215px;
}

.bt4 {
background-position: 0 -240px !important;
top: 80px;
left: 285px;
}

.bt5 {
background-position: 0 -240px !important;
top: 40px;
left: 350px;
}


.bt6 {
background-position: 0 -240px !important;
top: 90px;
left: 390px;
}


.alrdr1 {
background-position: 0 -150px !important;
top: 90px;
left: 120px;
}

.alrdr2 {
background-position: 0 -150px !important;
top: 150px;
left: 245px;
}

.alrdr3 {
background-position: 0 -150px !important;
top: 130px;
left: 335px;
}

.alrdr4 {
background-position: 0 -150px !important;
top: 180px;
left: 380px;
}


.bw1 {
background-position: 0 top !important;
top: 155px;
left: 20px;
}

.bw2 {
background-position: 0 top !important;
top: 205px;
left: 70px;
}

.bw3 {
background-position: 0 top !important;
top: 125px;
left: 175px;
}

.bw4 {
background-position: 0 top !important;
top: 240px;
left: 145px;
}

.bw5 {
background-position: 0 top !important;
top: 255px;
left: 230px;
}

.bw6 {
background-position: 0 top !important;
top: 225px;
left: 320px;
}


.wk1 .plyr-details, .wk2 .plyr-details{
position: absolute;
top: 48px;
}

.bt1 .plyr-details, .bt2 .plyr-details, .bt3 .plyr-details, .bt4 .plyr-details, .bt5 .plyr-details, .bt6 .plyr-details{
position: absolute;
top: 65px;
}

.alrdr1 .plyr-details, .alrdr2 .plyr-details, .alrdr3 .plyr-details, .alrdr4 .plyr-details {
position: absolute;
top: 75px;
}

.bw1 .plyr-details, .bw2 .plyr-details, .bw3 .plyr-details, .bw4 .plyr-details, .bw5 .plyr-details, .bw6 .plyr-details{
position: absolute;
top: 70px;
}

.cricket-ground .plyr-details {
background: yellow;
color: #000;
}

.cricket-ground .bonus {
background: orange;
color: #fff;
}
*/
  .selected-squad .plyr-details .plyr-name, .selected-squad .plyr-details .plyr-credits {
    min-width: 65px;
    width: 65px;
    font-size: 11px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 2px; }
  .plyr-sel-table {
    display: table;
    width: 100%;
    border-collapse: collapse; }
  .sel-tab-heading {
    font-weight: 600;
    display: table-row;
    background: #b1afaf;
    text-align: center; }
  .plyr-list-scrl {
    max-height: 275px;
    overflow-y: auto;
    height: 275px;
    background: #ffffff; }
  .sel-tab-heading .plyr-info, .sel-tab-heading .plyr-name, .sel-tab-heading .plyr-team-name, .sel-tab-heading .plyr-pnts-scrd, .sel-tab-heading .plyr-crdts, .sel-tab-heading .plyr-sel-action {
    text-align: center;
    vertical-align: center;
    display: table-cell;
    padding: 5px; }
  .plyr-list-scrl .plyr-sel-table .plyr-info, .plyr-list-scrl .plyr-sel-table .plyr-name, .plyr-list-scrl .plyr-sel-table .plyr-team-name, .plyr-list-scrl .plyr-sel-table .plyr-pnts-scrd, .plyr-list-scrl .plyr-sel-table .plyr-crdts, .plyr-list-scrl .plyr-sel-table .plyr-sel-action {
    text-align: center;
    vertical-align: center;
    display: table-cell;
    padding: 10px 0px; }
  .plyr-sel-table .plyr-item {
    display: table-row;
    border-bottom: 1px solid grey; }
  .plyr-sel-table .plyr-item.selected {
    background: #d5d5d5; }
  .plyr-sel-table .plyr-item.selected.bonus {
    background: #ffa500; }
  .sel-tab-heading .plyr-info {
    width: 10%; }
  .plyr-sel-table .plyr-item .plyr-info {
    width: 28px; }
  .plyr-list-scrl .plyr-info {
    background-image: url("/fantasy_sports/app/assets/images/kit-icon.png");
    background-repeat: no-repeat; }
  .bt-icon {
    background-position: -55px 0px;
    background-size: cover; }
  .bw-icon {
    background-position: -108px 0px;
    background-size: cover; }
  .alrdr-icon {
    background-position: 0px 0px;
    background-size: cover; }
  .wk-icon {
    background-position: -158px 0px;
    background-size: cover; }
  .plyr-sel-table .plyr-item .plyr-name {
    width: 100px;
    font-size: 14px; }
  .sel-tab-heading .plyr-name {
    width: 22%;
    font-size: 14px; }
  .sel-tab-heading .plyr-team-name {
    width: 23%; }
  .plyr-sel-table .plyr-item .plyr-team-name {
    width: 70px; }
  .sel-tab-heading .plyr-pnts-scrd {
    width: 70px; }
  .plyr-sel-table .plyr-item .plyr-pnts-scrd {
    width: 18%; }
  .sel-tab-heading .plyr-crdts {
    width: 20%; }
  .plyr-sel-table .plyr-item .plyr-crdts {
    width: 80px; }
  .sel-tab-heading .plyr-sel-action {
    width: 7%; }
  .plyr-sel-table .plyr-item .plyr-sel-action {
    width: 60px; }
  .sel-tab-message {
    padding: 5px 20px;
    font-size: 14px;
    font-weight: 600; }
  .plyr-sel-table .plyr-item .plyr-sel-action {
    background-image: url("/fantasy_sports/app/assets/images/bt-icon.png");
    background-repeat: no-repeat;
    width: 17px; }
  .add-icon {
    background-position: -25px 5px; }
  .del-icon {
    background-position: -53px 5px; }
  .count-bubble {
    position: absolute;
    top: 15px;
    margin-left: 5px;
    font-size: 16px;
    /* vertical-align: middle; */
    border-radius: 20px;
    height: 20px;
    width: 20px;
    text-align: center;
    background: green; }
  .teamCount {
    text-align: left;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 600;
    display: inline-block; }
  .team-sel-info {
    padding: 15px 10px; }
  .sel-info-table {
    background: #fff;
    border-radius: 7px; }
  .sel-tbl-info-heading {
    background: #09283d;
    font-weight: 800;
    color: #ffffff;
    font-size: 14px;
    padding: 7px;
    border-radius: 7px 7px 0px 0px; }
  .sel-tbl-info {
    color: #000000;
    font-size: 12px;
    padding: 7px 0px; }
  .sel-tbl-info .col-md-2,
  sel-tbl-info-heading .col-md-2 {
    text-align: center; }
  .player-options-container {
    border: 2px solid grey; }
  .match-container {
    border: 2px solid #b5b2b9;
    background: #fff;
    border-radius: 5px;
    padding: 15px 0;
    margin-top: 10px;
    height: 70px;
    width: 250px; }
    .match-container .match-teams {
      padding: 0;
      text-align: center; }
    .match-container .match-details {
      padding: 0px; }
  .match-container .match .team-flag img {
    height: 18px;
    width: 28px;
    display: block;
    margin: auto; }
  .sel-rem-info {
    padding: 5px 0px; }
  .sel-credits span, .plyr-rem-info span {
    padding: 0px 4px;
    color: #000000;
    background: #e4e2df; }
  .sel-credits .sel-credits-left, .plyr-rem-info .plyr-info-left {
    border-radius: 3px 0px 0px 3px;
    border: 1px solid grey; }
  .sel-credits .sel-credits-rght, .plyr-rem-info .plyr-info-rght {
    border-radius: 0px 3px 3px 0px;
    border: 1px solid grey; }
  .clr-team-btn {
    position: absolute;
    bottom: -5px;
    right: -5px;
    background: #a33434;
    color: #fff; }
  .clr-team-btn.active {
    opacity: 1; }
  .clr-team-btn.unactive {
    opacity: 0.5; }
  .save-team-buttons {
    padding: 15px 10px; }
  /*.cap-vice-cap-sel-container{
width: 100%;
background: #b5b2b9;
z-index: 999;
position: absolute;
top: 0;
height: 100%;
left: 0;
}*/
  /*.player-container{
border: 2px solid #b5b2b9;
background: #fff;
border-radius: 5px;
padding: 10px 0;
margin-top: 5px;
height: 83px;
}*/
  .player-select-wrapper {
    margin: 20px 0px;
    position: relative; }
    .player-select-wrapper .cstm-player-select {
      padding: 4px 15px;
      border: 1px solid #b7b2b9;
      position: relative;
      background: #ededed;
      border-radius: 4px;
      width: 90%;
      margin: auto;
      cursor: pointer; }
      .player-select-wrapper .cstm-player-select #sel-captain {
        float: left;
        font-size: 18px;
        width: 100%; }
      .player-select-wrapper .cstm-player-select #sel-player {
        float: left;
        font-size: 18px;
        width: 100%; }
      .player-select-wrapper .cstm-player-select #sel-vice-captain {
        float: left;
        font-size: 18px;
        width: 100%; }
      .player-select-wrapper .cstm-player-select .fa.fa-caret-down {
        float: right; }
      .player-select-wrapper .cstm-player-select.open .arrow-icon {
        -webkit-transform: rotate(270deg);
                transform: rotate(270deg); }
      .player-select-wrapper .cstm-player-select.open + .selected-player-list {
        -webkit-transition: height 0.2s ease;
        transition: height 0.2s ease;
        max-height: 156px;
        height: 156px;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0); }
    .player-select-wrapper .selected-player-list {
      -webkit-transition: height 0.4s ease;
      transition: height 0.4s ease;
      border: 1px solid #b7b2b9;
      border-top: 0;
      border-bottom: 0;
      position: absolute;
      width: 90%;
      z-index: 10;
      left: 5%;
      overflow-y: auto;
      overflow-x: hidden;
      height: 0; }
      .player-select-wrapper .selected-player-list ul {
        background: #fff; }
        .player-select-wrapper .selected-player-list ul li {
          overflow: hidden;
          -webkit-transition: height 0.5s ease;
          transition: height 0.5s ease;
          height: 52px;
          padding: 4px 15px;
          border-bottom: 1px solid #b7b2b9; }
          .player-select-wrapper .selected-player-list ul li a {
            display: block;
            line-height: 36px;
            padding: 0 15px;
            font-size: 16px;
            color: #333; }
            .player-select-wrapper .selected-player-list ul li a.selected {
              background: #b7b2b9;
              color: #fff; }
  .cstm-player-select .cap-role, .selected-player-list .player-role, .cstm-player-select .vcap-role {
    height: 35px;
    border-right: 1px grey solid; }
  .cap-role, .player-role, .vcap-role {
    width: 45px; }
  .cap-role.alrdr-icon, .player-role.alrdr-icon, .vcap-role.alrdr-icon {
    background-image: url("/fantasy_sports/app/assets/images/kit-icon.png");
    background-repeat: no-repeat;
    background-position: -2px 0px;
    background-size: cover; }
  .cap-role.bt-icon, .player-role.bt-icon, .vcap-role.bt-icon {
    background-image: url("/fantasy_sports/app/assets/images/kit-icon.png");
    background-repeat: no-repeat;
    background-position: -50px 0px;
    background-size: cover; }
  .cap-role.bw-icon, .player-role.bw-icon, .vcap-role.bw-icon {
    background-image: url("/fantasy_sports/app/assets/images/kit-icon.png");
    background-repeat: no-repeat;
    background-position: -95px 0px;
    background-size: cover; }
  .cap-role.wk-icon, .player-role.wk-icon, .vcap-role.wk-icon {
    background-image: url("/fantasy_sports/app/assets/images/kit-icon.png");
    background-repeat: no-repeat;
    background-position: -140px 0px;
    background-size: cover; }
  .cap-details .cap-detail-item, .player-details .player-detail-item, .vcap-details .vcap-detail-item {
    padding: 2px 3px;
    border-right: 1px solid grey; }
  .cap-details .cap-detail-item:last-child, .player-details .player-detail-item:last-child, .vcap-details .vcap-detail-item:last-child {
    border: none; }
  .cap .arrow-icon, .vcap .arrow-icon {
    position: absolute;
    top: 12px;
    right: 10px; }
  .sel-count {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px; }
  .player-options-container .nav > li > a {
    padding: 5px;
    text-align: center;
    border-radius: 0px;
    cursor: pointer;
    color: #000000;
    background: #ffffff;
    border: 1px solid grey; }
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background: #ff4c2b;
    color: #ffffff; }
  .d-sel-err {
    padding: 20px;
    background: #f48e89;
    border-radius: 5px;
    height: 60px;
    margin: 5px; }
  .err-close-btn {
    position: absolute;
    top: 20px;
    right: 5px; }
  .show-c-vc {
    background-color: #09283d;
    color: #fff; }
  .show-c-vc.active {
    opacity: 1; }
  .show-c-vs:hover {
    opacity: 1; }
  .show-c-vc.unactive {
    opacity: 0.5;
    cursor: default; }
  .save-team-btn {
    background: #ffa500;
    color: #ffffff; }
  .save-team-btn.active {
    opacity: 1; }
  .save-team-btn.unactive {
    opacity: 0.5;
    cursor: default; }
  .capVcapErr {
    height: 20px;
    color: red;
    text-align: left;
    padding-left: 25px;
    font-size: 16px; }
  .promotion-container {
    height: 100%; }
  .promtion-list {
    width: 100%;
    overflow-y: auto; }
  .promotion-wrapper {
    width: 49%;
    height: 45%;
    display: inline-block;
    padding: 2.5% 1.5% 0% 1.5%;
    float: left; }
  .promotion {
    display: inline-block;
    height: 100%;
    background: #ffffff;
    border-radius: 10px; }
  .promotion-image img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    border-radius: 10px 10px 0px 0px; }
  .promotion-text {
    padding: 2px;
    overflow: hidden;
    height: 60px;
    overflow-y: auto;
    text-overflow: ellipsis; }
  .promo-details {
    background: #eb5736;
    background: -webkit-linear-gradient(top, #eb7762 0%, #eb5736 100%);
    background: linear-gradient(to bottom, #eb7762 0%, #eb5736 100%);
    color: #fff;
    border: 1px solid #bdbdbd;
    padding: 1.5% 8%;
    border-radius: 5px;
    display: block;
    font-size: 0.9rem;
    cursor: pointer;
    text-transform: uppercase;
    margin: 10px auto;
    /*&:hover {
        background: linear-gradient(to bottom, #151414 0%, #4c4b4b 100%);
    }*/ }
  .promotion-slider {
    width: 26px;
    float: right;
    padding: 15px 0;
    height: calc(100% - 30px);
    background: #656565 url("../assets/images/desktop/arrow-icon.png") center no-repeat;
    background-size: 80%;
    border-radius: 0px 5px 5px 0px;
    pointer-events: none; }
    .promotion-slider:hover {
      background: #404040 url("../assets/images/desktop/arrow-icon.png") center no-repeat;
      background-size: 80%; }
  .prom-open .promotion-slider {
    pointer-events: auto; }
  .prom-open {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition: .7s;
    transition: .7s; }
  .promotion-details {
    position: absolute;
    top: 9%;
    left: 15%;
    height: 420px;
    width: 63%;
    z-index: 102;
    border-radius: 5px;
    background: #ffffff; }
  .promotions-bg {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100; }
  .promo-details-popup {
    background: #dedede;
    word-break: break-all;
    border: none;
    height: 100%;
    width: 100%;
    overflow: hidden; }
  .promo-details-header {
    border-radius: 5px; }
  .popup-bg {
    background: rgba(0, 0, 0, 0.5);
    z-index: 99999; }
  .title-popup-desk {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 34px; }
  .modal-close {
    cursor: pointer;
    color: #ffffff;
    font-size: 24px;
    outline: none;
    position: absolute;
    right: 12px;
    top: -1px; } }

/*# sourceMappingURL=desktop.css.map */
