/****************************************

  // MOBILE CSS FILE
  // RULE SHOULD BE IMPORTED FROM MOBILE SASS FILES
  // PLATFORM : MOBILE, TAB Only

****************************************/
@media screen and (max-device-width: 1024px) {
  /****************************************

  // ALL VARIABLES SHOULD BE DEFINED HERE
  // PLATFORM : Mobile, Tab, Desktop

****************************************/
  /****************************************

// MODULE COMPONENT
// PLATFORM : MOBILE, TAB Only

****************************************/
  .content-wrapper {
    position: relative;
    min-height: 100vh;
    padding-top: 55px;
    padding-bottom: 560px; }
  .container {
    padding: 0 !important; }
  .help {
    bottom: 0;
    width: 30% !important; }
  .help.active > a, .help.active > a:hover, .help.active > a:focus {
    background-color: #eee !important;
    background: #eee !important;
    color: gray !important;
    text-decoration: underline;
    padding: 5px 0;
    border: none !important;
    visibility: collapse; }
  .mob-toast-error {
    color: #fff;
    bottom: 80px;
    margin: 0 3%;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.9);
    z-index: 101;
    width: 94%;
    padding: 10px 15px;
    line-height: normal;
    display: none;
    position: fixed; }
    .mob-toast-error h3 {
      font-size: 20px;
      text-transform: uppercase; }
    .mob-toast-error p {
      font-size: 18px; }
  button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3); }
  .header {
    background: #051f30;
    height: 56px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    text-align: center; }
  .header-container {
    width: 100%; }
  .header-logo {
    margin: auto;
    float: initial !important;
    display: inline-block; }
    .header-logo .navbar-brand {
      width: 140px;
      padding: 0;
      display: block;
      float: initial !important; }
  .mob-header-title {
    color: #fff;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    line-height: 55px;
    display: inline-block; }
    .mob-header-title:hover, .mob-header-title:focus, .mob-header-title:active, .mob-header-title:visited {
      color: #fff;
      outline: none;
      outline-offset: 0; }
  .menu-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    display: block;
    cursor: pointer;
    height: 21px;
    width: 25px; }
  .menu-icon span {
    display: block;
    top: 8px;
    width: 32px;
    height: 3px;
    background-color: #fefefe;
    position: relative; }
  .menu-icon span::after, .menu-icon span::before {
    display: block;
    content: '';
    position: absolute;
    width: 32px;
    height: 3px;
    background-color: #fefefe; }
  .menu-icon span::before {
    margin-top: -8px; }
  .menu-icon span::after {
    margin-top: 8px; }
  .menu-label {
    color: #fff;
    font-size: 11px;
    position: absolute;
    left: 0;
    bottom: -15px; }
  nav.mob-menu {
    position: absolute;
    width: 80%;
    max-width: 340px;
    height: 100vh;
    background: #051f30;
    top: 55px;
    left: 0;
    cursor: pointer;
    text-align: left;
    -webkit-transition: 0.5s ease all;
    transition: 0.5s ease all;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0); }
  nav.mob-menu ul li a {
    color: #fefefe;
    font-size: 17px;
    padding: 6px 40px;
    display: inline-block;
    width: 100%;
    position: relative; }
    nav.mob-menu ul li a.active {
      background: #ed583a; }
  .menu-mask {
    opacity: 0;
    position: relative; }
  .mob-menu-wrapper {
    width: 100%; }
  .mob-menu-wrapper.open .mob-menu {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  .mob-menu-wrapper.open .menu-mask {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    top: 55px;
    opacity: 1;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    z-index: -1; }
    .mob-menu-wrapper.open .menu-mask .close-menu {
      display: block; }
  .close-menu {
    position: absolute;
    right: 6.5%;
    top: 6px;
    display: none;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease; }
  ul.footer-links li {
    float: left;
    width: 33%;
    padding: 5px;
    white-space: nowrap;
    text-align: center; }
    ul.footer-links li a {
      color: #fff;
      font-size: 14px; }
  .mob-nav-icon {
    background: url(/fantasy_sports/app/assets/images/menu-icon-sprite.png) no-repeat;
    height: 26px;
    width: 26px;
    position: absolute;
    background-size: cover;
    left: 8px;
    top: 8px; }
  .mob-nav-icon.icon-home {
    background-position: 0 0; }
  .mob-nav-icon.icon-cashier {
    background-position: 0px -41px; }
  .mob-nav-icon.icon-myprofile {
    background-position: 0px -82px; }
  .mob-nav-icon.icon-referfriend {
    background-position: 0px -126px; }
  .mob-nav-icon.icon-howtoplay {
    background-position: 0px -168px; }
  .mob-nav-icon.icon-livescore {
    background-position: 0px -210px; }
  .mob-nav-icon.icon-contactus {
    background-position: 0px -254px; }
  .mob-nav-icon.icon-logout {
    background-position: 0px -296px; }
  .mob-nav-icon.icon-changepassword {
    background-position: 0px -338px; }
  .copyright-text {
    width: 100%;
    text-align: center; }
  .payment-icons {
    padding-top: 8px;
    width: 100%; }
    .payment-icons img {
      margin: auto; }
  .footer-wrapper {
    background: #09283d;
    position: absolute;
    bottom: 0;
    width: 100%; }
    .footer-wrapper .footer-icon-wrapper {
      background: #fff;
      height: 1px;
      margin: 45px auto 25px auto;
      width: 100%;
      position: relative; }
      .footer-wrapper .footer-icon-wrapper .footer-icon {
        background: #09283d url(/fantasy_sports/app/assets/images/footer-cric-icon.png) top center no-repeat;
        height: 40px;
        width: 100px;
        margin-left: -50px;
        background-size: contain;
        position: absolute;
        left: 50%;
        top: -25px; }
  .footer-copyright {
    color: #fff;
    padding: 15px; }
  .footer-logo {
    display: none; }
  .footer-text {
    margin-top: 15px; }
    .footer-text p {
      color: #fff;
      font-size: 13px;
      text-align: center;
      padding: 5px 5%; }
  .social-media-wrapper {
    margin: auto;
    text-align: center; }
    .social-media-wrapper h3 {
      color: #fff;
      font-size: 16px;
      text-decoration: underline;
      padding: 5px; }
  ul.social-media {
    display: inline-block; }
    ul.social-media li {
      float: left;
      padding: 0; }
      ul.social-media li a {
        display: inline-block;
        margin: 2px 4px;
        -webkit-transition: 0.25s ease all;
        transition: 0.25s ease all; }
        ul.social-media li a:hover {
          -webkit-transform: scale(1.1);
                  transform: scale(1.1);
          -webkit-transition: 0.25s ease all;
          transition: 0.25s ease all; }
  .social-icons {
    background: url(/fantasy_sports/app/assets/images/social-media-icon.png) no-repeat;
    height: 40px;
    width: 40px;
    background-size: cover; }
    .social-icons.fb {
      background-position: 0 0; }
    .social-icons.gplus {
      background-position: 50% 0; }
    .social-icons.twitter {
      background-position: 102% 0; }
  .menu-close-icon {
    height: 30px;
    width: 30px;
    background: url(/fantasy_sports/app/assets/images/menu-close-icon.png) no-repeat;
    background-size: cover; }
  .mob-menu ul li.active {
    background: #ed583a; }
    .mob-menu ul li.active > a {
      color: #fff; }
  .plyer-accordian .panel-heading {
    background-color: #d7dce0 !important; }
  .plyer-accordian .panel-body {
    background-color: #d8d8d8;
    padding: 0 0 !important; }
  .plyer-accordian .player-ul > li {
    padding: 5px 20px; }
  .faqpos {
    padding: 0 !important; }
  .paddingtb {
    padding: 0 !important; }
  .header-wallet {
    background: url(/fantasy_sports/app/assets/images/wallet-icon.png) center no-repeat;
    height: 28px;
    width: 32px;
    display: inline-block;
    background-size: cover;
    position: absolute;
    top: 12px;
    right: 10px; }
  .tours-container {
    border: 2px solid #b5b2b9;
    background: #fff;
    border-radius: 5px;
    padding: 10px 0;
    margin-top: 5px; }
  .league-wrapper {
    width: 96%;
    margin: auto; }
  .card {
    background-color: #fff;
    border: 1px double #ccc;
    border-radius: 3px;
    padding: 10px;
    margin: 10px 0;
    color: #666;
    font-family: "CalibriRegular"; }
  .card.league .league-title {
    color: #09283d;
    font-weight: bold; }
  .card.league .entry-fee {
    color: #09283d;
    font-weight: bold; }
  span.separator {
    display: inline-block;
    width: 2px;
    background: #09283d;
    height: 20px;
    margin: 4px 10px 0; }
  .card.league .teams-joined {
    font-size: 16px;
    color: #09283d; }
  .card.league .entry-fee span .fa.fa-rupee {
    font-size: 12px; }
  .league-types .confirmed,
  .league-types .multi-entry {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #09283d;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    color: #09283d;
    font-size: 16px;
    background: #9dbdde;
    margin: 0 2px; }
  .league-types .multi-entry {
    background: #c6d791; }
  .tour-select {
    font-family: "CalibriRegular"; }
  .tour-select select {
    font-size: 18px;
    padding: 4px; }
  .cstm-progress {
    background-color: #D6D6D6;
    background-image: none;
    box-shadow: none;
    display: inline-block;
    height: 3px;
    border-radius: 15px;
    margin: 5px 0; }
  .cstm-progress .progress-bar {
    width: 0;
    height: 100%;
    -webkit-transition: 0.5s ease all;
    transition: 0.5s ease all;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px; }
  .progress-bar-success {
    background-color: #09283d;
    background-image: none;
    font-size: 14px; }
  .league-winners .fa.fa-trophy {
    line-height: 26px;
    font-size: 16px;
    border-radius: 50%;
    color: #ed583a;
    text-align: center; }
  .matches-list .match {
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 0 5px; }
  .matches-list .match:hover {
    border: 1px solid #bbb; }
  .no-matches-error {
    text-align: center;
    font-size: 20px;
    color: #fe9805; }
  .no-leagues-error {
    text-align: center;
    font-size: 20px;
    color: #fe9805;
    width: 96%;
    margin: 2% 2%;
    background: #fff;
    padding: 1%;
    border-radius: 4px; }
  .cricket-ground-wrapper {
    float: left;
    width: 40%;
    margin: 10px 0;
    border: 2px solid #b5b2b9;
    border-radius: 4px;
    background: #fff; }
  .cricket-ground {
    background: url(/fantasy_sports/app/assets/images/sports/cricket/cricket-ground.png) center no-repeat;
    height: 438px;
    background-size: 90%;
    margin: 20px 0; }
  .arrow-icon {
    background: url(/fantasy_sports/app/assets/images/arrow-icon.png) center no-repeat;
    width: 20px;
    height: 20px;
    background-size: cover;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
  .content-container.mobile {
    padding-top: 55px; }
  .mob-head-wrapper {
    height: 140px;
    background: #09273f;
    padding: 10px 15px; }
  .user-details {
    padding: 6px 0; }
    .user-details ul li {
      float: left;
      width: 50%;
      line-height: normal; }
  .wallet-icon {
    background: url(/fantasy_sports/app/assets/images/wallet-icon.png) center no-repeat;
    height: 18px;
    width: 22px;
    display: inline-block;
    background-size: cover; }
  .add-cash-icon {
    background: url(/fantasy_sports/app/assets/images/add-cash-icon.png) center no-repeat;
    height: 16px;
    width: 16px;
    display: inline-block;
    background-size: cover; }
  .mob-banner {
    height: 80px;
    margin: auto; }
    .mob-banner img {
      width: 100%;
      display: block;
      height: 80px; }
  .mob-match-tabs {
    background: #fff;
    height: 42px;
    border-top: 1px solid #b5b2b9;
    border-bottom: 1px solid #b5b2b9; }
    .mob-match-tabs li {
      width: 33.334%;
      float: left;
      padding: 9px 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 16px;
      border-right: 1px solid #b5b2b9; }
      .mob-match-tabs li:last-child {
        border: 0; }
      .mob-match-tabs li.active {
        background: #ed583a;
        color: #fff; }
  .mob-league {
    width: 96%;
    margin: 10px auto;
    border: 1px solid #b5b2b9;
    border-radius: 4px;
    background: #fff;
    padding: 6px;
    position: relative; }
  .accordion-wrapper {
    width: 94%;
    margin: auto; }
  .panel-heading a,
  .panel-heading a:hover {
    text-decoration: none; }
  .tour-select-wrapper .cstm-tour-select {
    padding: 8px 15px;
    border-bottom: 1px solid #b7b2b9; }
    .tour-select-wrapper .cstm-tour-select label {
      float: left;
      margin: 0;
      font-size: 16px; }
    .tour-select-wrapper .cstm-tour-select #selectedTour {
      float: right;
      font-weight: bold;
      font-size: 16px; }
    .tour-select-wrapper .cstm-tour-select.open + .tour-list ul li {
      height: 36px;
      -webkit-transition: height 0.4s ease;
      transition: height 0.4s ease;
      border-bottom: 1px solid #b7b2b9; }
  .tour-select-wrapper .tour-list {
    -webkit-transition: height 0.4s ease;
    transition: height 0.4s ease;
    position: absolute;
    width: 100%;
    z-index: 10; }
    .tour-select-wrapper .tour-list ul {
      background: #fff; }
      .tour-select-wrapper .tour-list ul li {
        height: 0;
        overflow: hidden;
        -webkit-transition: height 0.5s ease;
        transition: height 0.5s ease; }
        .tour-select-wrapper .tour-list ul li a {
          display: block;
          line-height: 36px;
          padding: 0 15px;
          font-size: 16px;
          color: #333;
          font-weight: bold;
          text-decoration: none; }
          .tour-select-wrapper .tour-list ul li a:hover {
            text-decoration: none; }
        .tour-select-wrapper .tour-list ul li.active {
          background: #e5e5e5;
          color: #fff; }
  .league-btm-tabs {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    z-index: 11; }
    .league-btm-tabs ul {
      background: #09283d;
      border-top: 1px solid #203344;
      height: 100%; }
      .league-btm-tabs ul li {
        float: left;
        position: relative;
        width: 50%;
        color: #fff;
        border-right: 1px solid #203344;
        text-align: center;
        font-size: 18px;
        line-height: 50px;
        text-transform: uppercase; }
        .league-btm-tabs ul li:last-child {
          border: 0; }
        .league-btm-tabs ul li span.count {
          height: 22px;
          width: 22px;
          border-radius: 50%;
          background: #fff;
          display: inline-block;
          color: #09283d;
          line-height: 22px;
          font-weight: bold; }
  .team-flag {
    width: 30px;
    height: 18px;
    display: inline-block; }
    .team-flag img {
      max-width: 100%; }
  .verify-tabs {
    position: relative; }
    .verify-tabs .nav-tabs > li {
      width: 33.333% !important;
      text-align: center;
      font-size: 12px; }
    .verify-tabs .nav-tabs > li > a {
      padding: 10px 0px; }
  .match-selected-wrapper {
    background: #09283d;
    padding: 10px 0; }
    .match-selected-wrapper .match-details {
      background: #fff;
      width: 90%;
      margin: auto;
      border-radius: 4px;
      border: 1px solid #bbb;
      padding: 5px;
      font-size: 1.2rem; }
    .match-selected-wrapper .teams {
      float: left;
      color: #09283d;
      font-weight: bold; }
    .match-selected-wrapper .match-status {
      float: right;
      font-weight: bold; }
      .match-selected-wrapper .match-status.active span.label {
        color: #bbb; }
      .match-selected-wrapper .match-status.progress {
        color: #ed583a; }
      .match-selected-wrapper .match-status.closed {
        color: #186f39; }
  .league-head {
    padding: 5px 10px;
    border-bottom: 1px solid #aeaeae; }
  .league-info-box {
    width: 96%;
    margin: auto;
    background: #fff;
    margin-top: 10px;
    border: 1px solid #aeaeae; }
  .league-info-box .brd-btm {
    border-bottom: 1px solid #aeaeae; }
  .league-team-list {
    margin: 15px 0; }
    .league-team-list ul li {
      width: 96%;
      margin: 10px auto;
      background: #fff;
      padding: 5px 15px;
      border-bottom: 1px solid #aeaeae; }
      .league-team-list ul li > div {
        padding: 0; }
      .league-team-list ul li .team-name,
      .league-team-list ul li .team-id {
        font-size: 16px; }
      .league-team-list ul li .team-points {
        font-size: 14px;
        color: #09283d; }
      .league-team-list ul li .winning-amount {
        font-size: 14px;
        color: #09283d;
        margin: 0 10px; }
      .league-team-list ul li .team-rank {
        float: right;
        font-size: 20px;
        font-weight: bold;
        color: #09283d; }
      .league-team-list ul li.my-team {
        background: #09283d; }
        .league-team-list ul li.my-team .team-rank,
        .league-team-list ul li.my-team .team-points,
        .league-team-list ul li.my-team .team-name,
        .league-team-list ul li.my-team .winning-amount {
          color: #fff; }
  label.select-team {
    font-size: 16px;
    width: 100%;
    padding: 8px 10px;
    color: #09283d;
    border-bottom: 1px solid #717171; }
  .my-teams-list ul li {
    border-bottom: 1px solid #717171;
    padding: 5px 10px;
    position: relative; }
    .my-teams-list ul li:before {
      content: '';
      height: 32px;
      width: 24px;
      position: absolute;
      right: 10px;
      background: url(/fantasy_sports/app/assets/images/arrow-icon-right.png);
      background-size: cover;
      background-repeat: no-repeat;
      top: 11px; }
  .team-preview-wrapper {
    background: #d5d5d5;
    position: absolute;
    width: 100%;
    height: calc(100% - 110px);
    top: 110px;
    z-index: 10; }
  .team-scores-wrapper {
    background: #d5d5d5;
    position: absolute;
    width: 100%;
    height: calc(100% - 110px);
    top: 110px;
    z-index: 10; }
  .switch-team-wrapper {
    background: #d5d5d5;
    position: absolute;
    width: 100%;
    height: calc(100% - 110px);
    top: 110px;
    z-index: 101; }
  .league-cric-ground {
    background: url(/fantasy_sports/app/assets/images/sports/cricket/cricket-ground.png) top center no-repeat;
    height: 280px;
    background-size: contain;
    margin: 45px 0 10px;
    position: relative; }
    .league-cric-ground .player {
      position: absolute;
      background-size: cover;
      width: 50px; }
    .league-cric-ground .player.bonus .plyr-details {
      background: #d35400;
      color: #fff; }
    .league-cric-ground .player.sel-cap::before {
      content: '';
      height: 20px;
      width: 20px;
      position: absolute;
      bottom: 2px;
      left: -8px;
      top: initial;
      right: initial;
      background: url(/fantasy_sports/app/assets/images/sports/cricket/c-vc-icon.png) no-repeat;
      background-position: 0px 0px;
      background-size: cover;
      z-index: 11; }
    .league-cric-ground .player.sel-v-cap::before {
      content: '';
      height: 20px;
      width: 20px;
      position: absolute;
      top: initial;
      right: initial;
      bottom: 0;
      left: -8px;
      background: url(/fantasy_sports/app/assets/images/sports/cricket/c-vc-icon.png) no-repeat;
      background-position: -22px 0px;
      background-size: cover;
      z-index: 11; }
    .league-cric-ground .wk1, .league-cric-ground .wk2 {
      background-position: 0 -85px !important;
      height: 36px; }
      .league-cric-ground .wk1 .plyr-details, .league-cric-ground .wk2 .plyr-details {
        top: 36px;
        left: -12px; }
    .league-cric-ground .bt1, .league-cric-ground .bt2, .league-cric-ground .bt3, .league-cric-ground .bt4, .league-cric-ground .bt5, .league-cric-ground .bt6 {
      background-position: 0 -225px !important;
      height: 55px; }
      .league-cric-ground .bt1.sel-cap:before, .league-cric-ground .bt1.sel-v-cap:before, .league-cric-ground .bt2.sel-cap:before, .league-cric-ground .bt2.sel-v-cap:before, .league-cric-ground .bt3.sel-cap:before, .league-cric-ground .bt3.sel-v-cap:before, .league-cric-ground .bt4.sel-cap:before, .league-cric-ground .bt4.sel-v-cap:before, .league-cric-ground .bt5.sel-cap:before, .league-cric-ground .bt5.sel-v-cap:before, .league-cric-ground .bt6.sel-cap:before, .league-cric-ground .bt6.sel-v-cap:before {
        left: 0; }
      .league-cric-ground .bt1 .plyr-details, .league-cric-ground .bt2 .plyr-details, .league-cric-ground .bt3 .plyr-details, .league-cric-ground .bt4 .plyr-details, .league-cric-ground .bt5 .plyr-details, .league-cric-ground .bt6 .plyr-details {
        top: 55px;
        left: -4px; }
    .league-cric-ground .alrdr1, .league-cric-ground .alrdr2, .league-cric-ground .alrdr3, .league-cric-ground .alrdr4 {
      background-position: 0 -144px !important;
      height: 60px; }
      .league-cric-ground .alrdr1 .plyr-details, .league-cric-ground .alrdr2 .plyr-details, .league-cric-ground .alrdr3 .plyr-details, .league-cric-ground .alrdr4 .plyr-details {
        top: 60px;
        left: -14px; }
    .league-cric-ground .bw1, .league-cric-ground .bw2, .league-cric-ground .bw3, .league-cric-ground .bw4, .league-cric-ground .bw5, .league-cric-ground .bw6 {
      background-position: 0 top !important;
      height: 60px; }
      .league-cric-ground .bw1 .plyr-details, .league-cric-ground .bw2 .plyr-details, .league-cric-ground .bw3 .plyr-details, .league-cric-ground .bw4 .plyr-details, .league-cric-ground .bw5 .plyr-details, .league-cric-ground .bw6 .plyr-details {
        top: 60px;
        left: -14px; }
    .league-cric-ground .wk1 {
      top: -11%;
      left: 50%; }
    .league-cric-ground .wk2 {
      top: -4%;
      left: 65%; }
    .league-cric-ground .bt1 {
      top: 8%;
      left: 51%; }
    .league-cric-ground .bt2 {
      top: 10%;
      left: 34%; }
    .league-cric-ground .bt3 {
      top: 16%;
      left: 66%; }
    .league-cric-ground .bt4 {
      top: -15%;
      left: 31%; }
    .league-cric-ground .bt5 {
      top: -1%;
      left: 77%; }
    .league-cric-ground .bt6 {
      top: -7%;
      left: 20%; }
    .league-cric-ground .alrdr1 {
      top: 18%;
      left: 21%; }
    .league-cric-ground .alrdr2 {
      top: 25%;
      left: 80%; }
    .league-cric-ground .alrdr3 {
      top: 11%;
      left: 9%; }
    .league-cric-ground .alrdr4 {
      top: 42%;
      left: 70%; }
    .league-cric-ground .bw1 {
      top: 34%;
      left: 44%; }
    .league-cric-ground .bw2 {
      top: 52%;
      left: 32%; }
    .league-cric-ground .bw3 {
      top: 62%;
      left: 46%; }
    .league-cric-ground .bw4 {
      top: 46%;
      left: 16%; }
    .league-cric-ground .bw5 {
      top: 54%;
      left: 60%; }
    .league-cric-ground .bw6 {
      top: 44%;
      left: 69%; }
    .league-cric-ground .plyr-details {
      position: absolute;
      background: #f1c40f;
      color: #000;
      padding: 2px;
      line-height: normal;
      white-space: nowrap;
      min-width: 75px;
      text-align: center;
      font-size: 11px;
      z-index: 10; }
  .close-preview {
    position: absolute;
    right: 10px;
    top: 5px; }
  .team-info {
    border-bottom: 1px solid #bbb;
    background: #d7dce0; }
  .team-btm-tabs {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    z-index: 11; }
    .team-btm-tabs ul {
      background: #09283d;
      border-top: 1px solid #203344;
      height: 100%; }
      .team-btm-tabs ul li {
        float: left;
        position: relative;
        width: 50%;
        color: #fff;
        border-right: 1px solid #203344;
        text-align: center;
        font-size: 18px;
        line-height: 50px;
        text-transform: uppercase; }
        .team-btm-tabs ul li:last-child {
          border: 0; }
        .team-btm-tabs ul li span.count {
          height: 22px;
          width: 22px;
          border-radius: 50%;
          background: #fff;
          display: inline-block;
          color: #09283d;
          line-height: 22px;
          font-weight: bold; }
  .browse-btm-tabs {
    bottom: 0;
    width: 100%;
    height: 50px;
    z-index: 11; }
    .browse-btm-tabs ul {
      background: #09283d;
      border-top: 1px solid #203344;
      height: 100%; }
      .browse-btm-tabs ul li {
        float: left;
        position: relative;
        width: 33.334%;
        color: #fff;
        border-right: 1px solid #203344;
        text-align: center;
        font-size: 18px;
        line-height: 50px;
        text-transform: uppercase; }
        .browse-btm-tabs ul li button {
          background: none;
          border: 0; }
        .browse-btm-tabs ul li:last-child {
          border: 0; }
  .switch-team-btm-tabs {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    z-index: 11; }
    .switch-team-btm-tabs ul {
      background: #09283d;
      border-top: 1px solid #203344;
      height: 100%; }
      .switch-team-btm-tabs ul li {
        float: left;
        position: relative;
        width: 100%;
        color: #fff;
        text-align: center;
        font-size: 18px;
        line-height: 50px; }
        .switch-team-btm-tabs ul li:last-child {
          border: 0; }
  .team-switch-dropdown {
    text-align: center;
    margin: 25px 0; }
    .team-switch-dropdown select {
      font-size: 18px;
      padding: 5px 15px;
      outline: none;
      width: 50%;
      margin: 15px auto;
      -moz-text-align-last: center;
           text-align-last: center;
      display: block; }
  .switch-team-count {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fff;
    display: inline-block;
    color: #09283d;
    line-height: 16px;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid #aeaeae;
    text-align: center; }
  .abandoned-icon {
    background: url(/fantasy_sports/app/assets/images/abandoned-icon.png) center no-repeat;
    height: 26px;
    width: 26px;
    position: absolute;
    top: 36%;
    left: 50%;
    background-size: contain;
    margin-left: -13px; }
  .add-team {
    text-align: center;
    margin: 15px 0; }
  .scorecard-link {
    height: 16px;
    width: 16px;
    display: inline-block; }
  .icon-scorecard {
    background: url(/fantasy_sports/app/assets/images/icon-scorecard.png) center no-repeat;
    height: 22px;
    width: 22px;
    position: absolute;
    top: 0;
    right: 0;
    background-size: contain; }
  /****************************************
STATE RULE i.e. Media Queries, element state like disabled, active 
PLATFORM: MOBILE, TAB

****************************************/ }

@media screen and (max-device-width: 1024px) and (min-device-width: 375px) and (max-device-width: 767px) and (orientation: landscape) {
  .info_portraitMod {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10001;
    background: #050102;
    overflow: hidden;
    background: white url("../assets/images/sports/cricket/portrait.png") no-repeat center;
    background-size: 60%; } }

@media screen and (max-device-width: 1024px) and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .info_portraitMod {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10001;
    background: #050102;
    overflow: hidden;
    background: white url("../assets/images/sports/cricket/portrait.png") no-repeat center;
    background-size: 75%; } }

@media screen and (max-device-width: 1024px) {
  .selected-squad.league-cric-ground {
    background: url(/fantasy_sports/app/assets/images/sports/cricket/cricket-ground.png) top center no-repeat;
    background-size: contain;
    margin: 45px 0 10px;
    position: relative; }
    .selected-squad.league-cric-ground .player {
      position: absolute;
      background-size: cover;
      width: 50px; }
    .selected-squad.league-cric-ground .player .plyr-details.bonus {
      background: #d35400;
      color: #fff; }
    .selected-squad.league-cric-ground .player.sel-cap::before {
      content: '';
      height: 20px;
      width: 20px;
      position: absolute;
      bottom: 2px;
      left: -8px;
      top: initial;
      right: initial;
      background: url(/fantasy_sports/app/assets/images/sports/cricket/c-vc-icon.png) no-repeat;
      background-position: 0px 0px;
      background-size: cover;
      z-index: 11; }
    .selected-squad.league-cric-ground .player.sel-v-cap::before {
      content: '';
      height: 20px;
      width: 20px;
      position: absolute;
      top: initial;
      right: initial;
      bottom: 0;
      left: -8px;
      background: url(/fantasy_sports/app/assets/images/sports/cricket/c-vc-icon.png) no-repeat;
      background-position: -22px 0px;
      background-size: cover;
      z-index: 11; }
    .selected-squad.league-cric-ground .wk1, .selected-squad.league-cric-ground .wk2 {
      background-position: 0 -83px !important;
      height: 43px; }
      .selected-squad.league-cric-ground .wk1 .plyr-details, .selected-squad.league-cric-ground .wk2 .plyr-details {
        top: 36px;
        left: -12px; }
    .selected-squad.league-cric-ground .bt1, .selected-squad.league-cric-ground .bt2, .selected-squad.league-cric-ground .bt3, .selected-squad.league-cric-ground .bt4, .selected-squad.league-cric-ground .bt5, .selected-squad.league-cric-ground .bt6 {
      background-position: 0 -224px !important;
      height: 60px; }
      .selected-squad.league-cric-ground .bt1.sel-cap:before, .selected-squad.league-cric-ground .bt1.sel-v-cap:before, .selected-squad.league-cric-ground .bt2.sel-cap:before, .selected-squad.league-cric-ground .bt2.sel-v-cap:before, .selected-squad.league-cric-ground .bt3.sel-cap:before, .selected-squad.league-cric-ground .bt3.sel-v-cap:before, .selected-squad.league-cric-ground .bt4.sel-cap:before, .selected-squad.league-cric-ground .bt4.sel-v-cap:before, .selected-squad.league-cric-ground .bt5.sel-cap:before, .selected-squad.league-cric-ground .bt5.sel-v-cap:before, .selected-squad.league-cric-ground .bt6.sel-cap:before, .selected-squad.league-cric-ground .bt6.sel-v-cap:before {
        left: 0; }
      .selected-squad.league-cric-ground .bt1 .plyr-details, .selected-squad.league-cric-ground .bt2 .plyr-details, .selected-squad.league-cric-ground .bt3 .plyr-details, .selected-squad.league-cric-ground .bt4 .plyr-details, .selected-squad.league-cric-ground .bt5 .plyr-details, .selected-squad.league-cric-ground .bt6 .plyr-details {
        top: 55px;
        left: -4px; }
    .selected-squad.league-cric-ground .alrdr1, .selected-squad.league-cric-ground .alrdr2, .selected-squad.league-cric-ground .alrdr3, .selected-squad.league-cric-ground .alrdr4 {
      background-position: 0 -144px !important;
      height: 60px; }
      .selected-squad.league-cric-ground .alrdr1 .plyr-details, .selected-squad.league-cric-ground .alrdr2 .plyr-details, .selected-squad.league-cric-ground .alrdr3 .plyr-details, .selected-squad.league-cric-ground .alrdr4 .plyr-details {
        top: 60px;
        left: -14px; }
    .selected-squad.league-cric-ground .bw1, .selected-squad.league-cric-ground .bw2, .selected-squad.league-cric-ground .bw3, .selected-squad.league-cric-ground .bw4, .selected-squad.league-cric-ground .bw5, .selected-squad.league-cric-ground .bw6 {
      background-position: 0 top !important;
      height: 60px; }
      .selected-squad.league-cric-ground .bw1 .plyr-details, .selected-squad.league-cric-ground .bw2 .plyr-details, .selected-squad.league-cric-ground .bw3 .plyr-details, .selected-squad.league-cric-ground .bw4 .plyr-details, .selected-squad.league-cric-ground .bw5 .plyr-details, .selected-squad.league-cric-ground .bw6 .plyr-details {
        top: 60px;
        left: -14px; }
    .selected-squad.league-cric-ground .wk1 {
      top: -11%;
      left: 50%; }
    .selected-squad.league-cric-ground .wk2 {
      top: -4%;
      left: 65%; }
    .selected-squad.league-cric-ground .bt1 {
      top: 8%;
      left: 51%; }
    .selected-squad.league-cric-ground .bt2 {
      top: 10%;
      left: 34%; }
    .selected-squad.league-cric-ground .bt3 {
      top: 16%;
      left: 66%; }
    .selected-squad.league-cric-ground .bt4 {
      top: -12%;
      left: 31%; }
    .selected-squad.league-cric-ground .bt5 {
      top: -1%;
      left: 77%; }
    .selected-squad.league-cric-ground .bt6 {
      top: -3%;
      left: 17%; }
    .selected-squad.league-cric-ground .alrdr1 {
      top: 18%;
      left: 21%; }
    .selected-squad.league-cric-ground .alrdr2 {
      top: 25%;
      left: 80%; }
    .selected-squad.league-cric-ground .alrdr3 {
      top: 15%;
      left: 6%; }
    .selected-squad.league-cric-ground .alrdr4 {
      top: 42%;
      left: 68%; }
    .selected-squad.league-cric-ground .bw1 {
      top: 34%;
      left: 44%; }
    .selected-squad.league-cric-ground .bw2 {
      top: 52%;
      left: 26%; }
    .selected-squad.league-cric-ground .bw3 {
      top: 62%;
      left: 42%; }
    .selected-squad.league-cric-ground .bw4 {
      top: 46%;
      left: 11%; }
    .selected-squad.league-cric-ground .bw5 {
      top: 54%;
      left: 58%; }
    .selected-squad.league-cric-ground .bw6 {
      top: 48%;
      left: 80%; }
    .selected-squad.league-cric-ground .plyr-details {
      position: absolute;
      background: #f1c40f;
      color: #000;
      padding: 2px;
      line-height: normal;
      white-space: nowrap;
      min-width: 75px;
      text-align: center;
      font-size: 11px;
      z-index: 10; }
  /*
.wk1, .wk2 {
    height: 40px;
}

.bt1, .bt2, .bt3, .bt4, .bt5, .bt6 {
    height: 50px;
}

.alrdr1, .alrdr2, .alrdr3, .alrdr4 {
    height: 62px;
} 

.bw1, .bw2, .bw3, .bw4, .bw5, .bw6 {
    height: 55px;
}

.wk1 {
    background-position: 0 -50px !important;
    top: 210px;
    left: 155px;
}

.wk2 {
    background-position: 0 -50px !important;
    top: 215px;
    left: 240px;
}

.bt1 {
    background-position: 0 -160px !important;
    top: 230px;
    left: 95px;
}

.bt2 {
    background-position: 0 -160px !important;
    top: 255px;
    left: 45px;
}

.bt3 {
    background-position: 0 -160px !important;
    top: 260px;
    left: 180px;
}

.bt4 {
    background-position: 0 -160px !important;
    top: 280px;
    left: 250px;
}

.bt5 {
    background-position: 0 -160px !important;
    top: 245px;
    left: 285px;
}


.bt6 {
    background-position: 0 -160px !important;
    top: 290px;
    left: 320px;
}


.alrdr1 {
    background-position: 0 -90px !important;
    top: 270px;
    left: 110px;
}

.alrdr2 {
    background-position: 0 -90px !important;
    top: 315px;
    left: 200px;
}

.alrdr3 {
    background-position: 0 -90px !important;
    top: 335px;
    left: 245px;
}

.alrdr4 {
    background-position: 0 -90px !important;
    top: 335px;
    left: 300px;
}


.bw1 {
    background-position: 0 top !important;
    top: 340px;
    left: 25px;
}

.bw2 {
    background-position: 0 top !important;
    top: 380px;
    left: 70px;
}

.bw3 {
    background-position: 0 top !important;
    top: 310px;
    left: 150px;
}

.bw4 {
    background-position: 0 top !important;
    top: 390px;
    left: 145px;
}

.bw5 {
    background-position: 0 top !important;
    top: 380px;
    left: 205px;
}

.bw6 {
    background-position: 0 top !important;
    top: 390px;
    left: 270px;
}


.wk1 .plyr-details, .wk2 .plyr-details{
    position: absolute;
    top: 38px;
    left: -12px;
}

.bt1 .plyr-details, .bt2 .plyr-details, .bt3 .plyr-details, .bt4 .plyr-details, .bt5 .plyr-details, .bt6 .plyr-details{
    position: absolute;
    top: 44px;
    left : -12px;
}

.alrdr1 .plyr-details, .alrdr2 .plyr-details, .alrdr3 .plyr-details{
    position: absolute;
    top: 58px;
    left: -12px;
}

.bw1 .plyr-details, .bw2 .plyr-details, .bw3 .plyr-details, .bw4 .plyr-details, .bw5 .plyr-details, .bw6 .plyr-details{
    position: absolute;
    top: 45px;
    left: -12px;
}

.cricket-ground .plyr-details {
    background: yellow;
    color: #000;
}

.cricket-ground .bonus {
    background: orange;
    color: #fff;
}



.player.sel-cap::before{
    content: '';
    height: 25px;
    width: 25px;
    position: absolute;
    top: -15px;
    right: -5px;
    background: url(../assets/images/sports/cricket/c-vc-icon.png) no-repeat;
    background-position: 0px 0px;
    background-size: cover;
}

.player.sel-v-cap::before{
    content: '';
    height: 25px;
    width: 25px;
    position: absolute;
    top: -15px;
    right: -5px;
    background: url(../assets/images/sports/cricket/c-vc-icon.png) no-repeat;
    background-position: -28px 0px;
    background-size: cover;
}


.selected-squad .plyr-details .plyr-name, .selected-squad .plyr-details .plyr-credits  {
    min-width: 65px;
    width: 65px;
    font-size: 10px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 2px;
}
*/
  .plyr-list-scrl {
    min-height: 75vh;
    overflow-y: auto; }
  .plyr-list-scrl .plyr-info {
    background-image: url("/fantasy_sports/app/assets/images/kit-icon.png");
    background-repeat: no-repeat; }
  .bt-icon {
    background-position: -70px 5px; }
  .bw-icon {
    background-position: -145px 5px; }
  .alrdr-icon {
    background-position: 5px 5px; }
  .wk-icon {
    background-position: -215px 5px; }
  .sel-tab-message {
    padding: 5px 20px;
    font-size: 16px;
    border-bottom: 1px solid grey;
    background: #d9dede; }
  .teamCount {
    text-align: left;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 600;
    display: inline-block; }
  .team-sel-info {
    padding: 15px 10px; }
  .sel-info-table {
    background: #fff;
    border-radius: 7px; }
  .sel-tbl-info-heading {
    background: #09283d;
    font-weight: 800;
    color: #ffffff;
    font-size: 14px;
    padding: 7px;
    border-radius: 7px 7px 0px 0px; }
  .sel-tbl-info {
    color: #000000;
    font-size: 12px;
    padding: 7px 0px; }
  .sel-tbl-info .col-md-2,
  sel-tbl-info-heading .col-md-2 {
    text-align: center; }
  .match-container {
    border: 2px solid #b5b2b9;
    background: #fff;
    border-radius: 5px;
    padding: 15px 0;
    margin-top: 10px;
    height: 70px;
    width: 250px; }
  .match-container .match .team-flag img {
    height: 18px;
    width: 28px;
    display: block; }
  .sel-rem-info {
    padding: 5px 0px; }
  .sel-credits span, .plyr-rem-info span {
    padding: 0px 4px;
    color: #000000;
    background: #e4e2df; }
  .sel-credits .sel-credits-left, .plyr-rem-info .plyr-info-left {
    border-radius: 3px 0px 0px 3px;
    border: 1px solid grey; }
  .sel-credits .sel-credits-rght, .plyr-rem-info .plyr-info-rght {
    border-radius: 0px 3px 3px 0px;
    border: 1px solid grey; }
  .clr-team-btn {
    position: absolute;
    bottom: -5px;
    right: -5px; }
  .save-team-buttons {
    padding: 15px 10px; }
  /*.cap-vice-cap-sel-container{
width: 100%;
background: #b5b2b9;
z-index: 999;
position: absolute;
top: 0;
height: 100%;
left: 0;
}*/
  /*.player-container{
border: 2px solid #b5b2b9;
background: #fff;
border-radius: 5px;
padding: 10px 0;
margin-top: 5px;
height: 83px;
}*/
  .player-select-wrapper {
    margin: 20px 0px;
    position: relative; }
    .player-select-wrapper .cstm-player-select {
      padding: 4px 15px;
      border: 1px solid #b7b2b9;
      position: relative;
      background: #ededed;
      border-radius: 4px;
      width: 90%;
      margin: auto;
      cursor: pointer; }
      .player-select-wrapper .cstm-player-select #sel-captain {
        float: left;
        font-size: 18px;
        width: 100%; }
      .player-select-wrapper .cstm-player-select #sel-player {
        float: left;
        font-size: 18px;
        width: 100%; }
      .player-select-wrapper .cstm-player-select #sel-vice-captain {
        float: left;
        font-size: 18px;
        width: 100%; }
      .player-select-wrapper .cstm-player-select .fa.fa-caret-down {
        float: right; }
      .player-select-wrapper .cstm-player-select.open + .selected-player-list {
        -webkit-transition: height 0.2s ease;
        transition: height 0.2s ease;
        max-height: 156px;
        height: 156px;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0); }
    .player-select-wrapper .selected-player-list {
      -webkit-transition: height 0.4s ease;
      transition: height 0.4s ease;
      border: 1px solid #b7b2b9;
      border-top: 0;
      border-bottom: 0;
      position: absolute;
      width: 90%;
      z-index: 10;
      left: 5%;
      overflow-y: auto;
      overflow-x: hidden;
      height: 0; }
      .player-select-wrapper .selected-player-list ul {
        background: #fff; }
        .player-select-wrapper .selected-player-list ul li {
          overflow: hidden;
          -webkit-transition: height 0.5s ease;
          transition: height 0.5s ease;
          height: 52px;
          padding: 4px 15px;
          border-bottom: 1px solid #b7b2b9; }
          .player-select-wrapper .selected-player-list ul li a {
            display: block;
            line-height: 36px;
            padding: 0 15px;
            font-size: 16px;
            color: #333; }
            .player-select-wrapper .selected-player-list ul li a.selected {
              background: #b7b2b9;
              color: #fff; }
  .cstm-player-select .cap-role, .selected-player-list .player-role, .cstm-player-select .vcap-role {
    height: 35px;
    border-right: 1px grey solid; }
  .cap-role.alrdr-icon, .player-role.alrdr-icon, .vcap-role.alrdr-icon {
    background-image: url("/fantasy_sports/app/assets/images/kit-icon.png");
    background-repeat: no-repeat;
    background-position: -85px 5px; }
  .cap-role.bt-icon, .player-role.bt-icon, .vcap-role.bt-icon {
    background-image: url("/fantasy_sports/app/assets/images/kit-icon.png");
    background-repeat: no-repeat;
    background-position: -40px 5px; }
  .cap-role.bw-icon, .player-role.bw-icon, .vcap-role.bw-icon {
    background-image: url("/fantasy_sports/app/assets/images/kit-icon.png");
    background-repeat: no-repeat;
    background-position: -130px 5px; }
  .cap-role.wk-icon, .player-role.wk-icon, .vcap-role.wk-icon {
    background-image: url("/fantasy_sports/app/assets/images/kit-icon.png");
    background-repeat: no-repeat;
    background-position: 13px 5px; }
  .cap-details .cap-detail-item, .player-details .player-detail-item, .vcap-details .vcap-detail-item {
    padding: 2px 3px;
    border-right: 1px solid grey; }
  .cap-details .cap-detail-item:last-child, .player-details .player-detail-item:last-child, .vcap-details .vcap-detail-item:last-child {
    border: none; }
  .cap .arrow-icon, .vcap .arrow-icon {
    position: absolute;
    top: 12px;
    right: 10px; }
  .sel-count {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px; }
  .mob-player-options-container .nav > li > a {
    padding: 5px;
    text-align: center;
    border-radius: 0px;
    cursor: pointer;
    color: #000000;
    background: #ffffff;
    border: 1px solid grey; }
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background: #ff4c2b;
    color: #ffffff; }
  .m-plyr-item {
    margin: 10px;
    position: relative;
    border: 1px solid transparent; }
  .m-plyr-item.selected {
    border: 1px solid green;
    border-radius: 3px;
    background: green; }
  .m-plyr-item.selected.bonus {
    border: 1px solid orange;
    border-radius: 3px;
    background: orange; }
  .m-plyr-item.selected::before {
    content: '\f00c';
    height: 20px;
    width: 20px;
    position: absolute;
    font: normal normal normal 14px/1 FontAwesome;
    top: 5px;
    text-align: center;
    padding-top: 2px;
    color: #fff;
    right: 5px;
    border: 1px solid green;
    border-radius: 3px;
    background: green; }
  .m-plyr-item.selected.bonus::before {
    content: '';
    content: '\f00c';
    height: 20px;
    width: 20px;
    position: absolute;
    font: normal normal normal 14px/1 FontAwesome;
    top: 5px;
    text-align: center;
    padding-top: 2px;
    color: #fff;
    right: 5px;
    border: 1px solid orange;
    border-radius: 3px;
    background: orange; }
  .m-plyr-info {
    padding: 3px 10px; }
  .m-player-wrapper {
    border: 1px solid gray;
    border-radius: 3px;
    background: #f4f3f2; }
  .m-player-green-badge {
    background: #c8da8b;
    height: 15px; }
  .m-crt-team-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 11; }
  .m-team-preview {
    background: #d9dede;
    height: 60px;
    font-size: 20px;
    padding: 10px 0px; }
  .m-sel-rem-tabs {
    height: 65px;
    font-size: 16px;
    background: #002b40;
    color: #ffffff; }
  .m-sel-rem-tabs .left, .m-sel-rem-tabs .right {
    height: 100%;
    padding: 20px 0px;
    text-align: center; }
  .m-sel-rem-tabs .middle {
    text-align: center;
    margin-top: 15px; }
  .m-selection-err {
    color: #fff;
    font-size: 18px;
    bottom: 80px;
    margin: 0 auto;
    border-radius: 5px;
    background: #4c4545;
    z-index: 99;
    width: 94%;
    padding: 10px;
    text-align: center;
    display: none; }
  .m-selection-err.fadeIn {
    display: block; }
  .m-cap-vcap {
    float: right;
    line-height: 65px; }
  .team-prev-name {
    padding: 10px;
    border-bottom: 1px solid #bbb;
    background: #d7dce0; }
  .m-save-btn.unactive, .c-vc-save-btn.unactive {
    opacity: 0.7; }
  .m-save-btn.active, .c-vc-save-btn.active {
    opacity: 1; }
  .select-cap-vcap-list-item {
    border-bottom: 1px solid grey; }
  .m-selcap-plyr-role {
    background-image: url(/fantasy_sports/app/assets/images/kit-icon.png);
    background-repeat: no-repeat;
    height: 65px;
    width: 85px;
    background-size: 350%; }
  .m-cap.sel {
    background: #bd1a9c;
    font-weight: 900;
    color: #ffffff; }
  .m-v-cap.sel {
    background: #0005ff;
    font-weight: 900;
    color: #ffffff; }
  .m-selcap-plyr-name-info {
    word-wrap: break-word;
    border-left: 1px solid grey; }
  .promotion-details {
    position: absolute;
    top: 50px;
    left: 5%;
    height: 540px;
    width: 90%;
    z-index: 102;
    border-radius: 5px;
    background: #ffffff; }
  .promotions-bg {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100; }
  .promo-details-popup {
    background: #ffffff;
    word-break: break-all;
    border: none;
    height: 100%;
    width: 100%; }
  .promo-details-header {
    border-radius: 5px; }
  .popup-bg {
    background: rgba(0, 0, 0, 0.5);
    z-index: 99999; }
  .title-popup-desk {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 34px; }
  .modal-close {
    cursor: pointer;
    color: #ffffff;
    font-size: 24px;
    outline: none;
    position: absolute;
    right: 12px;
    top: -1px; }
  .promotion-details {
    position: absolute;
    top: 50px;
    left: 5%;
    height: 540px;
    width: 90%;
    z-index: 102;
    border-radius: 5px;
    background: #ffffff; }
  .promotions-bg {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100; }
  .promo-details-popup {
    background: #ffffff;
    word-break: break-all;
    border: none;
    height: 100%;
    width: 100%; }
  .promo-details-header {
    border-radius: 5px; }
  .popup-bg {
    background: rgba(0, 0, 0, 0.5);
    z-index: 99999; }
  .title-popup-desk {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 34px; }
  .modal-close {
    cursor: pointer;
    color: #ffffff;
    font-size: 24px;
    outline: none;
    position: absolute;
    right: 12px;
    top: -1px; } }

/*# sourceMappingURL=mobile.css.map */
