<!doctype html>
<html>

{{>header_assets}}
<body ng-app="fantasyCricketApp">

<div class="main-wrapper" id="mainWrapper">

{{>header}}

<div class="content-wrapper">
		
{{{body}}}

</div>
<div class="info_portraitMod"></div>
<div class="mob-toast-error"><h3></h3><p></p></div>
{{>footer}}


{{>footer_assets}}
</div>
</body>
</html>
