<div class="container1 clearfix">
  <div class="w100 algn-cntr">
    <img src="{{serverUrl}}/fantasy_sports/app/assets/images/404-img.png" class="dsp-in-blk" style="margin: 5% 0 0;" alt="">
    <h3 class="blue-color fs32" style="margin: 3% 0 2%;">THATS OUTTA HERE!</h3>
    <p class="fs16 fw-600">The page you are trying to access does not exist, but we do! </p>
    <p class="fs16 fw-600">Visit <a class="fs16 fw-600" href="{{serverUrl}}">LeagueAdda</a></p>
  </div>
</div>