<!-- <div ng-include='"/fantasy_sports/app/views/home.html"'></div> -->
{{#if is_desktop}}
<div class="" style="position:relative;" ng-controller="MainCtrl as home">
<img src="{{cdnUrl}}/assets/images/sports/cricket/banner.png" class="home-banner"><!--box-shadow: 0 0 9px #000;-->
  <div class="form-btn how-to-play-position">
      <a class="button btn-style-9 btn-wd-auto"  href="{{serverUrl}}/page/how-to-play">Learn now!</a><!--pulse animated-->
</div>

    <div class="signup-conatiner">
      <div class="signup-form">
        <!-- Social network login-->
        <p class="login-txt">Login With</p>
        <p class="social-buttons">
          <a class="fb-btn" id="fbBtn" href="auth/facebook" ng-click="home.clickAndDisable($event)">Facebook</a>
          <a class="g-btn" id="gBtn" href="auth/google" ng-click="home.clickAndDisable($event)">Google+</a>
        </p>
        <p class="or"><span>or Sign up using email id</span></p>

        <!-- SignUp form -->
        <form novalidate="novalidate" name="frmSignUp">
          <div class="txt-field" ng-class="{'has-error':frmSignUp.txtUser_Email.$invalid &amp;&amp; frmSignUp.txtUser_Email.$touched}">
            <input placeholder="Email" type="text" class="form-control ng-pristine ng-untouched ng-valid ng-valid-required" ng-model="home.userEmail" name="txtUser_Email" ng-keyup="home.userEmailMsg=''" ng-blur="home.onFieldChange('userEmail',home.userEmail)" required="">
            <span class="err-msg pos-abs" ng-bind="home.userEmailMsg"></span>
          </div>
          <div class="txt-field" ng-class="{'has-error':frmSignUp.txtUser_Password.$invalid &amp;&amp; frmSignUp.txtUser_Password.$touched}">
            <input type="password" placeholder="Password" class="form-control ng-pristine ng-untouched ng-valid ng-valid-required" ng-model="home.userPassword" name="txtUser_Password" ng-keyup="home.userPasswordMsg=''" ng-blur="home.onFieldChange('userPassword',home.userPassword)" required="">
            <span class="err-msg pos-abs" ng-bind="home.userPasswordMsg"></span>
          </div>
          <div class="txt-field">
                <div class="dob last pull-left w30">
                  <select class="form-control" id="year" ng-options="x for x in home.dobRange" ng-model="home.selectedYear" ng-change="home.changeYear()"></select>
                </div>
                <div class="dob pull-left w30" style="margin: 0 15px;">
                  <select class="form-control" id="month" ng-options="home.getKey(month) as month[home.getKey(month)] for month in home.monthName" ng-model="home.selectedMonth" ng-change="home.checkDays()"></select>
                </div>
                <div class="dob pull-right w30">
                  <select class="form-control" id="day" ng-options="x for x in home.dateRange" ng-model="home.selectedDate" ng-change="home.dayChange()"></select>
                </div>
                <span class="err-msg pos-abs dsp-block" style="margin-top:36px;" ng-bind="home.userDateMsg"></span>
          </div>
          <div class="agree">
            <div class="input-group checkbox">
                <label>
                    <input type="checkbox" checked="" ng-model="home.userTerms" class="ng-pristine ng-untouched ng-valid" style="display:none" ng-change="home.checkTNC()">
                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                </label>
                <span class="v-top dsp-in-blk">I agree to LeagueAdda <a href="/page/terms-of-use" target="_blank"><b>T&amp;C*</b></a></span>
                <span class="err-msg pos-abs dsp-block" ng-bind-html="home.userTermsMsg"></span>
            </div>
          </div>
          <div class="orange-btn clearfix" type="submit" ng-click="home.signup()">JOIN NOW</div>
        </form>
      </div>
    </div>


  <div class="content-container container">
    <section class="heading">
      <div style="margin:10px 0">
        <div class="algn-cntr fs30px fw-600">Play Cricket &amp; Win Cash Daily</div>
        <div class="algn-cntr fs30px fw-600">How to Play</div>
      </div>
      <div class="section-content">
        <div>
          <ul class="clearfix">
            <li class="col-md-3 col-sm-3 col-xs-12 col-lg-3">
              <section class="algn-cntr box-with-footer">
                <div class="step-img-bx dsp-in-blk"><img src="{{cdnUrl}}/assets/images/sports/cricket/how-to-play-step1.png"></div>
                <h3 class="bottom-heading flex-center">Select a tour &amp; a match</h3>
              </section>
            </li>
            <li class="col-md-3 col-sm-3 col-xs-12 col-lg-3">
              <section class="algn-cntr box-with-footer">
                <div class="step-img-bx dsp-in-blk"><img src="{{cdnUrl}}/assets/images/sports/cricket/how-to-play-step2.png"></div>
                <h3 class="bottom-heading flex-center">Select your best playing11</h3>
              </section>
            </li>
            <li class="col-md-3 col-sm-3 col-xs-12 col-lg-3">
              <section class="algn-cntr box-with-footer">
                <div class="step-img-bx dsp-in-blk"><img src="{{cdnUrl}}/assets/images/sports/cricket/how-to-play-step3.png"></div>
                <h3 class="bottom-heading flex-center">Join cash league &amp; compete</h3>
              </section>
            </li>

            <li class="col-md-3 col-sm-3 col-xs-12 col-lg-3">
              <section class="algn-cntr box-with-footer">
                <div class="step-img-bx dsp-in-blk"><img src="{{cdnUrl}}/assets/images/sports/cricket/how-to-play-step4.png"></div>
                <h3 class="bottom-heading flex-center">Win real cash &amp; redeem</h3>
              </section>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="testi-container heading pad-t10-b20">
      <div style="margin:10px 0">
        <div class="algn-cntr fs26px fw-600">From Fans to Fantasy Players, they all love LeagueAdda</div>
      </div>

      <slick infinite=true slides-to-show=3 slides-to-scroll=1 init-onload=true autoplay=true autoplay-speed=3000 speed=500 dots=true data="{{json testimonialList}}" prev-arrow=false next-arrow=false>
      	{{#testimonialList}}
      	<div>
      		<div class="col-md-12">
      			<div class="item item-container">
      				<div class="testimonails-box pos-rel">
      					<div class="testimonails-img"><img ng-src="{{../cdnUrl}}/assets/images/sports/cricket/{{img}}"></div>
      					<div class="testimonails-review">
      						<span>{{name}}</span>
      						<p><i></i> {{comment}} </p>
      					</div>
      				</div>
      			</div>
      		</div>
      	</div>
      	{{/testimonialList}}
      </slick>
    </section>
  </div>
</div>
{{/if}}

{{#unless is_desktop}}
<div class="m-signup" style="background-color:#EEEEEE;position:relative;" ng-controller="MainCtrl as home">

  <div class="signup-wrapper">
    <div class="signup-conatiner">
      <div class="tabs-wrapper ng-scope">
          <ul class="league-tabs clearfix" id="homeTabs">
              <li class="active" ng-click="home.showSignupLogin('REGISTER', $event);">REGISTER</li>
              <li class="" ng-click="home.showSignupLogin('LOGIN', $event);">LOGIN</li>
          </ul>
      </div>

      <!--   SIGN UP FORM  -->
      <div class="signup-form" ng-if="home.isSignup">
        <!-- Social network login-->
        <!--<p class="login-txt">Connect With</p>-->
        <div class="social-buttons">
          <a class="fb-btn" href="auth/facebook" ng-click="home.clickAndDisable($event)">Facebook</a>
          <a class="g-btn" href="auth/google" ng-click="home.clickAndDisable($event)">Google+</a>
        </div>
        <p class="or"><span>or Sign up using email id</span></p>

        <!-- SignUp form -->
        <form novalidate="novalidate" name="frmSignUp">
          <div class="txt-field" ng-class="{'has-error':frmSignUp.txtUser_Email.$invalid &amp;&amp; frmSignUp.txtUser_Email.$touched}">
            <input placeholder="Email" type="text" class="form-control ng-pristine ng-untouched ng-valid ng-valid-required" ng-model="home.userEmail" name="txtUser_Email" ng-keyup="home.userEmailMsg=''" ng-blur="home.onFieldChange('userEmail',home.userEmail)" required="">
            <span class="err-msg pos-abs" ng-bind="home.userEmailMsg"></span>
          </div>
          <div class="txt-field" ng-class="{'has-error':frmSignUp.txtUser_Password.$invalid &amp;&amp; frmSignUp.txtUser_Password.$touched}">
            <input type="password" placeholder="Password" class="form-control ng-pristine ng-untouched ng-valid ng-valid-required" ng-model="home.userPassword" name="txtUser_Password" ng-keyup="home.userPasswordMsg=''" ng-blur="home.onFieldChange('userPassword',home.userPassword)" required="">
            <span class="err-msg pos-abs" ng-bind="home.userPasswordMsg"></span>
          </div>

          <div class="txt-field">
                <div class="dob last pull-left w30">
                  <select class="form-control" id="year" ng-options="x for x in home.dobRange" ng-model="home.selectedYear" ng-change="home.changeYear()"></select>
                </div>
                <div class="dob pull-left w30" style="margin: 0 4%;">
                  <select class="form-control" id="month" ng-options="home.getKey(month) as month[home.getKey(month)] for month in home.monthName" ng-model="home.selectedMonth" ng-change="home.checkDays()"></select>
                </div>
                <div class="dob pull-right w30">
                  <select class="form-control" id="day" ng-options="x for x in home.dateRange" ng-model="home.selectedDate" ng-change="home.dayChange()"></select>
                </div>
                <span class="err-msg pos-abs dsp-block" style="margin-top:36px;" ng-bind="home.userDateMsg"></span>
          </div>

          <div class="agree">
            <div class="input-group checkbox">
                <label>
                    <input type="checkbox" checked="" ng-model="home.userTerms" class="ng-pristine ng-untouched ng-valid" style="display:none" ng-change="home.checkTNC()">
                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                </label>
                <span class="v-top dsp-in-blk">I agree to LeagueAdda <a href="/page/terms-of-use" target="_blank"><b>T&amp;C*</b></a></span>
                <span class="err-msg pos-abs dsp-block" ng-bind-html="home.userTermsMsg"></span>
            </div>
          </div>
         <div class="orange-btn clearfix" type="submit" ng-click="home.signup()">JOIN NOW</div>
        </form>
      </div>

      <!--  LOGIN FORM  -->
      <div class="signup-form" ng-if="!home.isSignup">
          <p class="social-buttons">
          <a class="fb-btn" href="">Facebook</a>
          <a class="g-btn" href="/auth/google" target="_blank">Google+</a>
        </p>
       <!-- <p class="or"><span>or Sign up using email id</span></p>-->

        <form novalidate="novalidate" name="frmLogIn">
          <div class="txt-field" ng-class="{'has-error':frmLogIn.txtUser_LoginEmail.$invalid &amp;&amp; frmLogIn.txtUser_LoginEmail.$touched}">
            <input placeholder="Email" type="text" class="form-control ng-pristine ng-untouched ng-valid ng-valid-required" ng-model="home.userLoginEmail" name="txtUser_LoginEmail" ng-keyup="home.userLoginEmailMsg=''" ng-blur="home.onFieldChange('userLoginEmail',home.userLoginEmail)" required="">
            <span class="err-msg pos-abs" ng-bind="home.userLoginEmailMsg"></span>
          </div>
          <div class="txt-field" ng-class="{'has-error':frmLogIn.txtUser_LoginPass.$invalid &amp;&amp; frmLogIn.txtUser_LoginPass.$touched}">
            <input type="password" placeholder="Password" class="form-control ng-pristine ng-untouched ng-valid ng-valid-required" ng-model="home.userLoginPassword" name="txtUser_LoginPass" ng-keyup="home.userLoginPasswordMsg=''" ng-blur="home.onFieldChange('userLoginPassword',home.userLoginPassword)" required="">
            <span class="err-msg pos-abs" ng-bind="home.userLoginPasswordMsg"></span>
          </div>


          <div class="agree flex-horz-cntr">
            <div class="input-group checkbox w50">
                <!-- <label>
                    <input type="checkbox" checked="" ng-model="terms" class="ng-pristine ng-untouched ng-valid" style="display:none">
                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                      Remembere me? <a href="" target="_blank"></a>
                </label> -->
            </div>
            <div class="clearfix input-group w50 pad-a10">
                <label class="right-float forgot-lbl" ng-click="home.onForgotPasswordClick()">Forgot Password?</label>
            </div>
          </div>
          <div class="orange-btn clearfix" type="submit" ng-click="home.login()">START PLAYING</div>
        </form>
      </div>

    </div>
   </div>

  <div>
    <section class="heading">
      <div style="margin:10px 0">
        <div class="algn-cntr fs26px fw-600">Play Cricket &amp; Win Cash Daily!</div>
        <div class="algn-cntr fs26px fw-600">How to Play</div>
      </div>
      <div class="section-content">
        <div>
          <ul class="clearfix">
            <li class="col-md-3 col-sm-3 col-xs-12 col-lg-3">
              <section class="algn-cntr box-with-footer">
                <div class="step-img-bx dsp-in-blk"><img src="{{cdnUrl}}/assets/images/sports/cricket/how-to-play-step1.png"></div>
                <h3 class="bottom-heading flex-center">Select a tour &amp; a match</h3>
              </section>
            </li>
            <li class="col-md-3 col-sm-3 col-xs-12 col-lg-3">
              <section class="algn-cntr box-with-footer">
                <div class="step-img-bx dsp-in-blk"><img src="{{cdnUrl}}/assets/images/sports/cricket/how-to-play-step2.png"></div>
                <h3 class="bottom-heading flex-center">Select your best playing11</h3>
              </section>
            </li>
            <li class="col-md-3 col-sm-3 col-xs-12 col-lg-3">
              <section class="algn-cntr box-with-footer">
                <div class="step-img-bx dsp-in-blk"><img src="{{cdnUrl}}/assets/images/sports/cricket/how-to-play-step3.png"></div>
                <h3 class="bottom-heading flex-center">Join cash league &amp; compete</h3>
              </section>
            </li>

            <li class="col-md-3 col-sm-3 col-xs-12 col-lg-3">
              <section class="algn-cntr box-with-footer">
                <div class="step-img-bx dsp-in-blk"><img src="{{cdnUrl}}/assets/images/sports/cricket/how-to-play-step4.png"></div>
                <h3 class="bottom-heading flex-center">Win real cash &amp; redeem</h3>
              </section>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="testi-container heading pad-t10-b20">
      <div style="margin:10px 0">
        <div class="algn-cntr fs24px fw-600">From Fans to Fantasy Players, they all love LeagueAdda</div>
      </div>

      <slick infinite=true slides-to-show=1 slides-to-scroll=1 init-onload=true autoplay=true autoplay-speed=3000 speed=500 dots=true  data="{{json testimonialList}}" prev-arrow=false next-arrow=false>
      <!-- <div class="row" ng-repeat="item in home.testiArray">
        <div class="col-md-12">
          <div class="item">
            <div class="testimonails-box pos-rel">
              <div class="testimonails-img"><img ng-src="../fantasy_sports/app/assets/images/sports/cricket/{{item.img}}"></div>
              <div class="testimonails-review">
                <span>{{item.name}}</span>
                <p><i></i> {{item.comment}} </p>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      {{#testimonialList}}
      	<div class="">
      		<div class="col-md-12">
      			<div class="item item-container">
      				<div class="testimonails-box pos-rel">
      					<div class="testimonails-img"><img ng-src="{{../cdnUrl}}/assets/images/sports/cricket/{{img}}"></div>
      					<div class="testimonails-review">
      						<span>{{name}}</span>
      						<p><i></i> {{comment}} </p>
      					</div>
      				</div>
      			</div>
      		</div>
      	</div>
      	{{/testimonialList}}
      </slick>
      
    </section>
  </div>
</div>

{{/unless}}



