<div data-ng-controller="PromotionCtrl as promotions" data-ng-init="promotions.init({{json initObject}})">
    <div ng-if="::deviceDetection.isDevice('DESKTOP')" ng-include="'/fantasy_sports/app/views/desktop/d-promotions.html'"></div>
</div>