{{#if is_desktop}}
<div class="container1 clearfix">
    <div class="pad-h0 w70" style="margin: auto;">
        <div class="pad-v15 w100">
            <span class="blue-color fs20 fw-600">Fantasy Scoreboard</span>
        </div>
    </div>
    <div class="pad-v30-h0 w70" style="border-top: #000 dashed 1px;margin: auto;">
        <div class="rect-box w100 clearfix" style="background-color:#F5F1EE;">
            <div class="pad0 col-sm-12">
                <div class="header-box">{{matchDisplayName}}</div>
                <table class="table w100 score-table">
                    <thead>
                        <tr style="background-color:#EAEAEA; color:#09283d;">
                            <th>Player</th>
                            <th>Starting</th>
                            <th colspan="5">Batting</th>
                            <th colspan="3">Bowling</th>
                            <th>Catch</th>
                            <th>Run Out</th>
                            <th colspan="2">Extra</th>
                            <th>Total</th>
                        </tr>
                        <tr style="background-color:#EAEAEA; color:#09283d;">
                            <th width="19%">&nbsp;</th>
                            <th>&nbsp;</th>
                            <th>Runs</th>
                            <th width="4%">4's</th>
                            <th width="4%">6's</th>
                            <th width="5%">S/R</th>
                            <th>50/100</th>
                            <th>Wkts</th>
                            <th width="4%">M</th>
                            <th width="4%">E/R</th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th>Bonus</th>
                            <th width="5%">-Ve</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>

                        {{#playerScoreData}}
                        <tr class="table-row-center">
                            <td>{{name}}</td>
                            <td>{{startingPoint}}</td>
                            <td>{{runs}}</td>
                            <td>{{fours}}</td>
                            <td>{{sixes}}</td>
                            <td>{{st_rate}}</td>
                            <td>{{fifties_hundred}}</td>
                            <td>{{wickets}}</td>
                            <td>{{maidens}}</td>
                            <td>{{ec_rate}}</td>
                            <td>{{catch}}</td>
                            <td>{{runout}}</td>
                            <td>{{bonus_pos}}</td>
                            <td>{{bonus_neg}}</td>
                            <td>{{currentPoints}}</td>
                        </tr>
                        {{/playerScoreData}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{{/if}}


{{#unless is_desktop}}


{{#unless isPlayerArr}}
<h2 class="text-center fs24px fw-600 pad-v15 lt-normal">Please wait for the match to start</h2>
{{/unless}}

<div>
    <uib-accordion close-others="true" class="plyer-accordian">
        {{#playerScoreData}}
        <div uib-accordion-group class="panel-default" is-open="" is-disabled="">
            <uib-accordion-heading>
                <div class="w100 clearfix">
                    <div class="w60 pull-left algn-lft clr2 fw-600">{{name}}</div>
                    <div class="w25 pull-left algn-rgt">
                        <div class="fs14">{{currentPoints}} pts</div>
                    </div>

                    <div class="w10 pull-right algn-cntr">
                        <!--<div class="arrow-icon pull-right"></div>-->
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </div>
                </div>
            </uib-accordion-heading>
            <ul class="player-ul">
                <li>
                    <span>Starting</span>
                    <span style="float:right;">{{startingPoint}}</span>
                </li>
                <li style="background-color:gray;">Batting</li>
                <li>
                    <span>Runs</span>
                    <span style="float:right;">{{runs}}</span>
                </li>
                <li>
                    <span>4's</span>
                    <span style="float:right;">{{fours}}</span>
                </li>
                <li>
                    <span>6's</span>
                    <span style="float:right;">{{sixes}}</span>
                </li>
                <li>
                    <span>S/R</span>
                    <span style="float:right;">{{st_rate}}</span>
                </li>
                <li>
                    <span>50/100</span>
                    <span style="float:right;">{{fifties_hundred}}</span>
                </li>

                <li style="background-color:gray;">Bowling</li>
                <li>
                    <span>Wickets</span>
                    <span style="float:right;">{{wickets}}</span>
                </li>
                <li>
                    <span>Maiden</span>
                    <span style="float:right;">{{maidens}}</span>
                </li>
                <li>
                    <span>E/R</span>
                    <span style="float:right;">{{ec_rate}}</span>
                </li>
                <li>
                    <span>Catch</span>
                    <span style="float:right;">{{catch}}</span>
                </li>
                <li>
                    <span>Run Outs</span>
                    <span style="float:right;">{{runout}}</span>
                </li>

                <li style="background-color:gray;">Extras</li>
                <li>
                    <span>Bonus</span>
                    <span style="float:right;">{{bonus_pos}}</span>
                </li>
                <li>
                    <span>-ve</span>
                    <span style="float:right;">{{bonus_neg}}</span>
                </li>

                <li style="background-color:gray;">
                    <span>Total</span>
                    <span style="float:right;">{{currentPoints}}</span>
                </li>
            </ul>
        </div>
        {{/playerScoreData}}
    </uib-accordion>
</div>
{{/unless}}
