<div>
	<div class="match-selected-wrapper">
		<div class="match-details clearfix">
			<div class="teams text-up">{{browseleague.selectedMatch.teams['a'].aliasTName}} <span class="fs12px">Vs</span> {{browseleague.selectedMatch.teams['b'].aliasTName}}</div>
			<div class="match-status active" ng-if="browseleague.memberDisplayType === 'ACTIVE' || browseleague.selectedMatch.status === 'LOCKED'">
				<span class="label"> Time Left: </span><span countdown date="{{browseleague.selectedMatch.startTime * 1000}}">&nbsp;</span>
			</div>
			<div class="match-status progress pos-rel pad-h10" ng-if="browseleague.memberDisplayType === 'CLOSED'">
				<span class="label">{{browseleague.getMatchStatus(browseleague.selectedMatch.status)}}</span>
				<!-- <div class="scorecard-link" ng-click="browseleague.onScorecardClick()">
					<span class="icon-scorecard"></span>
				</div> -->
			</div>
			
		</div>
	</div>

	<div class="league-info-wrapper">
		<div class="league-head clearfix">
			<!-- <div class="league-type pull-left fs20px">Public League</div> -->
			<div class="league-title pull-left fs20px">{{browseleague.leagueInfo.title}}</div>
		</div>
		<div class="league-info-box">
			<div class="clearfix algn-cntr brd-btm pad-v5">
				<div class="col-xs-4 pad-h2 pad0" ng-click="browseleague.fetchLeaguePrizeInfo(browseleague.leagueInfo)">
					<div class="text-up fs13px">Total Winnings</div>
					<div class="clr2 fs16px fw-600 text-underline" ng-if="browseleague.leagueInfo.chipType.toUpperCase() == 'REAL'">Rs. {{browseleague.leagueInfo.winningAmt}}</div>
					<div class="clr2 fs16px fw-600 text-underline" ng-if="browseleague.leagueInfo.chipType.toUpperCase() == 'SKILL'">Rs. 0</div>
				</div>
				<div class="col-xs-4 pad-h2 pad0">
					<div class="text-up fs13px">Split Between</div>
					<div class="clr2 fs16px fw-600" ng-if="browseleague.leagueInfo.chipType.toUpperCase() == 'REAL'">{{browseleague.leagueInfo.winnersCount}} Winners</div>
					<div class="clr2 fs16px fw-600" ng-if="browseleague.leagueInfo.chipType.toUpperCase() == 'SKILL'">1 Winner</div>
				</div>
				<div class="col-xs-4 pad-h2 pad0">
					<div class="text-up fs13px">Entry Fee</div>
					<div class="clr2 fs16px fw-600">Rs. {{browseleague.leagueInfo.entryFee}}</div>
				</div>
			</div>
			<div class="clearfix brd-btm pad-v5 pd-h3">
				<div class="league-types mar-v5" ng-if="browseleague.leagueInfo.leagueType === 'CONFIRMED'">
					<span class="confirmed">C</span> <span class="fs16px">This league won't cancel.</span>
				</div>
				<div class="league-types mar-v5" ng-if="browseleague.leagueInfo.isMultiEntry">
					<span class="multi-entry">M</span> <span class="fs16px">You can join this league with multiple teams.</span>
				</div>
			</div>
			<div class="clearfix pd-h3 pad-v5">
				<div class="teams-joined pull-left">{{browseleague.leagueInfo.currentTeams}} spots filled</div>
				<div class="teams-joined pull-right">{{browseleague.leagueInfo.maxTeams}} Teams</div>
				<div class="cstm-progress w100">
					<div class="progress-bar progress-bar-success" ng-style="{ 'width': ((browseleague.leagueInfo.currentTeams/browseleague.leagueInfo.maxTeams)*100) + '%' }"></div>
				</div>
				<div class="algn-cntr" ng-if="browseleague.leagueInfo.isMultiEntry">
					<button class="button btn-style-2 btn-md w90 mar-v10" type="button" ng-click="browseleague.validateJoinLeague(browseleague.leagueInfo)" ng-if="browseleague.selectedMatch.status == 'ACTIVE'" ng-disabled="browseleague.leagueInfo.status == 'FILLED'">Rejoin this League</button>
				</div>
				<!-- <div class="algn-cntr" ng-if="!browseleague.leagueInfo.isMultiEntry">
					<button class="button btn-style-2 btn-md w90 mar-v10" type="button">League Joined</button>
				</div> -->
			</div>
		</div>
	</div>

	<div class="league-team-list" ng-if="browseleague.memberDisplayType === 'ACTIVE'">
		<ul>
			<li class="clearfix my-team" ng-repeat="item in browseleague.leagueMembersArray.leagueUsers track by $index">
				<div class="col-xs-8">
					<div class="team-name">{{item.screenName}} (T{{item.teamId}})</div>
					<div class="team-points">POINTS 0</div>
				</div>
				<div class="col-xs-4">
					<div class="team-rank">-</div>
				</div>
			</li>
			<li class="clearfix" ng-repeat="item in browseleague.leagueMembersArray.leagueMembers track by $index">
				<div class="col-xs-8">
					<div class="team-name">{{item.screenName}} (T{{item.teamId}})</div>
					<div class="team-points">POINTS 0</div>
				</div>
				<div class="col-xs-4">
					<div class="team-rank">-</div>
				</div>
			</li>
		</ul>
	</div>

	<div class="league-team-list" ng-if="browseleague.memberDisplayType === 'CLOSED'">
		<ul>
		<li class="clearfix my-team" ng-repeat="item in browseleague.leagueMembersArray.leagueUsers track by $index" ng-click="browseleague.showTeamPreview(item, 'MY_TEAM')">
				<div class="col-xs-9">
					<div class="team-name">{{item.screenName}} (T{{item.teamId}})</div>
					<span class="team-points">POINTS {{item.points}}</span>
					<span class="winning-amount" ng-if="browseleague.selectedMatch.status === 'CLOSED' && item.winningAmt">WON Rs. {{item.winningAmt}}</span>
				</div>
				<div class="col-xs-3">
					<div class="team-rank">
						<i class="fa fa-trophy" ng-if="browseleague.selectedMatch.status === 'CLOSED' && item.rank == 1"></i> #{{item.rank}}
					</div>
				</div>
			</li>
			<li class="clearfix" ng-repeat="item in browseleague.leagueMembersArray.leagueMembers track by $index" ng-click="browseleague.showTeamPreview(item, 'OPPONENT_TEAM')">
				<div class="col-xs-9">
					<div class="team-name">{{item.screenName}} (T{{item.teamId}})</div>
					<span class="team-points">POINTS {{item.points}}</span>
					<span class="winning-amount" ng-if="browseleague.selectedMatch.status === 'CLOSED' && item.winningAmt">WON Rs. {{item.winningAmt}}</span>
				</div>
				<div class="col-xs-3">
					<div class="team-rank">
						<i class="fa fa-trophy" ng-if="browseleague.selectedMatch.status === 'CLOSED' && item.rank == 1"></i> #{{item.rank}}
					 </div>
				</div>
			</li>
		</ul>
	</div>

	<div class="browse-btm-tabs" ng-if="browseleague.leagueMembersArray.totalTeamCount > browseleague.pagination.pageSize">
		<ul>
			<li ng-click="browseleague.updatePagination(browseleague.leagueInfo, 'SHOW_TOP')">Top</li>
			<li ng-click="browseleague.updatePagination(browseleague.leagueInfo, 'SHOW_PREVIOUS')">Prev 100</li>
			<li ng-click="browseleague.updatePagination(browseleague.leagueInfo, 'SHOW_MORE')">Next 100</li>
		</ul>
	</div>

	<div class="team-scores-wrapper" ng-if="browseleague.showPlayersPreview">
		<button type="button" class="close-preview button btn-xs btn-style-2" ng-click="browseleague.closeTeamPreview();">Close</button>
		<div class="team-info pad-v5 lt-normal">
			<div class="team-id clr2 fw-600 algn-cntr fs18px">Team {{browseleague.selectedTeamInfo.teamId}}</div>
			<div class="team-name clr2 fw-600 algn-cntr fs16px">{{browseleague.selectedTeamInfo.teamName}}</div>
			<div class="team-points clr2 fw-600 algn-cntr fs16px">{{browseleague.selectedTeamInfo.teamPoints}} pts</div>
		</div>
		<div class="league-cric-ground" id="cricGround">
			<div class="player {{player.className}}" style="background-image: url('/fantasy_sports/app/assets/images/sports/cricket/jersey/{{player.teamName}}.png');" ng-repeat="player in browseleague.matchPlayersArray">
				<div class='plyr-details'>
					<!-- <div class='plyr-name'>{{player.shortName}}</div>
					<div class="plyr-credits">{{player.scoredPoints}}</div> -->
					<span class='plyr-name'><i ng-if="player.isBonus">(B)</i>{{player.shortName}}</span>
					<span class='plyr-credits'>({{player.playerPoints}})</span>
				</div>
			</div>
		</div>
	</div>

</div>