<div>
	<div class="match-selected-wrapper">
		<div class="match-details clearfix">
			<div class="teams text-up">{{joinedleague.selectedMatch.teams['a'].aliasTName}} <span class="fs12px">Vs</span> {{joinedleague.selectedMatch.teams['b'].aliasTName}}</div>
			<div class="match-status active" ng-if="joinedleague.selectedMatch.status === 'ACTIVE' || joinedleague.selectedMatch.status === 'LOCKED'">
				<span class="label"> Time Left: </span><span countdown date="{{joinedleague.selectedMatch.startTime * 1000}}">&nbsp;</span>
			</div>
			<div class="match-status progress">
				<span class="label">{{joinedleague.getMatchStatus(joinedleague.selectedMatch.status)}}</span>
			</div>
		</div>
	</div>

	<div class="no-leagues-error" ng-if="joinedleague.joinedLeaguesArray.length === 0 && joinedleague.noLeaguesError">
		<p>You haven't joined any leagues.</p>
	</div>

	<div class="joined-leagues-wrapper" ng-if="joinedleague.joinedLeaguesArray.length !== 0 && joinedleague.leagueDisplayType === 'ACTIVE'">
		<ul>
			<li>
				<div class="league-wrapper" ng-repeat="item in joinedleague.joinedLeaguesArray">
				<div class="card league mrg-btm-0">
					<div class="clearfix">
						<div class="league-title fs20px pull-left">{{item.title}}</div>
						<div class="league-types pull-right">
							<span class="confirmed" ng-if="item.leagueType === 'CONFIRMED'">C</span>
							<span class="multi-entry" ng-if="item.isMultiEntry">M</span>
						</div>
					</div>
					<div class="clearfix">
						<div class="teams-joined pull-left">{{item.currentTeams}}/{{item.maxTeams}} teams</div>
						<div class="join-button pull-right">
							<button type="button" class="button btn-sm btn-style-4 fw-600" ng-disabled="true"  ng-if="!item.isMultiEntry">Joined</button>
							<button type="button" class="button btn-sm btn-style-4 fw-600" ng-click="joinedleague.validateJoinLeague(item)" ng-if="item.isMultiEntry" ng-disabled="item.status == 'FILLED'">Rejoin</button>
						</div>
						<div class="cstm-progress w70">
							<div class="progress-bar progress-bar-success" ng-style="{ 'width': ((item.currentTeams/item.maxTeams)*100) + '%' }"></div>
						</div>
					</div>
				</div>
				<div class="clearfix">
					<div class="tbl-header style-1 algn-cntr pad-v5">
						<div class="col w50" ng-click="joinedleague.onSwitchTeamClick(item)">
							<div class="fs18px">Switch Teams <span class="switch-team-count">{{joinedleague.selectedMatch.totalTeams}}</span></div>
						</div>
						<div class="col w50" ng-click="joinedleague.onBrowseLeague(item)">
							<div class="fs18px">Ranks</div>
						</div>
					</div>
				</div>
			</div>
			</li>
		</ul>
	</div>

	<div class="joined-leagues-wrapper match-started" ng-if="joinedleague.leagueDisplayType === 'CLOSED'">
		<ul>
			<li>
				<div class="league-wrapper" ng-repeat="item in joinedleague.joinedLeaguesArray">
					<div class="card league mrg-btm-0">
					<div class="clearfix">
						<div class="league-title fs20px pull-left">{{item.title}}</div>
						<div class="league-winners pull-right">
							<span class="winners fs16px clr2" ng-if="item.chipType.toUpperCase() == 'REAL'"> Top {{item.winnersCount}} Win</span>
							<span class="winners fs16px clr2" ng-if="item.chipType.toUpperCase() == 'SKILL'"> Top 1 Win</span>
						</div>
					</div>
					<div class="clearfix">
						<div class="tbl-header pad-v5">
							<div class="col w40">
								<div class="text-up fs18px">Teams</div>
								<div class="fs18px clr2 fw-600">{{item.maxTeams}}</div>
							</div>
							<div class="col w30">
								<div class="text-up fs18px">My Rank</div>
								<div class="fs18px clr2 fw-600">{{item.rank}}</div>
							</div>
							<div class="col w30">
								<div class="text-up fs18px">My Points</div>
								<div class="fs18px clr2 fw-600">{{item.points}}</div>
							</div>
						</div>
					</div>
					</div>
					<div class="clearfix">
						<div class="tbl-header style-1 algn-cntr pad-v5">
							<div class="col w50" ng-click="joinedleague.fetchLeaguePrizeInfo(item)">
								<div class="fs18px">Prize Pool</div>
							</div>
							<div class="col w50" ng-click="joinedleague.onBrowseLeague(item)">
								<div class="fs18px">Ranks</div>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<!-- BEGIN Switch Team Popup  -->
	<div class="switch-team-wrapper" ng-if="joinedleague.showSwitchTeam">
		<button type="button" class="close-preview button btn-xs btn-style-2" ng-click="joinedleague.closeSwitchTeam();">Close</button>
		<div class="team-switch-dropdown">
			<p class="fs18px clr2">Join this league with:</p>
			<select ng-model="joinedleague.selectedTeamIdArr[$index].teamId" class="" ng-repeat="item in joinedleague.joinedTeamArr">
				<option ng-repeat="x in joinedleague.teamArr" value="{{x.teamId}}">Team {{x.teamId}}</option>
			</select>
		</div>
		<div class="switch-team-btm-tabs">
			<ul>
				<li ng-click="joinedleague.switchMyTeam();">Save</li>
			</ul>
		</div>
	</div>
	<!-- END Switch Team Popup  -->
</div>