<div>
	<!-- Selected match container -->
	<div class="match-selected-wrapper">
		<div class="match-details clearfix">
			<div class="teams text-up">{{matchleagues.selectedMatch.teams['a'].aliasTName}} <span class="fs12px">Vs</span> {{matchleagues.selectedMatch.teams['b'].aliasTName}}</div>
			<div class="match-status active" ng-if="matchleagues.selectedMatch.status === 'ACTIVE' || matchleagues.selectedMatch.status === 'LOCKED'">
				<span class="label"> Time Left: </span><span countdown date="{{matchleagues.selectedMatch.startTime * 1000}}">&nbsp;</span>
			</div>
			<div class="match-status progress">
				<span class="label">{{matchleagues.getMatchStatus(matchleagues.selectedMatch.status)}}</span>
			</div>
			<!-- <div class="match-status progress" ng-if="matchleagues.selectedMatch.status === 'RUNNING'">
				<span class="label">In Progress</span>
			</div>
			<div class="match-status progress" ng-if="matchleagues.selectedMatch.status === 'UNDER_REVIEW'">
				<span class="label">Under Review</span>
			</div>
			<div class="match-status closed" ng-if="matchleagues.selectedMatch.status === 'CLOSED'">
				<span class="label">Completed</span>
			</div>
			<div class="match-status closed" ng-if="matchleagues.selectedMatch.status === 'ABANDONED'">
				<span class="label clr9">Abandoned</span>
			</div> -->
		</div>
	</div>
	<!-- Selected match container -->
	<!-- Match Leagues list -->
	<div class="leagues-list">
		<ul>
			<li>
				<div class="league-wrapper" ng-repeat="item in matchleagues.leaguesArray">
					<div class="card league">
						<div class="clearfix">
							<div class="league-title fs20px pull-left">{{item.title}}</div>
							<span class="separator pull-left" ng-if="item.chipType === 'real'"></span>
							<div class="league-winners pull-left" ng-click="matchleagues.fetchLeaguePrizeInfo(item)" ng-if="item.chipType === 'real'">
								<i class="fa fa-trophy"></i> 
								<span class="winners fs18px clr2 fw-600">{{item.winnersCount}} Winners</span>	
							</div>
							<div class="league-types pull-right">
								<span class="confirmed" ng-if="item.leagueType === 'CONFIRMED'">C</span>
								<span class="multi-entry" ng-if="item.isMultiEntry">M</span>
							</div>
						</div>
						<div class="clearfix">
							<div class="entry-fee fs18px pull-left"> 
								Pay&nbsp;<span><i class="fa fa-rupee"></i>&nbsp;{{item.entryFee}}</span>
							</div>
						</div>
						<div class="clearfix">
							<div class="teams-joined pull-left">{{item.currentTeams}}/{{item.maxTeams}} teams</div>
							<div class="join-button pull-right">
								<button type="button" class="button btn-sm btn-style-4 fw-600" ng-click="matchleagues.validateJoinLeague(item)" ng-disabled="matchleagues.isJoinBtnDisabled" ng-if="item.leagueStatus === 'NOT_JOIN'">Join</button>
								<button type="button" class="button btn-sm btn-style-4 fw-600" ng-click="matchleagues.validateJoinLeague(item)" ng-disabled="matchleagues.isJoinBtnDisabled" ng-if="item.leagueStatus === 'REJOIN'">Rejoin</button>
								<button type="button" class="button btn-sm btn-style-4 fw-600" ng-disabled="true" ng-if="item.leagueStatus === 'JOINED'">Joined</button>
							</div>
							<div class="cstm-progress w70">
								<div class="progress-bar progress-bar-success" ng-style="{ 'width': ((item.currentTeams/item.maxTeams)*100) + '%' }"></div>
							</div>
							
						</div>
					</div>
				</div>
			</li>
		</ul>
		<div class="no-leagues-error" ng-if="matchleagues.leaguesArray.length === 0 && matchleagues.noLeaguesError">
			<p>No leagues right now!!</p>
			<p>Stay Tuned!!</p>
		</div>
	</div>
	<!-- Match Leagues list -->
	<div class="league-btm-tabs">
		<ul class="clearfix">
			<li ng-if="matchleagues.selectedMatch.totalTeams === 0 || matchleagues.selectedMatch.totalTeams === undefined" ng-click="matchleagues.onCreateTeamClick()">Create Team</li>

			<li ng-if="matchleagues.selectedMatch.totalTeams > 0" ng-click="matchleagues.onMyTeamsClick()">My Teams <span class="count">{{matchleagues.selectedMatch.totalTeams}}</span></li>

			<li ng-if="matchleagues.selectedMatch.leagueCount === 0 || matchleagues.selectedMatch.leagueCount === undefined" ng-click="matchleagues.onJoinedLeagues()">My Leagues <span class="count">0</span></li>

			<li ng-if="matchleagues.selectedMatch.leagueCount > 0" ng-click="matchleagues.onJoinedLeagues()">My Leagues <span class="count">{{matchleagues.selectedMatch.leagueCount}}</span></li>
		</ul>
	</div>
</div>