<div>
	<!-- Selected match container -->
	<div class="match-selected-wrapper">
		<div class="match-details clearfix">
			<div class="teams text-up">{{myteam.selectedMatch.teams['a'].aliasTName}} <span class="fs12px">Vs</span> {{myteam.selectedMatch.teams['b'].aliasTName}}</div>
			<div class="match-status active" ng-if="myteam.selectedMatch.status === 'ACTIVE' || myteam.selectedMatch.status === 'LOCKED'">
				<span class="label"> Time Left: </span><span countdown date="{{myteam.selectedMatch.startTime * 1000}}">&nbsp;</span>
			</div>
			<div class="match-status progress">
				<span class="label">{{myteam.getMatchStatus(myteam.selectedMatch.status)}}</span>
			</div>
		</div>
	</div>
	<!-- Selected match container -->
	<div ng-if="myteam.teamDisplayType === 'ACTIVE'">
		<div>
			<label class="select-team">Select your team</label>
		</div>
		<div class="my-teams-list clr2">
			<ul>
				<li ng-repeat="item in myteam.myTeamsArray" ng-click="myteam.fetchTeamInfo(item.teamId)">
					<div class="teamid fs18px fw-600">Team {{item.teamId}}</div>
					<div class="teamname fs16px">{{myteam.selectedTeamInfo.teamName}}</div>
				</li>
			</ul>
		</div>
		<div class="add-team" ng-if="myteam.selectedMatch.totalTeams < 4">
			<button type="button" class="button btn-style-2 btn-md" ng-click="myteam.onAddTeamClick()">Add</button>
		</div>

		<div class="team-preview-wrapper" ng-if="myteam.showPlayersPreview">
			<button type="button" class="close-preview button btn-xs btn-style-2" ng-click="myteam.showTeamPreview(false);">Close</button>
			<div class="team-info pad-v5 lt-normal">
				<div class="team-id clr2 fw-600 algn-cntr fs18px">Team {{myteam.selectedTeamInfo.teamId}}</div>
				<div class="team-name clr2 fw-600 algn-cntr fs16px">{{myteam.selectedTeamInfo.teamName}}</div>
			</div>
			<div class="league-cric-ground" id="cricGround">
				<div class="player {{player.className}}" style="background-image: url('/fantasy_sports/app/assets/images/sports/cricket/jersey/{{player.teamName}}.png');" ng-repeat="player in myteam.matchPlayersArray">
					<div class='plyr-details'>
						<div class='plyr-name'>{{player.shortName}}</div>
					</div>
				</div>
			</div>
			<div class="team-btm-tabs">
				<ul>
					<li ng-click="myteam.onEditTeamClick();">Edit Team</li>
					<li ng-click="myteam.onShowLeaguesClick();">Show Leagues</li>
				</ul>
			</div>
		</div>
	</div>

	<div ng-if="myteam.teamDisplayType === 'CLOSED'">
		<div class="my-teams-list clr2">
			<ul>
				<li ng-repeat="item in myteam.myTeamsArray" ng-click="myteam.fetchTeamInfo(item.teamId)">
					<div class="teamid fs18px fw-600">Team {{item.teamId}}</div>
					<div class="teamname fs16px">{{myteam.selectedTeamInfo.teamName}}</div>
				</li>
			</ul>
		</div>

		<div class="team-preview-wrapper" ng-if="myteam.showPlayersPreview">
			<button type="button" class="close-preview button btn-xs btn-style-2" ng-click="myteam.showTeamPreview(false);">Close</button>
			<div class="team-info pad-v5 lt-normal">
				<div class="team-id clr2 fw-600 algn-cntr fs18px">Team {{myteam.selectedTeamInfo.teamId}}</div>
				<div class="team-name clr2 fw-600 algn-cntr fs16px">{{myteam.selectedTeamInfo.teamName}}</div>
				<div class="team-points clr2 fw-600 algn-cntr fs16px">{{myteam.selectedTeamInfo.teamPoints}} pts</div>
			</div>
			<div class="league-cric-ground" id="cricGround">
				<div class="player {{player.className}}" style="background-image: url('/fantasy_sports/app/assets/images/sports/cricket/jersey/{{player.teamName}}.png');" ng-repeat="player in myteam.matchPlayersArray">
					<div class='plyr-details'>
						<span class='plyr-name'><i ng-if="player.isBonus">(B)</i>{{player.shortName}}</span>
						<span class='plyr-credits'>({{player.playerPoints}})</span>
					</div>
				</div>
			</div>
			<div class="team-btm-tabs">
				<ul>
					<li ng-click="myteam.onScorecardClick();">Scoreboard</li>
					<li ng-click="myteam.onShowJoinedLeaguesClik();">My Leagues <span class="count">{{myteam.selectedTeamInfo.leagueCount}}</span></li>
				</ul>
			</div>
		</div>
	</div>

</div>