<div class="content-container">
    <!-- League header and Banner -->
    <div class="mob-head-wrapper">
        <div class="mob-head-container">
            <div class="user-details">
                <ul class="clearfix flex-vert-cntr">
                    <li>
                        <div class="clr3 fs12px">Welcome</div>
                        <div class="clr3 fs16px">{{::tourmatches.screenName}}</div>
                    </li>
                    <!-- <li class="algn-cntr">
<button type="button" class="button btn-sm btn-style-6 btn-wd-auto">My Leagues</button>
</li> -->
                    <li class="algn-rgt">
                        <a href="{{tourmatches.baseUrl}}/myaccount">
                            <!-- <span class="wallet-icon"></span> -->
                            <div class="clr3 fs12px">My Cash</div>
                            <div class="clr3 fs16px">Rs {{tourmatches.userBalance}}</div>
                            <!-- <span class="amount clr3 fs16px">Rs {{tourmatches.userBalance}}</span> -->
                            <!-- <span class="add-cash-icon"></span> -->
                        </a>
                    </li>
                </ul>
            </div>
            <div class="mob-banner">
                <slick infinite=true slides-to-show=1 slides-to-scroll=1 init-onload=true autoplay=true autoplay-speed=3000 speed=500 dots=false  prev-arrow=false next-arrow=false data="tourmatches.promotionsData">
                    <div class="" ng-repeat="promotion in tourmatches.promotionsData" ng-click="tourmatches.showPromtionDetails($event, $index)">
                        <div class="">
                            <div class="item">
                                <div class="promotions-box pos-rel">
                                    <div class="promotions-img"><img ng-src="{{promotion.fields.small_banner_mobile.url}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </slick>
            </div>
        </div>
    </div>
    <!-- League header and Banner -->
    <!-- Match Status Tabs -->
    <div class="mob-match-tabs">
        <ul class="clearfix">
            <li ng-class="tourmatches.matchDisplayType === 'LOBBY' ? 'active' : ''" ng-click="tourmatches.onMatchTypeClick('ACTIVE', $event)">Lobby</li>
            <li ng-class="tourmatches.matchDisplayType === 'ACTIVE' ? 'active' : ''" ng-click="tourmatches.onMatchTypeClick('RUNNING', $event)">Active</li>
            <li ng-class="tourmatches.matchDisplayType === 'RESULTS' ? 'active' : ''" ng-click="tourmatches.onMatchTypeClick('CLOSED', $event)">Results</li>
        </ul>
    </div>
    <!-- Match Status Tabs -->
    <!-- Select tour dropdown -->
    <div class="tour-select-wrapper">
        <div class="cstm-tour-select clearfix" ng-click="tourmatches.onTourClick()">
            <label class="clr2">Select a Tourney</label>
            <span id="selectedTour" class="clr2">{{tourmatches.selectedTour.shortName}} <i class="fa fa-caret-down" aria-hidden="true"></i></span>
        </div>
        <div class="tour-list">
            <ul>
                <li ng-class="tourmatches.selectedTour.tourId === tour.tourId ? 'active' : ''" ng-repeat="tour in tourmatches.toursArray" ng-click="tourmatches.onTourSelect(tour)">
                    <a title="NZ vs AUS ODI" href="javascript:;">{{tour.shortName}}</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Select tour dropdown -->
    <div class="matches-list">
        <!-- LOBBY matches list -->
        <div ng-if="tourmatches.matchDisplayType === 'LOBBY'">
            <ul>
                <li ng-repeat="item in tourmatches.mob.activeMatches">
                    <div class="mob-league algn-cntr">
                        <div class="match-teams lt-normal">
                            <div class="team1 fs20 fw-600">{{::item.tourShortName}}</div>
                            <div class="team1 fs16 fw-600">{{::item.relatedName}}</div>
                        </div>
                        <div class="team-flags clearfix mr-h4">
                            <div class="pull-left">
                                <span class="team-flag"><img ng-src="/fantasy_sports/app/assets/images/sports/cricket/flags/{{item.teams['a'].key.toUpperCase()}}-CR1.png" /></span>
                                <span class="fs16px fw-600 text-up">{{::item.teams['a'].aliasTName}}</span>
                            </div>
                            <div class="pull-right">
                                <span class="fs16px fw-600 text-up">{{::item.teams['b'].aliasTName}}</span>
                                <span class="team-flag"><img ng-src="/fantasy_sports/app/assets/images/sports/cricket/flags/{{item.teams['b'].key.toUpperCase()}}-CR1.png" /></span>
                            </div>
                        </div>
                        <div class="fw-600 clr9">
                            <span><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                            <span countdown  date="{{item.startTime * 1000}}">&nbsp;</span>
                        </div>
                        <div class="clearfix">
                            <button class="button btn-style-7 pull-left mr-h2 mar-v5 fw-600" ng-if="::!item.totalTeams" ng-click="tourmatches.onCreateTeamClick(item)" ng-disabled="item.status == 'LOCKED'">Create Team</button>

                            <button class="button btn-style-7 pull-left mr-h2 mar-v5 fw-600" ng-if="::item.totalTeams" ng-click="tourmatches.onMyTeamClick(item)" ng-disabled="item.status == 'LOCKED'">My Team
                                <span class="count">({{::item.totalTeams}})</span>
                            </button>
                            <button class="button btn-style-7 pull-right mr-h2 mar-v5 fw-600" ng-click="tourmatches.onShowLeaguesClick(item)" ng-disabled="item.status == 'LOCKED'">Show Leagues<!-- <span class="count" ng-if="item.leagueCount">({{::item.leagueCount}})</span> --></button>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="no-matches-error" ng-if="tourmatches.mob.activeMatches.length === 0 && tourmatches.noMatchesError">
                <p class="fs24px clr5">Stay Tuned!</p>
                <p class="fs20px clr2">No matches at this moment.</p>
            </div>
        </div>
        <!-- LOBBY matches list -->
        <!-- ACTIVE matches list -->
        <div ng-if="tourmatches.matchDisplayType === 'ACTIVE'">
            <ul>
                <li ng-repeat="item in tourmatches.mob.runningMatches">
                    <div class="mob-league algn-cntr">
                        <div class="match-teams lt-normal">
                            <div class="team1 fs20 fw-600">{{::item.tourShortName}}</div>
                            <div class="team1 fs16 fw-600">{{::item.relatedName}}</div>
                        </div>
                        <div class="team-flags clearfix mr-h4">
                            <div class="pull-left">
                                <span class="team-flag"><img ng-src="/fantasy_sports/app/assets/images/sports/cricket/flags/{{::item.teams['a'].key.toUpperCase()}}-CR1.png" /></span>
                                <span class="fs16px fw-600 text-up">{{::item.teams['a'].aliasTName}}</span>
                            </div>
                            <div class="pull-right">
                                <span class="fs16px fw-600 text-up">{{::item.teams['b'].aliasTName}}</span>
                                <span class="team-flag"><img ng-src="/fantasy_sports/app/assets/images/sports/cricket/flags/{{::item.teams['b'].key.toUpperCase()}}-CR1.png" /></span>
                            </div>
                        </div>
                        <div class="fw-600">
                            <span class="clr5" ng-if="::item.status === 'RUNNING'">In Progress</span>
                            <span class="clr5" ng-if="::item.status === 'UNDER_REVIEW'">Under Review</span>
                        </div>
                        <div class="clearfix">
                            <button class="button btn-style-7 pull-left mr-h2 mar-v5 fw-600" ng-click="tourmatches.onMyTeamClick(item)">
                                <span>My Team</span>
                                <span class="count">({{item.totalTeams}})</span>
                            </button>
                            <button class="button btn-style-7 pull-right mr-h2 mar-v5 fw-600" ng-click="tourmatches.onJoinedLeagues(item)">My Leagues <span class="count">({{::item.leagueCount}})</span></button>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="no-matches-error" ng-if="tourmatches.mob.runningMatches.length === 0">
                <p class="fs24px clr5">Stay Tuned!</p>
                <p class="fs20px clr2">No matches live at this moment.</p>
            </div>
        </div>
        <!-- ACTIVE matches list -->
        <!-- RESULTS matches list -->
        <div ng-if="tourmatches.matchDisplayType === 'RESULTS'">
            <ul>
                <li ng-repeat="item in tourmatches.mob.closedMatches">
                    <div class="mob-league algn-cntr">
                        <div class="match-teams lt-normal">
                            <div class="team1 fs20 fw-600">{{::item.tourShortName}}</div>
                            <div class="team1 fs16 fw-600">{{::item.relatedName}}</div>
                        </div>
                        <div class="team-flags clearfix mr-h4">
                            <div class="pull-left">
                                <span class="team-flag"><img ng-src="/fantasy_sports/app/assets/images/sports/cricket/flags/{{::item.teams['a'].key.toUpperCase()}}-CR1.png" /></span>
                                <span class="fs16px fw-600 text-up">{{::item.teams['a'].aliasTName}}</span>
                            </div>
                            <div class="pull-right">
                                <span class="fs16px fw-600 text-up">{{::item.teams['b'].aliasTName}}</span>
                                <span class="team-flag"><img ng-src="/fantasy_sports/app/assets/images/sports/cricket/flags/{{::item.teams['b'].key.toUpperCase()}}-CR1.png" /></span>
                            </div>
                        </div>
                        <!-- <span class="clr9" ng-if="item.status === 'ABANDONED'">Abandoned</span> -->
                        <div ng-if="::item.status !== 'ABANDONED'">
                            <div class="fw-600">
                                <span class="clr7" ng-if="item.status === 'CLOSED'">Completed</span>
                            </div>
                            <div class="clearfix">
                                <button class="button btn-style-7 pull-left mr-h2 mar-v5 fw-600" ng-click="tourmatches.onMyTeamClick(item)">
                                    <span>My Team</span>
                                    <span class="count">({{item.totalTeams}})</span>
                                </button>
                                <button class="button btn-style-7 pull-right mr-h2 mar-v5 fw-600" ng-click="tourmatches.onJoinedLeagues(item)">My Leagues <span class="count">({{::item.leagueCount}})</span></button>
                            </div>
                        </div>
                        <div ng-if="::item.status === 'ABANDONED'">
                            <div class="abandoned-icon"></div>
                            <div class="fw-600 text-up fs18">
                                <span class="">Match Abandoned</span>
                            </div>
                            <div class="fw-600 fs14">
                                <span class="clr11">Joining amount will be refunded</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="no-matches-error" ng-if="tourmatches.mob.closedMatches.length === 0">
                <p class="fs24px clr5">Stay Tuned!</p>
                <p class="fs20px clr2">No results at this moment.</p>
            </div>
        </div>
        <!-- RESULTS matches list -->

    </div>
</div>


<!-- Promos -->
    <div class = "popup-bg" ng-if="tourmatches.promoDetails">
        <div class="promotion-details">
            <div class="ng-model-header prom-details-header">
                <span class="dsp-inb title-popup-desk">{{tourmatches.promoDetailsData.headerName}}</span>
                <div class="modal-close grd-btn-red-light" role="button" tabindex="0" aria-hidden="false" ng-click="tourmatches.hideOverlay($event);tourmatches.hidePromtionDetails();">x</div>
            </div>
            <iframe class="promo-details-popup">
            </iframe>
        </div>
    </div>

<div class="promotions-bg w100 h100" ng-if="tourmatches.promoDetails"></div>