.ngdialog-theme-popup.prizeinfo-popup{

}

.addcash-popup{
	.current-balance,
	.joining-amount{
		width: 44%;
		display: inline-block;
		background: #c7eeb9;
		font-size: 18px;
		margin: 0 2%;
		padding: 11px;
		border-radius: 6px;
		color: #333;
		font-size: 1.1rem;
		label{
			
		}
		.amount{
			font-weight: bold;
		}
	}
	.joining-amount{
		background: #eec4b8;
	}
	.add-cash-input{
		background: #fff;
		border: 1px solid #bbb;
		border-radius: 6px;
		padding: 6px 12px;
		font-size: 20px;
		text-align: left;
		margin: 10px 0 20px;
		position: relative;
		label{
			margin: 0;
		}
		input{
			border: 0;
			outline: none;
			width: 85%;
		}
	}

	.add-cash-btns{
		margin: 15px 0;
		ul{
			li{
				float: left;
				width: 28%;
				background: #d8d8d8;
				color: #000;
				text-align: center;
				margin: 0 2%;
				padding: 6px;
				border-radius: 6px;
				cursor: pointer;
				user-select: none;
				font-size: 1rem;
				&:active{
					background: #ddd;
				}
			}
		}
	}

	.input-error {
		color: #ed583a;
		font-size: 14px;
		text-align: left;
		margin: 2px 0;
		position: absolute;
		top: 38px;
	}
}

.disable-link:visited{
	pointer-events: none;
}

