/****************************************

// COMMON CLASSES RULES ARE DEFINED HERE
// PLATFORM : Mobile, Tab, Desktop

****************************************/

/* Default Classes */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.pull-left{
    float:left;
}

.pull-right{
    float:right;
}

.v-mid {
  vertical-align: middle;
}

.v-top {
    vertical-align: top;
}

.algn-cntr {
    text-align: center;
}

.algn-lft {
    text-align: left;
}

.algn-rgt {
    text-align: right;
}

.text-align-center{
    text-align: center;
}

.right-float{
  float: right;
}

.left-float{
  float: left;
}

.lt-normal{
  line-height: normal;
}

.right0{
  right: 0;
}

.pos-abs{
    position: absolute !important;
}

.pos-fxd{
    position: fixed !important;
}

.pos-rel{
    position: relative !important;
}

.ovf-hdn{
    overflow: hidden !important;
}

.ovf-auto{
    overflow: auto !important;
}

.no-transition{
    transition: 0s !important;
}

.cur-pointer{
  cursor: pointer;
}

.width-data{
    width: 12.567rem !important;
    display: inline-block;
}

.mrg-btm-0{
    margin-bottom: 0 !important;
}

.word-break{
    word-break: break-all;
}

.w100{
    width: 100% !important;
}

.blk-clr{
    color: #000 !important;
}

.nowrap{
    white-space: nowrap;
}

button[disabled]{
    opacity: 0.5 !important;
}

.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}

.h100{
    height: 100%;
}

.clearfix:after { 
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

.flex-center{
    display:flex;
    justify-content:center;
    align-items:center;
}

.flex-vert-cntr{
  display: flex;
  align-items: center;
}

.flex-horz-cntr{
  display: flex;
  justify-content: center;
}

/* PADDING MARGIN */

.pad-v20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pad-t10 {
    padding-top: 10px;
}

.pad-t10-b20 {
    padding-top: 10px;
    padding-bottom: 20px;
}

.pad-v10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pad-l10 {
    padding-left: 10px;
}

.pad-l20 {
    padding-left: 20px;
}

.pad-b30{
    padding-bottom: 30px;
}

.pad0{
    padding: 0 !important;
}

.bgclr1 {
  background-color: #000;
}

.bgclr2 {
  background-color: #09283d;
}

.bgclr3 {
  background-color: #ededed;
}

.bgclr4 {
  background-color: #3d3d3d;
}

.bgclr5 {
  background-color: #ed583a;
}
.bgclr6 {
  background-color: #fff;
}
.bgclr7 {
  background-color: #f2f2f2;
}

.dsp-none {
    display: none;
}

.dsp-block {
    display: block;
}

.dsp-in-blk{
  display: inline-block;
}

.vsbl{
    visibility: visible;
}

.vsbl-hidden{
    visibility: hidden;
}



/* GENERAL DIMENSION CLASSES */
.w5 {
  width: 5%;
}

.w10 {
  width: 10%;
}

.w15 {
  width: 15%;
}

.w16{
    width: 16.33%;
}

.w17 {
    width: 17%;
}

.w18 {
    width: 18%;
}

.w20{
    width: 20%;
}

.w24{
    width: 24%;
}

.w25 {
  width: 25%;
}

.w30 {
  width: 30%;
}

.w32 {
  width: 32%;
}

.w33 {
  width: 33%;
}

.w34 {
    width: 34%;
}

.w40 {
  width: 40%;
}

.w44 {
    width: 44%;
}
.w45 {
  width: 45%;
}

.w50 {
  width: 50%;
}

.w55 {
  width: 55%;
}

.w60 {
  width: 60%;
}

.w65 {
  width: 65%;
}

.w70 {
  width: 70%;
}

.w75 {
  width: 75%;
}

.w80 {
  width: 80%;
}

.w85 {
  width: 85%;
}

.w90 {
  width: 90% !important;
}

.w95 {
  width: 95%;
}

.w96 {
  width: 96%;
}

.w125px{
  width: 125px;
}

.w180px{
  width: 180px;
}

.wd-auto{
  width: auto !important;
}

.h6 {
  height: 6%;
}

.h7 {
  height: 7%;
}

.h8 {
  height: 8%
}

.h10 {
  height: 10%;
}

.h12 {
  height: 12%;
}

.h15 {
  height: 15%;
}

.h25 {
  height: 25%;
}

.h50 {
  height: 50%;
}

.h60 {
  height: 60%;
}

.h75 {
  height: 75%;
}

.h80 {
  height: 80%;
}

.h90 {
  height: 90%;
}

.h95 {
  height: 95%;
}

.h100 {
  height: 100%;
}

.h32px{
  height: 32px;
}

.h75px{
  height: 75px;
}

.h80px {
  height: 80px;
}

.h70px {
  height: 70px;
}
.h-250{
    height: 250px !important;
}
.h-95{
    height: 95px;
}



/* GENERAL PADDING CLASSES */
.pad-a2 {
  padding: 2px;
}

.pad-a3 {
  padding: 3px;
}

.pad-a5 {
  padding: 5px;
}

.pad-a8 {
  padding: 8px;
}

.pad-a10 {
  padding: 10px;
}

.pad-a14 {
  padding: 14px;
}
.pad-a15 {
  padding: 15px;
}

.pad-a20 {
  padding: 20px;
}

.pad-a30 {
  padding: 30px;
}

.pad-h0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.pad-h2 {
  padding-left: 2px;
  padding-right: 2px;
}

.pad-h5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.pad-h10 {
  padding-left: 10px;
  padding-right: 10px;
}

.pad-v5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pad-v8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.pad-v10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pad-v15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* GENERAL MARGIN CLASSES */
.mar0 {
    margin: 0 !important;
}
.mar-v5{
    margin-top: 5px;
    margin-bottom: 5px;
}

.mar-v10{
    margin-top: 10px;
    margin-bottom: 10px;
}

.mar-h10 {
  margin-left: 10px;
  margin-right: 10px;
}

.mar-h8 {
  margin-left: 8px;
  margin-right: 8px;
}

.mar-t6 {
  margin-top: -6px;
}

.mar-t4 {
  margin-top: 4px;
}

.mar-t2 {
  margin-top: 2px;
}

.mar-b4 {
  margin-bottom: 4px;
}

.mar-b10 {
  margin-bottom: 10px;
}

.mar-b12 {
  margin-bottom: 12px;
}

.mar-b15 {
  margin-bottom: 15px !important;
}

.mar-b20 {
  margin-bottom: 20px;
}

.mar-t5{
    margin-top: 5px;
}

.mar-t10{
    margin-top: 10px;
}

.mar-t15 {
  margin-top: 15px;
}

.mar-t20 {
  margin-top: 20px !important;
}


/* PADDING MARGIN IN PERCENTAGE */
.pd-a1 {
  padding: 1%;
}

.pd-a2 {
  padding: 2%;
}

.pd-a3 {
  padding: 3%;
}

.pd-a5 {
  padding: 5% !important;
}

.pd-h1 {
  padding-left: 1%;
  padding-right: 1%;
}

.pd-h2 {
  padding-left: 2%;
  padding-right: 2%;
}

.pd-h3 {
  padding-left: 3%;
  padding-right: 3%;
}

.pd-h5 {
  padding-left: 5%;
  padding-right: 5%;
}

.pd-v1 {
  padding-top: 1%;
  padding-bottom: 1%;
}

.pd-v2 {
  padding-top: 2%;
  padding-bottom: 2%;
}

.pd-v3 {
  padding-top: 3%;
  padding-bottom: 3%;
}

.pd-v4 {
  padding-top: 4%;
  padding-bottom: 4%;
}

.pd-v5 {
  padding-top: 5%;
  padding-bottom: 5%;
}

.pd-b2 {
  padding-bottom: 2%;
}

.pd-b3 {
  padding-bottom: 3%;
}

.pd-b5 {
  padding-bottom: 5%;
}

.pd-l5 {
  padding-left: 5%;
}

.mr-auto{
  margin: auto;
}

.mr-a1 {
  margin: 1%;
}

.mr-a2 {
  margin: 2%;
}

.mr-a3 {
  margin: 3%;
}

.mr-h8 {
  margin-left: 8%;
  margin-right: 8%;
}

.mr-h5 {
  margin-left: 5%;
  margin-right: 5%;
}

.mr-h4 {
  margin-left: 4%;
  margin-right: 4%;
}

.mr-h3 {
  margin-left: 3%;
  margin-right: 3%;
}

.mr-h2 {
  margin-left: 2% !important;
  margin-right: 2% !important;
}

.mr-h1 {
  margin-left: 1%;
  margin-right: 1%;
}

.mr-v1 {
  margin-top: 1%;
  margin-bottom: 1%;
}

.mr-v2 {
  margin-top: 2%;
  margin-bottom: 2%;
}

.mr-v3 {
  margin-top: 3%;
  margin-bottom: 3%;
}

.mr-v4 {
  margin-top: 4%;
  margin-bottom: 4%;
}

.mr-v10 {
  margin-top: 10%;
  margin-bottom: 10%;
}

.mr-h20{
    margin-left: 20%;
    margin-right: 20%;
}

.mr-h25{
    margin-left: 25%;
    margin-right: 25%;
}
.mr-b1 {
  margin-bottom: 1%;
}

.mr-b2 {
  margin-bottom: 2%;
}
.mr-t4 {
    margin-top: 4%;
}

.mr-l3{
  margin-left: 3%;
}

.mr-r5 {
    margin-right: 5px;
}

/* GENERAL FONT COLOR CLASSES */
.clr1 {
  color: #000;
}
.clr2 {
  color: #09283d;
}
.clr3 {
  color: #fff;
}
.clr4 {
  color: #f7d72e;
}
.clr5 {
  color: #ed583a;
}
.clr6 {
  color: #1e1e1e;
}
.clr7 {
  color: #186f39;
}
.clr8 {
  color: #555;
}
.clr9 {
  color: #ba3437;
}
.clr10 {
  color: #327bee;
}
.clr11 {
  color: #404040;
}
.clr12 {
  color: #c1c12c;
}
.clr13 {
  color: #077931;
}
.clr14 {
  color: #333;
}
.clr15{
  color: #b2b2b2;
}
.clr16{
    color: #d5d5d5;
}

.text-underline {
  text-decoration: underline;
}

.text-cap {
  text-transform: capitalize;
}

.text-up {
  text-transform: uppercase;
}

.text-low {
  text-transform: lowercase;
}

.text-no-line{
  text-decoration: none;
}


/* GENERAL FONT SIZE CLASSES */
.fs0 {
  font-size: 0;
}

.fs10 {
  font-size: 0.625rem;
}

.fs11 {
  font-size: 0.6875rem;
}

.fs12 {
  font-size: 0.75rem;
}

.fs13 {
  font-size: 0.8125rem;
}

.fs14 {
  font-size: 0.875rem;
}

.fs15 {
  font-size: 0.9375rem;
}

.fs16 {
  font-size: 1rem;
}

.fs17 {
  font-size: 1.0625rem;
}

.fs18 {
  font-size: 1.125rem;
}

.fs20 {
  font-size: 1.25rem;
}

.fs22 {
  font-size: 1.375rem;
}

.fs24 {
  font-size: 1.5rem;
}

.fs26 {
  font-size: 1.625rem;
}

.fs30 {
  font-size: 1.875rem;
}

.fs32 {
  font-size: 2rem;
}

.fs12px {
  font-size: 12px;
}

.fs13px {
  font-size: 13px;
}

.fs14px {
  font-size: 14px;
}

.fs15px {
  font-size: 15px;
}

.fs16px {
  font-size: 16px;
}

.fs18px {
  font-size: 18px;
}

.fs20px {
  font-size: 20px;
}

.fs22px {
  font-size: 22px;
}

.fs24px {
  font-size: 24px;
}

.fs26px {
  font-size: 26px;
}

.fs28px {
  font-size: 28px;
}

.fs30px {
  font-size: 30px;
}

.fs32px {
  font-size: 32px;
}

.fs36px {
  font-size: 36px;
}

.fw-600{
    font-weight: 600 !important;
}

.fw-900{
    font-weight: 900;
}

/* GENERAL BORDER CLASSES */

.bdr-gray-lft {
  border-left: 1px solid #606060;
}

.bdr-gray-right {
  border-right: 1px solid #606060;
}

.bdr-black-right {
  border-right: 1px solid #000;
}

.bdr-gray-bottom {
  border-bottom: 1px solid #dadada;
}

.form-input-bdr-1 input{
  border-bottom: 2px solid #333 !important; 
}

.blue-color {
    color: #09283d;
}

.light-gray {
    color: #eee;
}

.gray-col {
    color: gray;
}

.green-col {
    color: #4b951c;
}

.tbl-layout-fxd{
    table-layout: fixed;
}





