*{margin: 0; padding: 0; box-sizing: border-box;list-style: none;text-decoration: none; outline: none; font-family: 'Calibri'}

.bannerImg img{width: 100%}
.banner{position: relative;}
// .container{width: 1288px; margin: 0 auto; padding-left: 15px; padding-right: 15px}
.row{margin-left:-15px; margin-right: -15px;}
.col-xs-12, .col-xs-11, .col-xs-10, .col-xs-9, .col-xs-8, .col-xs-7, .col-xs-6, .col-xs-5, .col-xs-4, .col-xs-3, .col-xs-2, .col-xs-1, .col-sm-12,.col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1{ padding-left:15px; padding-right: 15px; float: left; position: relative;}
.col-xs-12 { width: 100%; }
.col-xs-11 { width: 91.66666666666666%; }
.col-xs-10 { width: 83.33333333333334%; }
.col-xs-9 { width: 75%; }
.col-xs-8 { width: 66.66666666666666%; }
.col-xs-7 { width: 58.333333333333336%; }
.col-xs-6 { width: 50%; }
.col-xs-5 { width: 41.66666666666667%; }
.col-xs-4 { width: 33.33333333333333%; }
.col-xs-3 { width: 25%; }
.col-xs-2 { width: 16.666666666666664%; }
.col-xs-1 { width: 8.333333333333332%; }
@media (min-width: 768px) {
	.col-sm-12 { width: 100%; }
	.col-sm-11 { width: 91.66666666666666%; }
	.col-sm-10 { width: 83.33333333333334%; }
	.col-sm-9 { width: 75%; }
	.col-sm-8 { width: 66.66666666666666%; }
	.col-sm-7 { width: 58.333333333333336%; }
	.col-sm-6 { width: 50%; }
	.col-sm-5 { width: 41.66666666666667%; }
	.col-sm-4 { width: 33.33333333333333%; }
	.col-sm-3 { width: 25%; }
	.col-sm-2 { width: 16.666666666666664%; }
	.col-sm-1 { width: 8.333333333333332%; }
}
@media (min-width: 992px) {
	.col-md-12 { width: 100%; }
	.col-md-11 { width: 91.66666666666666%; }
	.col-md-10 { width: 83.33333333333334%; }
	.col-md-9 { width: 75%; }
	.col-md-8 { width: 66.66666666666666%; }
	.col-md-7 { width: 58.333333333333336%; }
	.col-md-6 { width: 50%; }
	.col-md-5 { width: 41.66666666666667%; }
	.col-md-4 { width: 33.33333333333333%; }
	.col-md-3 { width: 25%; }
	.col-md-2 { width: 16.666666666666664%; }
	.col-md-1 { width: 8.333333333333332%; }
}
.container:before, .container:after, .row:before, .row:after{ display: table; content: " "; }
.container:after, .row:after{ clear: both; }



.cms-content{
	font-size: 16px;
	ul{
		padding: 5px 5px 5px 30px;
		li{
			list-style-type: disc;
			font-size: 16px;
		}
	}
	h1{color:#0a283d; float: left;font-size: 24px;font-weight: bold;text-transform: capitalize;margin: 15px 0 10px 0;}
	h4{color:#0a283d; font-size: 18px; font-weight: bold; padding: 5px 0;}
	h5{color:#0a283d; font-size: 16px; font-weight: bold; padding: 5px 0;}
	table{
		th{
			font-weight: bold;
		}
		th,td{
			border: 1px solid #333;
			text-align: center;
		}
	}
	p{
	    word-wrap: break-word;
	}
	a, a:active, a:hover, a:focus{text-decoration: none;}
	img{max-width: 100%; vertical-align: middle;}
}



.mainDiv{background: #d5d5d5;margin-bottom: 20px;}

.faq-type{
	h4{
		font-size: 18px !important;
		font-weight: bold;
		margin: 20px 0 0 0 !important;
	}
	p{
		font-size: 16px;
		margin: 0;
	}
}


.text-center{text-align: center;}
.innerNavSec{background: #0a283d; }
.innerNav{padding: 0 !important;}
.innerNav li{width: 16%;display: inline-block; float: left;}
.innerNav li a{ text-align: center; padding: 15px 0; display: block; color: #fff; border-right: 1px solid #469dda}
.innerNav li a.active{background: #144669}
.box {border-radius: 10px; border: 2px solid #303030; background: #fff}
.titleBox {text-align: center; padding: 20px 40px;background: #0a283d;color: #fff;font-size: 24px; min-height: 98px;line-height:normal;border-radius: 0 0 5px 5px;}
.darkgray{ background: #d5d5d5; }
.paddingtb{padding: 20px 0;}
.globleHeadingh2, .intro h2{font-size: 36px; margin-bottom: 20px;}
.globleHeadingh2, .intro h1{font-size: 36px; margin: 0 0 10px 0; width: 100%;font-weight: normal;}
.mrbtm-30{margin-bottom: 30px;}
.globleHeadingh4, .intro h4{font-size: 20px; margin-bottom: 20px;}
.slick-prev, .slick-next{position: absolute;left: -30px; bottom: 0; top: 0; margin: auto; height: 23px; width: 20px; text-indent: -200px; overflow: hidden; background: url(../assets/images/arrow.png) no-repeat left center !important; border:none; cursor: pointer;}
.slick-next{left:auto; right: -30px; background-position:right center !important; }
.slick-disabled{opacity: 0.3;}


.p_policy, .how_Play, .contactUs{padding:0 0 20px 0;}
// .p_policy h1, .how_Play h1, .contactUs h1{margin: 10px 0;}
.p_policy p, .p_policy li{font-size: 18px;margin-bottom: 15px;}
// .p_policy h1, .how_Play h1, .contactUs h1{color:#0a283d; float: left;font-size: 20px;font-weight: bold;text-transform: capitalize;}

// BEGIN Contact us page Specific CSS
.contactUs form{width: 100%; float: left;}
.contactUs input{width: 100%;padding: 10px;font-size: 17px;margin-bottom: 10px;border: none;border: 1px solid #a8a8a8;border-radius: 5px;}
.contactUs textarea{min-height: 200px; font-size: 17px;border: none;padding: 10px;width: 100%;border: 1px solid #a8a8a8;border-radius: 5px;}
.contactUs .attached input{margin: 0; border: none;}
.contactUs input[type="file"]{width: 100%; position: absolute; left: 0; top: 0; opacity: 0; margin: 0;padding: 0;height: 100%; cursor: pointer;}
// END Contact us page Specific CSS

// BEGIN How to Play page Specific CSS
.how_Play p{font-size: 18px; margin-bottom: 10px;}
.how_Play table{width: 100%; border-spacing:0; margin: 10px 0 30px;}
.how_Play thead{background: #bfbfbf;}
.how_Play tr{overflow: hidden;}
.how_Play tbody{ background: #e5e5e5;}
.how_Play tbody tr:nth-child(even){background: #e0e0e0;}
.how_Play tr td{ padding: 10px; }
.how_Play h4{font-size: 20px; margin-bottom: 10px;}
// END How to Play page Specific CSS

.fps p{font-size: 18px; margin-bottom: 10px;}
.fps table{width: 100%; border-spacing:0; margin: 10px 0 30px;}
.fps thead{background: #bfbfbf;}
.fps tr{overflow: hidden;}
.fps tbody{ background: #e5e5e5;}
.fps tbody tr:nth-child(even){background: #e0e0e0;}
.fps tr td{ padding: 10px;border: 1px solid #333;}
.fps h4{font-size: 20px; margin-bottom: 10px;}

// BEGIN Accordion CSS
.accordion{display: none;position: absolute;left: 200px;top: 0;padding-left: 40px; padding-right: 15px;}
.accordion.active{display: block;}
.accordion h4{font-size: 16px; margin-bottom: 2px; font-weight: bold;}
.accordion p{}
.tabBtn {color: #fff; width: 200px; display:block;background: #0a283d;padding: 10px; border: 1px solid #a8a8a8; border-top: none; position: relative; z-index: 1;}
.active .tabBtn{
	color:#fff; background: #ed583a;
}
.tabbs:first-child .tabBtn{border-top: 1px solid #a8a8a8;}
@media screen and (max-width: 992px) {
	.tabbs{position: relative;}
	.accordion{position: static;padding:10px;}
	.tabBtn{width: 100%;}
	.tabBtn::after {background: url(../assets/images/arrow-accordion.png) no-repeat right bottom / 100%; content: ''; width: 14px;height: 10px;position: absolute;    right: 6px; top: 0; bottom: 0; margin: auto;}
	.active .tabBtn::after{background-position: right top}
}
.tabbs{
	.accordion{
		display: none;
	}
	&.active{
		.accordion{
			display: block;
		}
	}
	a:hover, a:focus{
        color: #fff;
    }
}
// END Accordion CSS

.imgBox{
	height: 180px;
	display: flex;
	justify-content: center;
	align-items: center;
	img{
		max-width: 100%;
		max-height: 100%;
	}
}


.customBtn{ padding: 8px 20px; color:#0a283d; background: #bfbfbf;border-radius: 3px;border:1px solid #b0b0b0;text-transform: uppercase;font-size: 14px;}
.globleBlue{color:#0a283d;}
.overflow{overflow: hidden;}
.pull-left{ float: left; }
.pull-right{ float: right; }
.brdrBtm::after { border-bottom: 2px dotted #0a283d;width: 100%; content: ''; height: 1px; float: left; margin-bottom: 20px;}


.attached{position: relative;border: 1px solid #a8a8a8;border-radius: 5px;overflow: hidden;top: -16px;}

.attached::before{content: ''; position: absolute;left: 0;height: 80%; top: 0; bottom: 0; margin: auto; border-right: 1px solid #a8a8a8; width: 50px; background: url(../assets/images/attached_icon.png) no-repeat center center;}

.faqpos{position: relative;}

@media screen and (max-width: 1300px) {
	// .container {width: 1170px}	
	// .innerNav li {width: 186px;}
}

@media screen and (max-width: 1199px) {
	// .container {width: 950px}	
	// .innerNav li {width: 150px;}
	.titleBox{font-size: 18px; min-height: 84px;padding: 20px 25px;}
}

@media screen and (max-width: 992px) {
	// .container {width: 750px}	
	// .innerNav li {width: 100px;}
	.titleBox{font-size: 18px; min-height: 84px;padding: 20px 25px;}
	.banner{padding:40px;background: #0a283d;}
	.innerNavSec{padding:0 0 20px 0}
	.innerNavSec .container{width: 100%; border: 1px solid #469dda;border-left: none;border-right: none;padding: 0 40px;}
	.innerNav li.slick-active + li.slick-active + li.slick-active a{ border-right:none; }
	.bannerImg{border: 2px solid #000;border-radius: 10px;overflow: hidden;}
}
@media screen and (max-width: 767px) {
	.banner {padding: 20px;}
	.innerNav{width: 80%; margin: auto;}
	.innerNav li {width: 100%;}
	.box { border-radius: 0;border:none; background: transparent;}
	.titleBox { font-size: 24px; min-height: 84px; padding: 0px; background: transparent; color: #000}
	// .container{width:100%;}
	.innerNav li.slick-active + li.slick-active a{ border-right:none; width: auto !important; }
	.intro.paddingtb{padding: 10px 0;}
	.globleHeadingh2, .intro h2 {font-size: 28px;margin-bottom: 10px;}
	.globleHeadingh2, .intro h1 {font-size: 28px;margin-bottom: 10px; width: 100%;font-weight: normal;}

	.mrbtm-30 { margin-bottom: 20px;}
	.bx1 .imgBox img{ margin-top: -60px;}
	.bx1 .titleBox {margin-top: -23px;}
	.bx3 .titleBox{ margin-top: 8px;}
	.bx4 .imgBox img{ margin-top: -35px;}
	.bx2 .imgBox img{ margin-top: -15px;}
	.bx3 .imgBox img{ margin-top: -10px;}
	.bx4 .titleBox{ margin-top: -40px;}
	.titleBox {min-height: 60px;}
	.innerNavSec { padding: 0 0 10px 0;height: 65px; overflow: hidden;}
	.globleHeadingh4, .intro h4{font-size: 16px}
	.how_Play p, .divTable, .p_policy p, .p_policy li, .intro p{font-size: 14px}
	.customBtn{display:none;}
	.slick-prev{left: -30px !important;}
	.slick-next{right: -30px !important;}
	.slick-slider{margin-bottom: 0 !important;}
}


@media screen and (max-width: 480px) {
	.innerNav li a{border-right: none;}
	.banner {padding: 10px;}
	.titleBox {font-size: 16px;}
}

// Breakpoints for Desktop
@media screen and (min-width: 768px) {
	.for-desk-view{
		display: block;
	}
	.for-mobile-view{
		display: none;
	}
}

// Breakpoints for Mobile devices
@media screen and (max-width: 767px) {
	.for-desk-view{
		display: none;
	}
	.for-mobile-view{
		display: block;
	}
}

.get-started-btn-position{
	position: absolute;
	left: 17%;
    bottom: 17%;
}

.get-started-btn-position a:hover,
.get-started-btn-position a:focus{
	color:#fff;
}

.get-started-btn{
	background: #a14b27;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    border: 3px solid #fff;
    width: auto;
	padding: 10px 20px !important;
    font-size: 30px;
	text-shadow: 2px 3px #323232;
}

.pulse-btn{
	-webkit-animation-name: pulse;
    animation: pulse 3s infinite;
    -webkit-animation-duration: 1s;
     animation-duration: 1s;
     -webkit-animation-fill-mode: both;
     animation-fill-mode: both;
     animation-iteration-count: infinite;
     animation-timing-function: linear;
}