/****************************************

FONT COMMON (MOBILE, TAB, DESKTOP)

****************************************/

/* CALIBRI REGULAR */

@font-face {
     font-family: 'CalibriRegular';
     src: url('../assets/fonts/calibri.eot');
     src: url('../assets/fonts/calibri.eot?#iefix') format('embedded-opentype'),
          url('../assets/fonts/calibri.woff') format('woff'),
          url('../assets/fonts/calibri.ttf') format('truetype'),
          url('../assets/fonts/calibri.svg#CalibriRegular') format('svg');
     font-weight: normal;
     font-style: normal;
}

/* CALIBRI BOLD */

@font-face {
     font-family: 'CalibriRegular';
     src: url('../assets/fonts/calibri-bold.eot');
     src: url('../assets/fonts/calibri-bold.eot?#iefix') format('embedded-opentype'),
          url('../assets/fonts/calibri-bold.woff') format('woff'),
          url('../assets/fonts/calibri-bold.ttf') format('truetype'),
          url('../assets/fonts/calibri-bold.svg#CalibriRegular') format('svg');
     font-weight: bold;
     font-style: normal;
}

@font-face {
    font-family: PaddingtonSC;
    src: url('../assets/fonts/PaddingtonSC.ttf') format('truetype');
}

@font-face {
    font-family: Rupee;
    src: url('../assets/fonts/Rupee_Foradian.ttf') format('truetype');
}