.forgot-password-form{
	margin: 0 auto;
	padding: 15px 0;
}

.forgot-password-popup .resend-otp {
    color: #ed583a;
    font-weight: 600;
    font-size: 16px;
    background: transparent;
    border: 0;
    outline: none;
	padding: 10px 5px;
    &:hover{
    	text-decoration: underline;
    }
}