/****************************************

// MODULE COMPONENT
// PLATFORM : MOBILE, TAB, DESKTOP

****************************************/
body{
	background: #d5d5d5;
}

.main-wrapper{
	position: relative;
}

.floating-input-wrapper {
	position: relative;
	margin: 10px 0 30px 0;
}

/* BEGIN CSS override for form inputs no icons */
.floating-input-wrapper.no-icon{
	input{
		padding: 5px;
		width: 100%;
		min-height: 20px;
	}

	.floating-label {
		left: 0;
	}
	.form-control:focus ~ .floating-label,
	.form-control:not(.empty) ~ .floating-label {
		left: 0;
	}
} 
/* END CSS override for form inputs no icons */

.floating-input-wrapper input{
	//border: none;
	background: transparent;
	outline: none;
	padding: 5px;
	width: calc(100% - 30px);
	//border-bottom: 2px solid #646464;
	font-family: CalibriRegular;
	//border-radius: 0;
	font-size: 17px;
	letter-spacing: 0.6px;
}

.floating-label {
	color: #888;
	font-size: 17px;
	position: absolute;
	pointer-events: none;
	left: 30px;
	top: 5px;
	transition: 0.2s ease all;
}
.form-control:focus ~ .floating-label,
.form-control:not(.empty) ~ .floating-label {
	top: -12px;
	left: 30px;
	font-size: 11px;
}

.input-error{
	color: #ed583a;
	font-size: 14px;
	text-align: left;
	margin: 2px 0;
	position: absolute;
}

.input-icon{
	height: 20px;
	width: 20px;
	display: inline-block;
	background-size: cover !important;
	position: absolute;
	top: 0;
}

// BUTTON CSS
.button{
	display: inline-block;
	padding: 8px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	user-select: none;
	outline: none;
	border: 1px solid transparent;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 0.8px;
	width: 140px;
	border-radius: 2px;
	font-family: $mainFont;
}

.button:hover,
.button:active{
	opacity: 0.9;
	text-decoration: none;
}

.button.btn-lg{
	padding: 12px;
	font-size: 20px;
	width: 150px;
}

.button.btn-md{
	padding: 5px;
	font-size: 15px;
	width: 110px;
}

.button.btn-sm{
	padding: 4px 6px;
	font-size: 14px;
	width: 80px;
}

.button.btn-xs{
	padding: 2px 3px;
	font-size: 12px;
	width: 55px;
}

.button.btn-wd-auto{
	width: initial !important;
}

.btn-style-1{
	background: #2f5378;
	color: #fff;
}

.btn-style-2{
	background: #ed583a;
	color: #fff;
	font-weight: normal;
}

.btn-style-3{
	background: #ed583a;
	color: #fff;
	font-weight: normal;
	padding: 3px 0 !important;
}

.btn-style-4{
	background: #ccc;
    color: #09283d;
	font-weight: normal;
}

.btn-style-5{
	background: #bfbfbf;
	color: #09283d;
	font-weight: normal;
}

.btn-style-6{
	background: #20394d;
	text-transform: none;
	font-weight: normal;
	border-radius: 4px;
}

.btn-style-8{
	background: #20394d;
	color: #fff;
	font-weight: normal;
}

.btn-style-7{
	background: #ccc;
    color: #09283d;
    padding: 5px;
	font-weight: normal;
	width: 130px !important;
	font-size: 13px;
}

.btn-style-9{
	background: #a14b27;
	color: #fff;
	font-weight: 600;
}

.loader-overlay{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100001;
	font-family: CalibriRegular;
	background: rgba(0, 0, 0, 0.7);
	overflow: hidden;
}

.loader{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	text-align: center;
	color: #fff;
	width: 50%;
}

.loader .fa.fa-circle-o-notch{
	font-size: 36px;
}

.loading-label {
	display: block;
	font-size: 1.875rem;
	padding-left: 10px;
}

.desk-popup-wrapper{
	.desk-popup-body{
		padding: 15px 25px;
		font-size: 18px;
	}
	.desk-popup-footer{

	}
}

.bubble{
    height: 20px;
    width: 20px;
    border-radius: 20px;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
}

.m-bubble {
    height: 35px;
    width: 35px;
    border-radius: 35px;
    font-size: 22px;
    line-height: 35px;
    text-align: center;
    border: 1px solid grey;
}

.bb-type-1{
    background: #cccccc;
}

.bb-type-2{
    background: #eec325;
}

.bb-type-3 {
    background: #ff0000;
}

bb-type-4{
    
}

.tbl-header{
	display: table;
	width: 100%;
	.col{
		display: table-cell;
	}
}

.tbl-header.style-1{
	border: 1px solid #aeaeae;
	background: #fff;
	position: relative;
    top: -2px;
	.col{
		border-right: 1px solid #aeaeae;
		&:last-child{
			border-right: 0;
		}
	}
}

.input-static-label{
	background: #fff;
    border: 1px solid #bbb;
    border-radius: 6px;
    padding: 6px 12px;
    font-size: 20px;
    text-align: left;
    /* margin: 10px 0 20px; */
    position: relative;
	label{
		margin: 0;
		font-size: 16px;
	}

	input{
		border: 0;
		outline: none;
		display: inline-block;
		width: 70%;
		font-size: 16px;
	}
}
