/* MyAccount page css  */
.container1 {
    margin: 0 3%;
}
.container-data {
    clear: both;
    float: left!important;
    border-top: #000 dashed 1px;
}
.pad-v30-h0 {
    padding: 30px 0px;
}
.rect-box {
    background-color: #fff;
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.header-box{
    background-color: #09283d;
    height: 30px;
    padding-right: 0px !important;
    color: #fff;
    line-height: 30px;
    padding-left: 10px !important;
}

.score-table {
     th, td{
         border:solid 1px;
         border-collapse:collapse;
     }
}

.sign-div {
    background: #d5d5d5 !important;
    line-height: 95px;
}
.ln-height-70 {
    line-height: 70px;
}
.margin-l8{
    margin: 0 0 0 8px;
}
.margin-r8{
    margin: 0 8px 0 0;
}
.table-row-center td{
    text-align: center;
}

.verify-img{
    background: url("../assets/images/sports/cricket/VerifySprite.png") no-repeat;
    height: 41px;
    width: 54px;
	background-size: cover;
	left: 8px;
	top: 8px;
    margin-top: -13px;
}

.verified {
    background-position: 0px 0px;
}

.underprocess {
    background-position: -106px 0px;
}

.notverified {
    background-position: -54px 0px;
}

[data-tooltip] {
  &:hover {
    &:before, &:after {
      display:block;
      position:absolute;
      font-size:14px;
      color:white;
    }
    &:before {
      border-radius:0.2em;
      content:attr(data-tooltip);
      background-color:rgba(0,0,0,0.9);
      margin-top:-4.5em;
      padding:0.3em;
    }
    &:after {
      /*content:'';*/
      margin-top:-2.1em;
      margin-left:1em;
      border-style:solid;
      border-color:transparent;
      border-top-color:rgba(0,0,0,0.9);
      border-width:0.5em 0.5em 0 0.5em;
    }
  }
}

.tooltip{
	[data-tooltip]:hover:before{
		width: 60%;
        left: 20%;
    	z-index: 1;
	}
}


.inner_table {
    height: 220px;
    overflow-y: auto;
}

.txn-history{
    a:hover, a:focus{
        color: #fff;
    }
}