/* My Profile screen css */
/*Mobile css*/
.m-myprofile {
    .text-field > .placeholder {
        background: #d5d5d5;
    }
    .text-field input{
        background-color: #d5d5d5;
        border: 1px solid #707070;
    }
    select{
        background-color: #d5d5d5;
        border: 1px solid #707070;
    }
    .gray-col-disabled{
        background-color: #c0c0c0 !important;
    }
}

.err-bottom{
    bottom: -15px;
}
.mar-bottom25 {
    margin-bottom: 25px !important;
}

.no-pad-top {
    padding: 0 15px 15px 15px;
}
.comn-radio li {
    display: inline-block;
    margin-left: 24px;
    float: left;
}
.cstm-radio {
    padding-top: 0px !important;
    min-height: 0px !important;
}
.cstm-radio label{
    margin-right: 20px;
    padding-left: 0px;
}
.cstm-radio input{
    margin: 5px 0 0;
    width: 18px;
    height: 18px;
}

.comn-radio label {
    font-size: 17px;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.text-field  {
    position: relative;
    margin: 0px 0 5px 0;
}

.text-field>input, .text-field>select {
    float: left!important;
    position: relative;
    color: #09283d;
    /*margin: 0px 0 10px 0;*/
}
.text-field>.placeholder.sel {
    top: -10px;
    left: 8px;
    margin-bottom: 0px !important;
}
.text-field>.placeholder {
    color: #878787;
    cursor: text;
    float: left!important;
    font-size: 13px;
    position: absolute;
    top: 10px;
    left: 8px;
    background: #fff;
    padding: 0 5px;
    z-index: 5;
}

.err-msg {
    margin: 2px 0 0 4px;
    float: left;
    font-size: 12px;
    color: red;
}
.btn-div{
    width: 50% !important;
    margin: auto !important;
}

.text-dob{
    color: #09283d !important;
}




/* Home screen css */
/* Mobile css */
.m-signup{
    .signup-conatiner{
        position: initial;
        width: 98%;
        margin: auto;
    }
    .signup-conatiner .signup-form {
        border-radius: 0 0 4px 4px;
        width: 100%;
        background: #fff;//09283D
        float: none;
        padding: 0 10px;
        box-shadow: 0 0 0;
    }
    .box-with-footer {
        background-color: #EEEEEE;
    }
    .bottom-heading {
        font-size: 20px;
        color: #000;
        background-color: #EEEEEE;
        height: 70px;
    }
    .step-img-bx {
        margin-bottom: 0px;
        margin-top: 10px;
        width: 100%;
        min-height: 95px;
    }
    .signup-form .social-buttons {
        margin: 10px 0;
    }
    .tabs-wrapper{
        width: 100%;
        padding: 0 0;
    }
    .tabs-wrapper li{
        width: 50%;
        float: left;
        text-align: center;
        padding: 7px 0;
        margin: 0 !important;
        border-radius: 0px;
        background: #D5D5D5;
        font-size: 16px;
    }
    .tabs-wrapper li:hover, .tabs-wrapper li.active {
        background: #ed583a;
        color: #fff;
    }
    .forgot-lbl{
        font-size: 14px;
        color: gray;
        font-weight: 200;
    }
    .signup-wrapper {
        padding: 12px 4px;
        background: #09283d;
    }
    .tabs-wrapper li:first-child{
        border-top-left-radius: 4px !important;
    }
    .tabs-wrapper li:last-child{
        border-top-right-radius: 4px !important;
    }
    .box-with-footer {
        border-radius: 0px;
        border: 2px transparent;
    }
}

.testi-container{
    slick {
        height: 140px;
    }
    .slick-dots {
        bottom: -8px !important;
    }
}

.item-container{
    border-radius: 15px;
    background: #fff;
    height: 120px;
}

.home-banner{
    width:100%;
    height:430px;
}

.how-to-play-position{
    position: absolute;
    left: 28%;
    top: 300px;
}

.how-to-play-position a{
    border-radius: 5px;
    border: 3px solid #fff;
    padding: 10px 20px !important;
    font-size: 30px;
    text-shadow: 2px 3px #323232;
}

.how-to-play-position a:hover, .how-to-play-position a:focus{
    color:#fff;
    opacity: 1;
}

.how-to-play-position .pulse {
    -webkit-animation-name: pulse;
    animation: pulse 3s infinite
}
@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
  }
  50% {
    -webkit-transform: scale3d(1.05,1.05,1.05);
    transform: scale3d(1.05,1.05,1.05);
  }
  100% {
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
  }
}

.how-to-play-position .animated {
     -webkit-animation-duration: 1s;
     animation-duration: 1s;
     -webkit-animation-fill-mode: both;
     animation-fill-mode: both;
}

.how-to-play-position .animated {
     animation-iteration-count: infinite;
     animation-timing-function: linear;
}

.signup-conatiner {
    right: 130px;
    position: absolute;
    top: 28px;
}
.signup-conatiner .signup-form {
    border-radius: 10px;
    width: 366px;;
    background: #fff;
    float: left;
    padding: 0 10px;
    box-shadow: 0 0 6px #000;
}

.signup-form {
    .login-txt {
        float: left;
        color: #264462;
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        width: 100%;
        margin: 6px 0;
    }
    .social-buttons {
        width: 100%;
        float: left;
        font-weight: 400;
        padding: 0 10px;
        font-size: 14px;
        line-height: 24px;
        font-family: 'Calibri';
    }
    .social-buttons a {
        margin: 0 12px;
    }
    .g-btn, .fb-btn {
        color: #fff;
        padding: 6px 20px 6px 17%;
        float: left;
        border-radius: 5px;
        width:40%;
    }
    .fb-btn {
         background: url(../assets/images/Fb.gif) no-repeat #30497c;
    }

    .g-btn {
        background: url(../assets/images/Gplus.gif) no-repeat #bf4233;
        float: right;
    }
    .or {
        border-bottom: 1px solid #b2b2b2;
        float: left;
        width: 293px;
        margin: 17px 24px 5px;
        height: 1px;
        position: relative;
    }
    .or>span {
        color: #264462;
        font-size: 15px;
        font-weight: 400;
        background: #fff;
        position: absolute;
        top: 0;
        left: 50px;
        margin: -13px 0 0;
        padding: 5px 20px;
    }
    .txt-field {
        float: left;
        margin: 10px 18px 10px;
        width: 87%;
    }
    .txt-field .dob {
        /*margin-right: 3%;*/
    }
    .agree {
        margin: 0px 18px 10px;
        float: left;
        width: 89%;
    }
}

.agree .checkbox label {
    padding-left: 0px;
    color: #21497c;
}


.orange-btn {
    border-radius: 5px;
    background: #ed583a;
    padding: 12px 0;
    cursor: pointer;
    display: inline-block;
    min-width: 30px;
    text-align: center;
    line-height: 18px;
    font-weight: 700 !important;
    color: #fff;
    margin: 0 18px 20px;
    width: 89%;
    font-size: 20px;
}

.heading .section-content {
    padding: 20px 0;
}
.heading h2{
    font-weight: 700;
    font-size: 20px;
}

.step-img-bx {
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
    height: 180px;
}

.step-img-bx img {
    max-height: 100%;
    max-width: 100%;
}

.box-with-footer {
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #303030;
}

.bottom-heading {
    background-color: #09283D;
    color: #fff;
    font-size: 20px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px 15%;
    line-height: normal;
}


.testimonails-box {
    margin: 0 10px;
    padding-left: 85px;
}

.testimonails-img {
    left: 0;
    position: absolute;
    top: 25px;
}

.testimonails-review > p {
    color: #333;
    font-size: 14px;
    line-height: normal;
}
.testimonails-review > span {
    color: #000;
    display: inline-block;
    font-size: 16px;
    margin-top: 8px;
    font-weight: 600;
    text-transform: uppercase;
}
.testimonails-img > img {
    border-radius: 100%;
    height: 70px;
    line-height: 70px;
    width: 70px;
    vertical-align: middle;
}

.slick-dots li button:before {
    opacity: 1 !important;
    color: #303030 !important;
}


.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #df4a32 !important;
}

