/****************************************

// Ngdialog override CLASSES RULES ARE DEFINED HERE
// PLATFORM : Mobile, Tab, Desktop

****************************************/

/* NgDialog override classes */

.ngdialog.ngdialog-theme-popup {
  /*padding-bottom: 160px;
  padding-top: 160px;*/
}

.ngdialog.ngdialog-theme-popup.ngdialog-closing .ngdialog-content {
  /*-webkit-animation: ngdialog-flyout .5s;
  animation: ngdialog-flyout .5s;*/
}

.ngdialog.ngdialog-theme-popup{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ngdialog.ngdialog-theme-popup .ngdialog-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    z-index: -1;
}

.ngdialog.ngdialog-theme-popup .ngdialog-content {
  /*-webkit-animation: ngdialog-flyin .5s;
  animation: ngdialog-flyin .5s;*/
  border-radius: 1px;
  color: #444;
  font-family: CalibriRegular;
  font-size: 1.375rem;
  line-height: normal;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  /*padding: 15px;*/
  //position: absolute;
  //top: 50%;
  //left: 50%;
  // transform: translate3d(-50%, -50.5%, 0);
  // -webkit-transform: translate3d(-50%, -50.5%, 0);
  //transform: translateX(-50%) translateY(-50%) translateZ(0);
  width: 94%;
  max-width: 600px;
  text-align: center;
  background: #ffffff;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  /*background: linear-gradient(to bottom, #fdfdfd 0%, #dadada 100%);*/
  /*border: 2px solid #707070;*/
}


.ngdialog.ngdialog-theme-popup .ngdialog-close {
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}

.ngdialog.ngdialog-theme-popup .ngdialog-close:before {
  background: transparent;
  border-radius: 3px;
  color: #bbb;
  content: '\00D7';
  font-size: 26px;
  font-weight: 400;
  height: 30px;
  line-height: 26px;
  position: absolute;
  right: 3px;
  text-align: center;
  top: 2px;
  width: 30px;
}

.ngdialog.ngdialog-theme-popup .ngdialog-close:hover:before,
.ngdialog.ngdialog-theme-popup .ngdialog-close:active:before {
  color: #777;
}

.ngdialog.ngdialog-theme-popup .ngdialog-message {
  margin-bottom: .5em;
}

.ngdialog.ngdialog-theme-popup .ngdialog-input {
  margin-bottom: 1em;
}

.ngdialog.ngdialog-theme-popup .ngdialog-input textarea,
.ngdialog.ngdialog-theme-popup .ngdialog-input input[type="text"],
.ngdialog.ngdialog-theme-popup .ngdialog-input input[type="password"],
.ngdialog.ngdialog-theme-popup .ngdialog-input input[type="email"],
.ngdialog.ngdialog-theme-popup .ngdialog-input input[type="url"] {
  background: #fff;
  border: 0;
  border-radius: 3px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  margin: 0 0 .25em;
  min-height: 2.5em;
  padding: .25em .67em;
  width: 100%;
}

.ngdialog.ngdialog-theme-popup .ngdialog-input textarea:focus,
.ngdialog.ngdialog-theme-popup .ngdialog-input input[type="text"]:focus,
.ngdialog.ngdialog-theme-popup .ngdialog-input input[type="password"]:focus,
.ngdialog.ngdialog-theme-popup .ngdialog-input input[type="email"]:focus,
.ngdialog.ngdialog-theme-popup .ngdialog-input input[type="url"]:focus {
  box-shadow: inset 0 0 0 2px #8dbdf1;
  outline: none;
}

.ngdialog.ngdialog-theme-popup .ngdialog-buttons {
  *zoom: 1;
}

.ngdialog.ngdialog-theme-popup .ngdialog-buttons:after {
  content: '';
  display: table;
  clear: both;
}

.ngdialog.ngdialog-theme-popup .ngdialog-button {
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  float: right;
  font-family: inherit;
  font-size: .8em;
  letter-spacing: .1em;
  line-height: 1em;
  margin: 0 0 0 .5em;
  padding: .75em 2em;
  text-transform: uppercase;
}

.ngdialog.ngdialog-theme-popup .ngdialog-button:focus {
  -webkit-animation: ngdialog-pulse 1.1s infinite;
  animation: ngdialog-pulse 1.1s infinite;
  outline: none;
}

@media (max-width: 568px) {
  .ngdialog.ngdialog-theme-popup .ngdialog-button:focus {
    -webkit-animation: none;
    animation: none;
  }
}

.ngdialog.ngdialog-theme-popup .ngdialog-button.ngdialog-button-primary {
  background: #3288e6;
  color: #fff;
}

.ngdialog.ngdialog-theme-popup .ngdialog-button.ngdialog-button-secondary {
  background: #e0e0e0;
  color: #777;
}
