.msg-popup {
	text-align: center;
}

.popup-header{
	text-align: center;
	font-size: 1.4rem;
	font-weight: 600;
}

.popup-buttons {
	margin-top: 25px;
	margin-bottom: 20px;
	text-align: center;
}

.popup-buttons-single {
	margin-top: 25px;
	margin-bottom: 20px;
	height: 40px;
	text-align: center;
}

.black-btn {
	background: #030303;
	border: none;
	height: 40px;
	width: 35%;
	font-size: 20px;
	color: #fff;
	border-radius: 6px;
}

.black-btn-margin{
	margin: 0 5%;
}

.left-btn {
	margin-left: 10%;
	float:left;
}

.center-btn {
	margin-left: 30%;
}

.right-btn {
	margin-right: 10%;
	float:right;
}

.title-popup{
	padding: 0.7rem;
	background: #09283d;
	width: 100%;
	color: #fff;
	font-size: 2rem;
	text-transform: uppercase;
}

.msg-text{
	margin: 1.2rem;
	font-size: 18px;
}

.terms-popup {
	background: #ffffff;
}


.ng-model-header {
	background: #09283d;
	height: 40px;
	text-align: center;
	border-radius: 1px 1px 0 0;
	position: relative;
}

.ng-model-header .title{
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
	line-height: 40px;
}

.ng-modal-close {
	cursor: pointer;
	color: #ffffff;
	font-size: 24px;
	outline: none;
	position: absolute;
	right: 12px;
	top: 4px;
}

.popup-close-icon{
	height: 26px;
	width: 26px;
	background: url(../assets/images/menu-close-icon.png) no-repeat;
	background-size: cover;
}

.popup-lobby-head {
	padding: 10px 0;
	background: #09283d;
	color: #fff;
	font-size: 2rem;
	margin-bottom: 6px;
}

.red-gradient{
	background: linear-gradient(to bottom, #ebaca0 0%, #e89f92 50%, #a52f18 50%, #e7ada3 100%);
	box-shadow: inset 0px 0px 0px 1px #edd6cf;
}

.gray-gradient{
	background: linear-gradient(to bottom, #b5afae 0%, #8a8888 50%, #707070 50%, #504f4f 100%);
	box-shadow: inset 0px 0px 0px 1px #dad5d3;
}

.ng-modal-close span{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -1px;
}

.grd-btn-red {
	background: linear-gradient(to bottom, #c84646, #c84646 50%, #be2222 50%, #be2222);
	border: 1px solid #c57070;
}

.desk-popup-container{
	max-height: 500px;
	overflow: auto;
	overflow-x: hidden;
}