.ngdialog-theme-popup.prizeinfo-popup{

}

table.prize-info-table{
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #bbb;
	max-width: none;
	overflow: scroll;
	thead, tbody, tr, td, th{ 
		display: block; 
	}
	thead th, tbody td {
		width: 50%;
		float: left;
	}
	tr:after {
		content: ' ';
		display: block;
		visibility: hidden;
		clear: both;
	}
	thead{
		width: 100%;
		padding-right: 17px;
		background: #505050;
		th{
			padding: 8px;
			color: #fff;
			font-weight: 700;
		}
	}
	
	tbody{
		// -webkit-overflow-scrolling: touch;
		// max-width: none;
		max-height: 100px;
		overflow-y: auto;
		
		tr{
			background: #d8d8d8;
			border-bottom: 1px solid #bbb;
			&:last-child{
				border-bottom: 0;
			}
		}
		td{
			color: #333;
			padding: 6px;
			border-right: 1px solid #bbb;
			&:last-child{
				border-right: 0;
			}
		}
	}
}

.cstm-table{
	max-width: none;
	overflow: scroll;
	.tb-head{
		width: 100%;
		// padding-right: 17px;
		background: #505050;
		font-size: 18px;
		.tb-data{
			color: #fff;
			padding: 6px 0;
		}
	}
	.tb-row{
		display: block;
	}
	.tb-row:after {
		content: '';
		display: block;
		visibility: hidden;
		clear: both;
	}
	.tb-data{
		float: left;
		width: 50%;
		text-align: left;
    	padding-left: 10px !important;
	}
	.tb-body{
		max-height: 180px;
		overflow: auto;
		.tb-row{
			border-bottom: 1px solid #bbb;
			&:last-child{
				border-bottom: 0;
			}
		}
		.tb-data{
			color: #333;
			background: #d8d8d8;
			padding: 4px 0;
			font-size: 16px;
			border-right: 1px solid #bbb;
			&:last-child{
				border-right: 0;
			}
		}
	}
}