/****************************************
STATE RULE i.e. Media Queries, element state like disabled, active 
PLATFORM: MOBILE, TAB, DESKTOP

****************************************/

@media only screen and (min-width : 768px) {

  html {
    font-size: 16px !important;
  }

}

// MEDIA QUERIES FOR MEDIUM DEVICES

@media only screen and (max-width : 767px) {

  html {
    font-size: 14px !important;
  }

}

// MEDIA QUERIES FOR SMALL SCREEN DEVICES

// @media only screen and (max-width : 568px) {

//   html {
//     font-size: 14px !important;
//   }

// }

// MEDIA QUERIES FOR EXTRA SMALL SCREEN DEVICES

// @media only screen and (max-width : 480px) {

//   html {
//     font-size: 11px !important;
//   }

// }
