/* Verify now screen css */
.pad-v15-h0 {
    padding: 15px 0px;
}

.ul-detail li {
    list-style: initial;
    margin: 0 17px;
    padding: 0 5px;
}

.circle-div {
    width: 32px;
    height: 32px;
    color: #aaaaaa;
    content: "\f06a";//"\f05a"
    font-size: 16px;
    padding-top: 2px;
    font-family: FontAwesome;
    border-radius: 50%;
    display: inline-block;
}

.circle-sign {
    color: #fff;
    text-align: center;
    width: 31px;
    font-size: 16px !important;
    line-height: 28px !important;
}

.circle-span{
    display: inline-block;
    height: 37px;
    vertical-align: middle;
    color: #09283d;
    line-height: 30px;
}

.red-color {
    background: #c20000;
}

.orange-color {
    background: #e4902e;
}

.green-color {
    background: #4b951c;
}

.verify-tabs {
    margin-top: 25px;
    .nav-tabs{
        background: #bfbfbf;
    }
    .nav-tabs > li{
        width: 22%;
        text-align: center;
    }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        background: #09283d;
        color: #fff;
    }
    a{
        color: #000;
    }
    .uib-tab a {
        border: 1px solid gray;
    }
    .nav-tabs > li > a:hover{
        border-color: #777777;
    }
}
.help > a:hover, .help > a:focus {
    text-decoration: none;
    background-color: #bfbfbf !important;
    border: none !important;
    color:green !important;
}


.help {
    position: absolute !important;
    z-index: 2;
    right: 0px;
    width: 17% !important;
    a:hover, a:focus{
        color: #fff;
    }
}

.help a{
	background: none;
	color: #09283d !important;
	text-decoration: underline;
	padding: 5px 0;
	border: none !important;
}


.mobile-no-verify, .email-id-verify {
    padding-top: 18px;
}
.mid-bdr-vertical {
    background-color: #ccc;
    margin-left: 50%;
    min-height: 84px;
    width: 2px;
}

.mid-bdr-horizontal {
    background-color: #ccc;
    height: 2px;
    width: 100%;
}

ul.resp-tabs-list, p {
    margin: 0px;
    padding: 0px;
}

.resp-tabs-list li {
    cursor: pointer;
    display: inline-block;
    float: left;
    font-family: opensanssemibold;
    font-size: 14px;
    list-style: outside none none;
    margin: 0 4px 0 0;
    padding: 13px 15px;
}

.resp-tab-active {
    border-bottom: none;
    background-color: #fff;
}

.resp-tab-active {
    border: 1px solid #2874F0 !important;
    border-bottom: none;
    margin-bottom: -1px !important;
    padding: 12px 14px 14px 14px !important;
    border-top: 4px solid #2874F0 !important;
    border-bottom: 0px #fff solid !important;
}

.resp-tabs-container {
    padding: 0px;
    background-color: #eee;
    clear: left;
    border-color: rgb(193, 193, 193);
}

.resp-tab-content {
    border-top-color: #ddd;
    background-color: #eee;
}

.minheight-400px{
    min-height: 400px;
}

.input-group .form-control {
    color: #555;
    font-size: 14px;
    height: 40px;
}

.checkbox .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 0%;
}
.checkbox .cr {
    border: 1px solid #a9a9a9;
    border-radius: 1px;
    display: inline-block;
    float: left;
    height: 16px;
    margin-right: 0.5em;
    position: relative;
    width: 16px;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}
.checkbox label input[type="checkbox"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.pan-card-verify .input-group .form-control {
    z-index: 2;
    z-index: 0;
    height: 40px;
}

.pan-card-verify .form-control {
    width: 100%;
}

.pan-card-verify a{
    color:#aaaaaa;
    line-height: 20px;
}

.upload-txt {
    line-height: 30px;
    margin-left: 10px;
}

.form-control {
    border: 1px solid #bababa;
    padding: 0 10px;
    box-shadow: none;
    outline: none;
}

.info-text-1 {
    color: #aaaaaa;
    display: inline-block;
    font-size: 12px;
    padding-top: 3px;
    position: relative;
    width: 100%;
    z-index: 9;
}

.info-text {
    color: #aaaaaa;
    display: inline-block;
    font-size: 12px;
    padding-top: 3px;
    padding-left: 20px;
    position: relative;
    padding-left: 20px;
    width: 100%;
    z-index: 9;
}

.info-text:before {
    color: #aaaaaa;
    content: "\f06a";//"\f05a"
    font-size: 16px;
    padding-top: 2px;
    position: absolute;
    font-family: FontAwesome;
    left: 0;
}

span {
    line-height: normal;
}


.img-upload .btn.btn-primary {
    background-color: #bfbfbf;
    border: 1px solid #ccc;
    border-radius: 0;
    color: #09283d;
    font-family: open_sanslight;
    margin-right: 0;
    padding: 6px 12px;
}
.img-upload .form-control {
    border: 0 none !important;
    overflow: hidden;
    text-overflow: ellipsis;
}
.verify-account .form-group .input-group .form-control.btn {
    color: #ccc;
    padding: 0 20px;
    width: auto;
}
.verify-account .input-group {
    width: 100%;
}
.c-l-btn {
    border: 0 !important;
    border-radius: 2px !important;
    background-color: #ED583A !important;
    color: #fff !important;
}
.how-verify h1 {
    color: #333;
    font-size: 20px;
    padding-bottom: 18px;
}
.how-verify ul.comn-ul li::before {
    color: #6d6b6b;
    content: "\f059";
    font-size: 19px;
    padding-top: 2px;
    font-family: FontAwesome;
}






/*.verify-account .control-label {
    color: #818181;
    display: inline-block;
    float: left;
    font-family: opensansregular;
    padding-bottom: 10px;
    text-align: left !important;
    width: 100%;
}

.verify-account .control-label {
    color: #818181;
    display: inline-block;
    float: left;
    padding-bottom: 10px;
    text-align: left !important;
    width: 100%;
}*/