.select-cap-vcap-list-item{
    border-bottom: 1px solid grey;
    //height: 65px;
}


.m-selcap-plyr-name-info .m-selcap-plyr-name{
    
}

.m-selcap-plyr-role {
    background-image: url(#{$cdnUrl}/assets/images/kit-icon.png);
    background-repeat: no-repeat;
    height: 65px;
    width: 85px;
    background-size: 350%;
}

.m-cap.sel {
    background: #bd1a9c;
    font-weight: 900;
    color: #ffffff;
}


.m-v-cap.sel {
    background: #0005ff;
    font-weight: 900;
    color: #ffffff;
}

.m-selcap-plyr-name-info{
    word-wrap: break-word;
    border-left: 1px solid grey;
}

