// .league-cric-ground.selected-squad{
//     //height: 365px;
// }


// .league-cric-ground .player {
//     position: absolute;
//     background-size: 90%;
//     width: 40px;
// }

.selected-squad.league-cric-ground{
	background: url(#{$cdnUrl}/assets/images/sports/cricket/cricket-ground.png) top center no-repeat;
	background-size: contain;
	margin: 45px 0 10px;
	position: relative;
	.player {
		position: absolute;
		//background: url('../assets/images/sports/cricket/placeholder.png') no-repeat;
		background-size: cover;
		width: 50px;
	}

	.player{
		.plyr-details.bonus{
			background: #d35400;
			color: #fff;
		}
	}

	.player.sel-cap::before{
		content: '';
		height: 20px;
		width: 20px;
		position: absolute;
		bottom: 2px;
		left: -8px;
		top: initial;
		right: initial;
		background: url(#{$cdnUrl}/assets/images/sports/cricket/c-vc-icon.png) no-repeat;
		background-position: 0px 0px;
		background-size: cover;
		z-index: 11;
	}

	.player.sel-v-cap::before{
		content: '';
		height: 20px;
		width: 20px;
		position: absolute;
		top: initial;
		right: initial;
		bottom: 0;
		left: -8px;
		background: url(#{$cdnUrl}/assets/images/sports/cricket/c-vc-icon.png) no-repeat;
		background-position: -22px 0px;
		background-size: cover;
		z-index: 11;
	}

	.wk1, .wk2 {
		background-position: 0 -83px !important;
		height: 43px;
		.plyr-details{
			top: 36px;
			left: -12px;
		}
	}

	.bt1, .bt2, .bt3, .bt4, .bt5, .bt6 {
		background-position: 0 -224px !important;
		height: 60px;
		&.sel-cap,
		&.sel-v-cap{
			&:before{
				left: 0;
			}
		}
		.plyr-details{
			top: 55px;
			left: -4px;
		}
	}

	.alrdr1, .alrdr2, .alrdr3, .alrdr4 {
		background-position: 0 -144px !important;
		height: 60px;
		.plyr-details{
			top: 60px;
			left: -14px;
		}
	} 

	.bw1, .bw2, .bw3, .bw4, .bw5, .bw6 {
		background-position: 0 top !important;
		height: 60px;
		.plyr-details{
			top: 60px;
			left: -14px;
		}
	}

	.wk1 {
		top: -11%;
		left: 50%;
	}

	.wk2 {
		top: -4%;
		left: 65%;
	}

	.bt1 {
		top: 8%;
		left: 51%;
	}

	.bt2 {
		top: 10%;
		left: 34%;
	}

	.bt3 {
		top: 16%;
		left: 66%;
	}

	.bt4 {
		top: -12%;
		left: 31%;
	}

	.bt5 {
		top: -1%;
		left: 77%;
	}


	.bt6 {
		top: -3%;
		left: 17%;
	}


	.alrdr1 {
		top: 18%;
		left: 21%;
	}

	.alrdr2 {
		top: 25%;
		left: 80%;
	}

	.alrdr3 {
		top: 15%;
		left: 6%;
	}

	.alrdr4 {
		top: 42%;
		left: 68%;
	}


	.bw1 {
		top: 34%;
		left: 44%;
	}

	.bw2 {
		top: 52%;
		left: 26%;
	}

	.bw3 {
		top: 62%;
		left: 42%;
	}

	.bw4 {
		top: 46%;
		left: 11%;
	}

	.bw5 {
		top: 54%;
		left: 58%;
	}

	.bw6 {
		top: 48%;
		left: 80%;
	}

	.plyr-details {
		position: absolute;
		background: #f1c40f;
		color: #000;
		padding: 2px;
		line-height: normal;
		white-space: nowrap;
		min-width: 75px;
		text-align: center;
		font-size: 11px;
		z-index: 10;
	}

}






/*
.wk1, .wk2 {
    height: 40px;
}

.bt1, .bt2, .bt3, .bt4, .bt5, .bt6 {
    height: 50px;
}

.alrdr1, .alrdr2, .alrdr3, .alrdr4 {
    height: 62px;
} 

.bw1, .bw2, .bw3, .bw4, .bw5, .bw6 {
    height: 55px;
}

.wk1 {
    background-position: 0 -50px !important;
    top: 210px;
    left: 155px;
}

.wk2 {
    background-position: 0 -50px !important;
    top: 215px;
    left: 240px;
}

.bt1 {
    background-position: 0 -160px !important;
    top: 230px;
    left: 95px;
}

.bt2 {
    background-position: 0 -160px !important;
    top: 255px;
    left: 45px;
}

.bt3 {
    background-position: 0 -160px !important;
    top: 260px;
    left: 180px;
}

.bt4 {
    background-position: 0 -160px !important;
    top: 280px;
    left: 250px;
}

.bt5 {
    background-position: 0 -160px !important;
    top: 245px;
    left: 285px;
}


.bt6 {
    background-position: 0 -160px !important;
    top: 290px;
    left: 320px;
}


.alrdr1 {
    background-position: 0 -90px !important;
    top: 270px;
    left: 110px;
}

.alrdr2 {
    background-position: 0 -90px !important;
    top: 315px;
    left: 200px;
}

.alrdr3 {
    background-position: 0 -90px !important;
    top: 335px;
    left: 245px;
}

.alrdr4 {
    background-position: 0 -90px !important;
    top: 335px;
    left: 300px;
}


.bw1 {
    background-position: 0 top !important;
    top: 340px;
    left: 25px;
}

.bw2 {
    background-position: 0 top !important;
    top: 380px;
    left: 70px;
}

.bw3 {
    background-position: 0 top !important;
    top: 310px;
    left: 150px;
}

.bw4 {
    background-position: 0 top !important;
    top: 390px;
    left: 145px;
}

.bw5 {
    background-position: 0 top !important;
    top: 380px;
    left: 205px;
}

.bw6 {
    background-position: 0 top !important;
    top: 390px;
    left: 270px;
}


.wk1 .plyr-details, .wk2 .plyr-details{
    position: absolute;
    top: 38px;
    left: -12px;
}

.bt1 .plyr-details, .bt2 .plyr-details, .bt3 .plyr-details, .bt4 .plyr-details, .bt5 .plyr-details, .bt6 .plyr-details{
    position: absolute;
    top: 44px;
    left : -12px;
}

.alrdr1 .plyr-details, .alrdr2 .plyr-details, .alrdr3 .plyr-details{
    position: absolute;
    top: 58px;
    left: -12px;
}

.bw1 .plyr-details, .bw2 .plyr-details, .bw3 .plyr-details, .bw4 .plyr-details, .bw5 .plyr-details, .bw6 .plyr-details{
    position: absolute;
    top: 45px;
    left: -12px;
}

.cricket-ground .plyr-details {
    background: yellow;
    color: #000;
}

.cricket-ground .bonus {
    background: orange;
    color: #fff;
}



.player.sel-cap::before{
    content: '';
    height: 25px;
    width: 25px;
    position: absolute;
    top: -15px;
    right: -5px;
    background: url(../assets/images/sports/cricket/c-vc-icon.png) no-repeat;
    background-position: 0px 0px;
    background-size: cover;
}

.player.sel-v-cap::before{
    content: '';
    height: 25px;
    width: 25px;
    position: absolute;
    top: -15px;
    right: -5px;
    background: url(../assets/images/sports/cricket/c-vc-icon.png) no-repeat;
    background-position: -28px 0px;
    background-size: cover;
}


.selected-squad .plyr-details .plyr-name, .selected-squad .plyr-details .plyr-credits  {
    min-width: 65px;
    width: 65px;
    font-size: 10px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 2px;
}
*/


.plyr-list-scrl{
    min-height: 75vh;
    overflow-y: auto;
}

.plyr-list-scrl .plyr-info{
    background-image: url('#{$cdnUrl}/assets/images/kit-icon.png');
    background-repeat: no-repeat;
}

.bt-icon{
    background-position: -70px 5px;
}

.bw-icon {
    background-position: -145px 5px;
}

.alrdr-icon{
    background-position: 5px 5px;
}

.wk-icon{
    background-position: -215px 5px;
}

.sel-tab-message{
    padding: 5px 20px;
    font-size: 16px;
    border-bottom: 1px solid grey;
    background: #d9dede;
}

.teamCount{
    text-align: left;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
}

.team-sel-info {
    padding: 15px 10px;
}

.sel-info-table {
    background: #fff;
    border-radius: 7px;
}

.sel-tbl-info-heading {
    background: #09283d;
    font-weight: 800;
    color: #ffffff;
    font-size: 14px;
    padding: 7px;
    border-radius: 7px 7px 0px 0px;
}

.sel-tbl-info {
    color: #000000;
    font-size: 12px;
    padding: 7px 0px;
}

.sel-tbl-info .col-md-2,
sel-tbl-info-heading .col-md-2
{
    text-align: center;
}

.match-container{
    border: 2px solid #b5b2b9;
    background: #fff;
    border-radius: 5px;
    padding: 15px 0;
    margin-top: 10px;
    height: 70px;
    width: 250px;
}

.match-container .match .team-flag img {
    height: 18px;
    width: 28px;
    display: block;
}

.sel-rem-info {
    padding: 5px 0px;
}

.sel-credits, .plyr-rem-info{

}


.sel-credits span, .plyr-rem-info span {
    padding: 0px 4px;
    color: #000000;
    background: #e4e2df;
}

.sel-credits .sel-credits-left, .plyr-rem-info .plyr-info-left {
    border-radius : 3px 0px 0px 3px;
    border: 1px solid grey;
}


.sel-credits .sel-credits-rght, .plyr-rem-info .plyr-info-rght {
    border-radius : 0px 3px 3px 0px;
    border: 1px solid grey;
}

.clr-team-btn {
    position: absolute;
    bottom: -5px;
    right: -5px;
}

.save-team-buttons{
    padding: 15px 10px;
}



/*.cap-vice-cap-sel-container{
width: 100%;
background: #b5b2b9;
z-index: 999;
position: absolute;
top: 0;
height: 100%;
left: 0;
}*/

/*.player-container{
border: 2px solid #b5b2b9;
background: #fff;
border-radius: 5px;
padding: 10px 0;
margin-top: 5px;
height: 83px;
}*/

.player-select-wrapper{
    margin: 20px 0px;
    position: relative;
    .cstm-player-select{
        padding: 4px 15px;
        border: 1px solid #b7b2b9;
        position: relative;
        background: #ededed;
        border-radius: 4px;
        width: 90%;
        margin: auto;
        cursor: pointer;
        #sel-captain{
            float: left;
            font-size: 18px;
            width: 100%;
        }
        #sel-player{
            float: left;
            font-size: 18px;
            width: 100%;
        }
        #sel-vice-captain{
            float: left;
            font-size: 18px;
            width: 100%;
        }
        .fa.fa-caret-down{
            float: right;
        }
        &.open{
            + .selected-player-list{
                //display: block;
                transition: height 0.2s ease;
                max-height: 156px;
                height: 156px;
                transform: translate3d(0,0,0);
            }
        }
    }
    .selected-player-list{
        transition: height 0.4s ease;
        border: 1px solid #b7b2b9;
        border-top: 0;
        border-bottom: 0;
        position: absolute;
        width: 90%;
        z-index: 10;
        left: 5%;
        //max-height: 156px;
        overflow-y: auto;
        overflow-x: hidden;
        //display: none;
        height: 0;
        ul{
            background: #fff;
            li{
                //height: 0;
                overflow: hidden;
                transition: height 0.5s ease;
                height: 52px;
                padding: 4px 15px;
                border-bottom: 1px solid #b7b2b9;
                a{
                    display: block;
                    line-height: 36px;
                    padding: 0 15px;
                    font-size: 16px;
                    color: #333;
                    &.selected{
                        background: #b7b2b9;
                        color: #fff;
                    }
                }

            }
        }
    }
}

.cstm-player-select .cap-role, .selected-player-list .player-role, .cstm-player-select .vcap-role {
    height: 35px;
    border-right: 1px grey solid;
}

.cap-role.alrdr-icon, .player-role.alrdr-icon, .vcap-role.alrdr-icon{
    background-image: url('#{$cdnUrl}/assets/images/kit-icon.png');
    background-repeat: no-repeat;
    background-position: -85px 5px;
}

.cap-role.bt-icon, .player-role.bt-icon, .vcap-role.bt-icon{
    background-image: url('#{$cdnUrl}/assets/images/kit-icon.png');
    background-repeat: no-repeat;
    background-position: -40px 5px;
}

.cap-role.bw-icon, .player-role.bw-icon, .vcap-role.bw-icon{
    background-image: url('#{$cdnUrl}/assets/images/kit-icon.png');
    background-repeat: no-repeat;
    background-position: -130px 5px;
}

.cap-role.wk-icon, .player-role.wk-icon, .vcap-role.wk-icon{
    background-image: url('#{$cdnUrl}/assets/images/kit-icon.png');
    background-repeat: no-repeat;
    background-position: 13px 5px;
}

.cap-details .cap-detail-item,.player-details .player-detail-item, .vcap-details .vcap-detail-item  {
    padding: 2px 3px;
    border-right: 1px solid grey;
}

.cap-details .cap-detail-item:last-child, .player-details .player-detail-item:last-child, .vcap-details .vcap-detail-item:last-child {
    border:none;
}

.cap .arrow-icon, .vcap .arrow-icon{
    position: absolute;
    top:12px;
    right:10px;
}


.sel-count{
    position: absolute;
    top:0;
    left:0;
    padding:5px;
}


.mob-player-options-container .nav > li > a {
    padding: 5px;
    text-align: center;
    border-radius: 0px;
    cursor: pointer;
    color:#000000;
    background: #ffffff;
    border: 1px solid grey;
}


.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background: #ff4c2b;
    color: #ffffff;
}

// mobile specific css

.m-plyr-item {
    margin: 10px;
    position: relative;
    border: 1px solid transparent;
}

.m-plyr-item.selected {
    border: 1px solid green;
    border-radius: 3px;
    background: green;
}

.m-plyr-item.selected.bonus {
    border: 1px solid orange;
    border-radius: 3px;
    background: orange;
}

.m-plyr-item.selected::before {
    content: '\f00c';
    height: 20px;
    width: 20px;
    position: absolute;
    font: normal normal normal 14px/1 FontAwesome;
    top: 5px;
    text-align: center;
    padding-top: 2px;
    color: #fff;
    right: 5px;
    border: 1px solid green;
    border-radius: 3px;
    background: green;
}

.m-plyr-item.selected.bonus::before {
    content: '';
    content: '\f00c';
    height: 20px;
    width: 20px;
    position: absolute;
    font: normal normal normal 14px/1 FontAwesome;
    top: 5px;
    text-align: center;
    padding-top: 2px;
    color: #fff;
    right: 5px;
    border: 1px solid orange;
    border-radius: 3px;
    background: orange;
}


.m-plyr-info {
    padding: 3px 10px;
}

.m-player-wrapper{
    border: 1px solid gray;
    border-radius : 3px;
    background: #f4f3f2;
}

.m-player-green-badge {
    background:#c8da8b;
    height: 15px;
}

.m-crt-team-footer {
     position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 11;
}

.m-team-preview{
    background: #d9dede;
    height: 60px;
    font-size: 20px;
    padding: 10px 0px;
    
}

.m-sel-rem-tabs {
    height: 65px;
    font-size: 16px;
    background: #002b40;
    color: #ffffff;
}

.m-sel-rem-tabs .left, .m-sel-rem-tabs .right {
    height: 100%;
    padding: 20px 0px;
    text-align: center;
}

.m-sel-rem-tabs .middle {
    text-align: center;
    margin-top: 15px;
}

.m-selection-err {
    color: #fff;
    font-size: 18px;
    bottom: 80px;
    margin: 0 auto;
    border-radius: 5px;
    background: #4c4545;
    z-index: 99;
    width: 94%;
    padding: 10px;
    text-align: center;
    display: none;
}

.m-selection-err.fadeIn{
    display: block;
}


.m-cap-vcap{
    float: right;
    line-height: 65px;
}


.team-prev-name {
    padding: 10px;
    border-bottom: 1px solid #bbb;
    background: #d7dce0;
}

.m-save-btn.unactive, .c-vc-save-btn.unactive{
    opacity: 0.7;
}


.m-save-btn.active, .c-vc-save-btn.active{
    opacity: 1;
}