.header{
	// background: #09283d;
	background: #051f30;
	height: 56px;
	//margin-bottom: 12px;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 100;
	text-align: center;
}

.header-container{
	width: 100%;
}

.header-logo{
	margin: auto;
	float: initial !important;
	display: inline-block;
	.navbar-brand{
		width: 140px;
		padding: 0;
		display: block;
		float: initial !important;
	}
}

.mob-header-title{
	color: #fff;
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
	line-height: 55px;
	display: inline-block;
	&:hover,&:focus,&:active,&:visited{
		color: #fff;
		outline: none;
		outline-offset: 0;
	}
}

.menu-icon {
	position: absolute;
	top: 10px;
	left: 10px;
	display: block;
	cursor: pointer;
	height: 21px;
	width: 25px;
}
.menu-icon span {
	display: block;
	top: 8px;
	width: 32px;
	height: 3px;
	background-color: #fefefe;
	position: relative;
}
.menu-icon span::after, .menu-icon span::before {
	display: block;
	content: '';
	position: absolute;
	width: 32px;
	height: 3px;
	background-color: #fefefe;
}
.menu-icon span::before {
	margin-top: -8px;
}
.menu-icon span::after {
	margin-top: 8px;
}

.menu-label{
	color: #fff;
	font-size: 11px;
	position: absolute;
	left: 0;
	bottom: -15px;
}

nav.mob-menu{
	position: absolute;
	width: 80%;
	max-width: 340px;
	height: 100vh;
	background: #051f30;
	top: 55px;
	left: 0;
	cursor: pointer;
	text-align: left;
	transition: 0.5s ease all;
	transform: translate3d(-100%, 0, 0);
}

nav.mob-menu ul{
	li{
		a{
			color: #fefefe;
			font-size: 17px;
			padding: 6px 40px;
			display: inline-block;
			width: 100%;
			position: relative;
			&.active{
				background: #ed583a;
			}
		}
	}
}

.menu-mask{
	opacity: 0;
	position: relative;
	// display: none;
}

.mob-menu-wrapper{
	width: 100%;
}
.mob-menu-wrapper.open{
	.mob-menu{
		transform: translate3d(0, 0, 0);
	}
	.menu-mask{
		position: fixed;
		height: 100%;
		width: 100%;
		background: rgba(0, 0, 0, 0.75);
		top: 55px;
		opacity: 1;
		// display: block;
		transition: opacity 0.5s ease;
		z-index: -1;
		.close-menu{
			display: block;
		}
	}
}

.close-menu{
	position: absolute;
	right: 6.5%;
	top: 6px;
	display: none;
	transition: opacity 0.5s ease;
}

ul.footer-links{
	li{
		float: left;
		width: 33%;
		padding: 5px;
		white-space: nowrap;
		text-align: center;
		a{
			color: #fff;
			font-size: 14px;
		}
	}
}

.mob-nav-icon{
	background: url(#{$cdnUrl}/assets/images/menu-icon-sprite.png) no-repeat;
	height: 26px;
	width: 26px;
	position: absolute;
	background-size: cover;
	left: 8px;
	top: 8px;
}

.mob-nav-icon{
	&.icon-home{
		background-position: 0 0;
	}
	&.icon-cashier{
		background-position: 0px -41px;
	}
	&.icon-myprofile{
		background-position: 0px -82px;	
	}
	&.icon-referfriend{
		background-position: 0px -126px;
	}
	&.icon-howtoplay{
		background-position: 0px -168px;
	}
	&.icon-livescore{
	    background-position: 0px -210px;
	}
	&.icon-contactus{
	    background-position: 0px -254px;
	}
	&.icon-logout{
	    background-position: 0px -296px;
	}
	&.icon-changepassword{
	    background-position: 0px -338px;
	}
}

.copyright-text{
	width: 100%;
	text-align: center;
}

.payment-icons{
	padding-top: 8px;
	width: 100%;
	img{
		margin: auto;
	}
}

// Hamburger Menu Icon in CSS

.footer-wrapper{
	background: #09283d;
	position: absolute;
	bottom: 0;
	width: 100%;
	.footer-icon-wrapper{
		background: #fff;
		height: 1px;
		margin: 45px auto 25px auto;
		width: 100%;
		position: relative;
		.footer-icon{
			background: #09283d url(#{$cdnUrl}/assets/images/footer-cric-icon.png) top center no-repeat;
			height: 40px;
			width: 100px;
			margin-left: -50px;
			background-size: contain;
			position: absolute;
			left: 50%;
			top: -25px;
		}
	}
}

.footer-copyright{
	color: #fff;
	padding: 15px;
}

.footer-logo{
	display: none;
}

.footer-text{
	margin-top: 15px;
	p{
		color: #fff;
		font-size: 13px;
		text-align: center;
		padding: 5px 5%;
	}
}

.social-media-wrapper{
	margin: auto;
	text-align: center;
	h3{
		color: #fff;
		font-size: 16px;
		text-decoration: underline;
		padding: 5px;
	}
}

ul.social-media{
	display: inline-block;
	li{
		float: left;
		padding: 0;
		a{
			display: inline-block;
			margin: 2px 4px;
			transition: 0.25s ease all;
			&:hover{
				transform: scale(1.1);
				transition: 0.25s ease all;
			}
		}
	}
}

.social-icons{
	background: url(#{$cdnUrl}/assets/images/social-media-icon.png) no-repeat;
	height: 40px;
	width: 40px;
	background-size: cover;
	&.fb{
		background-position: 0 0;
	}
	&.gplus{
		background-position: 50% 0;
	}
	&.twitter{
		background-position: 102% 0;
	}
}

.menu-close-icon{
	height: 30px;
	width: 30px;
	background: url(#{$cdnUrl}/assets/images/menu-close-icon.png) no-repeat;
	background-size: cover;
}

.mob-menu ul li.active{
    background: #ed583a;
    > a{
        color : #fff;
    }
}

.plyer-accordian {
	.panel-heading{
		background-color: #d7dce0 !important;
	}
	.panel-body {
		background-color: #d8d8d8;
		padding: 0 0 !important;
	}
	.player-ul >li {
		padding: 5px 20px;
	}
}

.faqpos{
	padding: 0 !important;
}
.paddingtb{
	padding: 0 !important;
}

.header-wallet{
    background: url(#{$cdnUrl}/assets/images/wallet-icon.png) center no-repeat;
    height: 28px;
    width: 32px;
    display: inline-block;
    background-size: cover;
    position: absolute;
    top: 12px;
    right: 10px;
}