.tours-container{
	border: 2px solid #b5b2b9;
	background: #fff;
	border-radius: 5px;
	padding: 10px 0;
	margin-top: 5px;
}

.league-wrapper{
	width: 96%;
	margin: auto;
}

.card-wrapper{

}

.card{
	background-color: #fff;
	border: 1px double #ccc;
	border-radius: 3px;
	padding: 10px;
	margin: 10px 0;
	color: #666;
	font-family: $mainFont;
}

.card.league .league-title{
	color: #09283d;
	font-weight: bold;
}

.card.league .entry-fee{
	// float: right;
	color: #09283d;
	font-weight: bold;
}

span.separator{
	display: inline-block;
	width: 2px;
	background: #09283d;
	height: 20px;
	margin: 4px 10px 0;
}

.card.league .teams-joined{
	font-size: 16px;
	color: #09283d;
}

.card.league .entry-fee span{
	// background: #A7ABB1;
	// padding: 3px 6px;
	// color: #fff;
	// border-radius: 3px;
	// font-weight: bold;
}

.card.league .entry-fee span .fa.fa-rupee{
	font-size: 12px;
}

.league-types .confirmed,
.league-types .multi-entry{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid #09283d;
	display: inline-block;
	text-align: center;
	font-weight: bold;
	color: #09283d;
	font-size: 16px;
	background: #9dbdde;
	margin: 0 2px;
}

.league-types .multi-entry{
	background: #c6d791;
}

.tour-select{
	font-family: $mainFont;
}

.tour-select select{
	font-size: 18px;
	padding: 4px;
}

.cstm-progress{
	background-color: #D6D6D6;
	background-image: none;
	box-shadow: none;
	display: inline-block;
	height: 3px;
	// width: 100%;
	border-radius: 15px;
	margin: 5px 0;
}

.cstm-progress .progress-bar{
	width: 0;
	height: 100%;
	transition: 0.5s ease all;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.progress-bar-success {
	background-color: #09283d;
	background-image: none;
	font-size: 14px;
}

.league-winners .fa.fa-trophy{
	line-height: 26px;
	font-size: 16px;
	border-radius: 50%;
	color: #ed583a;
	text-align: center;
}

.matches-list .match{
	border: 1px solid transparent;
	border-radius: 4px;
	padding: 0 5px;
}

.matches-list .match:hover{
	border: 1px solid #bbb;
}

.matches-carousel{

}

.no-matches-error {
	text-align: center;
	font-size: 20px;
	color: #fe9805;
}

.no-leagues-error {
	text-align: center;
	font-size: 20px;
	color: #fe9805;
	width: 96%;
	margin: 2% 2%;
	background: #fff;
	padding: 1%;
	border-radius: 4px;
}

// ul[rn-carousel]{
// 	height: 74px;
// }

// .slick-prev, .slick-next{
// 	height: 100% !important;
// 	top: 10px !important;
// 	background: #ddd !important;
// }
// .slick-prev{
// 	left: -12px !important;
// }

// .slick-next{
// 	right: -12px !important;
// }

.cricket-ground-wrapper{
	float: left;
	width: 40%;
	margin: 10px 0;
	border: 2px solid #b5b2b9;
	border-radius: 4px;
	background: #fff;
}

.cricket-ground{
	background: url(#{$cdnUrl}/assets/images/sports/cricket/cricket-ground.png) center no-repeat;
	height: 438px;
	background-size: 90%;
	margin: 20px 0;
}

.arrow-icon{
	background: url(#{$cdnUrl}/assets/images/arrow-icon.png) center no-repeat;
	width: 20px;
	height: 20px;
	background-size: cover;
	transform: rotate(90deg);
}

.content-container.mobile{
	padding-top: 55px;
}

.mob-head-wrapper{
	height: 140px;
	background: #09273f;
	padding: 10px 15px;
}

.mob-head-container{

}

.user-details{
	padding: 6px 0;
	ul{
		li{
			float: left;
			width: 50%;
			line-height: normal;
		}
	}
}

.wallet-icon{
	background: url(#{$cdnUrl}/assets/images/wallet-icon.png) center no-repeat;
	height: 18px;
	width: 22px;
	display: inline-block;
	background-size: cover;
}

.add-cash-icon{
	background: url(#{$cdnUrl}/assets/images/add-cash-icon.png) center no-repeat;
	height: 16px;
	width: 16px;
	display: inline-block;
	background-size: cover;
}

.mob-banner{
	height: 80px;
	margin: auto;
	img{
		width: 100%;
		display: block;
		height: 80px;
	}
}

.mob-match-tabs{
	background: #fff;
	height: 42px;
	border-top: 1px solid #b5b2b9;
	border-bottom: 1px solid #b5b2b9;
	ul{

	}
	li{
		width: 33.334%;
		float: left;
		padding: 9px 0;
		text-align: center;
		text-transform: uppercase;
		font-size: 16px;
		border-right: 1px solid #b5b2b9;	
		&:last-child{
			border: 0;
		}
		&.active{
			background: #ed583a;
			color: #fff;
		}
	}
}

.mob-league{
	width: 96%;
	margin: 10px auto;
	border: 1px solid #b5b2b9;
	border-radius: 4px;
	background: #fff;
	padding: 6px;
	position: relative;
}

.accordion-wrapper{
	width: 94%;
	margin: auto;
}

.panel-heading a,
.panel-heading a:hover{
	text-decoration: none;
}


// Tour Selector for mobile
.tour-select-wrapper{
	.cstm-tour-select{
		padding: 8px 15px;
		border-bottom: 1px solid #b7b2b9;
		label{
			float: left;
			margin: 0;
			font-size: 16px;
		}
		#selectedTour{
			float: right;
			font-weight: bold;
			font-size: 16px;
		}
		&.open{
			+ .tour-list ul li{
				height: 36px;
				transition: height 0.4s ease;
				border-bottom: 1px solid #b7b2b9;
			}
		}
	}
	.tour-list{
		transition: height 0.4s ease;
		position: absolute;
		width: 100%;
		z-index: 10;
		ul{
			background: #fff;
			li{
				height: 0;
				overflow: hidden;
				transition: height 0.5s ease;
				a{
					display: block;
					line-height: 36px;
					padding: 0 15px;
					font-size: 16px;
					color: #333;
					font-weight: bold;
					text-decoration: none;
					&:hover{
						text-decoration: none;	
					}
				}
				&.active{
					background: #e5e5e5;
					color: #fff;
				}
			}
		}
	}
}

.league-btm-tabs{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	z-index: 11;
	ul{
		background: #09283d;
		border-top: 1px solid #203344;
		height: 100%;
		li{
			float: left;
			position: relative;
			width: 50%;
			color: #fff;
			border-right: 1px solid #203344;
			text-align: center;
			font-size: 18px;
			line-height: 50px;
			text-transform: uppercase;
			&:last-child{
				border: 0;
			}
			span.count{
				height: 22px;
				width: 22px;
				border-radius: 50%;
				background: #fff;
				display: inline-block;
				color: #09283d;
				line-height: 22px;
				font-weight: bold;
			}
		}
	}
}

.team-flag{
	width: 30px;
	height: 18px;
	display: inline-block;
	img{
		max-width: 100%;
	}
}

.verify-tabs {
	position: relative;
    .nav-tabs > li{
        width: 33.333% !important;
        text-align: center;
		font-size: 12px;
    }
	.nav-tabs > li > a{
		padding: 10px 0px;
	}
}

.match-selected-wrapper{
	background: #09283d;
	padding: 10px 0;
	.match-details{
		background: #fff;
		width: 90%;
		margin: auto;
		border-radius: 4px;
		border: 1px solid #bbb;
		padding: 5px;
		font-size: 1.2rem;
	}
	.teams{
		float: left;
		color: #09283d;
		font-weight: bold;
	}
	.match-status{
		float: right;
		font-weight: bold;
		&.active{
			span.label{
				color: #bbb;
			}
		}
		&.progress{
			color: #ed583a;
		}
		&.closed{
			color: #186f39;
		}
	}
}

.league-head{
	padding: 5px 10px;
	border-bottom: 1px solid #aeaeae;
}

.league-info-box{
	width: 96%;
	margin: auto;
	background: #fff;
	margin-top: 10px;
	border: 1px solid #aeaeae;
}

.league-info-box .brd-btm{
    border-bottom: 1px solid #aeaeae;
}

.league-team-list{
	margin: 15px 0;
	ul{
		li{
			width: 96%;
			margin: 10px auto;
			background: #fff;
			padding: 5px 15px;
			border-bottom: 1px solid #aeaeae;
			> div{
				padding: 0;
			}
			.team-name,
			.team-id{
				font-size: 16px;
			}
			.team-points{
				font-size: 14px;
				color: #09283d;
				// font-weight: bold;
			}
			.winning-amount{
				font-size: 14px;
				color: #09283d;
				// font-weight: bold;
				margin: 0 10px;
			}
			.team-rank{
				float: right;
				font-size: 20px;
				font-weight: bold;
				color: #09283d;
			}
			&.my-team{
				background: #09283d;
				.team-rank,
				.team-points,
				.team-name,
				.winning-amount{
					color: #fff;	
				}
			}
		}
	}
}


label.select-team{
	font-size: 16px;
	width: 100%;
	padding: 8px 10px;
	color: #09283d;
	border-bottom: 1px solid #717171;
}

.my-teams-list{
	ul{
		li{
			border-bottom: 1px solid #717171;
			padding: 5px 10px;
			position: relative;
			&:before{
				content: '';
				height: 32px;
				width: 24px;
				position: absolute;
				right: 10px;
				background: url(#{$cdnUrl}/assets/images/arrow-icon-right.png);
				background-size: cover;
				background-repeat: no-repeat;
				top: 11px;
			}
		}
	}
}

.team-preview-wrapper{
	background: #d5d5d5;
	position: absolute;
	width: 100%;
	height: calc(100% - 110px);
	top: 110px;
	z-index: 10;
}

.team-scores-wrapper{
	background: #d5d5d5;
	position: absolute;
	width: 100%;
	height: calc(100% - 110px);
	top: 110px;
	z-index: 10;
}

.switch-team-wrapper{
	background: #d5d5d5;
	position: absolute;
	width: 100%;
	height: calc(100% - 110px);
	top: 110px;
	z-index: 101;
}

// .league-cric-ground{
// 	background: url(../assets/images/sports/cricket/cricket-ground.png) center no-repeat;
// 	height: 280px;
// 	background-size: contain;
// 	margin: 50px 10px 10px;
// 	position: relative;
// 	.player {
// 		position: absolute;
// 		background: url('../assets/images/sports/cricket/placeholder.png') no-repeat;
// 		background-size: cover;
// 		width: 50px;
// 	}

// 	.player.bonus{
// 		.plyr-details{
// 			background: orange;
// 			color: #fff;
// 		}
// 	}

// 	.player.sel-cap::before{
// 		content: '';
// 		height: 20px;
// 		width: 20px;
// 		position: absolute;
// 		top: -5px;
// 		right: -2px;
// 		background: url(../assets/images/sports/cricket/c-vc-icon.png) no-repeat;
// 		background-position: 0px 0px;
// 		background-size: cover;
// 	}

// 	.player.sel-v-cap::before{
// 		content: '';
// 		height: 20px;
// 		width: 20px;
// 		position: absolute;
// 		top: -5px;
// 		right: -2px;
// 		background: url(../assets/images/sports/cricket/c-vc-icon.png) no-repeat;
// 		background-position: -22px 0px;
// 		background-size: cover;
// 	}

// 	.wk1, .wk2 {
// 		height: 36px;
// 	}

// 	.bt1, .bt2, .bt3, .bt4, .bt5, .bt6 {
// 		height: 55px;
// 	}

// 	.alrdr1, .alrdr2, .alrdr3, .alrdr4 {
// 		height: 60px;
// 	} 

// 	.bw1, .bw2, .bw3, .bw4, .bw5, .bw6 {
// 		height: 60px;
// 	}

// 	.wk1 {
// 		background-position: 0 -85px !important;
// 		top: -6%;
// 		left: 50%;
// 	}

// 	.wk2 {
// 		background-position: 0 -85px !important;
// 		top: -5%;
// 		left: 65%;
// 	}

// 	.bt1 {
// 		background-position: 0 -225px !important;
// 		top: 14%;
// 		left: 50%;
// 	}

// 	.bt2 {
// 		background-position: 0 -225px !important;
// 		top: 4%;
// 		left: 38%;
// 	}

// 	.bt3 {
// 		background-position: 0 -225px !important;
// 		top: 4%;
// 		left: 64%;
// 	}

// 	.bt4 {
// 		background-position: 0 -225px !important;
// 		top: -1%;
// 		left: 22%;
// 	}

// 	.bt5 {
// 		background-position: 0 -225px !important;
// 		top: -1%;
//     	left: 80%;
// 	}


// 	.bt6 {
// 		background-position: 0 -225px !important;
// 		top: 25%;
// 		left: 80%;
// 	}


// 	.alrdr1 {
// 		background-position: 0 -144px !important;
// 		top: 26%;
// 		left: 15%;
// 	}

// 	.alrdr2 {
// 		background-position: 0 -144px !important;
// 		top: 32%;
// 		left: 68%;
// 	}

// 	.alrdr3 {
// 		background-position: 0 -144px !important;
// 		top: 25%;
// 		left: 81%;
// 	}

// 	.alrdr4 {
// 		background-position: 0 -144px !important;
// 		top: 20%;
// 		left: 2%;
// 	}


// 	.bw1 {
// 		background-position: 0 top !important;
// 		top: 40%;
// 		left: 45%;
// 	}

// 	.bw2 {
// 		background-position: 0 top !important;
// 		top: 45%;
// 		left: 30%;
// 	}

// 	.bw3 {
// 		background-position: 0 top !important;
// 	    top: 50%;
// 	    left: 58%;
// 	}

// 	.bw4 {
// 		background-position: 0 top !important;
// 		top: 52%;
// 		left: 18%;
// 	}

// 	.bw5 {
// 		background-position: 0 top !important;
// 		top: 58%;
// 		left: 72%;
// 	}

// 	.bw6 {
// 		background-position: 0 top !important;
// 		top: 58%;
// 		left: 5%;
// 	}


// 	.wk1 .plyr-details, .wk2 .plyr-details{
// 		top: 36px;
// 		left: -8px;
// 	}

// 	.bt1 .plyr-details, .bt2 .plyr-details, .bt3 .plyr-details, .bt4 .plyr-details, .bt5 .plyr-details, .bt6 .plyr-details{
// 		top: 55px;
// 		left: -4px;
// 	}

// 	.alrdr1 .plyr-details, .alrdr2 .plyr-details, .alrdr3 .plyr-details, .alrdr4 .plyr-details{
// 		top: 60px;
// 		left: -8px;
// 	}

// 	.bw1 .plyr-details, .bw2 .plyr-details, .bw3 .plyr-details, .bw4 .plyr-details, .bw5 .plyr-details, .bw6 .plyr-details{
// 		top: 60px;
// 		left: -8px;
// 	}

// 	.plyr-details {
// 		position: absolute;
// 		background: yellow;
// 		color: #000;
// 		padding: 1px 0;
// 		line-height: normal;
// 	}

// 	.plyr-details .plyr-name,
// 	.plyr-details .plyr-credits {
// 		min-width: 65px;
// 		width: 65px;
// 		font-size: 10px;
// 		text-align: center;
// 		white-space: nowrap;
// 		overflow: hidden;
// 		text-overflow: ellipsis;
// 	}
// }
// Players position CSS NEW Design
.league-cric-ground{
	background: url(#{$cdnUrl}/assets/images/sports/cricket/cricket-ground.png) top center no-repeat;
	height: 280px;
	background-size: contain;
	margin: 45px 0 10px;
	position: relative;
	.player {
		position: absolute;
		background-size: cover;
		width: 50px;
	}

	.player.bonus{
		.plyr-details{
			background: #d35400;
			color: #fff;
		}
	}

	.player.sel-cap::before{
		content: '';
		height: 20px;
		width: 20px;
		position: absolute;
		bottom: 2px;
		left: -8px;
		top: initial;
		right: initial;
		background: url(#{$cdnUrl}/assets/images/sports/cricket/c-vc-icon.png) no-repeat;
		background-position: 0px 0px;
		background-size: cover;
		z-index: 11;
	}

	.player.sel-v-cap::before{
		content: '';
		height: 20px;
		width: 20px;
		position: absolute;
		top: initial;
		right: initial;
		bottom: 0;
		left: -8px;
		background: url(#{$cdnUrl}/assets/images/sports/cricket/c-vc-icon.png) no-repeat;
		background-position: -22px 0px;
		background-size: cover;
		z-index: 11;
	}

	.wk1, .wk2 {
		background-position: 0 -85px !important;
		height: 36px;
		.plyr-details{
			top: 36px;
			left: -12px;
		}
	}

	.bt1, .bt2, .bt3, .bt4, .bt5, .bt6 {
		background-position: 0 -225px !important;
		height: 55px;
		&.sel-cap,
		&.sel-v-cap{
			&:before{
				left: 0;
			}
		}
		.plyr-details{
			top: 55px;
			left: -4px;
		}
	}

	.alrdr1, .alrdr2, .alrdr3, .alrdr4 {
		background-position: 0 -144px !important;
		height: 60px;
		.plyr-details{
			top: 60px;
			left: -14px;
		}
	} 

	.bw1, .bw2, .bw3, .bw4, .bw5, .bw6 {
		background-position: 0 top !important;
		height: 60px;
		.plyr-details{
			top: 60px;
			left: -14px;
		}
	}

	.wk1 {
		top: -11%;
		left: 50%;
	}

	.wk2 {
		top: -4%;
		left: 65%;
	}

	.bt1 {
		top: 8%;
		left: 51%;
	}

	.bt2 {
		top: 10%;
		left: 34%;
	}

	.bt3 {
		top: 16%;
		left: 66%;
	}

	.bt4 {
		top: -15%;
		left: 31%;
	}

	.bt5 {
		top: -1%;
		left: 77%;
	}


	.bt6 {
		top: -7%;
		left: 20%;
	}


	.alrdr1 {
		
		top: 18%;
		left: 21%;
	}

	.alrdr2 {
		top: 25%;
		left: 80%;
	}

	.alrdr3 {
		top: 11%;
		left: 9%;
	}

	.alrdr4 {
		top: 42%;
		left: 70%;
	}


	.bw1 {
		top: 34%;
		left: 44%;
	}

	.bw2 {
		top: 52%;
		left: 32%;
	}

	.bw3 {
		top: 62%;
		left: 46%;
	}

	.bw4 {
		top: 46%;
		left: 16%;
	}

	.bw5 {
		top: 54%;
		left: 60%;
	}

	.bw6 {
		top: 44%;
		left: 69%;
	}

	.plyr-details {
		position: absolute;
		background: #f1c40f;
		color: #000;
		padding: 2px;
		line-height: normal;
		white-space: nowrap;
		min-width: 75px;
		text-align: center;
		font-size: 11px;
		z-index: 10;
	}
}

.close-preview{
	position: absolute;
	right: 10px;
	top: 5px;
}

.team-info{
	border-bottom: 1px solid #bbb;
	background: #d7dce0;
}

.team-btm-tabs{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	z-index: 11;
	ul{
		background: #09283d;
		border-top: 1px solid #203344;
		height: 100%;
		li{
			float: left;
			position: relative;
			width: 50%;
			color: #fff;
			border-right: 1px solid #203344;
			text-align: center;
			font-size: 18px;
			line-height: 50px;
			text-transform: uppercase;
			&:last-child{
				border: 0;
			}
			span.count {
				height: 22px;
				width: 22px;
				border-radius: 50%;
				background: #fff;
				display: inline-block;
				color: #09283d;
				line-height: 22px;
				font-weight: bold;
			}
		}
	}
}

.browse-btm-tabs{
	// position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	z-index: 11;
	ul{
		background: #09283d;
		border-top: 1px solid #203344;
		height: 100%;
		li{
			float: left;
			position: relative;
			width: 33.334%;
			color: #fff;
			border-right: 1px solid #203344;
			text-align: center;
			font-size: 18px;
			line-height: 50px;
			text-transform: uppercase;
			button{
				background: none;
				border: 0;
			}
			&:last-child{
				border: 0;
			}
		}
	}
}

.switch-team-btm-tabs{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	z-index: 11;
	ul{
		background: #09283d;
		border-top: 1px solid #203344;
		height: 100%;
		li{
			float: left;
			position: relative;
			width: 100%;
			color: #fff;
			text-align: center;
			font-size: 18px;
			line-height: 50px;
			&:last-child{
				border: 0;
			}
		}
	}
}

.team-switch-dropdown{
	text-align: center;
	margin: 25px 0;
	select{
		font-size: 18px;
		padding: 5px 15px;
		outline: none;
		width: 50%;
		margin: 15px auto;
		text-align-last: center;
		display: block;
	}
}

.switch-team-count{
	height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fff;
    display: inline-block;
    color: #09283d;
    line-height: 16px;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid #aeaeae;
    text-align: center;
}

.abandoned-icon{
    background: url(#{$cdnUrl}/assets/images/abandoned-icon.png) center no-repeat;
    height: 26px;
    width: 26px;
    position: absolute;
    top: 36%;
    left: 50%;
    background-size: contain;
    margin-left: -13px;
}

.add-team{
	text-align: center;
	margin: 15px 0;
}

.scorecard-link{
	height: 16px;
    width: 16px;
    display: inline-block;
}

.icon-scorecard{
	background: url(#{$cdnUrl}/assets/images/icon-scorecard.png) center no-repeat;
    height: 22px;
    width: 22px;
    position: absolute;
    top: 0;
    right: 0;
    background-size: contain;
}

