/****************************************

// MODULE COMPONENT
// PLATFORM : MOBILE, TAB Only

****************************************/

.content-wrapper{
	position: relative;
	min-height: 100vh;
	padding-top: 55px;		// height of the header in mobile
	padding-bottom: 560px;		// height of the footer in mobile
}

.content-container{

}
.container {
	padding: 0 !important;
}

.help {
	bottom: 0;
	width: 30% !important;
}

.help.active > a, .help.active > a:hover, .help.active > a:focus {
	background-color: #eee !important;
	background: #eee !important;
	color: gray !important;
	text-decoration: underline;
	padding: 5px 0;
	border: none !important;
	visibility: collapse;
}

.mob-toast-error{
	color: #fff;
	bottom: 80px;
	margin: 0 3%;
	border-radius: 4px;
	background: rgba(0,0,0,0.9);
	// min-height: 45px;
	z-index: 101;
	width: 94%;
	padding: 10px 15px;
	line-height: normal;
	// text-align: center;
	display: none;
	position: fixed;
	h3{
		font-size: 20px;
		text-transform: uppercase;
	}
	p{
		font-size: 18px;
	}
}

button{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

