.promotion-details{
    position: absolute;
    top: 50px;
    left: 5%;
    height: 540px;
    width: 90%;
    z-index: 102;
    border-radius: 5px;
    background: #ffffff;
}

.promotions-bg{
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index:100;
}

.promo-details-popup{
    background: #ffffff;
    word-break: break-all;
    border: none;
    height: 100%;
    width: 100%;
}
.promo-details-header {
    border-radius: 5px;
}

.popup-bg{
    background: rgba(0, 0, 0, 0.5);
    z-index: 99999;
}

.title-popup-desk{
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 34px;
}

.modal-close{
    cursor: pointer;
    color: #ffffff;
    font-size: 24px;
    outline: none;
    position: absolute;
    right: 12px;
    top: -1px;
}