/****************************************
STATE RULE i.e. Media Queries, element state like disabled, active 
PLATFORM: MOBILE, TAB

****************************************/
// MEDIA QUERIES FOR iphone PORTRAIT
@media screen   and (min-device-width: 375px) and (max-device-width: 767px) and (orientation: landscape) {
    .info_portraitMod {
        width: 100%;
        height: 100%;
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 10001;
        background: #050102;
        overflow: hidden;
        background: rgba(255,255,255,1.0) url('../assets/images/sports/cricket/portrait.png') no-repeat center;;
        background-size: 60%;
    }
}


// MEDIA QUERIES FOR IPAD PORTRAIT
@media screen   and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .info_portraitMod {
        width: 100%;
        height: 100%;
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 10001;
        background: #050102;
        overflow: hidden;
        background: rgba(255,255,255,1.0) url('../assets/images/sports/cricket/portrait.png') no-repeat center;;
        background-size: 75%;
    }
}