<div class="accordion-wrapper">
	<div ng-if="leagues.leagueDisplayType === 'ACTIVE'">
		<div class="no-joinleague-error" ng-if="leagues.joinedLeaguesArray.length === 0 && leagues.noMyLeaguesError">
			<p><a href="javascript:;" ng-click="leagues.leagueTabHandler('PUBLIC_LEAGUE');">Click here</a> to join public leagues.</p>
		</div>

		<uib-accordion close-others="true" ng-if="leagues.joinedLeaguesArray.length != 0">
			<div uib-accordion-group class="panel-default" is-open="leagues.joinedLeaguesArray[$index].isOpen" is-disabled=""
			ng-repeat="item in leagues.joinedLeaguesArray">
			<uib-accordion-heading>
				<div class="w100 clearfix accordion-head" ng-click="leagues.browseLeagueHandler(item, $index)">
					<div class="w25 pull-left algn-cntr clr5 fw-600 l-title" ng-click="leagues.getLeaguePrizeInfo(item, $event)">{{item.title}}</div>
					<div class="w25 pull-left algn-cntr">
						<div class="fs14">Teams {{item.currentTeams}}/{{item.maxTeams}}</div>
						<!-- <div class="fs14">PDF</div> -->
					</div>
					<div class="w40 pull-left algn-cntr" ng-if="item.isMultiEntry">
						<button type="button" class="button btn-style-2 btn-sm" ng-click="leagues.reJoinLeague(item, $event)" ng-disabled="item.status == 'FILLED'">Rejoin</button>
					</div>
					<div class="w10 pull-right algn-cntr">
						<div class="arrow-icon mr-auto"></div>
					</div>
				</div>
			</uib-accordion-heading>
			<div class="accordion-data">
				<div class="pagination top text-center">
					<span class="mr-h4" ng-click="leagues.updatePagination(item, 'SHOW_TOP')" ng-if="leagues.pagination.currentPage > leagues.pagination.pageSize">Go to Top</span>
					<span class="mr-h4" ng-click="leagues.updatePagination(item, 'SHOW_PREVIOUS')" ng-if="leagues.pagination.currentPage > leagues.pagination.pageSize">Show Previous</span>
				</div>
				<ul class="joined-leagues-list">
					<li ng-repeat="item in leagues.leagueMembersArray.leagueUsers" class="clearfix">
						<div class="w25 pull-left algn-cntr">
							<div class="">{{item.screenName}}</div>
						</div>
						<div class="w40 pull-left algn-cntr">
						</div>
						<div class="w25 pull-right algn-cntr">
							<select ng-if="item.showTeamDropdown" ng-model="item.newTeamId" class="wd-auto pad-a2">
								<option ng-repeat="x in leagues.currentTeamArr" value="{{x.teamId}}">Team {{x.teamId}}</option>
							</select>
							<button type="button" class="button btn-xs btn-style-2"
							ng-click="leagues.updateMyTeam(item)" ng-if="item.showTeamDropdown">Save
						</button>
						<a href="javascript:;" class="edit-link" ng-click="leagues.onTeamUpdateClick(item)"
						ng-if="!item.showTeamDropdown">Team {{item.teamId}}</a>
					</div>
				</li>
				<li ng-repeat="item in leagues.leagueMembersArray.leagueMembers" class="clearfix">
					<div class="w25 pull-left algn-cntr">
						<div class="">{{item.screenName}}</div>
						<!-- <div class="">{{item.teamId}}</div> -->
					</div>
				</li>
			</ul>
			<div class="pagination bottom text-center" ng-click="leagues.updatePagination(item, 'SHOW_MORE')" ng-if="leagues.pagination.currentPage < leagues.leagueMembersArray.totalTeamCount">
				<span>Show more members</span>
			</div>
		</div>
	</div>
</uib-accordion>
</div>
<div ng-if="leagues.leagueDisplayType === 'CLOSED'">
	<div class="no-joinleague-error" ng-if="leagues.joinedLeaguesArray.length === 0 && leagues.noMyLeaguesError">
		<p>You haven't joined any leagues.</p>
	</div>
	<uib-accordion close-others="true" ng-if="leagues.joinedLeaguesArray.length != 0">
		<div uib-accordion-group class="panel-default" is-open="leagues.joinedLeaguesArray[$index].isOpen" is-disabled=""
		ng-repeat="item in leagues.joinedLeaguesArray">
		<uib-accordion-heading>
		<div class="w100 clearfix accordion-head" ng-click="leagues.browseLeagueHandler(item, $index)">
				<div class="w25 pull-left algn-cntr clr5 fw-600 l-title" ng-click="leagues.getLeaguePrizeInfo(item, $event)">{{item.title}}</div>
				<div class="w25 pull-left algn-cntr">
					<div class="fs14">Teams {{item.currentTeams}}/{{item.maxTeams}}</div>
					<!-- <div class="fs14">PDF</div> -->
				</div>
				<div class="w40 pull-left algn-cntr">
					<div class="fs14">My Top Rank : <span class="my-top-rank fs14 fw-600">{{item.rank}}</span>
					</div>
					<div class="clr5 fs14">Team {{item.teamId}}</div>
				</div>
				<div class="w10 pull-right algn-cntr">
					<div class="arrow-icon mr-auto"></div>
				</div>
			</div>
		</uib-accordion-heading>
		<div class="accordion-data">
			<div class="pagination top text-center">
				<span class="mr-h4" ng-click="leagues.updatePagination(item, 'SHOW_TOP')" ng-if="leagues.pagination.currentPage > leagues.pagination.pageSize">Go to Top</span>
				<span class="mr-h4" ng-click="leagues.updatePagination(item, 'SHOW_PREVIOUS')" ng-if="leagues.pagination.currentPage > leagues.pagination.pageSize">Show Previous</span>
			</div>
			<ul class="joined-leagues-list">
				<li ng-repeat="item in leagues.leagueMembersArray.leagueUsers" class="clearfix" ng-click="leagues.fetchTeamInfo(item.teamId, $event)" ng-class="$index == 0 ? 'active' : ''">
					<div class="w25 pull-left algn-cntr fw-600">{{item.rank}}</div>
					<div class="w25 pull-left algn-cntr lt-normal">
						<div class="">{{item.screenName}}</div>
						<div class="">My Team{{item.teamId}}</div>
					</div>
					<div class="w40 pull-left algn-cntr pos-rel">
						<span class="fs14">{{item.points}} Pts</span>
						<span class="winning-amount" ng-if="leagues.selectedMatch.status === 'CLOSED' && item.winningAmt">
							<i class="fa fa-trophy" ng-if="item.rank == 1"></i> Rs. {{item.winningAmt}}
						</span>
					</div>
					<div class="w10 pull-left algn-cntr">
					</div>
				</li>
				<li ng-repeat="item in leagues.leagueMembersArray.leagueMembers" class="clearfix" ng-click="leagues.fetchOpponentTeamInfo(item, $event)">
					<div class="w25 pull-left algn-cntr fw-600">{{item.rank}}</div>
					<div class="w25 pull-left algn-cntr lt-normal">
						<div class="">{{item.screenName}}</div>
						<div class="">Team{{item.teamId}}</div>
					</div>
					<div class="w40 pull-left algn-cntr pos-rel">
						<span class="fs14">{{item.points}} Pts</span>
						<span class="winning-amount" ng-if="leagues.selectedMatch.status === 'CLOSED' && item.winningAmt">
							<i class="fa fa-trophy" ng-if="item.rank == 1"></i> Rs. {{item.winningAmt}}</span>
						</div>
						<div class="w10 pull-left algn-cntr"></div>
					</li>
				</ul>
				<div class="pagination bottom text-center" ng-click="leagues.updatePagination(item, 'SHOW_MORE')" ng-if="leagues.pagination.currentPage < leagues.leagueMembersArray.totalTeamCount">
					<span>Show more members</span>
				</div>
			</div>
		</div>
	</uib-accordion>
</div>
</div>
