<div class="cricket-ground-wrapper" ng-if="leagues.matchesArray.length == 0">
	<div class="league-cric-ground" id="cricGround">
	</div>
</div>

<!-- Template for league cricket ground status 'ACTIVE'  -->
<div class="cricket-ground-wrapper" ng-if="leagues.leagueDisplayType === 'ACTIVE' && leagues.matchesArray.length != 0">
	<div class="my-team-tabs">
		<ul class="clearfix">
			<li ng-class="leagues.currentTeamId === $index+1 ? 'active' : ''" ng-repeat="item in leagues.myTeamsArray track by $index" ng-click="leagues.teamTabHandler(item,$index)">
				<div class="team-name">Team {{item.teamId}}</div>

			</li>
			<li class="create-team" ng-if="leagues.currentMatchTeamCount < 4"><a href="javascript:;" ng-click="leagues.onCreateTeamClick()">Create Team {{leagues.myTeamsArray.length + 1}}</a></li>
		</ul>
	</div>

	<div class="league-cric-ground" id="cricGround">
		<div class="player {{player.className}}" style="background-image: url('{{cdnUrl}}/assets/images/sports/cricket/jersey/{{player.teamName}}.png');" ng-repeat="player in leagues.matchPlayersArray">
			<div class='plyr-details' title="{{player.playerName}}">
				<span class='plyr-name'><i ng-if="player.isBonus">(B)</i>{{player.shortName}}</span>
			</div>
		</div>
	</div>
	<button type="button" class="button btn-md btn-style-2 pull-right mr-h2" ng-click="leagues.onCreateTeamClick()" ng-if="leagues.currentMatchTeamCount === 0">Create Team</button>
	<button type="button" class="button btn-md btn-style-2 pull-right mr-h2" ng-click="leagues.onEditTeamClick()" ng-if="leagues.currentMatchTeamCount > 0" currentTeamId>Edit Team</button>
</div>
<!-- Template for league cricket ground status 'ACTIVE'  -->

<!-- Template for league cricket ground status 'CLOSED'  -->
<div class="cricket-ground-wrapper" ng-if="leagues.leagueDisplayType === 'CLOSED' && leagues.matchesArray.length != 0">
	<div class="my-team-tabs" ng-if="leagues.currentMatchTeamCount > 0">
		<ul class="clearfix">
			<li ng-class="leagues.currentTeamId === $index +1 ? 'active' : ''" ng-repeat="item in leagues.myTeamsArray track by $index" ng-click="leagues.teamTabHandler(item,$index)">
				<div class="team-name">Team {{item.teamId}}</div>
				<div class="team-points">{{item.teamPoints}} pts</div>
			</li>

		</ul>
	</div>
	<div class="my-team-status clearfix" ng-if="leagues.currentMatchTeamCount > 0">
		<div class="col-md-6">
			<div class="clr2">{{leagues.currentTeamInfo.teamName}}</div>
			<div class="clr2 fw-600">Team {{leagues.currentTeamInfo.teamId}}</div>
			<div class="scorecard-link" ng-click="leagues.onScorecardClick()">Scoreboard</div>
		</div>
		<div class="col-md-6">
			<div class="clr2 fw-600">Total points: <span>{{leagues.currentTeamInfo.teamPoints}} pts</span></div>
			<div class="clr2">Status : <span>{{leagues.getMatchStatus(leagues.selectedMatch.status)}}</span></div>
		</div>
	</div>
	<div class="league-cric-ground" id="cricGround">
		<div class="player {{player.className}}" style="background-image: url('{{cdnUrl}}/assets/images/sports/cricket/jersey/{{player.teamName}}.png');" ng-repeat="player in leagues.matchPlayersArray">
			<div class='plyr-details' title="{{player.playerName}}">
				<span class='plyr-name'><i ng-if="player.isBonus">(B)</i>{{player.shortName}}</span>
				<span class='plyr-credits'>({{player.playerPoints}})</span>
			</div>
		</div>
	</div>
</div>
<!-- Template for league cricket ground status 'CLOSED'  -->

<!-- Template for league cricket ground status 'LOCKED'  -->
<div class="cricket-ground-wrapper" ng-if="leagues.leagueDisplayType === 'LOCKED' && leagues.matchesArray.length != 0">
	<div class="league-cric-ground" id="cricGround"></div>
</div>
<!-- Template for league cricket ground status 'LOCKED'  -->
