<div class="mainDiv cms-content">
	<section>
		<div class="banner">
			<div class="bannerImg"><img src="{{cdnUrl}}/assets/images/banner_one.jpg" alt=""></div>
			<div class="get-started-btn-position for-desk-view">
				<a href="{{serverUrl}}/" class="button get-started-btn">Get Started!</a>
			</div>
		</div>
	</section>
	<section class="innerNavSec">
		<div class="container">
			<div class="">
				<div class="col-xs-12">
					<ul class="innerNav">
						<li><a href="{{serverUrl}}/page/how-to-play">Introduction</a></li>
						<li><a href="{{serverUrl}}/page/create-your-team">Create Your Team</a></li>
						<li><a href="{{serverUrl}}/page/managing-your-team">Managing Your Team</a></li>
						<li><a href="{{serverUrl}}/page/points-system">Fantasy Points System</a></li>
						<li><a class="active" href="{{serverUrl}}/page/account-balance">Account Balance</a></li>
						<li><a href="{{serverUrl}}/page/playing-the-game">FAQ</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section class="intro darkgray paddingtb for-desk-view">
		<div class="container">
			<div class=" pad-h10">
				<div class="col-xs-12 mrbtm-30 faq-type">
					<h1>Account Balance</h1>
					<p>Here you can see the total balance in your LeagueAdda account and can either deposit/withdraw money. Remember, you need to get your LeagueAdda account verified by us to withdraw money. Relax! This is only a one-time activity unless you want to change your details.</p>

					<h4>1. Unutilized</h4>
					<p>If you have deposited an amount, but have not joined a league using this amount, it will be considered as Unutilized in your LeagueAdda account.</p>

					<h4>2. Winnings</h4>
					<p>The prize amount you have earned by winning the leagues. No processing fees will be deducted if you wish to withdraw any amount from your winnings.</p>

					<h4>3. Cash Bonus</h4>
					<p>It’s a freebie! This is a bonus amount given by the LeagueAdda to you. You cannot withdraw this amount, but you can use it to join more leagues and win more cash!</p>
					<img class="cms-image" src="{{cdnUrl}}/assets/images/sports/cricket/account-balance-desk.png">
				</div>
			</div>
		</div>
	</section>
	<section class="intro darkgray paddingtb for-mobile-view">
		<div class="container">
			<div class=" pad-h10">
				<div class="col-xs-12 mrbtm-30 faq-type">
					<h1>Account Balance</h1>
					<p>Here you can see the total balance in your LeagueAdda account and can either deposit/withdraw money. Remember, you need to get your LeagueAdda account verified by us to withdraw money. Relax! This is only a one-time activity unless you want to change your details.</p>

					<h4>1. Unutilized</h4>
					<p>If you have deposited an amount, but have not joined a league using this amount, it will be considered as Unutilized in your LeagueAdda account.</p>

					<h4>2. Winnings</h4>
					<p>The prize amount you have earned by winning the leagues. No processing fees will be deducted if you wish to withdraw any amount from your winnings.</p>

					<h4>3. Cash Bonus</h4>
					<p>It’s a freebie! This is a bonus amount given by the LeagueAdda to you. You cannot withdraw this amount, but you can use it to join more leagues and win more cash!</p>
					<img class="cms-image" src="{{cdnUrl}}/assets/images/sports/cricket/account-balance-mob.png">
				</div>
			</div>
		</div>
	</section>
</div>
<script src="{{cdnUrl}}/vendor/jquery/dist/jquery.js"></script>
<script src="{{cdnUrl}}/vendor/slick-carousel/slick/slick.js"></script>
<!-- <script src="js/slick.min.js"></script> -->
<script type="text/javascript">
	$(function(){
		if($(window).outerWidth() < 992){
			$('.innerNav').slick({
				slidesToShow: 3,
				initialSlide: 4,
				slidesToScroll: 1,
				autoplay: false,
				autoplaySpeed: 2000,
				infinite:false,
				swipe:false,
				responsive: [
				{
					breakpoint: 767,
					settings: {
						slidesToShow: 2,
					}
				},
				{
					breakpoint: 480,
					settings: {
						slidesToShow: 1,
					}
				}]

			});
		}	
	})
	$(window).resize(function(){
		if($(window).outerWidth() < 992){
			$('.innerNav').slick({
				slidesToShow: 3,
				initialSlide: 4,
				slidesToScroll: 1,
				autoplay: false,
				autoplaySpeed: 2000,
				infinite:false,
				swipe:false,
				responsive: [{
					breakpoint: 767,
					settings: {
						slidesToShow: 2,
					}
				},
				{
					breakpoint: 480,
					settings: {
						slidesToShow: 1,
					}
				}]

			});
		}else{
			$('.innerNav').slick("unslick")
		}
	})
</script>