<!-- <div class="cms-content">
	<h1>{{pageTitle}}</h1>

	{{{pageContent}}}
	

</div> -->

<div class="cms-content">

<div class="mainDiv">
<section class="">
	<div class="container">
		<div class="">
		<div class="col-xs-12 overflow brdrBtm">
			<h1>{{pageTitle}}</h1>
			<!-- <a href="javascript:;" class="btn customBtn pull-right">Show Me Leagues</a> -->
		</div>
			<div class="col-xs-12">
				{{{pageContent}}}
			</div>
		</div>
	</div>
</section>

</div>

</div>


