<div class="cms-content">
	<div class="mainDiv">
		<section class="contactUs">
			<div class="container">
				<div class="">
					<div class="col-xs-12 overflow brdrBtm">
						<h3 class="globleBlue pull-left">Contact Us</h3>
						<!-- <a href="javascript:;" class="btn customBtn pull-right">Show Me Leagues</a> -->
					</div>
					<!-- <div class="col-xs-12 col-sm-6 col-md-5">
						<form>
							<input type="text" placeholder="Your E-mail ID*">
							<textarea></textarea>
							<div class="attached">
								<input type="file" name="">
								<input type="text" name="">
							</div>
							<input type="text" placeholder="Your Query*">

						</form>

					</div> -->
					<div class="col-xs-12 col-sm-6 col-md-7">
						<p>Gaussian Networks Pvt. Ltd.</p>
						<p>4th Floor, 148 Jessore Road</p>
						<p>Block A, South East Corner</p>
						<p>Kolkata - 700074</p>
						<p>West Bengal, INDIA.</p>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-7">
						<h4>For Enquires</h4>
						<p>Email Us - helpdesk@leagueadda.com</p>
						<p>Helpline Number : 1800-3000-0611 ( Timings : 9:00 AM - 12:00 AM | Mon - Sun )</p>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>


