<div class="mainDiv cms-content">
	<section>
		<div class="banner">
			<div class="bannerImg"><img src="{{cdnUrl}}/assets/images/banner_one.jpg" alt=""></div>
			<div class="get-started-btn-position for-desk-view">
				<a href="{{serverUrl}}/" class="button get-started-btn">Get Started!</a>
			</div>
		</div>
	</section>
	<section class="innerNavSec">
		<div class="container">
			<div class="">
				<div class="col-xs-12">
					<ul class="innerNav">
						<li><a href="{{serverUrl}}/page/how-to-play">Introduction</a></li>
						<li><a class="active" href="{{serverUrl}}/page/create-your-team">Create Your Team</a></li>
						<li><a href="{{serverUrl}}/page/managing-your-team">Managing Your Team</a></li>
						<li><a href="{{serverUrl}}/page/points-system">Fantasy Points System</a></li>
						<li><a href="{{serverUrl}}/page/account-balance">Account Balance</a></li>
						<li><a href="{{serverUrl}}/page/playing-the-game">FAQ</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section class="intro darkgray paddingtb for-desk-view">
		<div class="container">
			<div class=" pad-h10">
				<div class="col-xs-12 mrbtm-30">
					<h1>Create Your Team</h1>
					<p>Create a kickass team by selecting your cricketers on LeagueAdda's Fantasy Cricket Game.</p>
					<img class="cms-image" src="{{cdnUrl}}/assets/images/sports/cricket/create-your-team-desk.png">
				</div>
			</div>
		</div>
	</section>
	<section class="intro darkgray paddingtb for-mobile-view">
		<div class="container">
			<div class=" pad-h10">
				<div class="col-xs-12 mrbtm-30">
					<h1>Create Your Team</h1>
					<h5>Step 1: Select a match</h5>
					<p>Select any upcoming match from the list of ongoing and upcoming cricket series and click on the ‘Create Team’ button.</p>
					<img class="cms-image" src="{{cdnUrl}}/assets/images/sports/cricket/create-your-team-mob-1.png">

					<h5>Step 2: Pick players for your LeagueAdda team</h5>
					<p>Select players for your <strong>LeagueAdda team</strong> from all 4 of the categories mentioned below:</p>
					<p class="lh18 pdBtm10">WK - Wicket-keeper</p>
					<p class="lh18 pdBtm10">BAT - Batsmen</p>
					<p class="lh18 pdBtm10">BWL - Bowlers</p>
					<p class="lh18 pdBtm10">AR - All-rounders</p>
					<img class="cms-image" src="{{cdnUrl}}/assets/images/sports/cricket/create-your-team-mob-2.png">
					<p>Keep an eye on:</p>
					<p>Number of players added to your team</p>
					<p>Available credits</p>
					<p>The deadline for team submission</p>

					<h5>Step 3: Select your LeagueAdda team’s Captain &amp; Vice Captain</h5>
					<p>After creating your LeagueAdda team, choose a Captain & Vice Captain for the team.</p>
					<p>Captain - Gets 2x points scored by him in the actual game</p>
					<p>Vice Captain - Gets 1.5x points scored by him in the actual game</p>
					<img class="cms-image" src="{{cdnUrl}}/assets/images/sports/cricket/create-your-team-mob-3.png">

					<h5>Step 4: Creating multiple teams</h5>
					<p>You can create upto 4 teams per match and choose to join a league with any of the teams created!</p>
					<img class="cms-image" src="{{cdnUrl}}/assets/images/sports/cricket/create-your-team-mob-4.png">

					<h5>Step 4: Making changes to your teams</h5>
					<p>You can make as many changes to your LeagueAdda teams as you like until the deadline of that match!</p>
					<p>You can also change your Captain or Vice Captain before the deadline of the match. Select the “Edit Team” button to make changes to your team.</p>
					<p>Make sure you keep an eye on which of your players are playing the match and keep your session updated at all times.</p>

				</div>
			</div>
		</div>
	</section>
</div>

<script src="{{cdnUrl}}/vendor/jquery/dist/jquery.js"></script>
<script src="{{cdnUrl}}/vendor/slick-carousel/slick/slick.js"></script>
<!-- <script src="js/slick.min.js"></script> -->
<script type="text/javascript">
	$(function(){
		if($(window).outerWidth() < 992){
			$('.innerNav').slick({
				slidesToShow: 3,
				initialSlide: 1,
				slidesToScroll: 1,
				autoplay: false,
				autoplaySpeed: 2000,
				infinite:false,
				swipe:false,
				responsive: [
				{
					breakpoint: 767,
					settings: {
						slidesToShow: 2,
					}
				},
				{
					breakpoint: 480,
					settings: {
						slidesToShow: 1,
					}
				}]

			});
		}	
	})
	$(window).resize(function(){
		if($(window).outerWidth() < 992){
			$('.innerNav').slick({
				slidesToShow: 3,
				initialSlide: 1,
				slidesToScroll: 1,
				autoplay: false,
				autoplaySpeed: 2000,
				infinite:false,
				swipe:false,
				responsive: [{
					breakpoint: 767,
					settings: {
						slidesToShow: 2,
					}
				},
				{
					breakpoint: 480,
					settings: {
						slidesToShow: 1,
					}
				}]

			});
		}else{
			$('.innerNav').slick("unslick")
		}
	})
</script>