<div class="cms-content">
	<div class="mainDiv">
		<section class="how_Play">
			<div class="container">
				<div class="">
					<div class="col-xs-12 overflow brdrBtm">
						<h1>How to Play the Fantasy Cricket Game?</h1>
						<!-- <a href="{{serverUrl}}/league" class="btn customBtn pull-right">Show Me Leagues</a> -->
					</div>
					<div class="col-xs-12 col-sm-10">
						<h4>Fantasy Points System</h4>
						<p>Here’s how your team earns points in the Fantasy Cricket League.</p>
						<table>
							<thead>
								<tr>
									<td>Type of points</td>
									<td>T20</td>
									<td>ODI</td>
									<td>Test</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>For being part of the Starting XI</td>
									<td>2</td>
									<td>2</td>
									<td>2</td>
								</tr>
								<tr>
									<td>For every run scored</td>
									<td>0.5</td>
									<td>0.5</td>
									<td>0.5</td>
								</tr>
								<tr>
									<td>Wicket (excluding run-out)</td>
									<td>10</td>
									<td>12</td>
									<td>8</td>
								</tr>
								<tr>
									<td>Catch</td>
									<td>4</td>
									<td>4</td>
									<td>4</td>
								</tr>
								<tr>
									<td>Caught & Bowled</td>
									<td>14</td>
									<td>16</td>
									<td>12</td>
								</tr>
								<tr>
									<td>Stumping / Run-out (direct)</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
								</tr>
								<tr>
									<td>Dismissal for duck (batsmen, wicket-keeper and all-rounders)</td>
									<td>-2</td>
									<td>-3</td>
									<td>-4</td>
								</tr>
							</tbody>
						</table>

						<h5>Bonus Point</h5>
						<table>
							<thead>
								<tr>
									<td>Type of points</td>
									<td>T20</td>
									<td>ODI</td>
									<td>Test</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Every boundary hit</td>
									<td>0.5</td>
									<td>0.5</td>
									<td>0.5</td>
								</tr>
								<tr>
									<td>Every six hit</td>
									<td>1</td>
									<td>1</td>
									<td>1</td>
								</tr>
								<tr>
									<td>Half century</td>
									<td>4</td>
									<td>2</td>
									<td>2</td>
								</tr>
								<tr>
									<td>Century</td>
									<td>8</td>
									<td>4</td>
									<td>4</td>
								</tr>
								<tr>
									<td>Maiden over</td>
									<td>4</td>
									<td>2</td>
									<td>NA</td>
								</tr>
								<tr>
									<td>4 wickets</td>
									<td>4</td>
									<td>2</td>
									<td>2</td>
								</tr>
								<tr>
									<td>5 wickets</td>
									<td>8</td>
									<td>4</td>
									<td>4</td>
								</tr>
							</tbody>
						</table>

						<h5>Economy Rate</h5>
						<table>
							<thead>
								<tr>
									<td>Type of points</td>
									<td>T20</td>
									<td>ODI</td>
									<td>Test</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Applicable for players bowling minimum overs</td>
									<td>2 Overs</td>
									<td>5 Overs</td>
									<td>NA</td>
								</tr>
								<tr>
									<td>Between 6 and 5 runs per over</td>
									<td>1</td>
									<td></td>
									<td>NA</td>
								</tr>
								<tr>
									<td>Between 4.99 and 4 runs per over</td>
									<td>2</td>
									<td></td>
									<td>NA</td>
								</tr>
								<tr>
									<td>Below 4 runs per over</td>
									<td>3</td>
									<td></td>
									<td>NA</td>
								</tr>
								<tr>
									<td>Between 9 and 10 runs per over</td>
									<td>-1</td>
									<td></td>
									<td>NA</td>
								</tr>
								<tr>
									<td>Between 10.1 and 11 runs per over</td>
									<td>-2</td>
									<td></td>
									<td>NA</td>
								</tr>
								<tr>
									<td>Above 11 runs per over</td>
									<td>-3</td>
									<td></td>
									<td>NA</td>
								</tr>
								<tr>
									<td>Between 4.5 and 3.5 runs per over</td>
									<td></td>
									<td>1</td>
									<td>NA</td>
								</tr>
								<tr>
									<td>Between 3.49 and 2.5 runs per over</td>
									<td></td>
									<td>2</td>
									<td>NA</td>
								</tr>
								<tr>
									<td>Below 2.5 runs per over</td>
									<td></td>
									<td>3</td>
									<td>NA</td>
								</tr>
								<tr>
									<td>Between 7 and 8 runs per over</td>
									<td></td>
									<td>-1</td>
									<td>NA</td>
								</tr>
								<tr>
									<td>Between 8.1 and 9 runs per over</td>
									<td></td>
									<td>-2</td>
									<td>NA</td>
								</tr>
								<tr>
									<td>Above 9 runs per over</td>
									<td></td>
									<td>-3</td>
									<td>NA</td>
								</tr>
							</tbody>
						</table>

						<h5>Strike Rate (Except Bowlers)</h5>
						<table>
							<thead>
								<tr>
									<td>Type of points</td>
									<td>T20</td>
									<td>ODI</td>
									<td>Test (per innings)</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Applicable for players batting minimum balls</td>
									<td>10 balls</td>
									<td>20 balls</td>
									<td>NA</td>
								</tr>
								<tr>
									<td>Between 60 and 70 runs per 100 balls</td>
									<td>-1</td>
									<td></td>
									<td>NA</td>
								</tr>
								<tr>
									<td>Between 50 and 59.9 runs per 100 balls</td>
									<td>-2</td>
									<td></td>
									<td>NA</td>
								</tr>
								<tr>
									<td>Below 50 runs per 100 balls</td>
									<td>-3</td>
									<td></td>
									<td>NA</td>
								</tr>
								<tr>
									<td>Between 50 and 60 runs per 100 balls</td>
									<td></td>
									<td>-1</td>
									<td>NA</td>
								</tr>
								<tr>
									<td>Between 40 and 49.9 runs per 100 balls</td>
									<td></td>
									<td>-2</td>
									<td>NA</td>
								</tr>
								<tr>
									<td>Below 40 runs per 100 balls</td>
									<td></td>
									<td>-3</td>
									<td>NA</td>
								</tr>
							</tbody>
						</table>

						<p>* The cricketer you choose to be your Fantasy Cricket Team’s Captain will receive 2 times the points</p>
						<p>* The Vice-Captain will receive 1.5 times the points for his performance</p>
						<p>* Strike rate scoring is applicable only for strike rate below 70 runs per 100 balls</p>
						<p>* Substitutes on the field will not be awarded point for any contribution they make. However, Concussion Substitutes (as defined in the Cricket Australia Playing Conditions for Domestic Matches) will be awarded points for any contributions they make in a match governed by the Cricket Australia Playing Conditions for Domestic Matches.</p>
						<p>* In case of any transfer of a real-life player in the intervening period between scheduled updates, such transfer shall not be reflected in the roster of players until the next scheduled update. Please note that while the transferred player will be available for selection in the transferred team's roster of players in a Contest during the intervening period, no points will be attributed to such transferred player in the course of such contest.</p>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>


