<div class="cms-content">
	<div class="mainDiv">
		<section class="faq darkgray">
			<div class="container">
				<div class="clearfix" style="min-height: 560px;">
					<div class="col-xs-12 overflow brdrBtm">
						<h1>FAQ</h1>
						<!-- <a href="javascript:;" class="btn customBtn pull-right">Show Me Leagues</a> -->
					</div>
					<div class="col-xs-12 faqpos autoheight">
						<div class="tabbs active " id="accordion1">
							<a href="javascript:;" class="tabBtn" accordion-click="" active-id="accordion1">Registration</a>
							<div class="accordion">
								<h4>What is LeagueAdda.com?</h4>
								<p>LeagueAdda.com is the India’s largest Fantasy Cricket Game of Skill where you showcase your cricketing knowledge and make a lot of cash while doing so!</p>
								<h4>How do I sign up?</h4>
								<p>Easy! Once you are on LeagueAdda.com, you can register by filling out a short form or by clicking on ‘Login with FB’ / ‘Login with Google+’ to register with your Facebook / Google account.</p>
								<h4>Why can’t I login to my account?</h4>
								<p>Please check whether your registered email address and password are entered correctly and try again. If you've forgotten your password, click on 'Forgot Password', enter your registered email ID and we’ll send you a link to reset your password through an email within a few minutes! If you've forgotten your registered email id, reach out to us via <a href="{{serverUrl}}/page/contact-us">Contact Us</a> page.</p>
								<h4>How do I change my password?</h4>
								<p>When you are logged in, click on your team name on the top right of the page and click on 'Change Password' tab under your TeamName menu.</p>
								<h4>How many Fantasy Cricket teams can I create with the same Email Id?</h4>
								<p>You can create only one account with one email id on LeagueAdda.com. Creation of multiple accounts by a single gamer is strictly prohibited and violates our FairPlay policy.</p>
								<h4>Can I update / edit my information?</h4>
								<p>Sure! Simply log in and click on the ‘Edit Profile’ link (at the top of the page). You will be able to update / edit your Full Name . You can also edit your date of birth, address and state. The team name chosen by you and registered email id, Mobile no. cannot be changed.</p>
								<h4>I don't know much about cricket – can I still play?</h4>
								<p>If you are not too sure about your cricketing knowledge, don’t worry. You can learn the Fantasy Cricket Game by visiting our <a href="{{serverUrl}}/page/how-to-play">‘Help’ section</a> on the site.</p>
							</div>
						</div>
						<div class="tabbs" id="accordion2">
							<a href="javascript:;" class="tabBtn" accordion-click="" active-id="accordion2">Playing the game</a>
							<div class="accordion">
								<h4>How do I play the Fantasy Cricket Game?</h4>
								<p>Please follow these simple steps to play the world’s largest Fantasy Cricket game of skill and win cash legally!</p>
								<p>1 - Register / Log in to LeagueAdda.com after choosing your sport.</p>
								<p>2 - Click on the ‘Create Team’ button for the particular match you want to join.</p>
								<p>3 - Select your Fantasy Team of 11 players (including a Captain and V-Captain) within the virtual budget of 100 Cr from all the players in the particular match.</p>
								<p>4 - Join Paid or Free Leagues of your choice. Paid Leagues let you win Cash and require an entry fee, for which we provide multiple payment methods such as Credit Cards, Debit Cards, Net banking, Mobile Payments and Cash Cards.</p>
								<p>5 - Once the Live match starts, your Fantasy Team starts earning points on the basis of actual performance of the players selected by you. Final points, rankings and winners are declared after the end of the match.</p>
								<h4>When does the Fantasy Cricket Game start?</h4>
								<p>The Fantasy Cricket game starts as soon as the deadline for the round ends. The deadline (denoted by the countdown ticker) is usually 1 hour before the start of the first match in the round.</p>
								<p>How do I select my Fantasy Cricket Team?</p>
								<p>After logging into your LeagueAdda.com account, click on the ‘Create Team’ button for the particular Round you want to join. Select your Fantasy Team of 11 players (including a Captain and V-Captain) within the virtual budget of 100 Cr from all the players in the particular match. For more guidance, please click on the ‘Creating Your Team’ link in our <a href="{{serverUrl}}/page/how-to-play">‘Help’</a> section more details.</p>
								<h4>Can I change my Fantasy Cricket team for future rounds?</h4>
								<p>Yes, you are required to create a new Fantasy Cricket team for every round on LeagueAdda.com</p>
								<h4>What if one of my chosen cricketers does not play in the round?</h4>
								<p>Need to choose your Fantasy Team carefully, Champ! The player who does not feature in the starting 11 in the matches (included in the round) does not get any Fantasy Points.</p>
								<h4>How many cricketers are needed to create a Fantasy Cricket team?</h4>
								<p>You need to select 11 cricketers to create a Fantasy Cricket Team, with a minimum of 3 bowlers, 3 batsmen, 1 all-rounder and 1 wicket-keeper, while the other 3 cricketers can be from any category. Please click on the ‘Creating Your Team’ link in our <a href="{{serverUrl}}/page/how-to-play">‘Help’</a> section for more details on possible team combinations.</p>
								<h4>Can I choose cricketers from one cricket team only?</h4>
								<p>We allow a maximum of 7 cricketers to be selected from one cricket team.</p>
								<h4>I’ve spent my entire budget before selecting all 11 players. How do I complete my Fantasy Cricket Team?</h4>
								<p>That’s the challenge! You need to create your Fantasy Cricket team within the budget of 100 credits given to you. We’re sure you can do it!</p>
								<h4>What is the use of a captain in the Fantasy Cricket Team?</h4>
								<p>The Captains always has some charisma! The cricketer you choose to be your Fantasy Cricket team’s captain will receive 2 times the points and VC will receive 1.5 times the points for his performance. So choose your Trump Cards thoughtfully!</p>
								<h4>When I make changes in the Fantasy Cricket team - how long does it take for the change to reflect?</h4>
								<p>The changes are instant! You can make unlimited changes any time before the deadline hits for a particular round.</p>
								<h4>Can I edit my Fantasy Cricket team during the round?</h4>
								<p>You can create or edit your Fantasy Cricket team only before the deadline, which is usually 1 hour prior to the start of the first match of the round. So keep an eye on the ticker!</p>
								<h4>When do you update the squads for rounds on LeagueAdda.com?</h4>
								<p>The squads for matches/rounds featured on LeagueAdda.com can keep getting updated till the deadline for that particular round as per the alerts received from our service providers. We request you to keep checking for such updates till the deadline for respective rounds.</p>
								<h4>How can I see my Fantasy Cricket Team’s rankings?</h4>
								<p>You can click on the particular round that you have created your Fantasy Team for, click on the ‘Joined’ tab just above the league options and then click on the 'Show' button to see the updated points and rankings for yourself and your opponents in that League.</p>
								<h4>How can I change my Fantasy Cricket Team Name?</h4>
								<p>Sorry, but once your Fantasy Cricket team name is registered, you can’t change it. Choose your team name wisely, it's permanent!</p>
								<h4>How do I create Multiple Teams for the same Round?</h4>
								<p>Multiple team option is enabled after creating your first team. You can create multiple teams by clicking '+' button above your team on the leagues page.</p>
								<h4>How many Teams can I create in a Round?</h4>
								<p>You can create up to 4 separate teams in a round</p>
								<h4>Can I join the same League using Multiple Teams?</h4>
								<p>You can join only one league with one team. However, leagues which display ‘Multi Entry’ on them allow you to join the same with multiple teams.</p>
								<h4>Can I edit my Teams?</h4>
								<p>Yes! You can edit your team(s) before the round deadline</p>
								<h4>Can I choose which of my teams compete in a league (Team 1 or Team 2) after joining?</h4>
								<p>Yes! You can choose your team in a league (Choose Team 1 or Team 2 to compete) from ‘Joined Leagues’ tab until the deadline.</p>
							</div>
						</div>
						<div class="tabbs" id="accordion3">
							<a href="javascript:;" class="tabBtn" accordion-click="" active-id="accordion3">Scores & Points</a>
							<div class="accordion">
								<h4>How do I score points?</h4>
								<p>You will score points depending on how the cricketers in your LeagueAdda.com Team perform in the live match(es). So make sure you pick a winning combination to help you win cash. Please check our ‘Points System’ in the <a href="{{serverUrl}}/page/how-to-play">‘How to Play’</a> section to understand the details.</p>
								<h4>When will the scores be updated?</h4>
								<p>Fantasy Cricket Points are usually updated every few minutes! The final points including your team's total and your rank are updated once the round gets over. Winners are declared and Winnings are distributed only after our team verifies the points.</p>
								<h4>I have created my Fantasy Cricket Team before the deadline so why hasn't my Fantasy Cricket Team got any points as yet?</h4>
								<p><a href="{{serverUrl}}">Fantasy Cricket Game</a> points are awarded only when the live match begins.</p>
								<h4>Which website do you refer to update the Fantasy Cricket Points?</h4>
								<p>We get our Live Score feeds from <a href="https://www.cricketapi.com/">CricketAPI</a>, the fastest live score provider online. All our Fantasy Cricket Game's points are typically calculated using these live feeds.</p>
								<h4>Will I get points for Man of the Match?</h4>
								<p>There are no points to be earned for Man of the Match.</p>
								<h4>What happens when there is a tie between gamers? How will you distribute the prize?</h4>
								<p>If there is a tie between 2 or more gamers, then the prize money is divided equally between the gamers. However, only in the case of a 2 member League, the entire entry amount is refunded to both gamers if their teams were exactly the same, including the Captain and VC.</p>
								<h4>Do I get points for the Super Over in a Match?</h4>
								<p>Sorry! We do not consider the Super Over in our Fantasy Cricket Game. The runs/wickets scored by the cricketers are not considered in their official records; hence the <a href="{{serverUrl}}">Fantasy Cricket Game</a> also does not consider these points.</p>
								<h4>How do I cross check my Fantasy Cricket Team’s points?</h4>
								<p>You can cross check your points by clicking on the ‘Fantasy Scorecard’ link on the Leagues page. If you want to check out the points system again, visit the Point System section on the <a href="{{serverUrl}}/page/how-to-play">Help page</a>.</p>
							</div>
						</div>
						<div class="tabbs" id="accordion4">
							<a href="javascript:;" class="tabBtn" accordion-click="" active-id="accordion4">Leagues</a>
							<div class="accordion"><h4>What type of Leagues can I participate in?</h4>
								<p>We’re spreading the field wide on LeagueAdda.com where you can join a host of Leagues like 2 members, 3 members, 5 members and 10 members Leagues (depending on the number of competitors in a league) as well as Special & Grand Leagues. You can join paid Leagues to win Cash and / or the free-to-play Skill Leagues to hone your <a href="{{serverUrl}}">Fantasy Cricket</a> skills till you are confident with your selection skills to enter the Paid Leagues to win Cash.</p>
								<h4>What are Public & Private Leagues?</h4>
								<p>This is where Fantasy Cricket on LeagueAdda.com gets even more awesome! Public Leagues are open for all to participate in.</p>
								<h4>How do I create a Private League?</h4>
								<p>Follow these simple steps to unravel the Fantasy Cricket fun together with your friends!</p>
								<p>- Select the Round that you want to participate in</p>
								<p>- Click on ‘Create League’ button</p>
								<p>- Create the League of your choice using the given options & join</p>
								<p>- Invite your friends via email, or by sharing a unique code on Facebook</p>
								<p>- Your friends can join this League by clicking on the link sent to them and following simple steps</p>
								<p>Voila! You have your own Private League on LeagueAdda.com!</p>
								<h4>How do I join a Private League?</h4>
								<p>- You will receive a link to join a Private League on LeagueAdda.com if invited by your friend. Click on this link</p>
								<p>- If you are already a registered gamer on LeagueAdda.com and have not already created a team for the round, you will need to create your Fantasy Team for the League you’re invited to.</p>
								<p>- After creating your Team, enter the invitation code on the Leagues page. Click on the ‘Join’ button. The system will confirm deduction of the entry fee for the League from your LeagueAdda.com account or prompt you to make payment in case your LeagueAdda.com account does not have the adequate balance.</p>
								<p>- If you are a new gamer, you will need to first register on LeagueAdda.com. After successful registration, you can follow the above steps starting from creating your team.</p>
								<p>- Make the payment for the entry fee to the invited League</p>
								<p>- Join more <a href="{{serverUrl}}">Fantasy Cricket</a> Leagues to win more Cash!</p>
								<h4>How do I join Leagues?</h4>
								<p>In order to join Leagues, please click on the ‘Join Now’ button below the specific League you wish to join.</p>
								<h4>What are Paid & Skill Leagues?</h4>
								<p>Paid Leagues are where gamer participate by paying an entry fee and compete against each other to win Cash! The prize money will be awarded to the gamer who has the highest Fantasy Cricket Points in the League.</p>
								<p>In a Skill League, gamers compete against each other for pride. Unlike the paid Leagues, there will be no entry fee for this League. This League will help you boost your Fantasy Cricket Skills. Once you are confident with your selection skills, you can enter the paid Leagues and win Cash.</p>
								<h4>How do I know if a league has a single winner or more than one winner?</h4>
								<p>A League with more than one winner or multiple winners will be denoted by the letter ‘M’.</p>
								<h4>How many winners will be announced for Leagues with Multiple Winners?</h4>
								<p>The winners will vary for different Leagues. The number of winners in a particular League will be shown by clicking on the 'Multiple Winners' link and this information will be disclosed as soon as the league is made available to join.</p>
								<h4>How is the prize money distributed in case of multiple winners?</h4>
								<p>The prize money that each winner will receive is explained in detail on clicking the 'Multiple Winners' (M) link for that League. Please note that taxes will be deducted as applicable on winnings above Rs.10,000 as per government regulations.</p>
								<h4>What happens if there is a tie between winners of a Multiple Winner league?</h4>
								<p>In case of a tie between winners of a Multiple Winner league for any position, the prize money for the winner's position and the immediately next winning position (if any), and so forth in accordance with the number of tied winners, will be aggregated and shared equally among the tied winners. All other prize money will remain as per the winner's standing.</p>
								<p>For example: If there are 2 winners tied for the 1st position, the sum of the 1st and 2nd position prize money will be distributed equally between these 2 winners and the next highest scorer will be awarded the prize money for the for the 3rd position.</p>
								<p>Currently, there are no tie breakers and hence all teams who have scored equal points will be considered as tied for a particular position.</p>
								<h4>What happens if the Cricket match is abandoned?</h4>
								<p>For Single Match rounds:</p>
								<p>If the match is abandoned, the round will be cancelled and the entry fees will be refunded. This includes scenarios where the match is abandoned without a single ball being bowled, as well as where the match is abandoned after it has started.</p>
								<p>For the rounds with 2 or more matches:</p>
								<p>Even if one match in the round is completed, the round will be processed and winners will be declared for the same.</p>
								<p>Notes:</p>
								<p>1) If a match is abandoned without a single ball being bowled i.e. the status is 'Match abandoned without a ball bowled', the points earned by the cricketers during that match will be considered as 0.</p>
								<p>2) If the match is abandoned after it has started i.e. the status is 'No Result' the points earned by the cricketers from the abandoned match will be considered in the fantasy score card.</p>
								<h4>What happens if a test match is declared as drawn?</h4>
								<p>For Single Match rounds:</p>
								<p>If the test match is declared as drawn with neither of the teams completing a single innings, the round will be cancelled and the entry fees will be refunded.</p>
								<p>If the test match is declared drawn with either team (and not necessarily both) completing a single innings, the round will be considered to have completed and the entry fees will not be refunded.</p>
								<p>For the rounds with 2 or more matches:</p>
								<p>If a test match is declared as drawn, the points earned by the cricketers from such drawn match, regardless of the manner in which it ends in a draw will be considered in the fantasy score card.If the round consists of at least one test match with either team (and not necessarily both) completing a single innings, the round will be processed and winners will be declared for the same.</p>
								<p>Notes:</p>
								<p>1) An innings will be deemed to be completed if a batting team either declares or gets bowled out (i.e., loses ten wickets) in such innings.</p>
								<h4>What if the League does not get filled with required number of Participants?</h4>
								<p>In case of a Unconfirmed Paid League, the League will be cancelled and the entry fee will be refunded to the gamer’s LeagueAdda.com account, but if it meets certain pre defined threshold of count of teams then the system will revise the prizepool and start the league.</p>
								<p>In case of Confirmed league the league will definitely begin no matter how many teams register, and the prizes will be as defined.</p>
								<h4>What do I win in a Skill League?</h4>
								<p>You’ve gotta pay a little Cash to win more Cash in return. Skill Leagues do not have any Cash prizes and are meant for gamers who want to gain experience in playing and boost their Fantasy Cricket gaming skills.</p>
								<h4>What do I win in a Paid League?</h4>
								<p>In a Paid League, you will win Cash! - What can be better than that?</p>
								<h4>Why do ranks keep fluctuating during a League?</h4>
								<p>As the cricketers are playing in the real-life match, your Fantasy Cricket Team keeps earning points for your chosen cricketer’s performances. The point status appearing next to your total points, will indicate if the round is in progress or completed.</p>
								<h4>Can I get my friend(s) to join the same League in which I am playing?</h4>
								<p>There is nothing better than friends competing against each other in the same League! That’s why we have Private Leagues wherein you can invite your friends through email or you can share a unique code on your or Facebook wall to participate in the same League.</p>
								<h4>Can I join future Rounds and Leagues in advance?</h4>
								<p>Considering the excitement and passion of Fantasy Cricket gamers, we allow our gamers to pre-select their Fantasy Cricket Teams for all the rounds that are open on LeagueAdda.com at any given point of time.</p>
								<h4>Can I view other gamers' Fantasy Cricket Team(s) in the competition?</h4>
								<p>Sure! But in order to maintain the element of surprise, we allow gamers to view other gamer’s Fantasy Cricket Team(s) only after the deadline hits. To view your opponent’s team, go to the Joined Leagues tab for a particular round and click on your opponent’s team name. You can also track your competition using our 'Competitor Tracker' feature and download the details of other teams in that league.</p>
								<h4>Can I join a League in the middle of the tour?</h4>
								<p>Yes, of course! The beauty of the daily format of fantasy cricket is that you can join League in the middle of a tour that is not yet closed (Deadline has not passed) and have an equal chance of winning as everyone else.</p>
								<h4>Do I have to create a separate Fantasy Cricket Team for each League?</h4>
								<p>You can join only one league with one team. However, leagues which display ‘Multi Entry’ on them allow you to join the same with multiple teams.</p>
								<h4>How do you decide the winner of a league?</h4>
								<p>The Fantasy Cricket Team which gets the highest points at the end of the round will be announced as the winner of that league.</p>
								<h4>Why do you charge me a fee to enter a League?</h4>
								<p>We charge a fee to access our amusement facilities for improving and maintaining the facilities, as well as awarding cash prizes.</p>
								<p>However, the entry fee will be credited back into your LeagueAdda.com account in case of canceled rounds due to abandoned matches. (Please check the FAQ for ‘What happens if the Cricket match is abandoned?’)</p>
							</div>
						</div>
						<div class="tabbs" id="accordion5">
							<a href="javascript:;" class="tabBtn" accordion-click="" active-id="accordion5">Cash prizes</a>
							<div class="accordion"><h4>How will I be informed if I win a Cash prize?</h4>
								<p>Ranking and points will be updated and displayed during and at the end of every match. If you win any Paid League, the Cash will be credited automatically into your LeagueAdda.com account.</p>
								<h4>When will the Cash be distributed?</h4>
								<p>The Winner declaration and crediting of the winnings to your LeagueAdda.com account usually happens within a couple of hours after the round is completed. The LeagueAdda.com Team manually verifies the Fantasy Cricket Scorecard with our live cricket feed to ensure that the points and scores are correctly updated after every round. This procedure can sometimes take a relatively long time. Only after we are absolutely sure that all points and scores are accurate, the final points are updated and winners declared.</p>
							</div>
						</div>
						<div class="tabbs" id="accordion6">
							<a href="javascript:;" class="tabBtn" accordion-click="" active-id="accordion6">Account Balance</a>
							<div class="accordion"><h4>How do I check my LeagueAdda.com account balance?</h4>
								<p>The balance in your LeagueAdda.com account will be displayed on the top of your screen at all times. You can also click on the wallet symbol on top of the page for a break-up of your account balance and your most recent transactions on LeagueAdda.com.</p>
								<h4>How can I add money?</h4>
								<p>Simple! Click on the wallet symbol displayed on top of the page and then click on ‘Add Funds’, after which you’ll be guided through the entire payment process.</p>
								<p>If you have any payment related queries, please feel free to reach us from the <a href="{{serverUrl}}/page/contact-us">Contact Us</a> page or chat with us on the website using the ‘Live Help’ feature.</p>
								<h4>What are the ways to add money?</h4>
								<p>As of now, you can deposit money into your LeagueAdda.com account balance by paying through: Debit Card, Credit Card, Net banking, Mobile Payments and Cash Cards. If you have any payment related queries, please feel free to reach us from the <a href="{{serverUrl}}/page/contact-us">Contact Us</a> page or chat with us on the website using the ‘Live Help’ feature.</p>
								<h4>Is it safe to pay through your website?</h4>
								<p>Absolutely! To ensure that all the payments are safe and secure, we use reputed and verified third party payment gateways that have multiple security checks and comply with every single law on online transactions.</p>
								<h4>How do I get through the payment gateway?</h4>
								<p>You don’t need to do anything special; we will take care of this during the payment process. We’re sure you will find the entire payment process hassle free.</p>
								<h4>How do I get notification for my transaction?</h4>
								<p>For all successful transactions, you will get a confirmation email with your Order Id and the Amount from LeagueAdda.com.</p>
								<h4>What if my account balance is not correct?</h4>
								<p>Hmmm...That’s rare. But if you require any help regarding your LeagueAdda.com account balance or any other Fantasy Cricket queries, please feel free to reach us from the <a href="{{serverUrl}}/page/contact-us">Contact Us</a> page or chat with us on the website using the ‘Live Help’ feature.</p>
								<p>What if the payment is deducted from my card and not updated in the LeagueAdda.com account?</p>
								<p>Don’t worry your money is safe. This usually happens when there is a delay in communication from the bank side or there is an interruption when the transaction is being processed. Let us fix that right away! Please reach out to us from the <a href="{{serverUrl}}/page/contact-us">Contact Us</a> page with your card/bank statement screenshot which confirms the debit of your transaction amount, so that we can check and resolve this for you.</p>
								<p>I’m getting an error message when I am trying to pay via the payment gateway?</p>
								<p>The mode of payment you have chosen may not be authorized by your bank, in which case you should call them and get it fixed. </p>
								<p>Also, please reach out to us from the <a href="{{serverUrl}}/page/contact-us">Contact Us</a> page with the error message screenshot so that we can advise you on how to complete your transaction.</p>
								<h4>How long does it take for my deposited amount to be credited into my LeagueAdda.com account balance?</h4>
								<p>Once you have made the deposit, your LeagueAdda.com account balance will get updated in a jiffy! If the updated balance is not reflected in your account please reach out to us from the <a href="{{serverUrl}}/page/contact-us">Contact Us</a> page.</p>
								<h4>Can I withdraw money from my ‘Unutilized’ Account (Deposits)?</h4>
								<p>The amount deposited in your ‘Unutilized’ Account can only be used to join leagues on LeagueAdda.com. This cannot be withdrawn to your bank account for any reason whatsoever.</p>
								<h4>In what order does my Account Balance get utilized towards the entry fee for a paid league?</h4>
								<p>When you join a Paid League, LeagueAdda.com shall first debit the entry fee amount from your ‘Unutilized’ Account, then from your Cash Bonus Account, followed by your Winnings Account to cover the entry fee for any paid league that you join. Starting Sat 1st Oct’16, we’ve made some restrictions to the use of cash bonus earned through our refer a friend program. For public league sizes of less than 10 members, only one member (from you or your referrals) will be able to join the league using cash bonus. For every other member (from you or your referrals) joining the exact same league, entry fees for the league will be deducted first from the unutilized deposits bucket and then the winnings bucket. Apart from the above scenario, you are free to use your cash bonus in any other public leagues on LeagueAdda.com. This includes using cash bonus in less than 10 member leagues where no more than 1 referral member joins using a cash bonus.</p>
								<h4>What is Cash Bonus? How can I get it?</h4>
								<p>The Cash Bonus is a special / surprise feature on LeagueAdda.com. You’ll definitely see the Cash Bonus coming into play during special promotional events and our periodic newsletters will keep you updated on the same.</p>
								<h4>Why isn't my full bonus received upon deposit?</h4>
								<p>Gradually releasing bonuses as you play prevents fraud and discourages multi-accounting. Please note that your pending cash bonus can only be used on LeagueAdda.com and cannot be withdrawn as cash.</p>
							</div>
						</div>
						<div class="tabbs" id="accordion7">
							<a href="javascript:;" class="tabBtn" accordion-click="" active-id="accordion7">Verification</a>
							<div class="accordion"><h4>Is Verification necessary to Join Leagues on LeagueAdda.com?</h4>
								<p>NO.When you Win Paid Leagues, your winnings will be deposited in your LeagueAdda.com</p>
								<p>You can make deposits only if you have verified your email id and mobile no. , PAN & Bank account verification is not required.However complete account Verification of your LeagueAdda.com account becomes mandatory only before you can make Withdrawals from your LeagueAdda.com account to your Bank account.</p>
								<h4>How do I get my LeagueAdda.com account verified?</h4>
								<p>Account verification is a one-time process. For your account to be verified, click on the wallet icon / account balance on top of the page, and then click on the “Verify Now” button. Follow the steps mentioned below to get your LeagueAdda.com account verified:</p>
								<p>1 - Upload your PAN number and PAN card image</p>
								<p>2 - Upload your bank details </p>
								<p>3 - Verify your mobile & email id by entering the OTP sent to your mobile no.</p>
								<p>4 - Click on 'Submit Verification'. You will receive an update on the verification status within 5 working days!</p>
								<h4>What if I want to update some details in my LeagueAdda.com account?</h4>
								<p>Easy! Details like your Name, Date of Birth, Address etc. can be edited by clicking on your Team Name and then on My Profile’ after logging in to your LeagueAdda.com account.</p>
								<h4>Why do I need a PAN card for ID proof?</h4>
								<p><a href="{{serverUrl}}">LeagueAdda.com</a> is the World’s No. 1 Fantasy Cricket Game of Skill where you can Win Cash legally! Your withdrawals on LeagueAdda.com involve transfer of money from your LeagueAdda.com account to your bank account, and hence PAN card has become a mandatory requirement for id proof. In case you do not have a PAN card, you can still join the leagues on LeagueAdda.com, and your winnings will be deposited in your LeagueAdda.com account. You can apply for a PAN card in the meantime; once you receive the PAN card, upload it along with the address proof and bank details to get your LeagueAdda.com account verified. You will then be able to withdraw any amounts to your bank account.</p>
								<h4>Why did my verification get rejected?</h4>
								<p>Some of the major reasons why your verification request may be rejected are mentioned below:</p>
								<p>1 - PAN card (mandatory) is not uploaded as ID proof for verification.* Your withdrawals on LeagueAdda.com involve transfer of money. Hence PAN card is mandatory in order to get your LeagueAdda.com account verified. Please upload a clear image of your PAN card.</p>
								<p>2 - PAN number on the card does not match with the PAN number entered during verification request.* Double check the PAN number that you have entered to avoid errors.</p>
								<p>3 - Date Of Birth on the PAN card does not match with the Date Of Birth on your LeagueAdda.com account.* Please ensure that you enter the exact Date of Birth on the verification request, as it appears on the PAN card.</p>
								<p>4 - Name on the PAN card does not match with the name on the bank account.* You can withdraw money from your LeagueAdda.com account only to your own bank account.Hence the name on the PAN card and bank account need to match.</p>
								<p>5 - IFSC code provided in the bank details is incorrect / belongs to a different bank branch than the one mentioned for verification purposes.* If you provide the wrong IFSC code, your money could be transferred to someone else's account so make sure that you enter the correct code. You can find the IFSC code in your cheque book, passbook or bank statements. If you're not sure, please contact your bank to get the correct code.</p>
								<p>6 - The documents uploaded by you are not clear / visible.* Our experts are humans after all! Please help them by uploading clear documents so that they can verify your details quickly.</p>
								<p>7 - Bank account number entered in verification request does not match with account number appearing on the uploaded proof.* You don't want your hard earned money going to someone else's account right? Neither do we! So please ensure that you enter the exact bank account number in the verification request, as it appears on the bank account proof.</p>
								<p>In the rare case that your verification request gets rejected, the reason for rejection will also appear on top of the verification page for your reference.</p>
							</div>
						</div>
						<div class="tabbs" id="accordion8">
							<a href="javascript:;" class="tabBtn" accordion-click="" active-id="accordion8">Withdrawal</a>
							<div class="accordion"><h4>How do I withdraw money from my LeagueAdda.com account balance?</h4>
								<p>You can withdraw money only from the Winnings Account in your LeagueAdda.com account balance once your account is verified. This verification is a one-time process which never needs to be repeated unless you wish to make changes to your account. Once your LeagueAdda.com account is verified, you can withdraw the desired amount (min. of Rs.200 and max. of Rs.2,00,000 at a time) and it will be deposited into your bank account within 5 working days.</p>
								<h4>Why can’t I withdraw from the Cash Bonus in my LeagueAdda.com account?</h4>
								<p>This is the bonus amount given by the LeagueAdda.com to you. It’s a Freebie! So you cannot withdraw this amount, but can use this amount to join more Leagues and win more Cash! Cash Bonus also comes with an expiry date.</p>
								<p>What is the minimum & maximum amount I can withdraw from my LeagueAdda.com account?</p>
								<p>The minimum amount for a single withdrawal request is Rs.200 and the maximum amount that you can withdraw is Rs.2,00,000/-.</p>
								<h4>What bank account details do I need to provide for withdrawal/ verification?</h4>
								<p>We’ve gotta make sure that it’s you who we’re sending the money to. So we need you to provide the following bank account details: Name of the bank, Name of the branch, Name of Account Holder, Account No. and IFSC Code.</p>
							</div>
						</div>
						<div class="tabbs" id="accordion9">
							<a href="javascript:;" class="tabBtn" accordion-click="" active-id="accordion9">Legality</a>
							<div class="accordion"><h4>Is the paid version of Fantasy Cricket legal in India?</h4>
								<p>Yes, please review the <a href="{{serverUrl}}/page/terms-of-use">Legality section</a> on our website for more details.</p>
								<h4>Am I allowed to play if I’m under the age of 18?</h4>
								<p>We’re sorry, this game is strictly for gamers who are at least 18 years of age.</p>
								<h4>Do I have to pay taxes when I withdraw money to my bank account?</h4>
								<p>Taxes are deducted at source wherever applicable and paid out by us, as per the Income Tax Act 1961. Winners will be provided TDS certificates in respect of such tax deductions, if applicable. However, you shall be responsible for payment of any other applicable tax, including but not limited to, income tax, gift tax, etc. in respect of the Cash Prizes money won. If you have any queries regarding taxation, we strongly suggest that you consult with a tax expert. For more information please check our <a href="{{serverUrl}}/page/terms-of-use">Terms and Conditions</a>.</p>
								<h4>What are the taxes applicable if I win more than Rs.10,000?</h4>
								<p>As per the Income Tax Act 1961 if your individual winnings for a single league is more than Rs.10,000, a tax of 30.9% will be deducted. The remaining amount (69.10%) will be credited to your winnings balance. For e.g. If you win Rs.1,00,000, a tax of Rs.30,900 will be deducted and your actual winnings are Rs.69,100.</p>
							</div>
						</div>
						<div class="tabbs" id="accordion10">
							<a href="javascript:;" class="tabBtn" accordion-click="" active-id="accordion10">FairPlay Violation</a>
							<div class="accordion"><h4>What is not allowed on LeagueAdda.com:</h4>
								<p>a. Creation of multiple accounts by one gamer</p>
								<p>b. Creation of multiple accounts by misusing a referral link to get cash bonus</p>
								<p>c. Any cash bonus withdrawal using unlawful means</p>
								<p>d. Submission of fake documents or uploading someone else's documents</p>
								<p>What happens when:</p>
								<p>a. A gamer plays with multiple ids or uses his/her own referral link to create multiple accounts - we deactivate the referred accounts</p>
								<p>b. A gamer converts cash bonus into winnings by activities that violate LeagueAdda.com's FairPlay policy - we take back the cash bonus component of the winnings</p>
							</div>
						</div>
					</div>
				</div>
			  </div>
			</section>
		</div>
	</div>
	<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
	<script src="/fantasy_sports/app/vendor/jquery/dist/jquery.js"></script>
	<script>

		function processAutoheight(){
			var maxHeight = 0;
			// This will check first level children ONLY as intended.
			$(".autoheight .tabbs.active  .accordion").each(function(){
				height = $(this).outerHeight(true); // outerHeight will add padding and margin to height total
				if (height > maxHeight ) {
					maxHeight = height;
				}
			});

			$(".autoheight").height(maxHeight);
		}

		// Recalculate under any condition that the viewport dimension has changed
		$(document).ready(function() {

			$(window).resize(function() {
				 if($(window).width() > 992){
				 	processAutoheight();
				 }
			});

			// BOTH were required to work on any device "document" and "window".
			// I don't know if newer jQuery versions fixed this issue for any device.
			$(document).resize(function() { 
				if($(window).width() > 992){
				 	processAutoheight();
				 }
			});

			// First processing when document is ready
			if($(window).width() > 992){
			 	processAutoheight();
		 	}

			$('.tabBtn').click(function(){
			    if($(window).width() > 992){
				    if(!$(this).parent('div').hasClass('active')){
				      $(this).parent('div').addClass('active');
				      $(this).parent('div').siblings('div.active').children('.accordion').hide();
				      $(this).parent('div').siblings('div').removeClass('active');
				      $(this).siblings('.accordion').show();
				    }else{
				     // $(this).parent('div').removeClass('active');
				      $(this).parent('div').siblings('div').removeClass('active');

				      //$(this).siblings('.accordion').hide();
				    }
					processAutoheight();
			    }else{
				    if(!$(this).parent('div').hasClass('active')){
				      $(this).parent('div').addClass('active');
				      $(this).parent('div').siblings('div.active').children('.accordion').slideUp();
				      $(this).parent('div').siblings('div').removeClass('active');
				      $(this).siblings('.accordion').slideDown();
				    }else{
				      $(this).parent('div').removeClass('active');
				      $(this).parent('div').siblings('div').removeClass('active');
				      $(this).siblings('.accordion').slideUp();
				    }
			  	}
		  	})
		});
	</script>


