<!-- How to play Introduction -->
<div class="mainDiv cms-content">
	<section>
		<div class="banner">
			<div class="bannerImg"><img src="{{cdnUrl}}/assets/images/banner_one.jpg" alt=""></div>
			<div class="get-started-btn-position for-desk-view">
				<a href="{{serverUrl}}/" class="button get-started-btn">Get Started!</a><!--pulse-btn-->
			</div>
		</div>
	</section>
	<section class="innerNavSec">
		<div class="container">
			<div class="">
				<div class="col-xs-12">
					<ul class="innerNav">
						<li><a class="active" href="{{serverUrl}}/page/how-to-play">Introduction</a></li>
						<li><a href="{{serverUrl}}/page/create-your-team">Create Your Team</a></li>
						<li><a href="{{serverUrl}}/page/managing-your-team">Managing Your Team</a></li>
						<li><a href="{{serverUrl}}/page/points-system">Fantasy Points System</a></li>
						<li><a href="{{serverUrl}}/page/account-balance">Account Balance</a></li>
						<li><a href="{{serverUrl}}/page/playing-the-game">FAQ</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section class="intro darkgray paddingtb for-desk-view">
		<div class="container">
			<div class=" pad-h10">
				<div class="col-xs-12 mrbtm-30">
					<h1>Introduction</h1>
					<p>Welcome to LeagueAdda, the world’s largest Fantasy Cricket game of skill! Fantasy Cricket is all about using your cricket knowledge and skill to create your LeagueAdda team within a budget of 100 credits in virtual money.</p>
					<p>Your LeagueAdda team earns points based on how your chosen cricketers perform in real-life matches. So remember, this is a strategy game based on selecting cricketers before a match begins.</p>
					<p>Fantasy Cricket on LeagueAdda is a game of skill, so brush up on your cricket knowledge and you’ll have a much better chance of winning!</p>
				</div>
				<h4 class="col-xs-12">Here are 4 easy steps to get you started:</h4>
				<div class="col-xs-12 col-sm-3 text-center">
					<div class="box bx1">
						<div class="imgBox"><img src="{{cdnUrl}}/assets/images/sports/cricket/how-to-play-step1.png" alt=""></div>
						<div class="titleBox"><span>Select a tour &amp; a match</span></div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-3 text-center">
					<div class="box bx2">
						<div class="imgBox"><img src="{{cdnUrl}}/assets/images/sports/cricket/how-to-play-step2.png" alt=""></div>
						<div class="titleBox"><span>Select your best playing11</span></div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-3 text-center">
					<div class="box bx3">
						<div class="imgBox"><img src="{{cdnUrl}}/assets/images/sports/cricket/how-to-play-step3.png" alt=""></div>
						<div class="titleBox"><span>Join cash league &amp; compete</span></div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-3 text-center">
					<div class="box bx4">
						<div class="imgBox"><img src="{{cdnUrl}}/assets/images/sports/cricket/how-to-play-step4.png" alt=""></div>
						<div class="titleBox"><span>Win real cash &amp; redeem</span></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="intro darkgray paddingtb for-mobile-view">
		<div class="container">
			<div class=" pad-h10">
				<div class="col-xs-12 mrbtm-30">
					<h1>Introduction</h1>
					<p class="">Welcome to LeagueAdda!</p>
					<p class="">LeagueAdda is the world’s #1 single-match fantasy sports game of skill offering fantasy cricket.</p>
					<p class="">Fantasy Cricket is played by using your cricket knowledge and skill to create your LeagueAdda team within a maximum budget of 100 credits. Your team earns points as per how the players chosen by you perform in the real-life matches. So strategize wisely and brush up on your cricket knowledge to be in a better position to win!</p>

					<p class=""><strong class="fs18px">Select a tour &amp; a match</strong>:<br> Select any of the upcoming matches from any of the current or upcoming cricket series</p>
					<div class="imgBox"><img src="{{cdnUrl}}/assets/images/sports/cricket/how-to-play-step1.png" alt=""></div>

					<p class=""><strong class="fs18px">Select your best playing11</strong>:<br> Use your cricket knowledge and showcase your skills to create your LeagueAdda team within a budget of 100 credits</p>
					<div class="imgBox"><img src="{{cdnUrl}}/assets/images/sports/cricket/how-to-play-step2.png" alt=""></div>

					<p class=""><strong class="fs18px">Join cash league &amp; compete</strong>: <br> Join any LeagueAdda cash league to win cash and the ultimate bragging rights to showoff your improvement in the Free/Skill leagues on LeagueAdda!</p>
					<div class="imgBox"><img src="{{cdnUrl}}/assets/images/sports/cricket/how-to-play-step3.png" alt=""></div>

					<p class=""><strong class="fs18px">Follow the Match:</strong><br> Watch the real match and track your fantasy scorecard (updated every 2 minutes)</p>

					<p class=""><strong class="fs18px">Win real cash &amp; redeem</strong>:<br> Instantly withdraw your winnings from your LeagueAdda account (One Time Verification required)</p>
					<div class="imgBox"><img src="{{cdnUrl}}/assets/images/sports/cricket/how-to-play-step4.png" alt=""></div>
					</div>
			</div>
		</div>
	</section>
</div>
<!-- How to play Introduction -->

<script src="{{cdnUrl}}/vendor/jquery/dist/jquery.js"></script>
<script src="{{cdnUrl}}/vendor/slick-carousel/slick/slick.js"></script>
<!-- <script src="js/slick.min.js"></script> -->
<script type="text/javascript">
	$(function(){
		if($(window).outerWidth() < 992){
			$('.innerNav').slick({
				slidesToShow: 3,
				slidesToScroll: 1,
				autoplay: false,
				autoplaySpeed: 2000,
				infinite:false,
				swipe:false,
				responsive: [
				{
					breakpoint: 767,
					settings: {
						slidesToShow: 2,
					}
				},
				{
					breakpoint: 480,
					settings: {
						slidesToShow: 1,
					}
				}]

			});
		}	
	})
	$(window).resize(function(){
		if($(window).outerWidth() < 992){
			$('.innerNav').slick({
				slidesToShow: 3,
				slidesToScroll: 1,
				autoplay: false,
				autoplaySpeed: 2000,
				infinite:false,
				swipe:false,
				responsive: [{
					breakpoint: 767,
					settings: {
						slidesToShow: 2,
					}
				},
				{
					breakpoint: 480,
					settings: {
						slidesToShow: 1,
					}
				}]

			});
		}else{
			$('.innerNav').slick("unslick")
		}
	})
</script>