<div class="mainDiv cms-content">
	<section>
		<div class="banner">
			<div class="bannerImg"><img src="{{cdnUrl}}/assets/images/banner_one.jpg" alt=""></div>
			<div class="get-started-btn-position for-desk-view">
				<a href="{{serverUrl}}/" class="button get-started-btn">Get Started!</a>
			</div>
		</div>
	</section>
	<section class="innerNavSec">
		<div class="container">
			<div class="">
				<div class="col-xs-12">
					<ul class="innerNav">
						<li><a href="{{serverUrl}}/page/how-to-play">Introduction</a></li>
						<li><a href="{{serverUrl}}/page/create-your-team">Create Your Team</a></li>
						<li><a class="active" href="{{serverUrl}}/page/managing-your-team">Managing Your Team</a></li>
						<li><a href="{{serverUrl}}/page/points-system">Fantasy Points System</a></li>
						<li><a href="{{serverUrl}}/page/account-balance">Account Balance</a></li>
						<li><a href="{{serverUrl}}/page/playing-the-game">FAQ</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section class="intro darkgray paddingtb">
		<div class="container">
			<div class=" pad-h10">
				<div class="col-xs-12 mrbtm-30">
					<h1>Managing Your Team</h1>
					<p>- You can make unlimited changes to your team before the deadline.</p>
					<p>- You can also change your Captain &amp; Vice-captain.</p>
					<p>- Make sure you keep a tab on which of your players are playing and keep your team updated at all times to win more!</p>
				</div>
			</div>
		</div>
	</section>
</div>

<script src="/fantasy_sports/app/vendor/jquery/dist/jquery.js"></script>
<script src="/fantasy_sports/app/vendor/slick-carousel/slick/slick.js"></script>
<!-- <script src="js/slick.min.js"></script> -->
<script type="text/javascript">
	$(function(){
		if($(window).outerWidth() < 992){
			$('.innerNav').slick({
				slidesToShow: 3,
				initialSlide: 2,
				slidesToScroll: 1,
				autoplay: false,
				autoplaySpeed: 2000,
				infinite:false,
				swipe:false,
				responsive: [
				{
					breakpoint: 767,
					settings: {
						slidesToShow: 2,
					}
				},
				{
					breakpoint: 480,
					settings: {
						slidesToShow: 1,
					}
				}]

			});
		}	
	})
	$(window).resize(function(){
		if($(window).outerWidth() < 992){
			$('.innerNav').slick({
				slidesToShow: 3,
				initialSlide: 2,
				slidesToScroll: 1,
				autoplay: false,
				autoplaySpeed: 2000,
				infinite:false,
				swipe:false,
				responsive: [{
					breakpoint: 767,
					settings: {
						slidesToShow: 2,
					}
				},
				{
					breakpoint: 480,
					settings: {
						slidesToShow: 1,
					}
				}]

			});
		}else{
			$('.innerNav').slick("unslick")
		}
	})
</script>