<div class="mainDiv cms-content">
	<section>
		<div class="banner">
			<div class="bannerImg"><img src="{{cdnUrl}}/assets/images/banner_one.jpg" alt=""></div>
			<div class="get-started-btn-position for-desk-view">
				<a href="{{serverUrl}}/" class="button get-started-btn">Get Started!</a>
			</div>
		</div>
	</section>
	<section class="innerNavSec">
		<div class="container">
			<div class="">
				<div class="col-xs-12">
					<ul class="innerNav">
						<li><a href="{{serverUrl}}/page/how-to-play">Introduction</a></li>
						<li><a href="{{serverUrl}}/page/create-your-team">Create Your Team</a></li>
						<li><a href="{{serverUrl}}/page/managing-your-team">Managing Your Team</a></li>
						<li><a href="{{serverUrl}}/page/points-system">Fantasy Points System</a></li>
						<li><a href="{{serverUrl}}/page/account-balance">Account Balance</a></li>
						<li><a class="active" href="{{serverUrl}}/page/playing-the-game">FAQ</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section class="intro darkgray paddingtb">
		<div class="container faq-type">
			<div class=" pad-h10">
				<div class="col-xs-12 mrbtm-30">
					<h1>Playing the Game</h1>
					<h4>How do I play the Fantasy Cricket Game?</h4>
					<p>Please follow these simple steps to play the world’s largest Fantasy Cricket game of skill and win cash legally!</p>
					<p>1 - Register / Log in to LeagueAdda.com after choosing your sport.</p>
					<p>2 - Click on the ‘Create Team’ button for the particular match you want to join.</p>
					<p>3 - Select your Fantasy Team of 11 players (including a Captain and V-Captain) within the virtual budget of 100 Cr from all the players in the particular match.</p>
					<p>4 - Join Paid or Free Leagues of your choice. Paid Leagues let you win Cash and require an entry fee, for which we provide multiple payment methods such as Credit Cards, Debit Cards, Net banking, Mobile Payments and Cash Cards.</p>
					<p>5 - Once the Live match starts, your Fantasy Team starts earning points on the basis of actual performance of the players selected by you. Final points, rankings and winners are declared after the end of the match.</p>

					<h4>When does the Fantasy Cricket Game start?</h4>
					<p>The Fantasy Cricket game starts as soon as the deadline for the round ends. The deadline (denoted by the countdown ticker) is usually 1 hour before the start of the first match in the round.</p>
					<p>How do I select my Fantasy Cricket Team?</p>
					<p>After logging into your LeagueAdda.com account, click on the ‘Create Team’ button for the particular Round you want to join. Select your Fantasy Team of 11 players (including a Captain and V-Captain) within the virtual budget of 100 Cr from all the players in the particular match. For more guidance, please click on the ‘Creating Your Team’ link in our <a href="">‘Help’</a> section more details.</p>

					<h4>Can I change my Fantasy Cricket team for future rounds?</h4>
					<p>Yes, you are required to create a new Fantasy Cricket team for every round on LeagueAdda.com</p>
					<h4>What if one of my chosen cricketers does not play in the round?</h4>
					<p>Need to choose your Fantasy Team carefully, Champ! The player who does not feature in the starting 11 in the matches (included in the round) does not get any Fantasy Points.</p>

					<h4>How many cricketers are needed to create a Fantasy Cricket team?</h4>
					<p>You need to select 11 cricketers to create a Fantasy Cricket Team, with a minimum of 3 bowlers, 3 batsmen, 1 all-rounder and 1 wicket-keeper, while the other 3 cricketers can be from any category. Please click on the ‘Creating Your Team’ link in our <a href="">‘Help’</a> section for more details on possible team combinations.</p>

					<h4>Can I choose cricketers from one cricket team only?</h4>
					<p>We allow a maximum of 7 cricketers to be selected from one cricket team.</p>
					<p>I’ve spent my entire budget before selecting all 11 players. How do I complete my Fantasy Cricket Team?</p>
					<p>That’s the challenge! You need to create your Fantasy Cricket team within the budget of 100 credits given to you. We’re sure you can do it!</p>

					<h4>What is the use of a captain in the Fantasy Cricket Team?</h4>
					<p>The Captains always has some charisma! The cricketer you choose to be your Fantasy Cricket team’s captain will receive 2 times the points and VC will receive 1.5 times the points for his performance. So choose your Trump Cards thoughtfully!</p>
					<p>When I make changes in the Fantasy Cricket team - how long does it take for the change to reflect?</p>
					<p>The changes are instant! You can make unlimited changes any time before the deadline hits for a particular round.</p>

					<h4>Can I edit my Fantasy Cricket team during the round?</h4>
					<p>You can create or edit your Fantasy Cricket team only before the deadline, which is usually 1 hour prior to the start of the first match of the round. So keep an eye on the ticker!</p>

					<h4>When do you update the squads for rounds on LeagueAdda.com?</h4>
					<p>The squads for matches/rounds featured on LeagueAdda.com can keep getting updated till the deadline for that particular round as per the alerts received from our service providers. We request you to keep checking for such updates till the deadline for respective rounds.</p>

					<h4>How can I see my Fantasy Cricket Team’s rankings?</h4>
					<p>You can click on the particular round that you have created your Fantasy Team for, click on the ‘Joined’ tab just above the league options and then click on the 'Show' button to see the updated points and rankings for yourself and your opponents in that League.</p>

					<h4>How can I change my Fantasy Cricket Team Name?</h4>
					<p>Sorry, but once your Fantasy Cricket team name is registered, you can’t change it. Choose your team name wisely, it's permanent!</p>

					<h4>How do I create Multiple Teams for the same Round?</h4>
					<p>Multiple team option is enabled after creating your first team. You can create multiple teams by clicking '+' button above your team on the leagues page.</p>

					<h4>How many Teams can I create in a Round?</h4>
					<p>You can create up to 4 separate teams in a round</p>

					<h4>Can I join the same League using Multiple Teams?</h4>
					<p>You can join only one league with one team. However, leagues which display ‘Multi Entry’ on them allow you to join the same with multiple teams.</p>

					<h4>Can I edit my Teams?</h4>
					<p>Yes! You can edit your team(s) before the round deadline</p>
					<p>Can I choose which of my teams compete in a league (Team 1 or Team 2) after joining?</p>
					<p>Yes! You can choose your team in a league (Choose Team 1 or Team 2 to compete) from ‘Joined Leagues’ tab until the deadline.</p>
				</div>
				
			</div>
		</div>
	</section>
</div>

<script src="/fantasy_sports/app/vendor/jquery/dist/jquery.js"></script>
<script src="/fantasy_sports/app/vendor/slick-carousel/slick/slick.js"></script>
<!-- <script src="js/slick.min.js"></script> -->
<script type="text/javascript">
	$(function(){
		if($(window).outerWidth() < 992){
			$('.innerNav').slick({
				slidesToShow: 3,
				initialSlide: 5,
				slidesToScroll: 1,
				autoplay: false,
				autoplaySpeed: 2000,
				infinite:false,
				swipe:false,
				responsive: [
				{
					breakpoint: 767,
					settings: {
						slidesToShow: 2,
					}
				},
				{
					breakpoint: 480,
					settings: {
						slidesToShow: 1,
					}
				}]

			});
		}	
	})
	$(window).resize(function(){
		if($(window).outerWidth() < 992){
			$('.innerNav').slick({
				slidesToShow: 3,
				initialSlide: 5,
				slidesToScroll: 1,
				autoplay: false,
				autoplaySpeed: 2000,
				infinite:false,
				swipe:false,
				responsive: [{
					breakpoint: 767,
					settings: {
						slidesToShow: 2,
					}
				},
				{
					breakpoint: 480,
					settings: {
						slidesToShow: 1,
					}
				}]

			});
		}else{
			$('.innerNav').slick("unslick")
		}
	})
</script>