<div class="container content-wrapper" ng-controller="MyprofileCtrl as myprofile">
    <div class="modal-content algn-cntr">
        <div class="pos-rel dsp-in-blk no-pad-top m-myprofile">
                <form class="mar-t15 form-horizontal ng-pristine ng-valid-pattern ng-valid-maxlength ng-valid ng-valid-required" name="frmUpdateProfile" ng-submit="myprofile.updateProfile()" novalidate="novalidate" id="frmUpdateProfile">

                    <!--NAME-->
                    <div class="clearfix mar-b15" ng-class="{'has-error':frmUpdateProfile.txtUser_Name.$invalid &amp;&amp; frmUpdateProfile.txtUser_Name.$touched}">
                        <div class="text-field">
                            <label class="placeholder sel">Name</label>
                            <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-valid-required" ng-model="myprofile.userName" name="txtUser_Name" ng-keyup="myprofile.userNameMsg=''" ng-blur="myprofile.onFieldChange('userName',myprofile.userName)" required="" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" placeholder="Enter your name as on official ids"><!--ng-disabled="myprofile.isUserNameDisable"-->
                            <span class="err-msg">{{myprofile.userNameMsg}}</span>
                        </div>
                    </div>

                     <!--TEAM NAME-->
                    <div  class="clearfix mar-b15" ng-class="{'has-error':frmUpdateProfile.txtUser_TeamName.$invalid &amp;&amp; frmUpdateProfile.txtUser_TeamName.$touched}">
                        <div class="text-field">
                            <label class="placeholder sel">Team Name</label>
                            <input type="text" ng-disabled="true" class="form-control gray-col-disabled ng-pristine ng-untouched ng-valid ng-valid-required" name="txtUser_TeamName" ng-model="myprofile.userTeamName" ng-keyup="myprofile.userTeamNameMsg=''" ng-blur="myprofile.onFieldChange('userTeamName',myprofile.userTeamName)" required="" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()"><!--ng-disabled="myprofile.isTeamNameDisable"-->
                            <span class="err-msg">{{myprofile.userTeamNameMsg}}</span>
                        </div>
                    </div>

                    <!--DOB-->
                    <div  class="clearfix mar-b15">
                        <div class="clearfix">
                            <div class="text-field pull-left w33">
                                <label class="placeholder sel">Date of Birth</label>
                                <select class="text-dob form-control" id="year" ng-options="x for x in myprofile.dobRange" ng-model="myprofile.selectedYear" ng-change="myprofile.changeYear()"></select>
                            </div>
                            <div class="pull-left w30" style="margin:0 2%;">
                                <select class="text-dob form-control" id="month" ng-options="myprofile.getKey(month) as month[myprofile.getKey(month)] for month in myprofile.monthName" ng-model="myprofile.selectedMonth" ng-change="myprofile.checkDays()"></select>
                            </div>
                            <div class="pull-right w33">
                                <select class="text-dob form-control" id="day" ng-options="x for x in myprofile.dateRange" ng-model="myprofile.selectedDate" ng-change="myprofile.dayChange()"></select>
                            </div>
                        </div>
                        <span class="err-msg">{{myprofile.userDateMsg}}</span>
                    </div>

                    <!--EMAIL-->
                    <div class="clearfix mar-b15" ng-class="{'has-error':frmUpdateProfile.txtUser_Email.$invalid &amp;&amp; frmUpdateProfile.txtUser_Email.$touched}">
                        <div class="text-field">
                            <label class="placeholder sel">Email ID</label>
                            <input type="text" class="form-control gray-col-disabled ng-pristine ng-untouched ng-valid ng-valid-required" ng-disabled="true" name="txtUser_Email" ng-model="myprofile.userEmail" ng-keyup="myprofile.userEmailMsg=''" id="txtUser_Email" ng-blur="myprofile.onFieldChange('userEmail',myprofile.userEmail)" required="" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()"><!--ng-disabled="myprofile.isEmailDisable"-->
                            <span class="err-msg">{{myprofile.userEmailMsg}}</span>
                        </div>
                    </div>

                    <!--GENDER-->
                    <div class="clearfix mar-b15">
                        <div class="comn-radio">
                            <ul class="clearfix">
                                <li>
                                    <div class="cstm-radio radio">
                                        <input type="radio" name="radio1" id="radio1" ng-model="myprofile.userGender" ng-required="!Gender" value="M" class="ng-pristine ng-untouched ng-valid ng-valid-required">
                                        <label for="radio1">
                                            Male
                                        </label>

                                    </div>
                                </li>
                                <li>
                                    <div class="cstm-radio radio">
                                        <input type="radio" name="radio2" id="radio2" ng-model="myprofile.userGender" ng-required="!Gender" value="F" class="ng-pristine ng-untouched ng-valid ng-valid-required">
                                        <label for="radio2">
                                            Female
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <!--MOBILE-->
                    <div class="clearfix mar-b15" ng-class="{'has-error':frmUpdateProfile.txtUser_Mobile.$invalid &amp;&amp; frmUpdateProfile.txtUser_Mobile.$touched}">
                        <div class="text-field">
                            <label class="placeholder sel">Mobile Number</label>
                            <input type="text" ng-disabled="true" class="form-control gray-col-disabled ng-pristine ng-untouched ng-valid-pattern ng-valid-maxlength ng-valid ng-valid-required" placeholder="" name="txtUser_Mobile" maxlength="10" ng-model="myprofile.userMobile" ng-keyup="myprofile.checkAlphabet($event,'userMobile')" ng-blur="myprofile.onFieldChange('userMobile',myprofile.userMobile)" autocomplete="off" required="" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()"><!--ng-disabled="myprofile.isMobileDisable"-->
                            <span class="err-msg">{{myprofile.userMobileMsg}}</span>
                        </div>
                    </div>

                    <!--ADDRESS-->
                    <div class="clearfix mar-b15">
                        <div class="text-field">
                            <label class="placeholder sel">Address</label>
                            <input type="text" class="form-control ng-pristine ng-untouched ng-valid" placeholder="" name="txtUser_Address" id="txtUser_Address" ng-model="myprofile.userAddress" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()">
                        </div>
                    </div>

                    <!--CITY-->
                    <div class="clearfix mar-b15">
                        <div class="text-field">
                            <label class="placeholder sel">City</label>
                            <input type="text" class="form-control ng-pristine ng-untouched ng-valid" placeholder="" name="txtUser_City" id="txtUser_City" ng-model="myprofile.userCity" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()">
                        </div>
                    </div>

                    <!-- STATE -->
                    <div class="clearfix mar-b15">
                        <div class="text-field">
                            <label class="placeholder sel">State</label>
                            <select class="form-control" ng-options="x for x in myprofile.statesArray" ng-model="myprofile.selectedState"></select>
                        </div>
                    </div>

                    <div class="clearfix mar-b15">
                        <!--PINCODE-->
                        <div class="text-field pull-left w45">
                            <label class="placeholder sel">Pin Code</label>
                            <input type="text" class="form-control ng-pristine ng-untouched ng-valid" placeholder="" name="txtUser_Pincode" ng-model="myprofile.userPincode" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="6" ng-keyup="myprofile.checkAlphabet($event,'userPincode')" autocomplete="off">
                        </div>


                        <!--COUNTRY-->
                        <div class="text-field pull-right w45 ">
                            <label class="placeholder sel">Country</label>
                            <input type="text" class="form-control ng-pristine ng-untouched ng-valid" placeholder="India" name="txtUser_Country" ng-model="myprofile.userCountry" ng-disabled="true" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()">
                        </div>
                    </div>
                    <span class="err-msg pd-b2">{{myprofile.errMsg}}</span>
                    <!-- Form actions -->
                    <div class="clearfix">
                        <div class="btn-div">
                            <button type="submit" value="Submit" class="form-control  c-l-btn" ng-disabled="myprofile.submitDisable">Submit</button>
                        </div>
                    </div>
                </form>

        </div>
    </div>
</div>