<div ng-controller="joinedLeaguesCtrl as joinedleague" ng-init="joinedleague.init({{json initObject}})">
	<div ng-include='"/fantasy_sports/app/views/mobile/leagues/joined-leagues.html"'></div>
</div>