<div class="content-container container">
    <div class="match-selected-wrapper">
        <div class="match-details clearfix">
            <div class="teams text-up">{{matchPlayers.matchInfo.teams['a'].aliasTName}} <span class="fs12px">Vs</span> {{matchPlayers.matchInfo.teams['b'].aliasTName}}</div>
            <div class="match-status active">
                <span class="label"> Time Left: </span><span countdown date="{{matchPlayers.matchInfo.startTime * 1000}}">&nbsp;</span>
            </div>
            <div class="match-status progress">
                <!--span class="label">{{matchPlayers.matchInfo.status}}</span-->
            </div>
        </div>
    </div>

    <div class="select-team-container">
        <div class=" sel-squad-wrapper">
            <div class="w100 team-prev-name clearfix fs18 pos-rel" ng-show="!matchPlayers.mobileUI.showPlayerList">
                <!-- <div class="w10 pull-left fw600" ng-click="matchPlayers.hideMyTeam()">Close</div> -->
                <button type="button" class="close-preview button btn-xs btn-style-2" ng-click="matchPlayers.hideMyTeam()">Close</button>
                <div class="w100 pull-left algn-cntr fw-600 clr2 fs18px">{{matchPlayers.screenName}}</div>
            </div>
            <div class=" selected-squad league-cric-ground" ng-show="!matchPlayers.mobileUI.showPlayerList">
                <div class="player wk1" id="wk1"></div>
                <div class="player wk2" id="wk2"></div>

                <div class="player bt1" id="bt1"></div>
                <div class="player bt2" id="bt2"></div>
                <div class="player bt3" id="bt3"></div>
                <div class="player bt4" id="bt4"></div>
                <div class="player bt5" id="bt5"></div>
                <div class="player bt6" id="bt6"></div>

                <div class="player alrdr1" id="alrdr1"></div>
                <div class="player alrdr2" id="alrdr2"></div>
                <div class="player alrdr3" id="alrdr3"></div>
                <div class="player alrdr4" id="alrdr4"></div>

                <div class="player bw1" id="bw1"></div>
                <div class="player bw2" id="bw2"></div>
                <div class="player bw3" id="bw3"></div>
                <div class="player bw4" id="bw4"></div>
                <div class="player bw5" id="bw5"></div>
                <div class="player bw6" id="bw6"></div>
            </div>
        </div>
        <div class="w100 player-options" ng-if="matchPlayers.mobileUI.showPlayerList">

            <div class="mob-player-options-container">
                <uib-tabset active="active">
                    <uib-tab index="0" class="w20">
                        <uib-tab-heading><span class="bubble bb-type-2 dsp-in-blk">{{matchPlayers.selectedWkArray.length}}</span> WK </uib-tab-heading>
                        <p class="sel-tab-message">Select only 1 player from the list below.</p>
                        <div class= "plyr-list-scrl">
                            <ul class="m-plyr-sel-list w100 fs20">
                                <li class="m-plyr-item" ng-repeat="player in matchPlayers.wkArray" ng-click="matchPlayers.addPlayer(player)" ng-class ="(player.isSelected ? 'selected' : '')+' '+ (player.isBonus ? 'bonus' : '')">
                                    <div class="m-player-wrapper">
                                        <div class="m-player-green-badge"></div>
                                        <div class="w100 clearfix m-plyr-info">
                                            <div class="plyr-name pull-left fw-900">{{player.shortName}}</div>
                                            <div class="plyr-crdts pull-right"><span class="fw-900">{{player.playerCredit}}</span>  Credits</div>
                                        </div>

                                        <div class="w100 clearfix m-plyr-info">
                                            <div class="plyr-name pull-left">
                                                <span class="team-flag"><img ng-src="/fantasy_sports/app/assets/images/sports/cricket/flags/{{player.teamName}}-CR1.png"></span>
                                                <span class="fs16">{{player.aliasTName}}</span></div>
                                            <div class="plyr-crdts pull-right fs13"><span>{{player.scoredPoints}}</span> Points</div>
                                        </div>

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </uib-tab>

                    <uib-tab index="1" class="w20">
                        <uib-tab-heading><span class="bubble bb-type-2 dsp-in-blk">{{matchPlayers.selectedBatterArray.length}}</span> BAT </uib-tab-heading>
                        <p class="sel-tab-message">Select min 3 & max 5 players from the list below.</p>
                        <ul class="m-plyr-sel-list w100 fs20">
                            <li class="m-plyr-item" ng-repeat="player in matchPlayers.batterArray" ng-click="matchPlayers.addPlayer(player)" ng-class ="(player.isSelected ? 'selected' : '')+' '+ (player.isBonus ? 'bonus' : '')">
                                <div class="m-player-wrapper">
                                    <div class="m-player-green-badge"></div>
                                    <div class="w100 clearfix m-plyr-info">
                                        <div class="plyr-name pull-left fw-900">{{player.shortName}}</div>
                                        <div class="plyr-crdts pull-right"><span class="fw-900">{{player.playerCredit}}</span>  Credits</div>
                                    </div>

                                    <div class="w100 clearfix m-plyr-info">
                                        <div class="plyr-name pull-left">
                                            <span class="team-flag"><img ng-src="/fantasy_sports/app/assets/images/sports/cricket/flags/{{player.teamName}}-CR1.png"></span>
                                            <span class="fs16">{{player.aliasTName}}</span></div>
                                        <div class="plyr-crdts pull-right fs13"><span>{{player.scoredPoints}}</span> Points</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </uib-tab>

                    <uib-tab index="2" class="w20">
                        <uib-tab-heading><span class="bubble bb-type-2 dsp-in-blk">{{matchPlayers.selectedAllRounderArray.length}}</span> AR </uib-tab-heading>
                        <p class="sel-tab-message">Select min 1 & max 3 players from the list below.</p>
                        <div class= "plyr-list-scrl">
                            <ul class="m-plyr-sel-list w100 fs20">
                                <li class="m-plyr-item" ng-repeat="player in matchPlayers.allRounderArray" ng-click="matchPlayers.addPlayer(player)" ng-class ="(player.isSelected ? 'selected' : '')+' '+ (player.isBonus ? 'bonus' : '')">
                                    <div class="m-player-wrapper">
                                        <div class="m-player-green-badge"></div>
                                        <div class="w100 clearfix m-plyr-info">
                                            <div class="plyr-name pull-left fw-900">{{player.shortName}}</div>
                                            <div class="plyr-crdts pull-right"><span class="fw-900">{{player.playerCredit}}</span>  Credits</div>
                                        </div>

                                        <div class="w100 clearfix m-plyr-info">
                                            <div class="plyr-name pull-left">
                                                <span class="team-flag"><img ng-src="/fantasy_sports/app/assets/images/sports/cricket/flags/{{player.teamName}}-CR1.png"></span>
                                                <span class="fs16">{{player.aliasTName}}</span></div>
                                            <div class="plyr-crdts pull-right fs13"><span>{{player.scoredPoints}}</span> Points</div>
                                        </div>

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </uib-tab>
                    <uib-tab index="3" class="w20">
                        <uib-tab-heading><span class="bubble bb-type-2 dsp-in-blk">{{matchPlayers.selectedBowlerArray.length}}</span> BWL </uib-tab-heading>
                        <p class="sel-tab-message">Select min 3 & max 5 players from the list below.</p>
                        <div class= "plyr-list-scrl">
                            <ul class="m-plyr-sel-list w100 fs20">
                                <li class="m-plyr-item" ng-repeat="player in matchPlayers.bowlerArray" ng-click="matchPlayers.addPlayer(player)" ng-class ="(player.isSelected ? 'selected' : '')+' '+ (player.isBonus ? 'bonus' : '')">
                                    <div class="m-player-wrapper">
                                        <div class="m-player-green-badge"></div>
                                        <div class="w100 clearfix m-plyr-info">
                                            <div class="plyr-name pull-left fw-900">{{player.shortName}}</div>
                                            <div class="plyr-crdts pull-right"><span class="fw-900">{{player.playerCredit}}</span>  Credits</div>
                                        </div>

                                        <div class="w100 clearfix m-plyr-info">
                                            <div class="plyr-name pull-left">
                                                <span class="team-flag"><img ng-src="/fantasy_sports/app/assets/images/sports/cricket/flags/{{player.teamName}}-CR1.png"></span>
                                                <span class="fs16">{{player.aliasTName}}</span></div>
                                            <div class="plyr-crdts pull-right fs13"><span>{{player.scoredPoints}}</span> Points</div>
                                        </div>

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </uib-tab>

                    <uib-tab index="4"  class="w20">
                        <uib-tab-heading><span class="bubble bb-type-2 dsp-in-blk">{{matchPlayers.selectedBonusPlayerArray.length}}</span> BNS </uib-tab-heading>
                        <p class="sel-tab-message">Bonus player isnt bound by max no. of WK, BOWL, BAT, ALL allowed</p>
                        <ul class="m-plyr-sel-list w100 fs20">
                            <li class="m-plyr-item" ng-repeat="player in matchPlayers.selectedBonusPlayerArray" ng-click="matchPlayers.addPlayer(player)" ng-class ="(player.isSelected ? 'selected' : '')+' '+ (player.isBonus ? 'bonus' : '')">
                                <div class="m-player-wrapper">
                                    <div class="m-player-green-badge"></div>
                                    <div class="w100 clearfix m-plyr-info">
                                        <div class="plyr-name pull-left fw-900">{{player.shortName}}</div>
                                        <div class="plyr-crdts pull-right"><span class="fw-900">{{player.playerCredit}}</span>  Credits</div>
                                    </div>

                                    <div class="w100 clearfix m-plyr-info">
                                        <div class="plyr-name pull-left">
                                            <span class="team-flag"><img ng-src="/fantasy_sports/app/assets/images/sports/cricket/flags/{{player.teamName}}-CR1.png"></span>
                                            <span class="fs16">{{player.aliasTName}}</span>
                                        </div>
                                        <div class="plyr-crdts pull-right fs13"><span>{{player.scoredPoints}}</span> Points</div>
                                    </div>

                                </div>
                            </li>
                        </ul>
                    </uib-tab>
                </uib-tabset>

            </div>
        </div>
    </div>

    <div class="m-crt-team-footer">
        <div class="m-selection-err">{{matchPlayers.selectionErr}}</div>
        <div class="w100 m-team-preview algn-cntr" ng-click="matchPlayers.showMyteam()">
            <span class="dsp-block"> ^
            </span>
            <span clas="dsp-block">
                Team Preview</span>
        </div>
        <div class="m-sel-rem-tabs clearfix">
            <div class="w33 pull-left bdr-gray-right left">
                <span>Players</span><span> : </span><span>{{matchPlayers.selectedSquadArray.length}}/11</span>
            </div>
            <div class="w33 pull-left middle">
                <div class="button btn-md btn-style-1 btn-wd-auto m-save-btn" ng-class ="((matchPlayers.selectedSquadArray.length == 11) ? 'active' : 'unactive')" ng-click="matchPlayers.saveMyTeamInLocal($event)" >Save Team</div>
            </div>
            <div class="w33 pull-left bdr-gray-lft right">
                <span>Credits</span><span>: </span><span>{{100- matchPlayers.selectedSquadCredits}}/100</span>
            </div>
        </div>
    </div>    

</div>