<div ng-controller="createTeamCtrl as selCVc" ng-init="selCVc.getTeamFromLocalstorage()">

    <div class="content-container">
        <div class="match-selected-wrapper">
        <div class="match-details clearfix">
            <div class="teams text-up">{{selCVc.matchInfoLocal.teams['a'].aliasTName}} <span class="fs12px">Vs</span> {{selCVc.matchInfoLocal.teams['b'].aliasTName}}</div>
            <div class="match-status active">
                <span class="label"> Time Left: </span><span countdown date="{{selCVc.matchInfoLocal.startTime * 1000}}">&nbsp;</span>
            </div>
            <div class="match-status progress">
                <!--span class="label">{{matchPlayers.matchInfo.status}}</span-->
            </div>
        </div>
    </div>
        <ul class="select-cap-vcap-list">

            <li ng-repeat="player in selCVc.selectedTeam" class="select-cap-vcap-list-item">
                <div class="w100 clearfix m-selcap-plyr-info">
                    <div class="pull-left m-selcap-plyr-role" ng-class="selCVc.getRole(player)">
                    </div>
                    <div class="w30 pull-left m-selcap-plyr-name-info pad-v8 pad-l10">
                        <div class="m-selcap-plyr-name fs18px fw-600">
                            {{player.shortName}}
                        </div>
                        <div class="fs16px">
                            <span class="bdr-gray-right pad-h5">
                                {{player.teamName}}
                            </span>
                            <span class="pad-h5">
                                {{player.scoredPoints}}
                            </span>
                        </div>
                    </div>
                    <div class="w45 pull-left">
                        <span ng-if="player.isCaptain" class="dsp-in-blk v-mid pad-h10">
                            <span class="dsp-block fw-900">
                                <span class="fs36px">2</span><span class="fs16">X</span>
                            </span>

                            <span class="dsp-block fw-600 fs18">POINTS</span>
                        </span>
                        <span ng-if="player.isViceCaptain" class="dsp-in-blk v-mid pad-h10">
                            <span class="dsp-block fw-900">
                                <span class="fs36px">1.5</span><span class="fs16">X</span>
                                <span class=" dsp-block fs18">POINTS</span>
                            </span>
                        </span>
                        <span class="dsp-in-blk v-mid m-cap-vcap mr-r5">
                            <span class="m-bubble bb-type-1 dsp-in-blk pad-h5 m-cap" ng-class="player.isCaptain ? 'sel' : ''"  ng-click="selCVc.mobileSelCapClick(player)">C</span>
                            <span class="m-bubble bb-type-1 dsp-in-blk pad-h5 m-v-cap" ng-class="player.isViceCaptain ? 'sel' : ''" ng-click="selCVc.mobileSelVCapClick(player)" >VC</span>
                        </span>

                    </div>
                </div>
            </li></ul>
    </div>

    <div class="m-crt-team-footer">
        <div class="m-selection-err">{{selCVc.selectionErr}}</div>
        <div class="m-sel-rem-tabs">
            <div class="w100 pull-left middle fs18px c-vc-save-btn" ng-class ="((selCVc.captainSelected && selCVc.viceCaptainSelected) ? 'active' : 'unactive')" ng-click="selCVc.saveMyTeam($event)">Save Team</div>
        </div>
    </div> 
</div>