<div>
 <h1>About Page</h1>
 <p>This is the about view.</p>
<!-- <button deskpopupclick menu-id ="myprofile" menu-type="popup">My Profile</button>-->
 <!--<button><a ng-href="/verify">Verify Now</a></button>-->
</div>