<div class="desk-popup-wrapper">
	<div class="ng-model-header">
		<span class="title">{{addcash.title}}</span>
		<!-- <div class="ng-modal-close" ng-click="closeThisDialog()" role="button" tabindex="0">
			<div class="popup-close-icon"></div>
		</div> -->
	</div>
	<div class="desk-popup-body">
		<div class="clearfix mar-v5" ng-if="addcash.showCurrBalance">
			<div class="current-balance">
				<div class="label">Current Balance</div>
				<div class="amount">Rs. {{addcash.userBalance.toFixed(2)}}</div>
			</div>
			<div class="joining-amount">
				<div class="label">Joining Amount</div>
				<div class="amount">Rs. {{addcash.entryFee}}</div>
			</div>
		</div>

		<p class="mr-t4">Add cash to your account to join this league.</p>
		<form id="addCash" action="/payments/init/payu" method="post">
		<div class="add-cash-input" id="addC">
			<label>Rs.</label>
			<input type="text" name="amount" ng-model="addcash.amount" ng-keyup="addcash.amountError = ''; addcash.checkAlphabet($event,'amount')" maxlength="5" required autocomplete="off"/>
			<input type="hidden" name="userId" value="{{addcash.userID}}">
			<div class="input-error">{{addcash.amountError}}</div>
		</div>


		<p class="tooltip mar-v5"><span class="blue-color" data-tooltip="Cash bonus cannot be used in private contests and in contests that have less than 10 members. Cash bonus usage limit is Rs.50 per match.">Cash bonus restriction?</span></p>
		<p class="mar-v5"> Add more cash to Play</p>
		<div class="add-cash-btns">
			<ul class="clearfix">
				<li ng-click="addcash.addAmount(10)">+ Rs. 10</li>
				<li ng-click="addcash.addAmount(100)">+ Rs. 100</li>
				<li ng-click="addcash.addAmount(1000)">+ Rs. 1,000</li>
			</ul>
		</div>
		<button type="button" class="button btn-style-2 btn-md" ng-click="addcash.onAddCashClick(e)" ng-disabled="addcash.isAddCashDisable">Add Cash</button>
		<!--<button type="submit" class="button btn-style-2">Add Cash</button>-->
		</form>
	</div>
</div>
