<div class="desk-popup-wrapper">
    <div class="ng-model-header">
        <span class="title">CHANGE PASSWORD</span>
    </div>

    <div>
        <form class="input-form forgot-password-form w80 clearfix" name="changePassForm">
           <div class="floating-input-wrapper no-icon">
               <input type="password" class="form-control" placeholder="Old Password" floating-label ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" ng-model="changePassword.oldPass" ng-blur="changePassword.onFieldChange('oldPass',changePassword.oldPass)" ng-keyup="changePassword.oldPassMsg=''">
               <div class="input-error">{{changePassword.oldPassMsg}}</div>
           </div>

           <div class="floating-input-wrapper no-icon">
               <input type="password" class="form-control" placeholder="New Password" floating-label ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="15" ng-model="changePassword.newPass" ng-blur="changePassword.onFieldChange('newPass',changePassword.newPass)" ng-keyup="changePassword.newPassMsg=''">
               <div class="input-error">{{changePassword.newPassMsg}}</div>
           </div>
           <div class="floating-input-wrapper no-icon">
               <input type="password" class="form-control" placeholder="Confirm Password" floating-label ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="15" ng-model="changePassword.confirmPass" ng-blur="changePassword.onFieldChange('confirmPass',changePassword.confirmPass,changePassword.newPass)" ng-keyup="changePassword.confirmPassMsg=''">
               <div class="input-error">{{changePassword.confirmPassMsg}}</div>
           </div>
           <div class="form-buttons">
               <button type="button" class="button btn-md btn-style-4" ng-click="changePassword.close()" tab-id="closeForgotPassword">BACK</button>
               <button type="button" class="button btn-md btn-style-2" ng-click="changePassword.changePassword()">OK</button>
           </div>
       </form>
    </div>
</div>