<!-- Forgot password HTML template for mobile and tablet -->
<div ng-if="!deviceDetection.isDevice('DESKTOP')">
    <div class="forgot-password-wrapper">
        <div class="ng-model-header">
            <span class="title">{{forgot.popupTitle}}</span>
        </div>
        <!-- <h3 class="popup-lobby-head" tabindex="-1">{{forgot.popupTitle}}</h3> -->
        <div class="prephase" ng-if="forgot.isPhase == 'PRE_PHASE'">
           <form class="input-form forgot-password-form w80 clearfix" name="form">
            <div class="floating-input-wrapper no-icon">
                <input type="text" class="form-control" placeholder="Email ID / Mobile No." floating-label ng-model="forgot.userInput" ng-keyup="forgot.errmsg_userInput = ''" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()">
                <div class="input-error" >{{forgot.errmsg_userInput}}</div>
            </div>
            <div class="form-buttons">
                <button type="button" class="button btn-md btn-style-4 pull-left"  ng-click="closeThisDialog('-1')" tab-id="closeForgotPassword">Cancel</button>
                <button type="button" class="button btn-md btn-style-2 pull-right" ng-click="forgot.validatePrephase()">Submit</button>
            </div>
            </form>
        </div>
        <div class="postphase" ng-if="forgot.isPhase == 'POST_PHASE'">
            <form class="input-form forgot-password-form w80 clearfix" name="form">
                <div class="floating-input-wrapper no-icon mrg-btm-0">
                    <input type="text" class="form-control" placeholder="{{forgot.userDataType}}" floating-label ng-model="forgot.userInput" ng-keyup="forgot.errmsg_userInput = ''" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" ng-disabled="true">
                </div>
                <div class="text-info clearfix">
                    <label class="fs16px pull-left" ng-if="forgot.userDataType == 'Email ID'">OTP sent to : <span class="word-break dsp-block">{{forgot.otpChannel}}</span></label>
                    <label class="fs16px pull-left" ng-if="forgot.userDataType != 'Email ID'">OTP sent to : <span class="word-break dsp-block">{{forgot.otpChannel}}</span></label>
                    <button type="button" class="resend-otp pull-right" ng-click="forgot.resendOtp()" ng-disabled="forgot.isResendDisabled">Resend?</button>
                </div>
                <div class="floating-input-wrapper no-icon">
                    <input type="text" class="form-control" placeholder="Enter OTP" floating-label ng-model="forgot.otpInput" ng-keyup="forgot.errmsg_otpInput = '';forgot.checkAlphabet($event,'otpInput')" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="6" autocomplete="off">
                    <!-- <div class="otp-timer">{{forgot.otpTimer | date:'hh:mm:ss'}}</div> -->
                    <div class="input-error">{{forgot.errmsg_otpInput}}</div>
                </div>
                <div class="floating-input-wrapper no-icon">
                    <input type="password" class="form-control" placeholder="Set Password" floating-label ng-model="forgot.userPassword" ng-keyup="forgot.userPasswordMsg = ''" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="15">
                    <div class="input-error">{{forgot.userPasswordMsg}}</div>
                </div>
                <div class="form-buttons">
                    <button type="button" class="button btn-md btn-style-4" ng-click="closeThisDialog('-1')" tab-id="closeForgotPassword">Cancel</button>
                    <button type="button" class="button btn-md btn-style-2" ng-click="forgot.validatePostphase()">Submit</button>
                </div>
            </form> 
        </div>
    </div>
</div>
<!-- Forgot password HTML template for mobile and tablet -->




<!-- Forgot password HTML template for Desktop -->
<div ng-if="deviceDetection.isDevice('DESKTOP')">
    <div class="desk-popup-wrapper w100 h100">
        <div class="ng-model-header">
            <span class="title">Forgot Password</span>
            <!-- <div class="ng-modal-close" ng-click="closeThisDialog('-1')" role="button" tabindex="0"><div class="popup-close-icon"></div></div> -->
        </div>
        <div class="prephase" ng-if="forgot.isPhase == 'PRE_PHASE'">
           <form class="input-form forgot-password-form w80 clearfix" name="form">
            <div class="floating-input-wrapper no-icon">
                <input type="text" class="form-control" placeholder="Email ID / Mobile No." floating-label ng-model="forgot.userInput" ng-keyup="forgot.errmsg_userInput = ''" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()">
                <div class="input-error" >{{forgot.errmsg_userInput}}</div>
            </div>
            <div class="form-buttons">
                <button type="button" class="button btn-style-4 btn-md"  ng-click="closeThisDialog('-1')" tab-id="closeForgotPassword">Cancel</button>
                <button type="button" class="button btn-style-2 btn-md" ng-click="forgot.validatePrephase()">Submit</button>
            </div>
            </form>
        </div>
        <div class="postphase" ng-if="forgot.isPhase == 'POST_PHASE'">
            <form class="input-form forgot-password-form w80 clearfix" name="form">
                <div class="floating-input-wrapper no-icon mrg-btm-0">
                    <input type="text" class="form-control" placeholder="{{forgot.userDataType}}" floating-label ng-model="forgot.userInput" ng-keyup="forgot.errmsg_userInput = ''" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" ng-disabled="true">
                </div>
                <div class="text-info clearfix">
                    <label class="fs16px pull-left" ng-if="forgot.userDataType == 'Email ID'">OTP sent to : <span class="word-break dsp-block">{{forgot.otpChannel}}</span></label>
                    <label class="fs16px pull-left" ng-if="forgot.userDataType != 'Email ID'">OTP sent to : <span class="word-break dsp-block">{{forgot.otpChannel}}</span></label>
                    <button type="button" class="resend-otp pull-right" ng-click="forgot.resendOtp()" ng-disabled="forgot.isResendDisabled">Resend?</button>
                </div>
                <div class="floating-input-wrapper no-icon">
                    <input type="text" class="form-control" placeholder="Enter OTP" floating-label ng-model="forgot.otpInput" ng-keyup="forgot.errmsg_otpInput = '';forgot.checkAlphabet($event,'otpInput')" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="6" autocomplete="off">
                    <!-- <div class="otp-timer">{{forgot.otpTimer | date:'hh:mm:ss'}}</div> -->
                    <div class="input-error">{{forgot.errmsg_otpInput}}</div>
                </div>
                <div class="floating-input-wrapper no-icon">
                    <input type="password" class="form-control" placeholder="Set Password" floating-label ng-model="forgot.userPassword" ng-keyup="forgot.userPasswordMsg = ''" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="15">
                    <div class="input-error">{{forgot.userPasswordMsg}}</div>
                </div>
                <div class="form-buttons">
                    <button type="button" class="button btn-style-4 btn-md" ng-click="closeThisDialog('-1')" tab-id="closeForgotPassword">Cancel</button>
                    <button type="button" class="button btn-style-2 btn-md" ng-click="forgot.validatePostphase()">Submit</button>
                </div>
            </form> 
        </div>
    </div>
</div>
<!-- Forgot password HTML template for Desktop -->