<div ng-if="::deviceDetection.isDevice('DESKTOP')" ng-include="'/fantasy_sports/app/views/desktop/d-home.html'"></div>
<div ng-if="::deviceDetection.isDevice('MOBILE')" ng-include="'/fantasy_sports/app/views/mobile/m-home.html'"></div>
