<div class="desk-popup-wrapper">
	<div class="ng-model-header">
		<span class="title">Confirmation</span>
	</div>
	<div class="modal-content pad-a20">
		<div class="">
			<p class="fs18 pad-v5">
				<span class="fw-600 clr2">Account Balance:</span>
				<span class="clr2">Rs {{leaguejoin.leagueObj.league.validBalance}} </span>
			</p>
			<p class="fs18 pad-v5">
				<span class="fw-600 clr2">Entry Fee:</span>
				<span class="clr2">Rs {{leaguejoin.leagueObj.league.leagueCost}}</span>
			</p>
			<p class="fs18 pad-v5">
				<span class="fw-600 clr2">Join League With</span>
				<span>
					<select ng-model="leaguejoin.selectedTeamId" class="pad-a2 wd-auto">
						<option ng-repeat="x in leaguejoin.leagueObj.league.teamArr" value="{{x}}">Team {{x}}</option>
					</select>	
				</span>
			</p>
			<p class="tooltip fs16 mar-v5"><span class="blue-color" data-tooltip="Cash bonus cannot be used in private contests and in contests that have less than 10 members. Cash bonus usage limit is Rs.50 per match.">Cash bonus restriction?</span></p>

			<p class="mar-t10 fs16">By joining this league, you accept LeagueAdda's <span class="clr2">T&amp;C</span> and confirm that you are not a resident of Assam and Orissa. </p>
			<p>
				<button type="button" class="button btn-md btn-style-2 mar-v5" ng-click="leaguejoin.onJoinLeagueClick()" ng-disabled="leaguejoin.isJoinBtnDisabled">Join League</button>
			</p>
		</div>
	</div>
</div>