<div ng-controller="MyaccountCtrl as myaccount">
    <div class="container1 clearfix">
        <div class="pad-h0 pad-v15 col-sm-12 col-md-9 col-lg-9 col-xs-12">
            <span class="blue-color fs20 fw-600">Account Balance:</span>
            <!--<button class="button btn-style-5 btn-wd-auto btn-xs pull-right margin-l8" ng-click="myaccount.showLeaguepage()">SHOW ME LEAGUES</button>-->
            <div class="verify-img pull-right margin-l8" ng-class="myaccount.userStatus"></div>
            <button class="button btn-style-8 btn-wd-auto btn-xs pull-right" ng-click="myaccount.showVerifyNow()" ng-if="(myaccount.userStatus == 'verified')?false:true">VERIFY NOW</button>
        </div>
        <div class="container-data pad-v30-h0 col-sm-12 col-md-9 col-lg-9 col-xs-12">
            <div class="pad-h0 clearfix col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <div class="w85 rect-box h-95 mar-v10 pull-left">
                    <div class="blue-color algn-cntr fs20" style="padding-top: 7px;">Unutilized <span data-tooltip="Money deposited by you that you can use to join leagues but can't withdraw">?</span></div>
                    <div class="blue-color algn-cntr fs20 fw-600">Rs {{myaccount.depositeAmt}}</div>
                </div>
                <div class="w15 rect-box h-95 mar-v10 sign-div pull-left blue-color fs18 fw-600 algn-cntr">+</div>
            </div>
            <div class="pad-h0 clearfix col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <div class="w85 rect-box h-95 mar-v10 pull-left">
                    <div class="blue-color algn-cntr fs20" style="padding-top: 4px;">Your Winnings <span data-tooltip="Money that you can withdraw or re-use to join any leagues">?</span></div>
                    <div class="blue-color algn-cntr fs20 fw-600">Rs {{myaccount.winningAmt}}</div>
                    <div class="algn-cntr">
                        <button class="button btn-style-8 btn-wd-auto btn-sm" ng-click="myaccount.withdrawCash()">Withdraw</button>
                    </div>
                </div>
                <div class="w15 rect-box h-95 mar-v10 sign-div pull-left blue-color fs18 fw-600 algn-cntr">+</div>
            </div>
            <div class="pad-h0 clearfix col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <div class="w85 rect-box h-95 mar-v10 pull-left">
                    <div class="blue-color algn-cntr fs20" style="padding-top: 7px;">Cash Bonus <span data-tooltip="Money that you can use to join any public leagues">?</span></div>
                    <div class="blue-color algn-cntr fs20 fw-600">Rs {{myaccount.bonusAmt}}</div>
                </div>
                <div class="w15 rect-box h-95 mar-v10 sign-div pull-left blue-color fs18 fw-600 algn-cntr">=</div>
            </div>
            <div class="pad-h0 clearfix col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <div class="w85 rect-box h-95 mar-v10 pull-left">
                    <div class="blue-color algn-cntr fs20" style="padding-top: 4px;">Total Balance <span data-tooltip="Total balance of your LeagueAdda account">?</span></div>
                    <div class="blue-color algn-cntr fs20 fw-600">Rs {{myaccount.totalAmt}}</div>
                    <div class="algn-cntr">
                        <button class="button btn-style-2 btn-wd-auto btn-sm" ng-click="myaccount.addCash()">Add Cash</button>
                    </div>
                </div>
                <div class="w15 rect-box h-95 mar-v10 sign-div pull-left"></div>
            </div>
        </div>
    </div>

    <div class="container1 clearfix">
        <div class="container-data pad-v30-h0 col-sm-12 col-md-9 col-lg-9 col-xs-12">
            <div class="pad-h0 clearfix col-lg-6 col-md-6 col-sm-6 col-xs-12 mar-v5">
                <div class="w95 header-box mr-auto">TOTAL CASH WON</div>
                <div class="w95 rect-box h70px mr-auto">
                    <span class="blue-color fs22 fw-600 mr-l3 ln-height-70">Rs. {{myaccount.totalWinning}}</span>
                </div>
            </div>
            <div class="pad-h0 clearfix col-lg-6 col-md-6 col-sm-6 col-xs-12 mar-v5">
                <div class="w95 header-box mr-auto">TOTAL LEAGUES WON</div>
                <div class="w95 rect-box h70px mr-auto">
                    <span class="blue-color fs22 fw-600 mr-l3 ln-height-70">{{myaccount.leaguesWin}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="container1 clearfix">
        <div class="pad-h0 col-sm-12 col-md-9 col-lg-9 col-xs-12">
            <div class="pad-v15 txn-history" ng-class="(deviceDetection.isDevice('DESKTOP'))?'w70':'w100'">
                <span class="blue-color fs20 fw-600">Most Recent Transactions</span>
                <a class="button btn-style-8 btn-wd-auto btn-xs pull-right margin-l8" ng-click="myaccount.downloadHistory()">Download History</a>
            </div>
        </div>
        <div class="container-data pad-v30-h0 col-sm-12 col-md-9 col-lg-9 col-xs-12">
            <div class="rect-box" ng-class="(deviceDetection.isDevice('DESKTOP'))?'w70':'w100'">
                <div class="pad0 w100">
                    <table class="w100 tbl-layout-fxd">
                        <thead>
                            <tr class="table-header header-box">
                                <th class="fs14px">DATE</th>
                                <th class="fs14px">TRANSACTION TYPE</th>
                                <th class="fs14px">AMOUNT</th>
                                <th class="fs14px">DETAILS</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="inner_table">
                        <table class="w100 tbl-layout-fxd">
                            <tbody>
                            <tr class="table-row-center" ng-repeat="x in myaccount.TranactionArr track by $index">
                                <td class="fs13px">{{x.createdAt}}</td>
                                <td class="fs13px">{{x.txnType}}</td>
                                <td class="fs13px">{{x.amount}}</td>
                                <td class="fs13px">{{x.remarks}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>