<div class="desk-popup-wrapper" ng-init="myteamname.init()">
    <div class="ng-model-header">
        <span class="title">WELCOME</span>
    </div>
    <div class="modal-content">
        <div class="pos-rel dsp-in-blk no-pad-top" ng-class="(deviceDetection.isDevice('DESKTOP'))?'w80':'w100'">
                <form class="mar-t15 form-horizontal ng-pristine ng-valid-pattern ng-valid-maxlength ng-valid ng-valid-required" name="frmUpdateProfile" ng-submit="myteamname.updateProfile()" novalidate="novalidate" id="frmUpdateProfile">

                    <!--TEAM NAME-->
                    <div ng-class="{'has-error':frmUpdateProfile.txtUser_TeamName.$invalid &amp;&amp; frmUpdateProfile.txtUser_TeamName.$touched}">
                        <div class="text-field mar-bottom25 clearfix">
                            <label class="placeholder sel">Team Name</label>
                            <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-valid-required" name="txtUser_TeamName" ng-model="myteamname.userTeamName" ng-keyup="myteamname.userTeamNameMsg=''" ng-blur="myteamname.onFieldChange('userTeamName',myteamname.userTeamName)" required="" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="15">
                            <span class="err-msg pos-abs dsp-block err-bottom" ng-bind="myteamname.userTeamNameMsg"></span>
                        </div>
                    </div>

                    <!--DOB-->
                        <div class="mar-bottom25 pos-rel">
                            <div class="clearfix">
                                <div class="text-field mar0 pull-left w33">
                                    <label class="placeholder sel">DOB</label>
                                    <select class="text-dob form-control" id="year" ng-options="x for x in myteamname.dobRange" ng-model="myteamname.selectedYear" ng-change="myteamname.changeYear()"></select><!--ng-disabled="true"-->
                                </div>
                                <div class="pull-left w30" style="margin:0 2%;">
                                    <select class="text-dob form-control" id="month" ng-options="myteamname.getKey(month) as month[myteamname.getKey(month)] for month in myteamname.monthName" ng-model="myteamname.selectedMonth" ng-change="myteamname.checkDays()"></select>
                                </div>
                                <div class="pull-right w33">
                                    <select class="text-dob form-control" id="day" ng-options="x for x in myteamname.dateRange" ng-model="myteamname.selectedDate" ng-change="myteamname.dayChange()"></select>
                                </div>
                            </div>
                            <span class="err-msg pos-abs dsp-block err-bottom" ng-bind="myteamname.userDateMsg"></span>
                        </div>



                    <!-- STATE -->
                    <div class="clearfix">
                        <div class="text-field mar-b15 clearfix">
                            <label class="placeholder sel">State</label>
                            <select class="form-control" ng-options="x for x in myteamname.statesArray" ng-model="myteamname.selectedState" ng-change="myteamname.changeState()"></select>
                            <span class="err-msg pos-abs dsp-block err-bottom" ng-bind="myteamname.userStateMsg"></span>
                        </div>
                    </div>

                    <div class="agree">
                        <div class="input-group checkbox pad0">
                            <label class="fs14">
                                <input type="checkbox" checked="" ng-model="myteamname.userTerms" class="ng-pristine ng-untouched ng-valid" style="display:none" ng-change="myteamname.checkTNC()">
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                  I agree to LeagueAdda's <a href="/page/terms-of-use" target="_blank"><b>T&amp;C*</b></a>
                            </label>
                            <span class="err-msg pos-abs dsp-block err-bottom" ng-bind-html="myteamname.userTermsMsg"></span>
                        </div>
                    </div>

                    <!-- Form actions -->
                    <div class="clearfix mar-t20">
                        <div class="btn-div">
                            <input type="submit" value="Submit" class="form-control  c-l-btn">
                        </div>
                    </div>
                </form>

        </div>
    </div>
</div>