<!-- <div class="msg-popup" ng-if="!deviceDetection.isDevice('DESKTOP')">
	<h3 class="title-popup">{{popup.title}}</h3>
	<div class="msg-text" ng-bind-html ="popup.msg"></div>
	<div class="popup-buttons">
		<button class="button btn-md btn-style-4" ng-if="popup.showCancelBtn" ng-click="popup.onCancelClick($event)">{{popup.cancelButtonText}}</button>
		<button class="button btn-md btn-style-2" ng-if="popup.showOkBtn" ng-click="popup.onOkClick($event)">{{popup.okButtonText}}</button>
	</div>
</div> -->


<div class="msg-popup">
	<div class="ng-model-header">
		<h3 class="title">{{popup.title}}</h3>
		<!-- <div class="ng-modal-close" ng-click="popup.onCancelClick($event)" role="button" tabindex="0">
			<div class="popup-close-icon"></div>
		</div> -->
	</div>
	<div class="msg-text" ng-bind-html ="popup.msg"></div>
	<div class="popup-buttons">
		<button class="button btn-style-4 btn-md" ng-if="popup.showCancelBtn" ng-click="popup.onCancelClick($event)">{{popup.cancelButtonText}}</button>
		<button class="button btn-style-2 btn-md" ng-if="popup.showOkBtn" ng-click="popup.onOkClick($event)">{{popup.okButtonText}}</button>
	</div>
</div>