<div class="desk-popup-wrapper">
	<div class="ng-model-header">
		<span class="title">Prize Details</span>
		<!-- <div class="ng-modal-close" ng-click="closeThisDialog()" role="button" tabindex="0">
			<div class="popup-close-icon"></div>
		</div> -->
	</div>
	<div class="desk-popup-body">
		<p class="pad-v5 fs18px clr1">Total Prize Money is Rs. <span class="fw-600">{{ngDialogData.winningAmt}}</span></p>
		<p class="pad-v5 fs18px clr1">The breakup of the winnings for <span class="fw-600">{{ngDialogData.winnersCount}} winners </span> is shown below.</p>

		<!-- <table class="prize-info-table cstm-table">
			<thead>
				<tr>
					<th>Rank</th>
					<th>Prize</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in ngDialogData.prizeList" style="">
					<td>Rank {{row.rank}}</td>
					<td>Rs. {{row.prize}}</td>
				</tr>
			</tbody>
		</table> -->
		<div class="cstm-table" style="">
			<div class="tb-head">
				<div class="tb-row">
					<div class="tb-data">Rank</div>
					<div class="tb-data">Prize</div>
				</div>
			</div>
			<div class="tb-body">
				<div class="tb-row" ng-repeat="row in ngDialogData.prizeList" style="">
					<div class="tb-data">Rank {{row.rank}}</div>
					<div class="tb-data">Rs. {{row.prize.toFixed(2)}}</div>
				</div>
			</div>
		</div> 
		<p class="algn-lft fs16 pad-v5 clr8">Note: The actual cash prize may be different than that mentioned above if there is a tie for any of the winning positions. Check our FAQs for further details.</p>
		<p class="algn-lft fs16 pad-v5 clr8">As per government regulation, 30.9% tax will be deducted on any winning amount more than Rs.10,000</p>
	</div>
</div>