<div ng-if="::deviceDetection.isDevice('DESKTOP')" ng-include="'/fantasy_sports/app/views/desktop/d-create-team.html'"></div>
<div ng-if="::deviceDetection.isDevice('MOBILE')" ng-include="'/fantasy_sports/app/views/mobile/createteam/m-create-team.html'"></div>
