<div ng-controller="VerifynowCtrl as verifynow"><!--class="container verify-account"-->
    <!-- HEADER INFO DIV  -->
    <div class="container1 clearfix">
        <div class="pad-h0 pad-v15 col-sm-12 col-md-9 col-lg-9 col-xs-12">
            <span class="blue-color fs20 fw-600 pull-left">Verify Your Account</span>
            <!--<button class="button btn-style-5 btn-wd-auto btn-xs pull-left margin-l8" ng-click="verifynow.showLeaguepage()">SHOW ME LEAGUES</button>-->
            <div class="verify-img pull-right margin-r8" ng-class="verifynow.userStatus"></div>
        </div>
        <div class="container-data pad-v15-h0 col-sm-12 col-md-9 col-lg-9 col-xs-12">
            <div class="blue-color fs18">After this, enjoy 1-click cash withdrawals forever!</div>
            <ul class="ul-detail">
                <li class="blue-color fs15">Max size 4MB. Formats-.jpg .jpeg .png .pdf only.</li>
                <li class="blue-color fs15">We don't accept password protected docs.</li>
            </ul>
            <div class="pad0 mr-v2 col-sm-9 col-md-6 col-lg-5 col-xs-12">
                <div class="w33 pull-left">
                    <!--<span class="info-text">Incomplete</span>-->
                    <div class="circle-div red-color">
                        <i class="fa fa-exclamation circle-sign" aria-hidden="true"></i>
                    </div>
                    <span class="circle-span fs14">Incomplete</span>
                </div>
                <div class="w33 pull-left">
                    <div class="circle-div orange-color">
                        <i class="fa fa-check circle-sign" aria-hidden="true"></i>
                    </div>
                    <span class="circle-span fs14">Submitted</span>
                </div>
                <div class="w33 pull-left">
                    <div class="circle-div green-color">
                        <i class="fa fa-check circle-sign" aria-hidden="true"></i>
                    </div>
                    <span class="circle-span fs14">Verified</span>
                </div>
            </div>
        </div>
    </div>

    <!-- TAB VIEW DIV -->
    <div class="container1 clearfix pad-b30">
        <div class="container-data pad0 col-sm-12 col-md-9 col-lg-9 col-xs-12">
        <uib-tabset active="active" class="verify-tabs">

            <!-- mobile & mail verify tab -->
            <uib-tab index="0" heading="1.Mobile & Email Verification">
                <div class="resp-tabs-container clearfix">
                    <div class="resp-tab-content pad-a15">
                    <div class="row">
                        <!-- MOBILE VERIFY CONTAINER -->
                        <div class="col-sm-5 col-md-5 col-lg-5 col-xs-12">
                            <section class="mobile-no-verify">
                                <div class="algn-cntr" ng-if="verifynow.isMobileVerified">
                                    <span class="fs16" ng-bind="verifynow.userMobile"></span>
                                    <p class="green-col"><i class="fa fa-check"></i> Mobile Number Verified</p>
                                </div>

                                <!-- Request mobile otp div -->
                                <form class="form-horizontal" ng-if="verifynow.ismOTPsent">
                                    <span class="fs16">Verify your Mobile Number</span>
                                    <div class="form-group">
                                        <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8"><!--pattern="\d*"-->
                                            <div class="input-static-label">
                                                <label>+91</label>
                                                <input maxlength="10" type="text" autocomplete="off" ng-keyup="verifynow.checkAlphabet($event, 'userMobile')" ng-model="verifynow.userMobile"/>
                                                <div class="input-error ng-binding"></div>
                                            </div>
                                            <span class="dsp-block">we will send you an otp for verificaton</span>
                                            <span class="err-msg">{{verifynow.userMobileMsg}}</span>
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4">
                                            <div class="input-group">
                                                <input name="" class="form-control btn btn-login c-l-btn" value="Send OTP" ng-click="verifynow.sendOtpMobile()" type="button">
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <!-- Enter mobile otp div -->
                                <form class="form-horizontal" ng-if="verifynow.isverifyMobile">
                                    <span class="fs16">Verify your Mobile Number</span>
                                    <div class="form-group">
                                        <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8">
                                            <div class="input-group w100">
                                                <input class="form-control" type="text" ng-keyup="verifynow.checkAlphabet($event,'mobileOTP');verifynow.mobileOTPMsg=''" maxlength="6" placeholder="Enter OTP" ng-model="verifynow.mobileOTP" autocomplete="off">
                                            </div>
                                            <span class="err-msg">{{verifynow.mobileOTPMsg}}</span>
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4">
                                            <div class="input-group">
                                                <input name="" class="form-control btn btn-login c-l-btn" value="Verify OTP" ng-click="verifynow.mobileVerifyOTP()" type="button">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </section>
                        </div>

                        <!-- CENTER SEPERATOR -->
                        <div class="col-sm-1 col-md-1 col-lg-1 col-xs-12">
                            <div class="algn-cntr" ng-class="(deviceDetection.isDevice('DESKTOP'))?'mid-bdr-vertical':'mid-bdr-horizontal'">&nbsp;</div>
                        </div>

                        <!-- EMAIL VERIFY CONTAINER -->
                        <div class="col-sm-5 col-md-5 col-lg-5 col-xs-12">
                            <section class="email-id-verify">
                                <div class="algn-cntr" ng-if="verifynow.isEmailVerified">
                                    <span class="fs16" ng-bind="verifynow.userEmail"></span>
                                    <p class="green-col"><i class="fa fa-check"></i>  Email Id Verified</p>
                                </div>

                                <!-- Request email otp div -->
                                <form class="form-horizontal" ng-if="verifynow.iseOTPsent">
                                    <span class="fs16">Verify your Email Id</span>
                                    <div class="form-group">
                                        <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8">
                                            <div class="input-group w100">
                                                <input class="form-control" type="text" placeholder="Your email" ng-model="verifynow.userEmail" ng-disabled="true" ng-keyup="verifynow.userEmailMsg=''">
                                            </div>
                                            <span class="dsp-block">we will send you an otp for verificaton</span>
                                            <span class="err-msg">{{verifynow.userEmailMsg}}</span>
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4">
                                            <div class="input-group">
                                                <input name="" class="form-control btn btn-login c-l-btn" value="Send OTP"  type="button" ng-click="verifynow.sendOtpEmail()">
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <!-- Enter email otp div -->
                                <form class="form-horizontal" ng-if="verifynow.isverifyEmail">
                                    <span class="fs16">Verify your Email Id</span>
                                    <div class="form-group">
                                        <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8">
                                            <div class="input-group w100">
                                                <input class="form-control" type="text" ng-keyup="verifynow.checkAlphabet($event,'emailOTP');verifynow.emailOTPMsg=''" maxlength="6" placeholder="Enter OTP" ng-model="verifynow.emailOTP" autocomplete="off">
                                            </div>
                                            <span class="err-msg">{{verifynow.emailOTPMsg}}</span>
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4">
                                            <div class="input-group">
                                                <input name="" class="form-control btn btn-login c-l-btn" value="Verify OTP" ng-click="verifynow.emailVerifyOTP()" type="button">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </section>
                        </div>
                    </div>
                    </div>
                </div>
            </uib-tab>



            <!-- Pan card tab -->
            <uib-tab index="1" heading="2.PAN Verification & Upload" select="verifynow.getPanDetail()" disable="verifynow.isPanDisabled">
                <div class="resp-tabs-container clearfix">
                   <div class="pan-card-verify pos-rel mrg-btm-0 resp-tab-content minheight-400px pad-a15 col-lg-10 col-md-10 col-sm-10 col-xs-12">
                    <form class="form-horizontal" role="form">
                        <div class="form-group mrg-btm-0">
                            <div class="col-sm-5 col-md-5 col-lg-5 col-xs-12">
                                <div class="input-group w100">
                                    <input name="PanCardName" class="form-control" placeholder="Full Name" value="" type="text" ng-model="verifynow.userName" ng-disabled="(verifynow.isPanCardVerified!=='NO')?true:false" ng-keyup="verifynow.errMsg=''">
                                    <span class="info-text-1">Your name must match the name on your PAN Card &amp; Bank Account.</span>
                                </div>
                            </div>
                            <div class="col-sm-5 col-md-5 col-lg-5 col-xs-12">
                                <div class="input-group w100">
                                    <input name="PanCardNumber" class="form-control" placeholder="PAN Card Number" value="" type="text" ng-model="verifynow.userPAN" maxlength="10" ng-disabled="(verifynow.isPanCardVerified!=='NO')?true:false" ng-keyup="verifynow.errMsg=''">
                                </div>
                            </div>
                        </div>
                        <label class="control-label" style="color: #aaaaaa;">Date of Birth </label>
                        <div class="form-group">
                            <div class="col-sm-5 col-md-5 col-lg-5 col-xs-12">
                                <div class="w33 pull-left">
                                    <div class="input-group w100">
                                        <!--<label class="control-label">Date of Birth (Year)</label>-->
                                        <div class="select_box">
                                            <select class="form-control" ng-options="x for x in verifynow.dobRange" ng-model="verifynow.selectedYear" ng-disabled="true"></select>
                                        </div>
                                    </div>
                                </div>

                                <div class="w30 pull-left" style="margin:0 2%;">
                                    <div class="input-group w100">
                                        <div class="select_box">
                                            <select id="month" class="form-control" ng-options="verifynow.getKey(month) as month[verifynow.getKey(month)] for month in verifynow.monthName" ng-model="verifynow.selectedMonth" ng-change="verifynow.checkDays()" ng-disabled="true"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="w33 pull-left">
                                    <div class="input-group w100">
                                        <div class="select_box">
                                            <select class="form-control" ng-options="x for x in verifynow.dateRange" ng-model="verifynow.selectedDate" ng-disabled="true"></select>
                                        </div>
                                    </div>
                                </div>
                                <span class="info-text-1">For withdrawals, this should match the date of birth on PAN CARD.</span>
                            </div>
                            <div class="col-sm-5 col-md-5 col-lg-5 col-xs-12">
                                <div class="input-group w100">
                                    <div class="select_box">
                                        <select class="form-control" ng-options="x for x in verifynow.statesArray" ng-model="verifynow.selectedState" ng-disabled="(verifynow.isPanCardVerified!=='NO')?true:false" ng-change="verifynow.errMsg=''"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                                <div class="input-group img-upload">
                                    <button type="file" class="btn btn-primary pull-left"  ngf-select="saveImageFile($files, $invalidFiles)" accept="image/*,application/pdf"  ngf-max-size="4MB" ng-disabled="(verifynow.isPanCardVerified!=='NO')?true:false">Upload PAN Card Image</button>
                                    <!--ngf-pattern="'image/*,application/pdf'"-->
                                    <div readonly class="pull-left upload-txt">{{verifynow.fileName}} {{verifynow.errFile.name}} {{verifynow.errFile.$error}} {{verifynow.errFile.$errorParam}}</div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                                <span class="info-text"><a href="#"> Why should I submit my PAN Card?</a></span>

                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                                <span class="info-text"><a href="#">Don't have PAN Card?</a></span>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                                <span class="info-text-1 pad-l20">- Max size 4MB. Formats-.jpg .jpeg .png .pdf only.</span>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                                <span class="info-text-1 pad-l20">- We don’t accept password-protected docs.</span>
                            </div>
                        </div>
                        <span class="err-msg">{{verifynow.errMsg}}</span>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="input-group">
                                    <button name="" class="form-control btn btn-login c-l-btn" value="Submit for verification" type="submit" ng-click="verifynow.submitPanDetails()" ng-disabled="(verifynow.isPanCardVerified!=='NO')?true:false">Submit for verification</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </uib-tab>

            <!-- Account Details Tab  -->
            <uib-tab index="2" heading="3.Bank Account Verification" select="verifynow.getBankDetail()" disable="verifynow.isBankDisabled">
                <div class="resp-tabs-container clearfix">
                  <div class="pos-rel mrg-btm-0 resp-tab-content minheight-400px pad-a15 col-lg-10 col-md-10 col-sm-10 col-xs-12">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-sm-5 col-md-5 col-lg-5 col-xs-12">
                                <div class="input-group w100">
                                    <input class="form-control" placeholder="Enter your account number" type="text" ng-model="verifynow.accountNo" ng-keyup="verifynow.errBankMsg='';verifynow.checkAlphabet($event,'accountNo')" autocomplete="off" ng-disabled="(verifynow.isBankDetailVerified!=='NO')?true:false" maxlength="20">
                                    <span class="info-text-1">Enter full account number as it appears on your passbook/cheque/statement.</span>
                                </div>
                            </div>

                            <div class="col-sm-5 col-md-5 col-lg-5 col-xs-12">
                                <div class="input-group w100">
                                    <!--<label class="control-label">IFSC Code</label>-->
                                    <input class="form-control" placeholder="Enter your branch IFSC code" value="" type="text" ng-model="verifynow.ifscCode" ng-disabled="(verifynow.isBankDetailVerified!=='NO')?true:false" maxlength="11" ng-keyup="verifynow.errBankMsg=''">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-5 col-md-5 col-lg-5 col-xs-12" style="padding-bottom: 15px;">
                                <div class="input-group w100">
                                    <input class="form-control" placeholder="Enter your bank name" value="" type="text" ng-model="verifynow.bankName" ng-disabled="(verifynow.isBankDetailVerified!=='NO')?true:false" maxlength="25" ng-keyup="verifynow.errBankMsg=''">
                                </div>
                            </div>
                            <div class="col-sm-5 col-md-5 col-lg-5 col-xs-12">
                                <div class="input-group w100">
                                    <input class="form-control" placeholder="Enter your branch name" value="" type="text" ng-model="verifynow.branchName" ng-disabled="(verifynow.isBankDetailVerified!=='NO')?true:false" ng-keyup="verifynow.errBankMsg=''">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="input-group checkbox">
                                    <label class="pad0 gray-col">
                                        <input name="rememberme" tabindex="3" type="checkbox" checked="" class="ng-pristine ng-untouched ng-valid" style="display:none" ng-model="verifynow.stateCheck" ng-disabled="(verifynow.isBankDetailVerified!=='NO')?true:false" ng-change="verifynow.errBankMsg=''">
                                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                        I confirm that I am not a resident of either Assam or Odisha
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!--<div class="form-group">
                            <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
                                <div class="input-group img-upload">
                                    <label class="input-group-btn">
                                        <span class="btn btn-primary">
                                            Upload PassBook Image <input type="file" name="DocAccount" style="display: none;" multiple="">
                                        </span>
                                    </label>
                                    <input type="text" class="form-control" readonly="">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
                                <span class="info-text">Your name should be clearly visible on Account Statement/Passbook/Cheque.</span>
                            </div>
                            <div class="col-xs-12">
                                <span class="info-text">Max size 4MB. Formats - .jpg .jpeg .png .pdf only.</span>
                                <span class="info-text">We don’t accept password-protected docs &amp; Net-banking screenshots.</span>
                                <span class="info-text"> Bank account proof should be less than 6 months old.</span>
                            </div>
                        </div>-->
                        <span class="err-msg">{{verifynow.errBankMsg}}</span>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="input-group">
                                    <button name="" class="form-control btn btn-login c-l-btn" value="Submit Bank Details" type="submit" ng-click="verifynow.submitBankDetails()" ng-disabled="(verifynow.isBankDetailVerified!=='NO')?true:false">Submit Bank Details</button>
                                </div>
                            </div>
                        </div>
                    </form>
                  </div>
                </div>
            </uib-tab>


            <!-- How to verify tab-->
            <uib-tab index="3" class="help" heading="How to Verify?">
                <div class="how-verify resp-tab-content pad-a15">
                    <h1>If you need more help, please <a href="">Contact Us</a> </h1>
                    <h1>FAQs: </h1>
                    <ul class="comn-ul">
                        <li>
                            <strong>Is Verification necessary to Join Leagues on LeagueAdda?</strong>
                            <p>NO. You can Join Leagues on LeagueAdda and even without verifying your account. When you Win Paid Leagues, your winnings will be deposited in your LeagueAdda account. Verification of your LeagueAdda account becomes mandatory for both deposits &amp; withdrawls.</p>
                        </li>
                        <li>
                            <strong>How do I get my LeagueAdda account verified?</strong>
                            <p>The account verification is a one-time process. Once your account is verified, you can withdraw cash at your convenience without having to submit any more details. For your LeagueAdda account to be verified, click on the “Verify Now” button on the account balance page where you will have to upload your PAN card . Once these documents are submitted and approved (after matching the details on the uploaded documents with the details on your LeagueAdda account), our team will change your status to ‘Verified’ within 10 working days. It is possible that your first attempt at verification may be rejected if your documents do not match with the details updated in your account. In this case, our Customer Care Team will contact you with the reason that the verification was rejected and help you get your account verified with the correct documents.</p>
                        </li>
                        <li>
                            <strong>What if I want to update some details in my LeagueAdda account?</strong>
                            <p>Easy! Details like your Name can be edited by clicking on your Team Name after logging in to your LeagueAdda account. For any changes in your Date of Birth, Address etc. related to the Verification of your LeagueAdda account, please send us an email request via Contact Us with the exact date of birth / address / mobile no.that you wish to update on your account, along with the PAN card.</p>
                        </li>
                        <li>
                            <strong>Why do I need a PAN card for ID proof?</strong>
                            <p>leagueadda.com is the No. 1 Fantasy Cricket Game of Skill where you can Win Cash legally! Your withdrawals on LeagueAdda involve transfer of money from your LeagueAdda account to your bank account, and hence PAN card has become a mandatory requirement for id proof. In case you do not have a PAN card, you can still join the Leagues on LeagueAdda, and your winnings will be deposited in your LeagueAdda account. You can apply for a PAN card in the meantime; once you receive the PAN card, upload it along with the bank details to get your LeagueAdda account verified. You will then be able to withdraw any amounts to your bank account.</p>
                        </li>
                    </ul>
                </div>
            </uib-tab>
        </uib-tabset>

        <div class="fs17 gray-col mar-t15">
            <p>LeagueAdda is not affiliated in any way to and claims no association, in any capacity whatsoever, with the Board of Control for Cicket in india (BCCI), the Indian Permier League (IPL) or any IPL franchises (other than specifically stated). LeagueAdda acknowledges that BCCI/IPL and its franchises own all proprietary names and marks relating to the IPL.</p><br>
            <p>Residents of the states of Assam and Odisha, and where otherwise prohibited  by law are not eligible to enter LeagueAdda's pay-to-play leagues.</p></div>
        </div>
    </div>
</div>
