<div class="desk-popup-wrapper">
    <div class="ng-model-header">
        <span class="title">{{withdrawcash.popupTitle}}</span>
    </div>
    <div class="desk-popup-body" ng-if="withdrawcash.showWithdraw">
        <p class="mr-t4 algn-lft">Withdraw Amount Rs.</p>
        <form>
            <div class="add-cash-input">
                <label>Rs.</label>
                <input type="text" name="" class="amt" ng-model="withdrawcash.amount" ng-keyup="withdrawcash.amountError = ''; withdrawcash.checkAlphabet($event,'amount')" maxlength="6" autocomplete="off"/>
                <div class="input-error">{{withdrawcash.amountError}}</div>
            </div>
        </form>
        <button class="button btn-style-2 btn-wd-auto btn-md" ng-click="withdrawcash.withdraw()">Withdraw Now</button>
    </div>

    <div class="desk-popup-body" ng-if="!withdrawcash.showWithdraw">
        <p class="pad-v20 algn-lft">Rs. {{withdrawcash.amount}} will be credited to your bank account</p>

        <button class="button btn-style-4 btn-md" ng-click="withdrawcash.cancelWithdraw()">CANCEL</button>
        <button class="button btn-style-2 btn-md" ng-click="withdrawcash.confirmWithdraw()">CONTINUE</button>
    </div>
</div>